Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/CustomerInvoice_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity for Customer Invoice
================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/CustomerInvoice_001"
	xmlns="http://schemas.datastream.net/MP_entities/CustomerInvoice_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of CustomerInvoice_001 ======= -->
	<xs:element name="CustomerInvoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerInvoiceBaseData"/>
				<xs:element ref="dsf:CUSTOMERID"/>
				<xs:element ref="dsf:ORIGINATORID"/>
				<xs:element ref="dsf:INVOICEDATE"/>
				<xs:element ref="dsf:GROSSPRICE"/>
				<xs:element ref="dsf:NETPRICE"/>
				<xs:element ref="dsf:NETPRICEOWED"/>
				<xs:element ref="dsf:TAXAMOUNT"/>
				<xs:element ref="dsf:TAXPERCENTAGE"/>
				<xs:element ref="dsf:CURRENCYID"/>
				<xs:element ref="dsf:BASECURRENCYID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerInvoiceBaseData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CUSTOMERINVOICEID"/>
				<xs:element ref="dsf:STATUS"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>