Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/DeferredMaintenance_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
 Copyright (c) 2007 Infor Global Solutions Technology GmbH and/or its affiliates 
 and subsidiaries. All rights reserved. The word and design marks set forth 
 herein are trademarks and/or registered trademarks of 
 Infor Global Solutions Technology GmbH and/or its affiliates and subsidiaries. 
 All rights reserved. All other trademarks listed herein are the property of 
 their respective owners.
 
 This document may not be reproduced in whole or in part or used for tendering 
 or manufacturing purposes except under an agreement or with the written 
 consent of the copyright holder and then only under the condition that this 
 notice is included in any such reproduction. No information regarding the 
 contents or subject matter of this document or any part thereof arising 
 directly or indirectly thereof shall be given orally or in writing or 
 communicated in any manner whatsoever to any third party without the prior 
 written consent of the copyright holder.

 sThis schema defines MP entity DeferredMaintenance
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/DeferredMaintenance_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/DeferredMaintenance_001" elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of DeferredMaintenance_001 ======= -->
	<xs:element name="DeferredMaintenance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DEFERREDMAINTENANCEID"/>
				<xs:element ref="dsf:EQUIPMENTID"/>
				<xs:element ref="dsf:TRADEID"/>
				<xs:element ref="dsf:PERSONS"/>
				<xs:element ref="dsf:DURATION"/>
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="dsf:ESTIMATEDHOURS"/>
				<xs:element ref="dsf:DEPARTMENTID"/>
				<xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
				<xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:ASSIGNEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:REASONFORREPAIR" minOccurs="0"/>
				<xs:element ref="dsf:WORKACCOMPLISHED" minOccurs="0"/>
				<xs:element ref="dsf:TECHNICIANPARTFAILURE" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTURERID" minOccurs="0"/>
				<xs:element ref="dsf:LABORTYPE" minOccurs="0"/>
				<xs:element ref="dsf:TASKSID" minOccurs="0"/>
				<xs:element ref="dsf:MATLIST" minOccurs="0"/>
				<xs:element ref="dsf:VMRSCODE" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERID" minOccurs="0"/>
				<xs:element ref="dsf:HIREDLABOR" minOccurs="0"/>
				<xs:element ref="dsf:PREVIOUSWORKORDERACTID" minOccurs="0"/>
				<xs:element ref="dsf:ORIGINALWORKORDERACTID" minOccurs="0"/>
				<xs:element ref="dsf:RELATEDWORKORDERACTID" minOccurs="0"/>
				<xs:element ref="dsf:WORKORDERID" minOccurs="0"/>
				<xs:element ref="dsf:ACTIVITYCODE" minOccurs="0"/>
				<xs:element ref="dsf:PERCENTCOMPLETED" minOccurs="0"/>
				<xs:element ref="dsf:PARTLOCATIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:LINEARREFUOM" minOccurs="0"/>
				<xs:element ref="dsf:LINEARREFERENCEEVENT" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="confirm_operational_equip" type="dsf:CONFIRMATION_Type" default="confirmed"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
