Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/EmployeeAvailability_001.xsd

<?xml version="1.0"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity EmployeeAvailability.
=======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EmployeeAvailability_001"
	xmlns="http://schemas.datastream.net/MP_entities/EmployeeAvailability_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of EmployeeAvailability_001 ======================================-->
	<xs:element name="EmployeeAvailability">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EMPLOYEEAVAILABILITYEXCEPTIONID"/>
				<xs:element ref="dsf:EMPLOYEEAVAILABILITYHOURS"/>
				<xs:element ref="dsf:EMPLOYEEAVAILABILITYCOMMENT" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>