Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/FleetCustomer_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity FleetCustomer
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/FleetCustomer_001"
			xmlns="http://schemas.datastream.net/MP_entities/FleetCustomer_001"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xmlns:dsf="http://schemas.datastream.net/MP_fields"
			elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!-- ======= Beginning of FleetCustomer_001 ======= -->
	<xs:element name="FleetCustomer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FLEETCUSTOMERID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:BILLABLE" minOccurs="0"/>
				<xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
				<xs:element ref="dsf:BILLFORNOCHARGES" minOccurs="0"/>
				<xs:element ref="BillingDetails" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BillingDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:MAINTENANCELABOR" minOccurs="0"/>
				<xs:element ref="dsf:MAINTENANCECONTRACTLABOR" minOccurs="0"/>
				<xs:element ref="dsf:MAINTENANCEPARTS" minOccurs="0"/>
				<xs:element ref="dsf:NONMAINTENANCELABOR" minOccurs="0"/>
				<xs:element ref="dsf:NONMAINTENANCECONTRACTLABOR" minOccurs="0"/>
				<xs:element ref="dsf:NONMAINTENANCEPARTS" minOccurs="0"/>
				<xs:element ref="dsf:FUEL" minOccurs="0"/>
				<xs:element ref="dsf:MILEAGE" minOccurs="0"/>
				<xs:element ref="dsf:FLEETCUSTOMERUSAGE" minOccurs="0"/>
				<xs:element ref="dsf:INSURANCE" minOccurs="0"/>
				<xs:element ref="dsf:EXCEPTION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>