Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP0070_AddToolUsage_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP0070_AddToolUsage_001_Result	
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0070_001" xmlns="http://schemas.datastream.net/MP_results/MP0070_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-ToolUsage="http://schemas.datastream.net/MP_entities/ToolUsage_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ToolUsage_001" schemaLocation="ToolUsage_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0070_AddToolUsage_001_Result ======================================-->
	<xs:element name="MP0070_AddToolUsage_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ToolUsage:ToolUsage"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
