Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP0078_GetTaskDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP0078_GetTaskDefault_001_Result    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0078_001" xmlns="http://schemas.datastream.net/MP_results/MP0078_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0078_GetTaskDefault_001_Result  ======================================-->
	<xs:element name="MP0078_GetTaskDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ORGANIZATIONID"/>
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="dsf:REQUESTEDBY" minOccurs="0"/>
				<xs:element ref="dsf:DATEREQUESTED" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID"/>
				<xs:element ref="dsf:PMRVCTRL"/>
				<xs:element ref="dsf:ACTIVECHECKLIST"/>
				<xs:element ref="dsf:ISOLATIONMETHOD" minOccurs="0"/>
				<xs:element ref="dsf:CHECKLISTPERFORMEDBYREQUIRED" minOccurs="0"/>
				<xs:element ref="dsf:CHECKLISTREVIEWEDBYREQUIRED" minOccurs="0"/>
				<xs:element ref="dsf:JOBPLAN" minOccurs="0"/>
				<xs:element ref="dsf:MULTIPLETRADES" minOccurs="0"/>
				<xs:element ref="dsf:PLANNINGLEVEL" minOccurs="0"/>
				<xs:element ref="dsf:ENABLEENHANCEDPLANNING" minOccurs="0"/>
				<xs:element ref="dsf:CASEMANAGEMENTCHECKLIST" minOccurs="0"/>
				<xs:element ref="dsf:NONCONFORMITYCHECKLIST" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
