Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP0042_AddLaborBooking_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0042_AddLaborBooking_002    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0042_002" xmlns:osf="http://www.openapplications.org/oagis_fields" xmlns:os="http://www.openapplications.org/oagis_segments" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-laborbook="http://schemas.datastream.net/MP_entities/LaborBooking_002" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/LaborBooking_002" schemaLocation="LaborBooking_002.xsd"/>
<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>
<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>	
	<!--===============================================================================-->
	<!--====  Begining of MP0042_AddLaborBooking_002 ======================================-->
	<xs:element name="MP0042_AddLaborBooking_002">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-laborbook:LaborBooking"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="LaborBooking"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="002"/>
			<xs:attribute name="callname" type="xs:string" default="AddLaborBooking"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
