Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP0077_GetImportPartsListDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0077_GetImportPartsListDefault_001_Result   
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0077_001"
           xmlns="http://schemas.datastream.net/MP_results/MP0077_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP0077_GetImportPartsListDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="WorkOrder"/>
							<xs:element name="TO" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID"/>
				<xs:element ref="dsf:WORKORDEREXT"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element name="WorkOrderPart" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:ACTIVITYCODE"/>
							<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
							<xs:element ref="dsf:MATLIST" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="dsf:CHILDEQUIPMENTID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
