Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP0081_SyncTask_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0081_SyncTask_001    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0081_001" xmlns="http://schemas.datastream.net/MP_functions/MP0081_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:osf="http://www.openapplications.org/oagis_fields" xmlns:os="http://www.openapplications.org/oagis_segments" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-tsk="http://schemas.datastream.net/MP_entities/Task_001" elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<xs:import namespace="http://schemas.datastream.net/MP_entities/Task_001" schemaLocation="Task_001.xsd"/>
<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>
<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>	
	<!--===============================================================================-->
	<!--====  Begining of MP0081_SyncTask_001 ======================================-->
	<xs:element name="MP0081_SyncTask_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-tsk:Task"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Task"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirmjobpartschange" type="dsf:CONFIRMATION_Type"/>
			<xs:attribute name="confirmtaskpartschange" type="dsf:CONFIRMATION_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
