Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP0060_AddMaterialList_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0060_AddMaterialList_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0060_001" xmlns="http://schemas.datastream.net/MP_functions/MP0060_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-mtl="http://schemas.datastream.net/MP_entities/MaterialList_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/MaterialList_001" schemaLocation="MaterialList_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0060_AddMaterialList_001 ======================================-->
	<xs:element name="MP0060_AddMaterialList_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-mtl:MaterialList"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MaterialList"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="AddMaterialList"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
