Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP0527_LoadCustomerCallerDefault_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function result for function request MP0527_LoadCustomerCallerDefault_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0527_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_results/MP0527_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0527_LoadCustomerCallerDefault_001_Result ======================================-->
	<xs:element name="MP0527_LoadCustomerCallerDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:COMMONORG" />
				<xs:element ref="dsf:PROPERTY"  minOccurs="0"/>
				<xs:element ref="dsf:BUILDING"  minOccurs="0"/>
				<xs:element ref="dsf:FLOORUNIT" minOccurs="0"/>
				<xs:element ref="dsf:ORGANIZATIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:CUSTOMERCALLERID" minOccurs="0"/>
				<xs:element name="CUSTOMERORGANIZATION" type="dsf:ORGCODE_Type" minOccurs="0"/>
				<xs:element name="recordid" type="xs:long" minOccurs="0"/>
				<xs:element ref="dsf:CREATE"/>
				<xs:element ref="dsf:FAX" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>