Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP0507_SyncServiceRequest_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0507_SyncServiceRequest_001    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0507_001" xmlns:dse-srq="http://schemas.datastream.net/MP_entities/ServiceRequest_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP0507_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ServiceRequest_001" schemaLocation="ServiceRequest_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0507_SyncServiceRequest_001 ======================================-->
	<xs:element name="MP0507_SyncServiceRequest_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-srq:ServiceRequest"/>
					</xs:sequence>
					<xs:attribute name="check_if_wo_is_open" type="dsf:CONFIRMATION_Type"   
								default="prompt"/>					
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ServiceRequest"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
