Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP0525_ServiceRequestClosingDetails_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0525_ServiceRequestClosingDetails_001   
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0525_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP0525_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-wo="http://schemas.datastream.net/MP_entities/WorkOrder_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/WorkOrder_001" schemaLocation="WorkOrder_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP0525_ServiceRequestClosingDetails_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">		
					<xs:sequence>
						<xs:element ref="dsf:SERVICEREQUESTID"/>
						<xs:element ref="dsf:STATUS"/>
						<xs:element ref="dse-wo:WorkOrder" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="check_if_wo_is_open" type="dsf:CONFIRMATION_Type"   
								default="prompt"/>					
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Close"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="callname" type="xs:string" default="ServiceRequestClosingDetails"/>
				</xs:extension>
			</xs:complexContent>					
		</xs:complexType>
	</xs:element>
</xs:schema>





