Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP3407_UpdateNonConformityStatus_001.xsd

<?xml version="1.0"?>
<!--	================================================================================
	Copyright(c)2016 Infor.	All	rights reserved. The word and design marks set forth herein	are	trademarks	
	and/or registered trademarks of	Infor and/or related affiliates	and	subsidiaries. All rights reserved.
	All	other trademarks listed	herein are the property	of their respective	owners.	www.infor.com.

	This schema	defines	MP entity MP3407_UpdateNonConformityStatus_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3407_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP3407_001"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd" />
	<!--=============================================================================== -->
	<!--==== Begining of MP3407_UpdateNonConformityStatus_001 ============================= -->
	<xs:element name="MP3407_UpdateNonConformityStatus_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID" />
				<xs:element ref="dsf:FROMSTATUS" />
				<xs:element ref="dsf:TOSTATUS" />
				<xs:element ref="dsf:RECORDTYPE" />
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Update" />
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="NonConformityStatus" />
			<xs:attribute name="version" type="dsf:VERSION" fixed="001" />
		</xs:complexType>
	</xs:element>
</xs:schema>
