Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP5711_GetPermitToWorkCheckListDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =============================================================================================
  Copyright (c) WorkOrderActivityCheckList Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP business function request MP5711_GetPermitToWorkCheckListDefault_001_Result
==================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP5711_001"
        xmlns="http://schemas.datastream.net/MP_results/MP5711_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP5711_GetPermitToWorkCheckListDefault_001_Result">
        <xs:complexType>
                <xs:sequence>
                    <xs:element ref="ResultData"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="ResultData">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dsf:LOCKOUTTAGOUTCODE" minOccurs="0"/>
                    <xs:element ref="dsf:ISOLATIONMETHODID" minOccurs="0"/>
                </xs:sequence>
            <xs:attribute name="has_readonly_department_security" type="dsf:FLAG_Type" default="false"/>
            <xs:attribute name="permittowork_status_can_update" type="dsf:FLAG_Type" default="true"/>
            </xs:complexType>
        </xs:element>
</xs:schema>