Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP5782_UpdateWorkOrderActivityCheckList_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =============================================================================================
  Copyright (c) 2013 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP business function request MP5782_UpdateWorkOrderActivityCheckList_001
==================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP5782_001"
        xmlns="http://schemas.datastream.net/MP_functions/MP5782_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP5782_UpdateWorkOrderActivityCheckList_001">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="WorkOrderActivityDetail"/>
                </xs:sequence>
                <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Update"/>
                <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderActivityCheckList"/>
                <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
            </xs:complexType>
        </xs:element>
        <xs:element name="WorkOrderActivityDetail">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dsf:ACTIVITYID"/>
                    <xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
                    <xs:element ref="dsf:REJECTPERFORMEDBY" minOccurs="0"/>
                    <xs:element ref="dsf:REJECTPERFORMEDBY2" minOccurs="0"/>
                    <xs:element ref="dsf:REJECTIONREASON" minOccurs="0"/>
                    <xs:element ref="dsf:CONDITIONOPTION" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
</xs:schema>