Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP5779_GetWOMultipleEquipment_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2017 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners.
	www.infor.com.

	This schema defines MP business function request MP5779_GetWOMultipleEquipment_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP5779_001"
		xmlns="http://schemas.datastream.net/MP_results/MP5779_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====  Begining of MP5779_GetWOMultipleEquipment_001_Result ======================================-->
	<xs:element name="MP5779_GetWOMultipleEquipment_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>		
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MECWOEquipment" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MECWOEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:LINEARREFUOM" minOccurs="0"/>
				<xs:element ref="dsf:GISLAYER" minOccurs="0"/>
				<xs:element ref="dsf:GISOBJID" minOccurs="0"/>
				<xs:element ref="dsf:FROMPOINT" minOccurs="0"/>
				<xs:element ref="dsf:TOPOINT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>