Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP5765_ValidateNonconformityEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =============================================================================================
  Copyright (c) 2016 Infor. All rights reserved.
  The word and design marks Update forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP business function request MP5765_ValidateNonconformityEquipment_001
==================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP5765_001"
		xmlns="http://schemas.datastream.net/MP_functions/MP5765_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
		<!--===============================================================================-->
		<xs:element name="MP5765_ValidateNonconformityEquipment_001">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="dsf:EQUIPMENTID"/>
					<xs:element ref="dsf:NONCONFORMITYTYPEID" minOccurs="0"/>
					<xs:element ref="dsf:PARTID" minOccurs="0"/>
					<xs:element ref="dsf:VMRSCODE" minOccurs="0"/>
					<xs:element ref="dsf:MATERIALTYPE" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Validate"/>
				<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="NonconformityEquipment"/>
				<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			</xs:complexType>
		</xs:element>
</xs:schema>