Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP7036_GetEmployeeDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP7036_GetEmployeeDefault_001_Result    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7036_001"
    xmlns:dse-EmployeeDefault="http://schemas.datastream.net/MP_entities/EmployeeDefault_001"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.datastream.net/MP_results/MP7036_001"
    elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields"
        schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7036_GetEmployeeDefault_001_Result ======================================-->
	<xs:element name="MP7036_GetEmployeeDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:ORGANIZATIONID"/>
							<xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
							<xs:element ref="dsf:TRADESPERSON" minOccurs="0"/>
							<xs:element ref="dsf:WORKSPACEOCCUPANT" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
