Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7074_DeleteTradeRates_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP7074_DeleteTradeRates_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7074_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:of="http://www.openapplications.org/oagis_fields"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:dse-ccd="http://schemas.datastream.net/MP_entities/TradeRates_001"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/TradeRates_001" schemaLocation="TradeRates_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7074_DeleteTradeRates_001 ======================================-->
	<xs:element name="MP7074_DeleteTradeRates_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRADERATEID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="TradeRates"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
