Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP7107_GetInformationRequestDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result MP7107_GetInformationRequestDefault_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7107_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_results/MP7107_001" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7107_GetInformationRequestDefault_001_Result ======================================-->
	<xs:element name="MP7107_GetInformationRequestDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
				<xs:element name="INFOREQUESTDESC" type="xs:string" minOccurs="0"/>
				<xs:element ref="dsf:CURRENTDATETIME" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>