Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7145_GetEmployeeRateDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
    Copyright 2003, Datastream Systems, Inc. 
    50 Datastream Plaza, Greenville, SC 29605, USA. 
    All rights reserved. 

	This schema defines MP business function result MP7145_GetEmployeeRateDefault_001_Result
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7145_001" 
xmlns:dsf="http://schemas.datastream.net/MP_fields"   
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="http://schemas.datastream.net/MP_results/MP7145_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7145_GetEmployeeRateDefault_001_Result ======================================-->
	<xs:element name="MP7145_GetEmployeeRateDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
