Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7150_ProcessGroupAvailabilityException_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
    Copyright 2003, Datastream Systems, Inc. 
    50 Datastream Plaza, Greenville, SC 29605, USA. 
    All rights reserved. 

	This schema defines MP business function request MP7150_ProcessGroupAvailabilityException_001
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7150_001" 
		xmlns:dsf="http://schemas.datastream.net/MP_fields" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:des-EmpGrpAvaEx="http://schemas.datastream.net/MP_entities/GroupAvailabilityException_001" 
		xmlns="http://schemas.datastream.net/MP_functions/MP7150_001" 
		elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/GroupAvailabilityException_001" schemaLocation="GroupAvailabilityException_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!-- ====  Begining of MP7150_ProcessGroupAvailabilityException_001 ================ -->
	<xs:element name="MP7150_ProcessGroupAvailabilityException_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="des-EmpGrpAvaEx:GroupAvailabilityException"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Process"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="GroupAvailabilityException"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
