Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7184_GetWOCalibration_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function result MP7184_GetWOCalibration_001_Result    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7184_001" xmlns:dse-WOCalibration="http://schemas.datastream.net/MP_entities/WOCalibration_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_results/MP7184_001" elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/WOCalibration_001" schemaLocation="WOCalibration_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7184_GetWOCalibration_001_Result ======================================-->
	<xs:element name="MP7184_GetWOCalibration_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-WOCalibration:WOCalibration"/>
				<xs:element ref="dsf:LASTCALIBRATEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:INLOOP" minOccurs="0"/>
				<xs:element ref="dsf:PRECISION" minOccurs="0"/>
				<xs:element ref="dsf:INCREMENTVALUE" minOccurs="0"/>
				<xs:element ref="dsf:CALIBRATIONSOP" minOccurs="0"/>
				<xs:element ref="dsf:ALERTTOLERANCEPERCENT" minOccurs="0"/>
				<xs:element ref="dsf:PIDNUMBER" minOccurs="0"/>
				<xs:element ref="dsf:PIDDRAWING" minOccurs="0"/>
				<xs:element ref="dsf:OUTPUTCALCULATIONTYPE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
