Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7163_FreezeOrUnfreezeWorkOrderSchedule_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
    	50 Datastream Plaza, Greenville, SC 29605, USA.
   	All rights reserved.
	
    This schema defines MP business function request MP7163_FreezeOrUnfreezeWorkOrderSchedule_001
======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7163_001" 
	   xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	   xmlns="http://schemas.datastream.net/MP_functions/MP7163_001" 
	   elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7163_FreezeOrUnfreezeWorkOrderSchedule_001 ======================================-->
	<xs:element name="MP7163_FreezeOrUnfreezeWorkOrderSchedule_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FROMDATE"/>
				<xs:element ref="dsf:TODATE"/>
				<xs:element ref="dsf:FREEZE"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="FreezeOrUnfreeze"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderSchedule"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
