Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7166_AddServiceRequestLaborBooking_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Lily Pan (Development) -->
<!-- ================================================================================
    This schema defines MP business function result MP7166_AddServiceRequestLaborBooking_001_Result
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7166_001"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-laborbook="http://schemas.datastream.net/MP_entities/LaborBooking_001"
           xmlns="http://schemas.datastream.net/MP_results/MP7166_001">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_entities/LaborBooking_001" schemaLocation="LaborBooking_001.xsd"/>
    <!--===============================================================================-->
    <!--====  Begining of MP7166_AddServiceRequestLaborBooking_001_Result ======================================-->
    <xs:element name="MP7166_AddServiceRequestLaborBooking_001_Result">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResultData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="dse-laborbook:LaborBooking"/>
                        </xs:sequence>
                        <xs:attribute name="wo_modified" type="dsf:FLAG_Type"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
