Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7102_SyncShiftEmployee_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP7102_SyncShiftEmployee_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7102_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7102_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-ShiftEmployee="http://schemas.datastream.net/MP_entities/ShiftEmployee_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ShiftEmployee_001" schemaLocation="ShiftEmployee_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7102_SyncShiftEmployee_001 ======================================-->
	<xs:element name="MP7102_SyncShiftEmployee_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ShiftEmployee:ShiftEmployee"/>
				<xs:element ref="dsf:SHIFTEMPLOYEEID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ShiftEmployee"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
