Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP7165_GetServiceRequestLaborBookingDefault_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP7165_GetServiceRequestLaborBookingDefault_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7165_001" 
           xmlns="http://schemas.datastream.net/MP_functions/MP7165_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7165_GetServiceRequestLaborBookingDefault_001 ======================================-->
	<xs:element name="MP7165_GetServiceRequestLaborBookingDefault_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ACTIVITYID"/>
				<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
				<xs:element ref="dsf:TRADEID" minOccurs="0"/>
				<xs:element ref="dsf:EMPLOYEE" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTCODE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ServiceRequestLaborBookingDefault"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="GetServiceRequestLaborBookingDefault"/>
			
			<xs:attribute name="is_assigned_personnel" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
