Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7254_SyncPMScheduleTool_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	This schema defines MP business function request MP7254_SyncPMScheduleTool_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7254_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7254_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-PMST="http://schemas.datastream.net/MP_entities/PMScheduleTool_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PMScheduleTool_001" schemaLocation="PMScheduleTool_001.xsd"/>
	<!--====  Begining of MP7254_SyncPMScheduleTool_001 ======================================-->
	<xs:element name="MP7254_SyncPMScheduleTool_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PMST:PMScheduleTool"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PMScheduleTool"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
