Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7243_ChangeWORouteStatus_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP7243_ChangeWORouteStatus_001
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7243_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-WORouteStatus="http://schemas.datastream.net/MP_entities/WORouteStatus_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7243_001"
	elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/WORouteStatus_001" schemaLocation="WORouteStatus_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ====================================================================================== -->
	<!--=============  Begining of MP7243_ChangeWORouteStatus_001 =============================-->
	<xs:element name="MP7243_ChangeWORouteStatus_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-WORouteStatus:WORouteStatus"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Change"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WORouteStatus"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>	
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
