Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7374_GetFleetTicketException_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function result for function request MP7374_GetFleetTicketException_001_Result
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7374_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-FTE="http://schemas.datastream.net/MP_entities/FleetTicketException_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_results/MP7374_001" 
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/FleetTicketException_001" schemaLocation="FleetTicketException_001.xsd"/>
	<!-- ============================================= -->
	<!--========  Begining of MP7374_GetFleetTicketException_001_Result ====================-->
	<xs:element name="MP7374_GetFleetTicketException_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
				<xs:element ref="dsf:STANDARDWO" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="VehicleDetails" minOccurs="0"/>
				<xs:element ref="TicketStatus" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-FTE:FleetTicketException"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VehicleDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:VEHICLEID"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:STATUS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TicketStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:STATUS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>