Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7372_RunFleetBillingProcess_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP7372_RunFleetBillingProcess_001 
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7372_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP7372_001"
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces =========== -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ========Begining of MP7372_RunFleetBillingProcess_001 ============ -->
	<xs:element name="MP7372_RunFleetBillingProcess_001">
		<xs:complexType>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Run"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="FleetBillingProcess"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_billingprocessrunning" type="dsf:CONFIRMATION_Type" default="not_needed"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
