Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP7349_SyncFleetVehicleTicket_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP7349_SyncFleetVehicleTicket_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7349_001" xmlns="http://schemas.datastream.net/MP_functions/MP7349_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:os="http://www.openapplications.org/oagis_segments" xmlns:osf="http://www.openapplications.org/oagis_fields" xmlns:dse-FleetVehicleTicket="http://schemas.datastream.net/MP_entities/FleetVehicleTicket_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/FleetVehicleTicket_001" schemaLocation="FleetVehicleTicket_001.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7349_SyncFleetVehicleTicket_001 ======================================-->
	<xs:element name="MP7349_SyncFleetVehicleTicket_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">		
					<xs:sequence>
						<xs:element ref="dse-FleetVehicleTicket:FleetVehicleTicket"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="FleetVehicleTicket"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="check_issue_mileage" type="dsf:CONFIRMATION_Type"   
								default="prompt"/>
					<xs:attribute name="check_return_mileage" type="dsf:CONFIRMATION_Type"   
								default="prompt"/>
					<xs:attribute name="update_vehicle_when_reopened" type="dsf:CONFIRMATION_Type"   
								default="prompt"/>								
				</xs:extension>
			</xs:complexContent>				
		</xs:complexType>
	</xs:element>
</xs:schema>
