Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7395_SyncWorkOrderEquipment_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP7395_SyncWorkOrderEquipment_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7395_001" xmlns="http://schemas.datastream.net/MP_functions/MP0415_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-woe="http://schemas.datastream.net/MP_entities/WorkOrderEquipment_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/WorkOrderEquipment_001" schemaLocation="WorkOrderEquipment_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7395_SyncWorkOrderEquipment_001 ======================================-->
	<xs:element name="MP7395_SyncWorkOrderEquipment_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-woe:WorkOrderEquipment"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderEquipment"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
