Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7429_GenerateCustomerInvoice_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP7429_GenerateCustomerInvoice_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7429_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7429_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<!-- =========== Imported namespaces =========== -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- =========================================== -->
	<!-- ========Begining of MP7429_GenerateCustomerInvoice_001 ============ -->
	<xs:element name="MP7429_GenerateCustomerInvoice_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GenerateInvoiceDetails" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Generate"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CustomerInvoice"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>	
	</xs:element>
	<xs:element name="GenerateInvoiceDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
				<xs:element ref="dsf:WORKORDERID" minOccurs="0"/>
				<xs:element ref="dsf:CUSTOMERID" minOccurs="0"/>
				<xs:element ref="dsf:ORIGINALCUSTOMERINVOICEID" minOccurs="0"/>
				<xs:element ref="dsf:STARTDATE" minOccurs="0"/>
				<xs:element ref="dsf:ENDDATE" minOccurs="0"/>
				<xs:element ref="dsf:APPROVEDCUSTOMERCHARGES" minOccurs="0"/>
				<xs:element ref="dsf:UNAPPROVEDCUSTOMERCHARGES" minOccurs="0"/>
				<xs:element ref="dsf:FIXEDPAYMENTS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>