Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7447_GetPMScheduleForPMPlan_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result MP7447_GetPMScheduleForPMPlan_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7447_001" 
	xmlns="http://schemas.datastream.net/MP_results/MP7447_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-PMScheduleForPMPlan="http://schemas.datastream.net/MP_entities/PMScheduleForWork_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PMScheduleForWork_001" schemaLocation="PMScheduleForWork_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Beginning of MP7447_GetPMScheduleForPMPlan_001_Result ======================================-->
	<xs:element name="MP7447_GetPMScheduleForPMPlan_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PMScheduleForPMPlan:PMSchedule"/>
			</xs:sequence>
			<xs:attribute name="haswopackage" type="dsf:FLAG_Type"/>
			<xs:attribute name="hasequipment" type="dsf:FLAG_Type"/>
			
  		</xs:complexType>
	</xs:element>
</xs:schema>
