Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP7580_CreateStandardWorkOrder_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ================================================================================
	Createright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP7580_CreateStandardWorkOrder_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7580_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP7580_001" 
	elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!-- ======= Beginning of MP7580_CreateStandardWorkOrder_001 ======= -->
	<xs:element name="MP7580_CreateStandardWorkOrder_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StandardWOData"/>				
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Create"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="StandardWorkOrder"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="StandardWOData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID"/>
				<xs:element ref="dsf:NEWSTANDARDWO"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:COPYUSERDEFINEDFIELDS" minOccurs="0"/>
				<xs:element ref="dsf:COPYTOOLS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>
