Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/MP7589_CopyMaterialList_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP7589_CopyMaterialList_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7589_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7589_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7589_CopyMaterialList_001 ======================================-->
	<xs:element name="MP7589_CopyMaterialList_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MaterialListDetails"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Copy"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MaterialList"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaterialListDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:OLDMATERIALLISTID"/>
				<xs:element ref="dsf:NEWMATERIALLISTID"/>
				<xs:element ref="dsf:COPYCUSTOMFIELDS" minOccurs="0"/>
				<xs:element ref="dsf:COPYPARTS" minOccurs="0"/>		
				<xs:element ref="dsf:COPYCOMMENTS" minOccurs="0"/>
				<xs:element ref="dsf:COPYDOCUMENTS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>