Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7657_AddFuel_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth
	herein are trademarks and/or registered trademarks of Infor and/or related affiliates
	and subsidiaries. All rights reserved. All other trademarks listed herein are the
	property of their respective owners. www.infor.com

    This schema defines MP business function request MP7657_AddFuel_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7657_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP7657_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:of="http://www.openapplications.org/oagis_fields"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:dse-Fuel="http://schemas.datastream.net/MP_entities/Fuel_001"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Fuel_001" schemaLocation="Fuel_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP7657_AddFuel_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-Fuel:Fuel"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Fuel"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
