Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7633_GetWorkOrderMonitoredDataResultsDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2007 Infor. All rights reserved. 
    The word and design marks set forth herein are trademarks and/or registered trademarks 
    of Infor and/or related affiliates and subsidiaries. All rights reserved. All other 
    trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request MP7633_GetWorkOrderMonitoredDataResultsDefault_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7633_001"
        xmlns="http://schemas.datastream.net/MP_results/MP7633_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP7633_GetWorkOrderMonitoredDataResultsDefault_001_Result">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="ResultData"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="ResultData">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dsf:INSPECTIONOBJECTID"/>
                    <xs:element ref="dsf:INSPECTIONRESULT"/>
                    <xs:element ref="dsf:INSPECTIONCONFIDENCERATING"/>
                    <xs:element ref="dsf:ROUTESTATUS" minOccurs="0"/>
                    <xs:element ref="dsf:INSPECTIONRESULTDATE"/>
                    <xs:element ref="dsf:WOSTATUS"/>
                    <xs:element ref="dsf:WORKORDEREXT"/>
                </xs:sequence>
                <xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
            </xs:complexType>
        </xs:element>
</xs:schema>
