Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7752_AddMaintenancePatternSequence_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
* Copyright (c) 2009 Infor. All rights reserved. The word and design marks set forth herein are trademarks and/or 
* registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. All other trademarks 
* listed herein are the property of their respective owners. www.infor.com.
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7752_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-mp="http://schemas.datastream.net/MP_entities/MaintenancePatternSequence_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/MaintenancePatternSequence_001" schemaLocation="MaintenancePatternSequence_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:element name="MP7752_AddMaintenancePatternSequence_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-mp:MaintenancePatternSequence"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MaintenancePatternSequence"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
