Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP7965_AddPermitToWork_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2013 Infor. All rights reserved. The word and design marks set forth herein are trademarks
	and/or registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.
	
    This schema defines MP business function result MP7965_AddPermitToWork_001_Result  
==================================================================================-->  
	<xs:schema 	targetNamespace="http://schemas.datastream.net/MP_functions/MP7965_001" 
				xmlns:dse-ptw="http://schemas.datastream.net/MP_entities/PermitToWork_001" 
				xmlns:xs="http://www.w3.org/2001/XMLSchema"  
				xmlns:dsf="http://schemas.datastream.net/MP_fields" 
				xmlns="http://schemas.datastream.net/MP_functions/MP7965_001" 
				elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PermitToWork_001" schemaLocation="PermitToWork_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===================================================================================-->
	<!--====  Begining of MP7965_AddPermitToWork_001 ======================================-->
	<xs:element name="MP7965_AddPermitToWork_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-ptw:PermitToWork"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PermitToWork"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
