Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/MP8000_CreateFollowUpWorkOrder_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =============================================================================================
  Copyright (c) 2013 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP business function request MP8000_CreateFollowUpWorkOrder_001
==================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP8000_001"
        xmlns="http://schemas.datastream.net/MP_functions/MP8000_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP8000_CreateFollowUpWorkOrder_001">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dsf:ACTIVITYID" minOccurs="0"/>
                    <xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
                    <xs:element ref="dsf:ENTITYKEY" minOccurs="0"/>
                    <xs:element ref="dsf:ESIGNATURE" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Create"/>
                <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="FollowUpWorkOrder"/>
                <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
            </xs:complexType>
        </xs:element>
</xs:schema>