Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/PartForRepair_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines the MP entity PartForRepair
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PartForRepair_001" 
							xmlns="http://schemas.datastream.net/MP_entities/PartForRepair_001" 
							xmlns:xs="http://www.w3.org/2001/XMLSchema" 
							xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
							xmlns:dsf="http://schemas.datastream.net/MP_fields" 
							elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of PartForRepair_001 ======= -->
	<xs:element name="PartForRepair">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartForRepairData"/>
				<xs:element ref="dsf:ASSIGNEDQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:RECEIVEDQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:SCRAPQUANTITY" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartForRepairData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:REPAIRPARTID"/>
				<xs:element ref="dsf:STOREID" minOccurs="0"/>
				<xs:element ref="dsf:REPAIRQTY"/>
				<xs:element ref="dsf:COMPLETEDQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:ISREPAIRPARTACTIVE" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>