Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/PermitToWorkEventLog_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--===================================================================
    Copyright (c) 2013 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function entity PermitToWorkEventLog
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PermitToWorkEventLog_001"
        xmlns="http://schemas.datastream.net/MP_entities/PermitToWorkEventLog_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <xs:element name="PermitToWorkEventLog">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dsf:PERMITTOWORKEVENTLOGCODE"/>
                    <xs:element ref="dsf:PERMITTOWORKID"/>
                    <xs:element ref="dsf:EVENTTYPE"/>
                    <xs:element ref="dsf:DATEANDTIME"/>
                    <xs:element ref="dsf:FROMSTATUS" minOccurs="0"/>
                    <xs:element ref="dsf:TOSTATUS" minOccurs="0"/>
                    <xs:element ref="dsf:REVIEWEDBY" minOccurs="0"/>
                    <xs:element ref="dsf:SIGNATURETYPE" minOccurs="0"/>
                    <xs:element ref="dsf:EVENTLOGEXTENSION" minOccurs="0"/>
                    <xs:element ref="dsf:SUSPENSIONREASON" minOccurs="0"/>
                    <xs:element ref="dsf:EVENTLOGNOTES" minOccurs="0"/>
                    <xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
                    <xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
                    <xs:element ref="dsf:UPDATEDBY" minOccurs="0"/>
                    <xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
                    <xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="recordid" type="xs:long"/>
                <xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
            </xs:complexType>
        </xs:element>
</xs:schema>