Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/PermitToWorkLockoutTagout_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--===================================================================
	Copyright (c) 2013 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines MP entity PermitToWorkLockoutTagout
===================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PermitToWorkLockoutTagout_001"
		xmlns="http://schemas.datastream.net/MP_entities/PermitToWorkLockoutTagout_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
		<!--===============================================================================-->
		<xs:element name="PermitToWorkLockoutTagout">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="dsf:LOCKOUTTAGOUTCODE"/>
					<xs:element ref="dsf:PERMITTOWORKID"/>					
					<xs:element ref="dsf:SEQUENCENUM"/>
					<xs:element ref="dsf:ISOLATIONMETHODID"/>
					<xs:element ref="dsf:RSTATUS" minOccurs="0"/>
					<xs:element ref="dsf:ISOLATEDSTEP" minOccurs="0"/>
					<xs:element ref="dsf:ISOLATIONPOINTID" minOccurs="0"/>
					<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
					<xs:element ref="dsf:LOCATIONID" minOccurs="0"/>
					<xs:element ref="dsf:LOCATIONNOTE" minOccurs="0"/>
					<xs:element ref="dsf:ENERGYSOURCE" minOccurs="0"/>
					<xs:element ref="dsf:TAGNUMBER" minOccurs="0"/>
					<xs:element ref="dsf:RESIDUALENERGY" minOccurs="0"/>
					<xs:element ref="dsf:SECONDARYRESIDUALENERGY" minOccurs="0"/>
					<xs:element ref="dsf:NOTE" minOccurs="0"/>
					<xs:element ref="dsf:KEYREFERENCES" minOccurs="0"/>
					<xs:element ref="dsf:DELETEPENDING" minOccurs="0"/>
					<xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
					<xs:element ref="dsf:CREATEDBY" minOccurs="0"/>	
					<xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
					<xs:element ref="dsf:UPDATEDBY" minOccurs="0"/>	
					<xs:element ref="dsf:SOURCEDATE" minOccurs="0"/>
					<xs:element ref="dsf:SOURCEBY" minOccurs="0"/>	
					<xs:element ref="dsf:REVIEWEDBYESIGN" minOccurs="0"/>
					<xs:element ref="dsf:DATEREVIEWED" minOccurs="0"/>
					<xs:element ref="dsf:DATEVALIDUNTIL" minOccurs="0"/>
					<xs:element ref="dsf:ISOLATIONTYPE" minOccurs="0"/>
					<xs:element ref="dsf:SOURCEID" minOccurs="0"/>				
					<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
					<xs:element ref="dsf:TAGHEADER" minOccurs="0"/>
					<xs:element ref="dsf:TAGLINE1" minOccurs="0"/>
					<xs:element ref="dsf:TAGLINE2" minOccurs="0"/>
					<xs:element ref="dsf:TAGLINE3" minOccurs="0"/>
					<xs:element ref="dsf:TAGLINE4" minOccurs="0"/>
					<xs:element ref="dsf:COMPLETED" minOccurs="0"/>
					<xs:element ref="dsf:UNABLETOCOMPLETE" minOccurs="0"/>
					<xs:element ref="dsf:REPLACESLOTO" minOccurs="0"/>
					<xs:element ref="dsf:STEPNUMBER" minOccurs="0"/>	
				</xs:sequence>
				<xs:attribute name="recordid" type="xs:long"/>
				<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
			</xs:complexType>
		</xs:element>
</xs:schema>