Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/PMScheduleEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP entity PMScheduleEquipment    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PMScheduleEquipment_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/PMScheduleEquipment_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="PMScheduleEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PMSCHEDULEEQUIPMENTID"/>
				<xs:element ref="dsf:EQUIPMENTID"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="dsf:PMSCHEDULETYPE"/>
				<xs:element ref="dsf:CHANGED"/>
				<xs:element ref="dsf:LOCATIONID" minOccurs="0"/>
				<xs:element ref="dsf:TESTPOINTSET" minOccurs="0"/>
				<xs:element ref="dsf:WORKORDERCLASSID" minOccurs="0"/>
				<xs:element ref="dsf:COSTCODEID" minOccurs="0"/>
				<xs:element ref="dsf:ASSIGNEDTO" minOccurs="0"/>
				<xs:element ref="dsf:SUPERVISORID" minOccurs="0"/>
				<xs:element ref="dsf:ROUTE" minOccurs="0"/>
				<xs:element ref="dsf:DEACTIVATEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:PERIODINTERVAL" minOccurs="0"/>
				<xs:element ref="dsf:METER1INTERVAL" minOccurs="0"/>
				<xs:element ref="dsf:METER2INTERVAL" minOccurs="0"/>
				<xs:element ref="dsf:FROMPOINT" minOccurs="0"/> <!-- this is breakdown from point for linear break down. It is only usefull if setid exists-->
				<xs:element ref="dsf:TOPOINT" minOccurs="0"/><!-- this is breakdown to point for linear break down. It is only usefull if setid exists-->
				<xs:element ref="dsf:LINEARREFERENCEEVENT" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTLENGTH" minOccurs="0"/>
				<xs:element ref="dsf:LINEARREFUOM" minOccurs="0"/>
				<xs:element ref="dsf:STARTINGAT" minOccurs="0"/>
				<xs:element ref="dsf:PMFORECASTSESSIONID" minOccurs="0"/>
				<xs:element name="DORMANT" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:DORMANTSTART" minOccurs="0"/>
							<xs:element ref="dsf:DORMANTEND" minOccurs="0"/>
							<xs:element ref="dsf:DORMANTREUSE" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="dsf:PMCALENDARWEEKDAY" minOccurs="0"/>
				<xs:element ref="dsf:SDMFLAG" minOccurs="0"/>
				<xs:element ref="dsf:INCLUDENONCONFORMITIES"  minOccurs="0"/>
				<xs:element ref="dsf:DUENONCONFORMITIESONLY"  minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="workordernumber" type="dsf:CODE30_Type"/>
			<xs:attribute name="pmscheduleequipmentsetid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
