Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/TaskPlanLaborDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--===================================================================
	Copyright (c) 2014 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines MP entity TaskPlanLaborDefault
===================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/TaskPlanLaborDefault_001"
		xmlns="http://schemas.datastream.net/MP_entities/TaskPlanLaborDefault_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
		<!--===============================================================================-->
		<xs:element name="TaskPlanLaborDefault">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="dsf:RSTATUS" minOccurs="0"/>
					<xs:element ref="dsf:TOTALESTIMATEDHOURS" minOccurs="0"/>
					<xs:element ref="dsf:TOTALPEOPLEREQUIRED" minOccurs="0"/>
					<xs:element ref="dsf:PLANNINGLEVEL" minOccurs="0"/>
					<xs:element ref="dsf:JOBPLANID" minOccurs="0"/>
					<xs:element ref="dsf:HIREDLABOR" minOccurs="0"/>
					<xs:element ref="dsf:ENABLEENHANCEDPLANNING" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="istaskplanlevel" type="dsf:FLAG_Type" default="false"/>
				<xs:attribute name="ispmrvctrlon" type="dsf:FLAG_Type" default="false"/>
				<xs:attribute name="ispreplanned" type="dsf:FLAG_Type" default="false"/>
			</xs:complexType>
		</xs:element>
</xs:schema>