Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/VendorBooking_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP entity VendorBooking
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/VendorBooking_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_entities/VendorBooking_001"
	xmlns:osf="http://www.openapplications.org/oagis_fields"
	xmlns:os="http://www.openapplications.org/oagis_segments"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>

	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>


    <!--=====================================================================-->
    <!--====  Beginning of VendorBooking_001 ======================================-->
    <xs:element name="VendorBooking">
        <xs:complexType>
            <xs:sequence>
				<xs:element ref="VendorBookingDetails" />
				<xs:element ref="ExtraDetails" minOccurs="0"/>
				<xs:element ref="TransDetails" minOccurs="0" />

            </xs:sequence>
            <xs:attribute name="recordid" type="xs:long"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="VendorBookingDetails">
	    <xs:complexType>
            <xs:sequence>
				<xs:element ref="dsf:ACTIVITYID" minOccurs="0"/>
				<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
				<xs:element ref="dsf:TRADEID" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:choice >
					<xs:element ref="dsf:HOURSWORKED"/>
					<xs:element ref="dsf:RECIEVED"/>
				</xs:choice>

				<xs:element ref="dsf:DATEWORKED"/>
				<xs:element ref="dsf:CORRECTIONDATE" minOccurs="0"/>
				<xs:element ref="dsf:OCCUPATIONTYPE"/>
				<xs:element ref="dsf:EMPLOYEE" minOccurs="0"/>
				<xs:element ref="dsf:TRADERATE"  minOccurs="0"/>

				<xs:element ref="dsf:ACTUALSTARTTIME"  minOccurs="0"/>
				<xs:element ref="dsf:ACTUALENDTIME"  minOccurs="0"/>
				<xs:element ref="dsf:CORRECTION" minOccurs="0" />

				<xs:element ref="dsf:PURCHASEORDERLINEID" minOccurs="0"/>
				<xs:element ref="dsf:MULTIEQUIPSPLITINFO" minOccurs="0"/>

				<xs:element ref="dsf:DESCRIPTION" minOccurs="0"/>
				<xs:element ref="POLineDetails" minOccurs="0"/>
				
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/> 
    		</xs:sequence>
	    </xs:complexType>
    </xs:element>



    <xs:element name="ExtraDetails">
	    <xs:complexType>
            <xs:sequence>
				<xs:element ref="dsf:ACDCODE" minOccurs="0" />
				<xs:element ref="dsf:WORKORDERALIAS" minOccurs="0" />
				<xs:element ref="dsf:ORIGINALHOURSWORKED" minOccurs="0" />
				<xs:element ref="dsf:ROUTERTYPE" minOccurs="0" />
				<xs:element ref="dsf:ROUTERREC" minOccurs="0" />
				<xs:element ref="dsf:COST" minOccurs="0" />

    		</xs:sequence>
	    </xs:complexType>
    </xs:element>

    <xs:element name="TransDetails">
	    <xs:complexType>
            <xs:sequence>
				<xs:element ref="dsf:GLTRANSFERFLAG" minOccurs="0" />
				<xs:element ref="dsf:GLTRANSFERDATE" minOccurs="0" />
				<xs:element ref="dsf:TRANSORGID" minOccurs="0" />
				<xs:element ref="dsf:TRANSCODE" minOccurs="0" />

    		</xs:sequence>
	    </xs:complexType>
    </xs:element>
    
	<xs:element name="POLineDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PURCHASEORDERTYPE" minOccurs="0"/>
				<xs:element ref="dsf:ACTUNITS" minOccurs="0"/>
				<xs:element ref="dsf:ACTUOM" minOccurs="0"/>
				<xs:element ref="dsf:ORDEREDAMT" minOccurs="0"/>
				<xs:element ref="dsf:ESTIMATEDHOURS" minOccurs="0"/>
				<xs:element ref="dsf:HOURSREMAINING" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:RELATEDWORKORDERID" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYCODE" minOccurs="0"/>
				<xs:element ref="dsf:TAXAMOUNT" minOccurs="0"/>
				<xs:element ref="dsf:TASKSID" minOccurs="0"/>
				<xs:element ref="dsf:JOBPLANID" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:element ref="dsf:RECIEVEDAMT"/>
					<xs:element ref="dsf:RECIEVEDQTY"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="is_multi_equip_parent" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
	
</xs:schema>