Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/WOQualificationDefaultForImport_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved. 

	This schema defines MP entity WOQualificationDefaultForImport 
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WOQualificationDefaultForImport_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_entities/WOQualificationDefaultForImport_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of WOQualificationDefaultForImport_001 ======= -->
	<xs:element name="WOQualificationDefaultForImport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRADEID" minOccurs="0"/>
				<xs:element ref="dsf:ACTIVITYCODE" minOccurs="0"/>
				<xs:element ref="dsf:TASKCODE" minOccurs="0"/>
				<xs:element name="NUMBER_OF_ACTIVITIES" type="xs:nonNegativeInteger" minOccurs="0"/>
				<xs:element name="NUMBER_OF_UNLINKED_TASKS" type="xs:nonNegativeInteger" minOccurs="0"/>
				<xs:element name="NUMBER_OF_UNLINKED_TRADES" type="xs:nonNegativeInteger" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>