Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/WorkOrderHealthcareDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright (c) 2012 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. 
	www.infor.com. 

	This schema defines MP entity WorkOrderHealthcareDefault 
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkOrderHealthcareDefault_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_entities/WorkOrderHealthcareDefault_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!-- ======= Beginning of WorkOrderHealthcareDefault_001 ========================= -->
	<xs:element name="WorkOrderHealthcareDefault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID" minOccurs="0"/>
				<xs:element ref="dsf:STATUS" minOccurs="0"/>
				<xs:element ref="dsf:TYPE" minOccurs="0"/>
				<xs:element ref="dsf:ENTEREDBY" minOccurs="0"/>
				<xs:element ref="dsf:REQUESTEDBY" minOccurs="0"/>
				<xs:element ref="dsf:SHIFTCODE" minOccurs="0"/>
				<xs:element ref="dsf:REPORTED" minOccurs="0"/>
				<xs:element ref="dsf:TARGETDATE" minOccurs="0"/>
				<xs:element ref="dsf:SCHEDEND" minOccurs="0"/>
				<xs:element ref="dsf:WORKDAY" minOccurs="0"/>
				<xs:element ref="dsf:PERTYPE" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYCODE" minOccurs="0"/>
				<xs:element name="GROUP" type="dsf:CODE12_Type" minOccurs="0"/>
				<xs:element ref="dsf:CCTRSPCVALIDATION" minOccurs="0"/>
				<xs:element ref="dsf:PHONE" minOccurs="0"/>
				<xs:element ref="dsf:EMAIL" minOccurs="0"/>
				<xs:element ref="ComplianceDetail" minOccurs="0"/>				
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplianceDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ABOVECEILINGPERMIT" minOccurs="0"/>
				<xs:element ref="dsf:INTERIMLIFESAFETY" minOccurs="0"/>
				<xs:element ref="dsf:INTERIMINFECTIONCONTROL" minOccurs="0"/>
				<xs:element ref="dsf:PRECONSTRUCTIONRISKASSESSMENT" minOccurs="0"/>
				<xs:element ref="dsf:PLANIMPROVEMENT" minOccurs="0"/>
				<xs:element ref="dsf:STATEMENTOFCOND" minOccurs="0"/>
				<xs:element ref="dsf:BUILDMAINTPROGRAM" minOccurs="0"/>
				<xs:element ref="dsf:PERSONALPROTECTIVEEQUIP" minOccurs="0"/>
				<xs:element ref="dsf:LOCKOUT" minOccurs="0"/>
				<xs:element ref="dsf:BURNPERMIT" minOccurs="0"/>
				<xs:element ref="dsf:CONFINEDSPACE" minOccurs="0"/>
				<xs:element ref="dsf:PATIENTSAFETY" minOccurs="0"/>
				<xs:element ref="dsf:RECALLNOTICE" minOccurs="0"/>
				<xs:element ref="dsf:SMDA" minOccurs="0"/>
				<xs:element ref="dsf:HIPAACONFIDENTIALITY" minOccurs="0"/>
				<xs:element ref="dsf:PATIENT" minOccurs="0"/>
				<xs:element ref="dsf:STAFFINJURY" minOccurs="0"/>
				<xs:element ref="dsf:SECURITYINCIDENT" minOccurs="0"/>
				<xs:element ref="dsf:PROPERTYDAMAGE" minOccurs="0"/>
				<xs:element ref="dsf:HAZARDOUSMATERIALSINCIDENT" minOccurs="0"/>
				<xs:element ref="dsf:FIRESAFETYINCIDENT" minOccurs="0"/>
				<xs:element ref="dsf:MEDICALEQUIPMENTINCIDENT" minOccurs="0"/>
				<xs:element ref="dsf:UTILITYSYSTEMINCIDENT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>