Infor EAM APIs for Saas/Version 11.4.1/schemas/Work/WorkOrderQualification_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity WorkOrderQualification
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkOrderQualification_001" 
	xmlns="http://schemas.datastream.net/MP_entities/WorkOrderQualification_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of WorkOrderQualification_001 ======= -->
	<xs:element name="WorkOrderQualification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkOrderQualificationData"/>
				<xs:element ref="dsf:TASKCODE" minOccurs="0"/>
				<xs:element ref="dsf:QUALIFICATIONREMOVED" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkOrderQualificationData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERQUALIFICATIONID"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>