Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/WorkRoute_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines the Route entity
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkRoute_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/WorkRoute_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====================  Begining of Route ====================-->
	<xs:element name="WorkRoute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ROUTEID"/>
				<xs:element ref="dsf:CATEGORYID" minOccurs="0"/>
				<xs:element ref="dsf:ROUTETEMPLATE"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:REVISIONSTATUS"/>
				<xs:element ref="dsf:LINKGISWO" minOccurs="0"/>
				<xs:element ref="dsf:REVISIONCONTROL" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
