Infor EAM APIs for Saas/Version 11.4.1/Schemas/Work/WorkLoadBalanceTrades_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity WorkLoadBalanceTrades    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkLoadBalanceTrades_001" xmlns="http://schemas.datastream.net/MP_entities/WorkLoadBalanceTrades_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of WorkLoadBalanceTrades_001 ======================================-->
	<xs:element name="WorkLoadBalanceTrades">
		<xs:complexType>
			<xs:sequence>
			        <xs:element ref="dsf:DBSESSIONID"/>
				<xs:element ref="WorkLoadBalanceTrade" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkLoadBalanceTrade">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DEPARTMENTID"/>
				<xs:element ref="dsf:TRADEID"/>
				<xs:element ref="WorkLoadBalance" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkLoadBalance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:BALANCEDATE"/>
				<xs:element ref="dsf:AVAILABLEHOURS"/>
				<xs:element ref="dsf:HOURSREQUIRED"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
