Infor EAM APIs for Saas/Version 11.4.1/Schemas/Base/MP0113_GetDocumentAssociation_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0113_GetDocumentAssociation_001    
==================================================================================-->  
 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0113_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP0113_001" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0113_GetDocumentAssociation_001 ======================================-->
	<xs:element name="MP0113_GetDocumentAssociation_001">
		<xs:complexType>
			<xs:sequence><xs:element ref="DocumentAssociationReq"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="DocumentAssociation"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentAssociationReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentAssociationMetaData" maxOccurs="unbounded"/>
				<xs:element ref="ParentPK" minOccurs="0" maxOccurs="8"/>
			</xs:sequence>
			<xs:attribute name="org" type="dsf:CODE15_Type"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentAssociationMetaData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Join" minOccurs="0" maxOccurs="8"/>
			</xs:sequence>
			<xs:attribute name="entity" type="xs:string"/>
			<xs:attribute name="relationship" type="dsf:CODE1_Type"/>
			<xs:attribute name="columnPrefix" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParentPK">
		<xs:complexType>
			<xs:attribute name="pkcolumnname" type="xs:string"/>
			<xs:attribute name="pkvalue" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Join">
		<xs:complexType>
			<xs:attribute name="parentcolumnname" type="xs:string"/>
			<xs:attribute name="childcolumnname" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
