Infor EAM APIs for Saas/Version 11.4.1/schemas/Base/MP0173_GetCommentsPopup_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP0173_GetCommentsPopup_001 
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0173_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP0173_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0173_GetCommentsPopup_001 ======================================-->
	<xs:element name="MP0173_GetCommentsPopup_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommentsPopupReq"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Comments"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommentsPopupReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ENTITY"/>
				<xs:element ref="dsf:COMMENTTYPE"/>
				<xs:element ref="dsf:ENTITYKEYCODE"/>
				<xs:element ref="dsf:LANGUAGEID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
