Infor EAM APIs for Saas/Version 11.4.1/schemas/Base/MP0150_GetReportDefault_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines GetReportParameter_001 function
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0150_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP0150_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP0150_GetReportDefault_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FUNCTIONCODE"/>				
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ReportDefault"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="GetReportDefault"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
