Infor EAM APIs for Saas/Version 11.4.1/Schemas/Base/MP0101_GetUserPreference_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result for
    function request MP0101_GetUserPreference_001
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP0101_GetUserPreference_001_Result"
           xmlns="http://schemas.datastream.net/MP0101_GetUserPreference_001_Result" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">

	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd" />

	<xs:element name="MP0101_GetUserPreference_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PortletPreference" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="PortletPreference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Portlet" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Portlet">
		<xs:complexType>
			<xs:attribute name="id" type="xs:long" use="required" />
			<xs:attribute name="label" type="dsf:DESCRIPTION_Type" use="required" />
			<xs:attribute name="sel" type="CHECK" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="CHECK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="+" />
			<xs:enumeration value="-" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
