Infor EAM APIs for Saas/Version 11.4.1/schemas/Base/MP0109_AddComments_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0109_AddComments_001
   
==================================================================================-->  
 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0109_001" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dse-Comt="http://schemas.datastream.net/MP_entities/Comments_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP0109_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Comments_001" schemaLocation="Comments_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0109_AddComments_001 ======================================-->
	<xs:element name="MP0109_AddComments_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:COMMENT"/>
			</xs:sequence>
			<xs:attribute name="isFromBatch" type="dsf:FLAG_Type" use="optional" default="false"/>
			<xs:attribute name="isFromWOQuickClose" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="bypassWorkOrderTypeAuthorization" type="dsf:FLAG_Type" use="optional" default="false"/>
			<xs:attribute name="is_gis_webservice_request" type="dsf:FLAG_Type" default="false"/>			
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Comments"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
