Infor EAM APIs for Saas/Version 11.4.1/Schemas/Base/MP9535_AddArchive_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2005, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP9535_AddArchive_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP9535_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP9535_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-Archive="http://schemas.datastream.net/MP_entities/Archive_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Archive_001" schemaLocation="Archive_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP9535_AddArchive_001 ======================================-->
	<xs:element name="MP9535_AddArchive_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-Archive:Archive"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Archive"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="autoid" type="dsf:FLAG_Type" fixed="true"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
