Infor EAM APIs for Saas/Version 11.4.1/schemas/Base/MP9536_SyncArchive_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2005, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP9536_SyncArchive_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP9536_001"
	xmlns:dse-Archive="http://schemas.datastream.net/MP_entities/Archive_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP9536_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Archive_001" schemaLocation="Archive_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP9536_SyncArchive_001 ======================================-->
	<xs:element name="MP9536_SyncArchive_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-Archive:Archive"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Archive"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
