Infor EAM APIs for On Premise/Version 11.4/schemas/DataCollection/MP0805_ValidateTransactionPrompts_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
    	50 Datastream Plaza, Greenville, SC 29605, USA.
   	All rights reserved.
	
    This schema defines MP business function request MP0805_ValidateTransactionPrompts_001
========================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0805_001" xmlns="http://schemas.datastream.net/MP_functions/MP0805_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-tp="http://schemas.datastream.net/MP_entities/TransactionPrompts_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/TransactionPrompts_001" schemaLocation="TransactionPrompts_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0805_ValidateTransactionPrompts_001 ======================================-->
	<xs:element name="MP0805_ValidateTransactionPrompts_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-tp:TransactionPrompts"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Validate"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="TransactionPrompts"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
