Infor EAM APIs for On Premise/Version 11.4/schemas/DataCollection/MP0827_StopConversion_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2005, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0827_StopConversion_001
 ============================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0827_001" xmlns="http://schemas.datastream.net/MP_functions/MP0827_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0827_StopConversion_001 ======================================-->
	<xs:element name="MP0827_StopConversion_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UPLOADID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Stop"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Conversion"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_stop" type="dsf:CONFIRMATION_Type" default="prompt"/>			
		</xs:complexType>
	</xs:element>
</xs:schema>
