Infor EAM APIs for Saas/Version 11.4.1/Schemas/Inspection/MP1043_GetInspectionEquipmentDetail_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function result for function request MP1043_GetInspectionEquipmentDetail_001_Result
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP1043_001" 
	xmlns="http://schemas.datastream.net/MP_results/MP1043_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-InspectionEquipmentDetail="http://schemas.datastream.net/MP_entities/InspectionEquipmentDetail_001" 
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/InspectionEquipmentDetail_001" schemaLocation="InspectionEquipmentDetail_001.xsd"/>
	<!-- ============================================= -->
	<!--========  Begining of MP1043_GetInspectionEquipmentDetail_001_Result ====================-->
	<xs:element name="MP1043_GetInspectionEquipmentDetail_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-InspectionEquipmentDetail:InspectionEquipmentDetail"/>
				<xs:element ref="dsf:CORROSIONALLOWANCE" minOccurs="0"/>
				<xs:element ref="dsf:MATERIAL" minOccurs="0"/>
				<xs:element ref="dsf:DESIGNCODE" minOccurs="0"/>
				<xs:element ref="dsf:ACTUALOD" minOccurs="0"/>
				<xs:element ref="dsf:JOINTEFFICIENCY" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>