Infor EAM APIs for On Premise/Version 11.4/wsdl/Project/MP5026_GetProjAuthUser_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP5026_GetProjAuthUser_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP5026_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP5026_GetProjAuthUser_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP5026_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP5026_001" schemaLocation="../../schemas/Project/MP5026_GetProjAuthUser_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP5026_001" schemaLocation="../../schemas/Project/MP5026_GetProjAuthUser_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="GetProjAuthUserRequestMsg">
    <part name="GetProjAuthUserRequestMsg" element="rqst0:MP5026_GetProjAuthUser_001"/>
  </message>
  <message name="GetProjAuthUserResponseMsg">
    <part name="GetProjAuthUserResponseMsg" element="resp0:MP5026_GetProjAuthUser_001_Result"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <portType name="GetProjAuthUserPT">
    <operation name="GetProjAuthUserOp">
      <input name="GetProjAuthUserRequestMsg" message="tns:GetProjAuthUserRequestMsg"/>
      <output name="GetProjAuthUserResponseMsg" message="tns:GetProjAuthUserResponseMsg"/>
    </operation>
  </portType>
  <binding name="GetProjAuthUserSoapBinding" type="tns:GetProjAuthUserPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetProjAuthUserOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="GetProjAuthUserRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetProjAuthUserRequestMsg" use="literal"/>
      </input>
      <output name="GetProjAuthUserResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetProjAuthUserResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GetProjAuthUserService">
    <port name="GetProjAuthUserSoapBinding" binding="tns:GetProjAuthUserSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
