Infor EAM APIs for On Premise/Version 11.5/wsdl/ContactCenter/MP3535_GetTop10KBArticles_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP3535_GetTop10KBArticles_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP3535_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP3535_GetTop10KBArticles_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP3535_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP3535_001" schemaLocation="../../schemas/ContactCenter/MP3535_GetTop10KBArticles_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP3535_001" schemaLocation="../../schemas/ContactCenter/MP3535_GetTop10KBArticles_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="GetTop10KBArticlesRequestMsg">
    <part name="GetTop10KBArticlesRequestMsg" element="rqst0:MP3535_GetTop10KBArticles_001"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="GetTop10KBArticlesResponseMsg">
    <part name="GetTop10KBArticlesResponseMsg" element="resp0:MP3535_GetTop10KBArticles_001_Result"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <portType name="GetTop10KBArticlesPT">
    <operation name="GetTop10KBArticlesOp">
      <input name="GetTop10KBArticlesRequestMsg" message="tns:GetTop10KBArticlesRequestMsg"/>
      <output name="GetTop10KBArticlesResponseMsg" message="tns:GetTop10KBArticlesResponseMsg"/>
    </operation>
  </portType>
  <binding name="GetTop10KBArticlesSoapBinding" type="tns:GetTop10KBArticlesPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetTop10KBArticlesOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="GetTop10KBArticlesRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetTop10KBArticlesRequestMsg" use="literal"/>
      </input>
      <output name="GetTop10KBArticlesResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetTop10KBArticlesResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GetTop10KBArticlesService">
    <port name="GetTop10KBArticlesSoapBinding" binding="tns:GetTop10KBArticlesSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
