Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/DepreciationUnitOutput_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity for Depreciation for Equipment for units of output method
================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/DepreciationUnitOutput_001"
	xmlns="http://schemas.datastream.net/MP_entities/DepreciationUnitOutput_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of DepreciationUnitOutput_001 ======= -->
	<xs:element name="DepreciationUnitOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepreciationUnitOutputDetails"/>
				<xs:element ref="dsf:STARTDATE" minOccurs="0"/>
				<xs:element ref="dsf:ENDDATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepreciationUnitOutputDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DEPRECIATIONUNITOUTPUTID"/>
				<xs:element ref="dsf:UNITS" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>