Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/EquipLinearRef_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

         This schema defines MP entity Equipment Linear Reference
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EquipLinearRef_001" xmlns="http://schemas.datastream.net/MP_entities/EquipLinearRef_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of EquipLinearRef_001 ======================================-->
	<xs:element name="EquipLinearRef">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LRFID" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTID"/>
				<xs:element ref="dsf:LRFTYPE"/>	
				<xs:element ref="dsf:LRFDESC"/>
				<xs:element ref="dsf:LRFRELATEDEQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:LRFFROMPOINT"/>
				<xs:element ref="dsf:FROMREFERENCEID" minOccurs="0"/>
				<xs:element ref="dsf:FROMOFFSET" minOccurs="0"/>
				<xs:element ref="dsf:FROMOFFSETPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:FROMOFFSETDIRECTION" minOccurs="0"/>
				<xs:element ref="dsf:FROMCOORDINATE" minOccurs="0"/>
				<xs:element ref="dsf:FROMLATITUDE" minOccurs="0"/>
				<xs:element ref="dsf:FROMLONGITUDE" minOccurs="0"/>
				<xs:element ref="dsf:LRFTOPOINT"/>
				<xs:element ref="dsf:TOREFERENCEID" minOccurs="0"/>
				<xs:element ref="dsf:TOOFFSET" minOccurs="0"/>
				<xs:element ref="dsf:TOOFFSETPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:TOOFFSETDIRECTION" minOccurs="0"/>
				<xs:element ref="dsf:TOCOORDINATE" minOccurs="0"/>
				<xs:element ref="dsf:TOLATITUDE" minOccurs="0"/>
				<xs:element ref="dsf:TOLONGITUDE" minOccurs="0"/>
				<xs:element ref="dsf:LRFGEOREF" minOccurs="0"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:PARTID" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:DATEEFFECTIVE"  minOccurs="0"/>
				<xs:element ref="dsf:DATEEXPIRED" minOccurs="0"/>
				<xs:element ref="dsf:INSPECTIONDIRECTIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:FLOWCODE" minOccurs="0"/>
				<xs:element ref="dsf:APPLYTOCHILDREN" minOccurs="0"/>
				<xs:element ref="dsf:REPEATEVERYLENGTH" minOccurs="0"/>
				<xs:element ref="dsf:REPEATEVERYUOMCODE" minOccurs="0"/>
				<xs:element ref="dsf:STARTINGSEQUENCE" minOccurs="0"/>
				<xs:element ref="dsf:SETIDCODE" minOccurs="0"/>
				<xs:element ref="dsf:OPERATIONSEQUENCE" minOccurs="0"/>
				<xs:element ref="OverviewDetails" minOccurs="0"/>
				<xs:element ref="OffsetandSizeDetails" minOccurs="0"/>
				<xs:element ref="SourceDetails" minOccurs="0"/>
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="dsf:POINTREFERENCE" minOccurs="0"/>
				<xs:element ref="dsf:APPLYTOROUTEROW" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OverviewDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DISPLAYONOVERVIEW" minOccurs="0"/>
				<xs:element ref="dsf:COLOR" minOccurs="0"/>
				<xs:element ref="dsf:ICONCODE" minOccurs="0"/>
				<xs:element ref="dsf:ICONPATH" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OffsetandSizeDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:RELATIONSHIPTYPEID" minOccurs="0"/>
				<xs:element ref="dsf:HORIZONTALOFFSET" minOccurs="0"/>
				<xs:element ref="dsf:HORIZONTALOFFSETUOMCODE" minOccurs="0"/>
				<xs:element ref="dsf:HORIZONTALOFFSETTYPEID" minOccurs="0"/>
				<xs:element ref="dsf:VERTICALOFFSET" minOccurs="0"/>
				<xs:element ref="dsf:VERTICALOFFSETUOMCODE" minOccurs="0"/>
				<xs:element ref="dsf:VERTICALOFFSETTYPEID" minOccurs="0"/>
				<xs:element ref="dsf:QTYPERUOM" minOccurs="0"/>
				<xs:element ref="dsf:QTYUOMCODE" minOccurs="0"/>
				<xs:element ref="dsf:WIDTH" minOccurs="0"/>
				<xs:element ref="dsf:WIDTHUOMCODE" minOccurs="0"/>
				<xs:element ref="dsf:HEIGHT" minOccurs="0"/>
				<xs:element ref="dsf:HEIGHTUOMCODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SourceDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:CREATEDBY" minOccurs="0"/>	
				<xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
				<xs:element ref="dsf:UPDATEDBY" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
