Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/EquipmentProfile_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity EquipmentProfile
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EquipmentProfile_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/EquipmentProfile_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of EquipmentProfile_001 ======= -->
	<xs:element name="EquipmentProfile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PROFILEID"/>
				<xs:element ref="dsf:OBJTYPE"/>
				<xs:element ref="dsf:DEPARTMENTID"/>
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="PROFILEDETAILS" minOccurs="0"/>
				<xs:element ref="TRACKINGDETAILS" minOccurs="0"/>
				<xs:element ref="PARTASSOCIATION" minOccurs="0"/>
				<xs:element ref="VARIABLES" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROFILEDETAILS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:CATEGORYID" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTVALUE" minOccurs="0"/>
				<xs:element ref="dsf:METERUNIT" minOccurs="0"/>
				<xs:element ref="dsf:GISPROFILE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRACKINGDETAILS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:MANUFACTURERID" minOccurs="0"/>
				<xs:element ref="dsf:MODEL" minOccurs="0"/>
				<xs:element ref="dsf:MODELREVISION" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARTASSOCIATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PARTID" minOccurs="0"/>
				<xs:element ref="dsf:STOREID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VARIABLES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VARIABLE1" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE2" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE3" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE4" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE5" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE6" type="dsf:VARIABLE_Type" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
