Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/Location_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

      This schema defines MP entity Location
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Location_001"
		xmlns="http://schemas.datastream.net/MP_entities/Location_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:dse-system="http://schemas.datastream.net/MP_entities/SystemEquipment_001"
		xmlns:dse-position="http://schemas.datastream.net/MP_entities/PositionEquipment_001"
		xmlns:dse-asset="http://schemas.datastream.net/MP_entities/AssetEquipment_001"
		xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/AssetEquipment_001" schemaLocation="AssetEquipment_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PositionEquipment_001" schemaLocation="PositionEquipment_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/SystemEquipment_001" schemaLocation="SystemEquipment_001.xsd"/>
		<!-- ======= Beginning of Location_001 ======= -->
	<xs:element name="Location">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LOCATIONID"/>
				<xs:element ref="dsf:DEPARTMENTID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:COSTCODEID" minOccurs="0"/>
				<xs:element ref="dsf:SAFETY" minOccurs="0"/>
				<xs:element name="ParentLocationID" type="dsf:LOCATIONID_Type" minOccurs="0"/>
				<xs:element ref="dsf:CGMP" minOccurs="0"/>
				<xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="CallCenterDetails" minOccurs="0"/>
				<xs:element ref="LocationParentHierarchy" minOccurs="0"/>
				<xs:element ref="UserDefinedFields" minOccurs="0"/>
				<xs:element ref="dsf:SAFETYDATEREVIEWREQUIRED" minOccurs="0"/>	            
				<xs:element ref="dsf:SAFETYREVIEWEDBY" minOccurs="0"/>
				<xs:element ref="dsf:PERMITDATEREVIEWREQUIRED" minOccurs="0"/>
				<xs:element ref="dsf:PERMITREVIEWEDBY" minOccurs="0"/>
				<xs:element ref="dsf:LOTODATEREVIEWREQUIRED" minOccurs="0"/>
				<xs:element ref="dsf:LOTOREVIEWEDBY" minOccurs="0"/>
				<xs:element ref="dsf:RCMLEVELID" minOccurs="0"/>
				<xs:element ref="dsf:RISKMATRIXSETUPID" minOccurs="0"/>
				<xs:element ref="dsf:RISKPRIORITYNUMBER" minOccurs="0"/>
				<xs:element ref="dsf:RESERVATIONCALENDAROWNER" minOccurs="0"/>
				<xs:element ref="dsf:RESERVATIONCALENDAROWNERSLIST" minOccurs="0"/>
				<xs:element ref="dsf:WORKSPACEID" minOccurs="0"/>
				<xs:element ref="dsf:CHECKLISTFILTER" minOccurs="0"/>
				<xs:element ref="dsf:TOLERANCESIZE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CallCenterDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PENALTYFACTOR" minOccurs="0"/>
				<xs:element ref="dsf:PENALTYAMOUNT" minOccurs="0"/>
				<xs:element ref="dsf:ORGCURRENCY" minOccurs="0"/>
				<xs:element ref="dsf:CALENDARGROUPID" minOccurs="0"/>
				<xs:element ref="dsf:SDMFLAG" minOccurs="0"/>
				<xs:element ref="dsf:ENABLESDMCHECK" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
        <!-- Location Hierarchy Structure Definitions -->
	<xs:element name="LocationChildHierarchy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LOCATIONID"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="ChildLocation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-system:ChildSystem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-position:ChildPosition" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-asset:ChildAsset" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChildLocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LOCATIONID"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="ChildLocation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-system:ChildSystem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-position:ChildPosition" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-asset:ChildAsset" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="LocationParentHierarchy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LOCATIONID"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="ParentLocation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParentLocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LOCATIONID"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR11" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR12" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR13" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR14" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR15" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR16" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR17" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR18" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR19" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR20" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR21" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR22" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR23" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR24" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR25" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR26" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR27" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR28" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR29" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR30" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR31" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR32" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR33" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR34" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR35" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR36" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR37" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR38" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR39" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR40" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR41" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR42" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR43" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR44" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR45" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM06" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM07" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM08" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM09" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM10" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE06" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE07" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE08" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE09" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE10" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX10" minOccurs="0"/>
				<xs:element ref="dsf:UDFNOTE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNOTE02" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
