Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/MP0355_AddLocationToStructure_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP0355_AddLocationToStructure_001
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0355_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-location="http://schemas.datastream.net/MP_entities/Location_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_functions/MP0355_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Location_001" schemaLocation="Location_001.xsd"/>	
	<!--===============================================================================-->
	<!--====  Begining of MP0355_AddLocationToStructure_001 ======================================-->
	<xs:element name="MP0355_AddLocationToStructure_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LOCATIONID"/>
				<xs:element ref="dsf:SEQUENCENUMBER" minOccurs="0"/>
				<xs:element ref="ParentLocation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="LocationStructure"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParentLocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LOCATIONID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>