Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/MP0302_GetAssetEquipment_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
      This schema defines MP business function result MP0302_GetAssetEquipment_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0302_001" xmlns="http://schemas.datastream.net/MP_results/MP0302_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-Addresses="http://schemas.datastream.net/MP_entities/Addresses_001" xmlns:dse-AssetEquipment="http://schemas.datastream.net/MP_entities/AssetEquipment_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/AssetEquipment_001" schemaLocation="AssetEquipment_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Addresses_001" schemaLocation="../Administration/Addresses_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0302_GetAssetEquipment_001_Result ======================================-->
	<xs:element name="MP0302_GetAssetEquipment_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-AssetEquipment:AssetEquipment"/>
				<xs:element ref="dse-Addresses:Addresses" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
