Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/MP0353_AddPositionToStructure_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0353_AddPositionToStructure_001
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0353_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:dse-position="http://schemas.datastream.net/MP_entities/PositionEquipment_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_functions/MP0353_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PositionEquipment_001" schemaLocation="PositionEquipment_001.xsd"/>	
	<!--===============================================================================-->
	<!--====  Begining of MP0353_AddPositionToStructure_001 ======================================-->
	<xs:element name="MP0353_AddPositionToStructure_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:POSITIONID"/>				
				<xs:element ref="ParentsForPosition" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PositionStructure"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParentsForPosition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LOCATIONID" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:element ref="dse-position:PositionDependency" minOccurs="0"/>
					<xs:element ref="dse-position:SystemDependency" minOccurs="0"/>
					<xs:element ref="dse-position:LocationDependency" minOccurs="0"/>
					<xs:element ref="NonDependentParents" minOccurs="0"/>					
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NonDependentParents">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dse-position:NonDependentParents_Type">
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
