Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/MP0364_AddEquipmentPMSchedule_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP0364_AddEquipmentPMSchedule_001
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0364_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-PMSchedule="http://schemas.datastream.net/MP_entities/PMSchedule_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP0364_001" 
	elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PMSchedule_001" schemaLocation="PMSchedule_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ====================================================================================== -->
	<!-- =============  Begining of MP0364_AddEquipmentPMSchedule_001 ============================= -->
	<xs:element name="MP0364_AddEquipmentPMSchedule_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PMSchedule:PMScheduleData"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PMSchedule"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>