Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/MP0314_DeleteSystemEquipment_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
       This schema defines the result for MP business function request 
    MP0314_DeleteSystemEquipment_001
==================================================================================-->  
    
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0314_001" 
           xmlns="http://schemas.datastream.net/MP_results/MP0314_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"            
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
<!--====  Begining of MP0314_DeleteSystemEquipment_001_Result ======================================-->
	<xs:element name="MP0314_DeleteSystemEquipment_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SYSTEMID"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
