Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/MP0323_AddEquipmentCategory_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
           This schema defines MP business function request MP0323_AddEquipmentCategory_001
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0323_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:dse-category="http://schemas.datastream.net/MP_entities/EquipmentCategory_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_functions/MP0323_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EquipmentCategory_001" schemaLocation="EquipmentCategory_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0323_AddEquipmentCategory_001 ======================================-->
	<xs:element name="MP0323_AddEquipmentCategory_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-category:EquipmentCategory"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentCategory"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
