Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/MP0332_GetWarranty_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003,	Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	   This	schema defines MP business function result MP0332_GetWarranty_001_Result
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0332_001" 
	   xmlns:dse-Warranty="http://schemas.datastream.net/MP_entities/Warranty_001" 
	   xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	   xmlns="http://schemas.datastream.net/MP_results/MP0332_001" 
	   elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" 
	schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Warranty_001" 
	schemaLocation="Warranty_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0332_GetWarranty_001_Result ===============================-->
	<xs:element name="MP0332_GetWarranty_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-Warranty:Warranty"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="haswarranty" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>