Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/MP3057_AddEquipmentStructure_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2007, Infor Global Solutions
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP business function request MP3057_AddEquipmentStructure_001
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3057_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
        xmlns:dse-EquipmentStructure="http://schemas.datastream.net/MP_entities/EquipmentStructure_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_functions/MP3057_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_entities/EquipmentStructure_001" schemaLocation="EquipmentStructure_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP3057_AddEquipmentStructure_001 ======================================-->
	<xs:element name="MP3057_AddEquipmentStructure_001">
		<xs:complexType>
			<xs:sequence>
			        <xs:element ref="dse-EquipmentStructure:EquipmentStructure"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentStructure"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
