Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/MP3000_GetObjectMap_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP3000_GetObjectMap_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3000_001" 
	         xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	         xmlns="http://schemas.datastream.net/MP_functions/MP3000_001" 
	         xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	         elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP3000_GetObjectMap_001 ======================================-->
	<xs:element name="MP3000_GetObjectMap_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:MAPOWNERID"/>
				<xs:element ref="dsf:GISMAPID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ObjectMap"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="includeurl" type="dsf:FLAG_Type" default="true"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
