Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/MP3089_ProcessEquipmentEvaluationEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2007 Infor.All rights reserved.The word and design marks set
	forth herein are trademarks and/or registered trademarks of Infor and/or
	related affiliates and subsidiaries.All rights reserved.All other trademarks
	listed herein are the property of their respective owners.www.infor.com.
	
	This schema defines MP business function request MP3089_ProcessEquipmentEvaluationEquipment_001
 ============================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3089_001" xmlns="http://schemas.datastream.net/MP_functions/MP3089_001" xmlns:dse-EquipmentEvaluationEquipment="http://schemas.datastream.net/MP_entities/EquipmentEvaluationEquipment_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EquipmentEvaluationEquipment_001" schemaLocation="EquipmentEvaluationEquipment_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Beginning of MP3089_ProcessEquipmentEvaluationEquipment_001===================-->
	<xs:element name="MP3089_ProcessEquipmentEvaluationEquipment_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-EquipmentEvaluationEquipment:EquipmentEvaluationEquipment"/>
				<xs:element ref="dsf:EVALUATIONACTION"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Process"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentEvaluationEquipment"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
