Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/MP3079_GetEquipmentActualConsumptionDefault_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright (c) 2007 Infor.All rights reserved.The word and design marks set
	forth herein are trademarks and/or registered trademarks of Infor and/or
	related affiliates and subsidiaries.All rights reserved.All other trademarks
	listed herein are the property of their respective owners.www.infor.com.
	
	This schema defines MP business function request MP3079_GetEquipmentActualConsumptionDefault_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP3079_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_results/MP3079_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--====Begining of MP3079_GetEquipmentActualConsumptionDefault_001_Result ======================================-->
	<xs:element name="MP3079_GetEquipmentActualConsumptionDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UTILITYBILLLEVEL"/>
				<xs:element ref="dsf:GASTRACKED"/>
				<xs:element ref="dsf:READINGDATE"/>
			</xs:sequence>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
