Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/MP3161_SyncEquipmentHospitalityRoom_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===============================================================================================
  Copyright (c) 2012 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
    
  This schema defines MP business function request MP3161_SyncEquipmentHospitalityRoom_001
====================================================================================================-->  
    <xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3161_001" 
           xmlns="http://schemas.datastream.net/MP_functions/MP3161_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"                  
           xmlns:dse-AssetEquipment="http://schemas.datastream.net/MP_entities/AssetEquipment_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_entities/AssetEquipment_001" schemaLocation="AssetEquipment_001.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
    <xs:element name="MP3161_SyncEquipmentHospitalityRoom_001">
        <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="dse-AssetEquipment:EquipmentCore"/>
                        <xs:element ref="dse-AssetEquipment:EquipmentHospitalityRoom"/>
                    </xs:sequence>
                    <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
                    <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentHospitalityRoom"/>
                    <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
