Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/MP3343_AddEquipmentSupplierServiceCode_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2015 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.
	
	This schema defines MP business function request MP3343_AddEquipmentSupplierServiceCode_001
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3343_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP3343_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ess-equipsupplierservicecode="http://schemas.datastream.net/MP_entities/EquipmentSupplierServiceCode_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EquipmentSupplierServiceCode_001" schemaLocation="EquipmentSupplierServiceCode_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Beginning of MP3343_AddEquipmentSupplierServiceCode_001 ======================================-->
	<xs:element name="MP3343_AddEquipmentSupplierServiceCode_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTSUPPLIERSERVICECODEID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ess-equipsupplierservicecode:EquipmentSupplierServiceCode" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentSupplierServiceCode"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="Add"/>
		</xs:complexType>
	</xs:element>
</xs:schema>