Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/MP3425_GetEquipmentSegment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2016 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines MP business function request MP3425_GetEquipmentSegment_001 
==========================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3425_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP3425_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP3425_GetEquipmentSegment_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SEGMENTID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentSegment"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="isSegmentParent" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>