Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/MP3410_SyncEquipmentRanking_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--	================================================================================
	Copyright(c)2016 Infor.	All	rights reserved. The word and design marks set forth herein	are	trademarks	
	and/or registered trademarks of	Infor and/or related affiliates	and	subsidiaries. All rights reserved.
	All	other trademarks listed	herein are the property	of their respective	owners.	www.infor.com.

	This schema defines MP business function result MP3410_SyncEquipmentRanking_001.
================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3410_001"
	xmlns:dse-EquipmentRanking="http://schemas.datastream.net/MP_entities/EquipmentRanking_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns="http://schemas.datastream.net/MP_functions/MP3410_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EquipmentRanking_001" schemaLocation="EquipmentRanking_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP3410_SyncEquipmentRanking_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-EquipmentRanking:EquipmentRanking"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentRanking"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_overwrite_defaultranking" type="dsf:CONFIRMATION_Type" default="prompt"/>
		</xs:complexType>
	</xs:element>
</xs:schema>