Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/MP5756_SyncEquipmentServiceCode_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =============================================================================================
    Copyright (c) 2015 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
    This schema defines MP business function request MP5756_SyncEquipmentServiceCode_001
==================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP5756_001"
        xmlns="http://schemas.datastream.net/MP_functions/MP5756_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        xmlns:dse-ESC="http://schemas.datastream.net/MP_entities/EquipmentServiceCode_001"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_entities/EquipmentServiceCode_001" schemaLocation="EquipmentServiceCode_001.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP5756_SyncEquipmentServiceCode_001">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dse-ESC:EquipmentServiceCode"/>
                </xs:sequence>
                <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
                <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentServiceCode"/>
                <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                <xs:attribute name="confirm_delete_referencerecord" type="dsf:CONFIRMATION_Type" default="prompt"/>
                <xs:attribute name="confirm_delete_childrecords" type="dsf:CONFIRMATION_Type" default="prompt"/>
            </xs:complexType>
        </xs:element>
</xs:schema>