Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/ReliabilityRankingValues_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2011 Infor.All rights reserved.The word and design marks set
    forth herein are trademarks and/or registered trademarks of Infor and/or
    related affiliates and subsidiaries.All rights reserved.All other trademarks
    listed herein are the property of their respective owners.www.infor.com.

    This schema defines MP entity ReliabilityRankingValues_001
 ================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ReliabilityRankingValues_001"
    xmlns="http://schemas.datastream.net/MP_entities/ReliabilityRanking_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===========================================================================-->
    <!-- =========== Beginning of ReliabilityRankingValues_001 =========== -->
    <xs:element name="ReliabilityRankingValues">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:RELIABILITYRANKINGVALUESID"/>
                <xs:element ref="dsf:EQUIPMENTCLASSID" minOccurs="0"/>
                <xs:element ref="dsf:CATEGORYCODE" minOccurs="0"/>
                <xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
                <xs:element ref="dsf:RELIABILITYRANKINGID"/>
                <xs:element ref="dsf:RELIABILITYRANKINGINDEXCODE" minOccurs="0"/>
                <xs:element ref="dsf:RELIABILITYRANKINGSCORE" minOccurs="0"/>
                <xs:element ref="dsf:OUTOFSYNC" minOccurs="0"/>
                <xs:element ref="dsf:INCLUDECHILDREN" minOccurs="0"/>
                <xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
                <xs:element ref="dsf:SETUPLASTUPDATEDDATE" minOccurs="0"/>
                <xs:element ref="dsf:SURVEYLASTUPDATEDDATE" minOccurs="0"/>
                <xs:element ref="dsf:VALUESLASTCALCULATEDDATE" minOccurs="0"/>
                <xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
                <xs:element ref="dsf:TYPE" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="recordid" type="xs:long"/>
            <xs:attribute name="ranking_has_calculatedquestions" type="dsf:FLAG_Type" default = "false"/>
        </xs:complexType>
    </xs:element>
</xs:schema>