Infor EAM APIs for Saas/Version 11.4.1/schemas/Asset/SetConsistEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
  Copyright (c) 2015 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP entity SetConsistEquipment_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/SetConsistEquipment_001"
    xmlns="http://schemas.datastream.net/MP_entities/SetConsistEquipment_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="SetConsistEquipment">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:SETCONSISTEQUIPMENTID"/>
                <xs:element ref="dsf:SETPOSITION" minOccurs="0"/>
                <xs:element ref="dsf:CONSISTPOSITION" minOccurs="0"/>
                <xs:element ref="dsf:SETID" minOccurs="0"/>
                <xs:element ref="dsf:DEPARTMENTCODE" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="recordid" type="xs:long"/>
            <xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
        </xs:complexType>
    </xs:element>
</xs:schema>