Infor EAM APIs for Saas/Version 11.4.1/Schemas/Asset/SetConsistEquipmentDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
  Copyright (c) 2015 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP entity SetConsistEquipmentDefault_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/SetConsistEquipmentDefault_001"
    xmlns="http://schemas.datastream.net/MP_entities/SetConsistEquipmentDefault_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="SetConsistEquipmentDefault">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:RTYPE" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="is_date_range_in_past" type="dsf:FLAG_Type"/>
            <xs:attribute name="is_set_referenced_on_consist" type="dsf:FLAG_Type"/>
        </xs:complexType>
    </xs:element>
</xs:schema>