Infor EAM APIs for On Premise/Version 11.4/Schemas/MSProject/MP5702_GetMPWorkOrderActivities_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP5702_GetMPWorkOrderActivities_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP5702_001" xmlns:dse-ScheduleSession="http://schemas.datastream.net/MP_entities/ScheduleSession_001" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP5702_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP5702_GetMPWorkOrderActivities_001 ======================================-->
	<xs:element name="MP5702_GetMPWorkOrderActivities_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WOActivitySelection"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MPWorkOrderActivities"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WOActivitySelection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SCHEDULESESSIONID"/>
				<xs:element ref="dsf:PROJECTID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:WORKORDERTYPE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:WOSTATUS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:PRIORITY" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:TRADEID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:STARTDATE" minOccurs="0"/>
				<xs:element ref="dsf:ENDDATE" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:EQUIPMENTCLASSID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:SUPERVISORID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:INCLUDECHILDEQUIP"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
