Infor EAM APIs for Saas/Version 11.4.1/Schemas/Administration/Alert_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2007 Infor. All rights reserved. 
    The word and design marks set forth herein are trademarks and/or registered trademarks 
    of Infor and/or related affiliates and subsidiaries. All rights reserved. All other 
    trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request Alert_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Alert_001" 
	xmlns="http://schemas.datastream.net/MP_entities/Alert_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">

	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!--===============================================================================-->
	<!--====  Begining of Alert_001 ======================================-->
	<xs:element name="Alert">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ALERTID"/>
				<xs:element ref="dsf:GRIDSETUPID"/>
				<xs:element ref="dsf:EWSDATASPYID" minOccurs="0"/>
				<xs:element ref="dsf:FREQUENCY"/>
				<xs:element ref="dsf:PERIODUOM"/>
				<xs:element ref="dsf:NEXTEVALUATIONDATE" minOccurs="0"/>
				<xs:element ref="dsf:USEMINMAXVALUES" minOccurs="0"/>	
				<xs:element ref="dsf:LOWVALUE" minOccurs="0"/>	
				<xs:element ref="dsf:HIGHVALUE" minOccurs="0"/>
				<xs:element ref="dsf:WITHINVALUES" minOccurs="0"/>
				<xs:element ref="dsf:VALUEFIELDID" minOccurs="0"/>
				<xs:element ref="dsf:ENTITYID" minOccurs="0"/>
				<xs:element ref="dsf:CODEFIELDID" minOccurs="0"/>
				<xs:element ref="dsf:ORGFIELDID" minOccurs="0"/>
				<xs:element ref="dsf:ACTIVEFLAG" minOccurs="0"/>
				<xs:element ref="dsf:ENABLEWOALERT" minOccurs="0"/>
				<xs:element ref="dsf:FROMCODE" minOccurs="0"/>
				<xs:element ref="dsf:ENABLEMAILALERT" minOccurs="0"/>
				<xs:element ref="dsf:ENABLEIONPULSE" minOccurs="0"/>
				<xs:element ref="dsf:ENABLEGENERATEWORKORDERS" minOccurs="0"/>
				<xs:element ref="UserDefinedFields" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM06" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM07" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM08" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM09" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM10" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>