Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/AlternateScreenFlow_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
    Copyright 2003, Datastream Systems, Inc. 
    50 Datastream Plaza, Greenville, SC 29605, USA. 
    All rights reserved. 

    This schema defines MP entity AlternateScreenFlow 
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/AlternateScreenFlow_001"
		xmlns:dsf="http://schemas.datastream.net/MP_fields" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns="http://schemas.datastream.net/MP_entities/AlternateScreenFlow_001" 
		elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!-- ==== Beginning of AlternateScreenFlow_001 ================ -->
	<xs:element name="AlternateScreenFlow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ALTERNATESCREENFLOWCODE"/>
				<xs:element ref="dsf:SCREENFLOWID"/>
				<xs:element ref="dsf:FROMSEQUENCE"/>
				<xs:element ref="dsf:THENSEQUENCE"/>
				<xs:element ref="dsf:ELSESEQUENCE"/>
				<xs:element ref="dsf:FROMSCREEN" minOccurs="0"/>
				<xs:element ref="dsf:THENSCREEN" minOccurs="0"/>
				<xs:element ref="dsf:ELSESCREEN" minOccurs="0"/>
				<xs:element ref="dsf:EWSDATASPYID" minOccurs="0"/>
				<xs:element ref="dsf:GRIDID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="isDefaultDataspy" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>	
</xs:schema>
