Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/ERecordSetup_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity ERecordSetup
 ============================================================================= -->

 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ERecordSetup_001" xmlns="http://schemas.datastream.net/MP_entities/ERecordSetup_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of ERecordSetup_001 ======================================-->
	<xs:element name="ERecordSetup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ERECSETUPID" minOccurs="0"/>
				<xs:element ref="dsf:SIGNATURE" minOccurs="0"/>
				<xs:element ref="dsf:RENTITYID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
