Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/HomeGroup_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity HomeGroup
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/HomeGroup_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/HomeGroup_001" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--=====================================================================-->
        <!--====  Beginning of HomeGroup_001 ======================================-->
        <xs:element name="HomeGroup">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dsf:HOMEGROUPID"/>
                    <xs:element ref="dsf:HOMESEQUENCE" minOccurs="0"/>
                    <xs:element name="AUTOREFRESH" type="dsf:FLAG_Type" minOccurs="0"/>
					<xs:element ref="dsf:INBOXTAB" minOccurs="0"/>
                </xs:sequence>
            <xs:attribute name="recordid" type="xs:long"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
