Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/MP0608_AddCostCode_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0608_AddCostCode_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0608_001" xmlns="http://schemas.datastream.net/MP_functions/MP0608_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-CostCode="http://schemas.datastream.net/MP_entities/CostCode_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/CostCode_001" schemaLocation="CostCode_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0608_AddCostCode_001 ======================================-->
	<xs:element name="MP0608_AddCostCode_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-CostCode:CostCode"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CostCode"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
