Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/MP0624_SyncOrganization_001_Result.xsd

<?xml version="1.0"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP6024_SyncOrganization_001_Result.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0624_001"
	xmlns="http://schemas.datastream.net/MP_results/MP0624_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:dse-Organization="http://schemas.datastream.net/MP_entities/Organization_001" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Organization_001" schemaLocation="Organization_001.xsd"/>
<!--===============================================================================-->
	<!--====  Begining of MP0624_SyncOrganization_001_Result ======================================-->
	<xs:element name="MP0624_SyncOrganization_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ORGANIZATIONID"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
