Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/MP5053_AddRegionActualTemperatures_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright (c) 2011 Infor. All rights reserved. The word and design marks set forth herein are trademarks and/or
	registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. All other
	trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines Add function request for RegionActualTemperatures
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP5053_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_functions/MP5053_001" 
	elementFormDefault="qualified">
	<!-- ============================== Imported namespaces ================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- =============== Begining of MP5053_AddRegionActualTemperatures_001 ================== -->
	<xs:element name="MP5053_AddRegionActualTemperatures_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RegionActualTemperatures"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="RegionActualTemperatures"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegionActualTemperatures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:REGIONID"/>
				<xs:element ref="dsf:FROMDATE"/>
				<xs:element ref="dsf:TODATE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
