Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/MP6003_SyncDocument_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP6003_SyncDocument_001

==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6003_001" 
           xmlns="http://schemas.datastream.net/MP_functions/MP6003_001" 
           xmlns:dse-document="http://schemas.datastream.net/MP_entities/Document_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified"> 
           <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
           <xs:import namespace="http://schemas.datastream.net/MP_entities/Document_001" schemaLocation="Document_001.xsd"/>
<!--====================  Begining of MP6003_SyncDocument_001 ====================-->
        <xs:element name="MP6003_SyncDocument_001">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dse-document:Document"/>
                        </xs:sequence>
                        <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
                        <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Document"/>
                        <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                        <xs:attribute name="recordid" type="xs:long"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
