Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/MP6063_GetHomeEntry_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP6063_GetHomeEntry_001_Result
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP6063_001"
	xmlns="http://schemas.datastream.net/MP_results/MP6063_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:os="http://www.openapplications.org/oagis_segments"
	xmlns:of="http://www.openapplications.org/oagis_fields"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:dse-csr="http://schemas.datastream.net/MP_entities/HomeEntry_001"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields"
		schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/HomeEntry_001"
		schemaLocation="HomeEntry_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Beginning of MP6063_GetHomeEntry_001_Result =========================-->
	<xs:element name="MP6063_GetHomeEntry_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
			<xs:attribute name="hasusergroup" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-csr:HomeEntry"/>
				<xs:element ref="dsf:QUERYTEXT" minOccurs="0"/>
				<xs:element ref="dsf:FUNCTIONDESCRIPTION" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
