Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/MP6065_SyncHomeEntry_001.xsd

<?xml version="1.0"?>
<!--
==========================================================================
	Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth herein are trademarks and/or 
	registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. All other 
	trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines MP business function request MP6065_SyncHomeEntry_001
===============================================================================
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6065_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP6065_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-csr="http://schemas.datastream.net/MP_entities/HomeEntry_001"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields"
		schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/HomeEntry_001"
		schemaLocation="HomeEntry_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP6065_SyncHomeEntry_001 ======================================-->
	<xs:element name="MP6065_SyncHomeEntry_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-csr:HomeEntry"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="HomeEntry"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="SyncHomeEntry"/>
			<xs:attribute name="confirm_uommismatch" type="dsf:CONFIRMATION_Type" default="prompt"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
