Infor EAM APIs for Saas/Version 11.4.1/Schemas/Administration/MP6068_AddKPIRange_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
    Copyright 2003, Datastream Systems, Inc. 
    50 Datastream Plaza, Greenville, SC 29605, USA. 
    All rights reserved. 

    This schema defines MP business function request MP6068_AddKPIRange_001
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6068_001" 
		xmlns:dsf="http://schemas.datastream.net/MP_fields" 
		xmlns:dse-SFL="http://schemas.datastream.net/MP_entities/KPIRange_001" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns="http://schemas.datastream.net/MP_functions/MP6068_001" 
		elementFormDefault="qualified">
	<!-- ============== Imported schemas ============= -->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/KPIRange_001" 
			schemaLocation="KPIRange_001.xsd" />
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd" />
	<!-- ============================================= -->
	<xs:element name="MP6068_AddKPIRange_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-SFL:KPIRange" />
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add" />
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="KPIRange" />
			<xs:attribute name="version" type="dsf:VERSION" fixed="001" />
		</xs:complexType>
	</xs:element>
</xs:schema>
