Infor EAM APIs for Saas/Version 11.4.1/Schemas/Administration/MP6198_GetUserInbox_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
    	50 Datastream Plaza, Greenville, SC 29605 USA.
   	All rights reserved.
	
    	This schema defines MP business function request MP6198_GetUserInbox_001
=====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6198_001" xmlns="http://schemas.datastream.net/MP_functions/MP6198_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP6198_GetUserInbox_001 ======================================-->
	<xs:element name="MP6198_GetUserInbox_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:USERID"/>
				<xs:element ref="InboxFilter" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="UserInbox"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="InboxFilter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:INBOXTAB" minOccurs="0"/>
				<xs:element ref="dsf:HOMEENTRYID" minOccurs="0" maxOccurs="unbounded"/> 
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>