Infor EAM APIs for Saas/Version 11.4.1/Schemas/Administration/MP6143_GetDepartmentToolDefault_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ==== This schema defines MP business function request MP6143_GetDepartmentToolDefault_001 ==== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6143_001" 
		xmlns:dsf="http://schemas.datastream.net/MP_fields" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns="http://schemas.datastream.net/MP_functions/MP6143_001" 
		elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!-- ====  Begining of MP6143_GetDepartmentToolDefault_001 ================ -->
	<xs:element name="MP6143_GetDepartmentToolDefault_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DEPARTMENTID"/>
				<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="DepartmentToolDefault"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>