Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/MP6230_SyncD7iBuySecurity_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP6230_SyncD7iBuySecurity_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6230_001"
        xmlns="http://schemas.datastream.net/MP_functions/MP6230_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        xmlns:dse-D7iBuySecurity="http://schemas.datastream.net/MP_entities/D7iBuySecurity_001"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_entities/D7iBuySecurity_001" schemaLocation="D7iBuySecurity_001.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP6230_SyncD7iBuySecurity_001">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dse-D7iBuySecurity:D7iBuySecurity"/>
                </xs:sequence>
                <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
                <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="D7iBuySecurity"/>
                <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
            </xs:complexType>
        </xs:element>
</xs:schema>