Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/MP6212_AddCustomFieldWithAssociation_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

	This schema defines MP business function request MP6212_AddCustomFieldWithAssociation_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6212_001" 
							xmlns:dsf="http://schemas.datastream.net/MP_fields" 
							xmlns:xs="http://www.w3.org/2001/XMLSchema"
							xmlns:dse-CustomFieldWithAssociation="http://schemas.datastream.net/MP_entities/CustomFieldWithAssociation_001" 
							xmlns="http://schemas.datastream.net/MP_functions/MP6212_001" 
							elementFormDefault="qualified">
	<!-- ============== Imported schemas ============= -->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/CustomFieldWithAssociation_001" schemaLocation="CustomFieldWithAssociation_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===================================================================================== -->
	<!--=============  Begining of MP6212_AddCustomFieldWithAssociation_001 =============================-->
	<xs:element name="MP6212_AddCustomFieldWithAssociation_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-CustomFieldWithAssociation:CustomFieldWithAssociation"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CustomFieldWithAssociation"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
