Infor EAM APIs for Saas/Version 11.4.1/Schemas/Administration/MP6302_AddAlertException_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright (c) 2007 Infor. All rights reserved. 
    The word and design marks set forth herein are trademarks and/or registered trademarks 
    of Infor and/or related affiliates and subsidiaries. All rights reserved. All other 
    trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request MP6302_AddAlertException_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6302_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP6302_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-AlertException="http://schemas.datastream.net/MP_entities/AlertException_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">

	<xs:import namespace="http://schemas.datastream.net/MP_entities/AlertException_001" schemaLocation="AlertException_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!--===============================================================================-->
	<!--====  Begining of MP6302_AddAlertException_001 ====================================-->
	<xs:element name="MP6302_AddAlertException_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-AlertException:AlertException"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="AlertException"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>