Infor EAM APIs for Saas/Version 11.4.1/Schemas/Administration/MP6315_SyncAlertSQL_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright (c) 2007 Infor. All rights reserved. 
    The word and design marks set forth herein are trademarks and/or registered trademarks 
    of Infor and/or related affiliates and subsidiaries. All rights reserved. All other 
    trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request MP6315_SyncAlertSQL_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6315_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP6315_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-AlertSQL="http://schemas.datastream.net/MP_entities/AlertSQL_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">

	<xs:import namespace="http://schemas.datastream.net/MP_entities/AlertSQL_001" schemaLocation="AlertSQL_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!--===============================================================================-->
	<!--====  Begining of MP6315_SyncAlertSQL_001 ===================================-->
	<xs:element name="MP6315_SyncAlertSQL_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-AlertSQL:AlertSQL"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="AlertSQL"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>