Infor EAM APIs for Saas/Version 11.4.1/Schemas/Administration/MP6480_DeleteAlertWOFieldMapping_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright (c) 2015 Infor. All rights reserved. 
    The word and design marks set forth herein are trademarks and/or registered trademarks 
    of Infor and/or related affiliates and subsidiaries. All rights reserved. All other 
    trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request MP6480_DeleteAlertWOFieldMapping_001
 ============================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6480_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" 
    xmlns="http://schemas.datastream.net/MP_functions/MP6480_001" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="MP6480_DeleteAlertWOFieldMapping_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:ALERTWOFIELDMAPPINGID"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="AlertWOFieldMapping"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
</xs:schema>