Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/MP6512_GetView_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2017 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners.
    www.infor.com.

    This schema defines MP business function request MP6512_GetView_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6512_001"
        xmlns="http://schemas.datastream.net/MP_functions/MP6512_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--====  Beginning of MP6512_GetView_001 ======================================-->
        <xs:element name="MP6512_GetView_001">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dsf:VIEWID"/>
                </xs:sequence>
                <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
                <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="View"/>
                <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
            </xs:complexType>
        </xs:element>
</xs:schema>
