Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/ReportTemplateResult_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity ReportTemplateResult_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ReportTemplateResult_001" xmlns="http://schemas.datastream.net/MP_entities/ReportTemplateResult_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="ReportTemplateResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TICKET" type="xs:string" minOccurs="0"/>
				<xs:element name="TOKEN" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
