Infor EAM APIs for Saas/Version 11.4.1/Schemas/Administration/ScannerMenuHierarchy_001.xsd

<?xml version="1.0"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Phani (Datastream Systems, Inc) -->
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

  This schema defines the hierarchial structure of menus for a given user group.
  =================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ScannerMenuHierarchy_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-sm="http://schemas.datastream.net/MP_entities/ScannerMenu_001" xmlns="http://schemas.datastream.net/MP_entities/ScannerMenuHierarchy_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ScannerMenu_001" schemaLocation="ScannerMenu_001.xsd"/>
	<!--===============================================================================-->
	<!--=========================  Begining of ScannerMenuHierarchy_001 =====================-->
	<xs:element name="ScannerMenuHierarchy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SystemMainMenu"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemMainMenu">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:MENUID"/>
				<xs:element ref="Menu" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Menu">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="MenuInfo">
					<xs:sequence>
						<xs:element ref="SubMenu" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="DCPrompt" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubMenu">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="MenuInfo">
					<xs:sequence>
						<xs:element ref="DCPrompt" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MenuInfo">
		<xs:sequence>
			<xs:element ref="dse-sm:ScannerMenu"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DCPrompt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-sm:ScannerMenu"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
