Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/UserDefinedScreenField_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
   Copyright (c) 2013 Infor. All rights reserved. The word and design marks set 
   forth herein are trademarks and/or registered trademarks of Infor and/or 
   related affiliates and subsidiaries. All rights reserved. All other 
   trademarks listed herein are the property of their respective owners. 
   www.infor.com.
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/UserDefinedScreenField_001" 
									xmlns="http://schemas.datastream.net/MP_entities/UserDefinedScreenField_001" 
									xmlns:xs="http://www.w3.org/2001/XMLSchema" 
									xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
									xmlns:dsf="http://schemas.datastream.net/MP_fields" 
									elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:element name="UserDefinedScreenField">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:USERDEFINEDSCREENFIELDID"/>
				<xs:element ref="dsf:SEQUENCENUMBER"/>
				<xs:element ref="dsf:FIELDLABEL"/>
				<xs:element ref="dsf:USERDEFINEDSCREENFIELDTYPE"/>
				<xs:element ref="dsf:USERDEFINEDSCREENFIELDPARENT" minOccurs="0"/>
				<xs:element ref="dsf:COMPUTEDDATA" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDSCREENFIELDLOOKUP" minOccurs="0"/>
				<xs:element ref="dsf:QUERYCODE" minOccurs="0"/>
				<xs:element ref="dsf:COMPUTEDFIELD" minOccurs="0"/>
				<xs:element ref="dsf:ISNULLABLE" minOccurs="0"/>
				<xs:element ref="dsf:ISPRIMARYKEY" minOccurs="0"/>
				<xs:element ref="dsf:ISGENERATED" minOccurs="0"/>
				<xs:element ref="dsf:UPPER" minOccurs="0"/>
				<xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
				<xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
				<xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
				<xs:element ref="dsf:UPDATEDBY" minOccurs="0"/>
				<xs:element ref="dsf:DROPDOWN" minOccurs="0"/>
				<xs:element ref="dsf:AUTOGENERATEDKEY" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="confirm_parentscreenkeyfield_nonprimarykey" type="dsf:CONFIRMATION_Type" default="prompt"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
