Infor EAM APIs for Saas/Version 11.4.1/schemas/Administration/WSPromptField_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright (c) 2008 Infor. All rights reserved. The word and design marks set forth
	herein are trademarks and/or registered trademarks of Infor and/or related affiliates
	and subsidiaries. All rights reserved. All other trademarks listed herein are the
	property of their respective owners. www.infor.com

	This schema defines MP entity - WSPromptField
======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WSPromptField_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/WSPromptField_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--======================  Begining of WSPromptField_001======= ===================-->
	<xs:element name="WSPromptField">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WSPROMPTFIELDID"/>
				<xs:element ref="dsf:WSPROMPTPROCESSGROUP" minOccurs="0"/>
				<xs:element ref="dsf:WEBSERVICENAME" minOccurs="0"/>
				<xs:element ref="dsf:WEBSERVICETITLE" minOccurs="0"/>
				<xs:element ref="dsf:FUNCTIONTABID" minOccurs="0"/>
				<xs:element ref="dsf:SCREENFIELDID" minOccurs="0"/>
				<xs:element ref="dsf:WSACTION" minOccurs="0"/>
				<xs:element ref="dsf:NEXTLINE"/>
				<xs:element ref="dsf:QUERYCODE" minOccurs="0"/>
				<xs:element ref="dsf:MOBILEQUERYCODE" minOccurs="0"/>
				<xs:element ref="WSPROMPTFIELDDETAIL"/>
				<xs:element ref="RETRIEVEDETAIL" minOccurs="0"/>
				<xs:element ref="DESTWSDETAIL" minOccurs="0"/>
				<xs:element ref="dsf:BRANCHCONDITIONDETAILS" minOccurs="0"/>
				<xs:element name="UPDATECOUNT" type="xs:long" minOccurs="0"/>
				<xs:element ref="dsf:KEYFIELD" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="hasRetrievedValue" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WSPROMPTFIELDDETAIL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FIELDLABEL"/>
				<xs:element ref="dsf:WSPROMPTFIELDTYPE"/>
				<xs:element ref="dsf:WSPROMPTFIELDDATATYPE" minOccurs="0"/>
				<xs:element ref="dsf:DISPLAYTYPE"/>
				<xs:element ref="dsf:MINIMUMSIZE" minOccurs="0"/>
				<xs:element ref="dsf:MAXIMUMSIZE" minOccurs="0"/>
				<xs:element ref="dsf:FIXEDDATA" minOccurs="0"/>
				<xs:element ref="dsf:COMPUTEDDATA" minOccurs="0"/>
				<xs:element ref="dsf:PATTERNMATCH" minOccurs="0"/>
				<xs:element ref="dsf:FIELDXPATH" minOccurs="0"/>
				<xs:element ref="dsf:UNMAPPEDFIELD" minOccurs="0"/>
				<xs:element ref="dsf:ISCONTROLORG" minOccurs="0"/>
				<xs:element ref="dsf:ISCLASS" minOccurs="0"/>
				<xs:element ref="dsf:ISCLASSORG" minOccurs="0"/>
				<xs:element ref="dsf:ISCATEGORY" minOccurs="0"/>
				<xs:element ref="dsf:SYSTEMFIELDTYPE" minOccurs="0"/>
				<xs:element ref="dsf:DUPLICATEPREVIOUSVALUE" minOccurs="0"/>
				<xs:element ref="dsf:NUMERICFIELD" minOccurs="0"/>
				<xs:element ref="dsf:ISPRIMARYKEY" minOccurs="0"/>
				<xs:element ref="dsf:UPPER" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RETRIEVEDETAIL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FROMGROUP"/>
				<xs:element ref="dsf:RETRIEVEFIELDID"/>
				<xs:element ref="dsf:RETRIEVEXPATH"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DESTWSDETAIL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DESTWEBSERVICE"/>
				<xs:element ref="dsf:DESTFIELDXPATH"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
