Infor EAM APIs for On Premise/Version 11.4/Schemas/IProcure/IPPOTransmitResponse_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Naeem (Datastream Systems, Inc) -->
<!-- ================================================================================
    Copyright 2006, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

     This schema defines MP entity IPPOTransmitResponse
     ============================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/IPPOTransmitResponse_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:ipf="http://schemas.datastream.net/IP_fields" xmlns="http://schemas.datastream.net/MP_entities/IPPOTransmitResponse_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/IP_fields" schemaLocation="../IP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- Beginning of IPPOTransmit Response -->
	<xs:element name="BLOCKACTSUBMITPO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BLOCKPO"/>
				<xs:element ref="BLOCKMESSAGE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BLOCKPO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ipf:ECOMCONTROLNUM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BLOCKMESSAGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ipf:MESSAGE"/>
				<xs:element ref="ipf:PORESULT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
