Infor EAM APIs for On Premise/Version 11.4/Schemas/IProcure/IPSingleItemResponse_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2006, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

     This schema defines MP entity IPSingelItemResponse
     ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/IPSingleItemResponse_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:ipf="http://schemas.datastream.net/IP_fields" xmlns="http://schemas.datastream.net/MP_entities/IPSingleItemResponse_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/IP_fields" schemaLocation="../IP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====  Begining of IPSingleItemResponse ======================================-->
	<xs:element name="BLOCKREMOTECONTROL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BLOCKBROWSER"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BLOCKBROWSER">
		<xs:complexType>
			<xs:sequence>
                          <xs:element ref="dsf:SESSION"/>
				<xs:element ref="ipf:URL"/>
				<xs:element ref="ipf:TITLE"/>				
				<xs:element ref="ipf:CANCELBUTTON"/>
				<xs:element ref="ipf:ACTIONTYPE"/>
				<xs:element ref="BLOCKBUTTON"/>
				<xs:element ref="ipf:RESPONDTOBROKER"/>					
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
	<xs:element name="BLOCKBUTTON">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="ipf:BUTTON"/>
					<xs:element ref="ipf:BUTTONID"/>
				</xs:sequence>
			</xs:complexType>
	</xs:element>
</xs:schema>
