Infor EAM APIs for On Premise/Version 11.5/schemas/Work/ActivityTool_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP entity ActivityTool 
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Activitytool_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_entities/Activitytool_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of ActivityTool_001 ======= -->
	<xs:element name="ActivityTool">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ACTIVITYTOOLID"/>
				<xs:element ref="dsf:TOOLQUANTITY"/>
				<xs:element ref="dsf:TOOLHOURS"/>
				<xs:element ref="dsf:MSPROJECT" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>