Infor EAM APIs for On Premise/Version 11.5/schemas/Work/EmployeeRate_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
    Copyright 2003, Datastream Systems, Inc. 
    50 Datastream Plaza, Greenville, SC 29605, USA. 
    All rights reserved. 

    This schema defines MP entity EmployeeRate 
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EmployeeRate_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/EmployeeRate_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of EmployeeRate_001 ======= -->
	<xs:element name="EmployeeRate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EMPLOYEERATEID"/>
				<xs:element ref="dsf:EMPLOYEERATEENDDATE"/>
				<xs:element ref="dsf:EMPLOYEEHOURLYRATE"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
