Infor EAM APIs for On Premise/Version 11.5/schemas/Work/FleetTicketExceptionDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP default entity for Exception for Fleet Vehicle Ticket
================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/FleetTicketExceptionDefault_001"
	xmlns="http://schemas.datastream.net/MP_entities/FleetTicketExceptionDefault_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ====================================================================================== -->
	<!-- ======= Beginning of FleetTicketExceptionDefault_001 ======= -->
	<xs:element name="FleetTicketExceptionDefault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="dsf:CURRENTDATETIME" minOccurs="0"/>
				<xs:element ref="VehicleDetails" minOccurs="0"/>
				<xs:element ref="TicketStatus" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VehicleDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:VEHICLEID"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:STATUS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TicketStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:STATUS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
