Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP0026_GetWorkOrderDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP business function result MP0026_GetWorkOrderDefault_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0026_001" xmlns="http://schemas.datastream.net/MP_results/MP0026_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-wo="http://schemas.datastream.net/MP_entities/WorkOrder_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/WorkOrder_001" schemaLocation="WorkOrder_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0026_GetWorkOrderDefault_001_Result ======================================-->
	<xs:element name="MP0026_GetWorkOrderDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JOBNUM"/>
				<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
				<xs:element ref="dsf:STATUS" minOccurs="0"/>
				<xs:element ref="dsf:TYPE" minOccurs="0"/>
				<xs:element ref="dsf:ENTEREDBY"/>
				<xs:element ref="dsf:REQUESTEDBY" minOccurs="0"/>
				<xs:element ref="dsf:SHIFTCODE" minOccurs="0"/>
				<xs:element ref="dsf:REPORTED"/>
				<xs:element ref="dsf:TARGETDATE"/>
				<xs:element ref="dsf:SCHEDEND"/>
				<xs:element ref="dsf:WORKDAY" minOccurs="0"/>
				<xs:element ref="dsf:PERTYPE" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYCODE" minOccurs="0"/>
				<xs:element name="GROUP" type="dsf:CODE12_Type" minOccurs="0"/>
				<xs:element ref="dsf:CCTRSPCVALIDATION" minOccurs="0"/>
				<xs:element ref="dsf:WOTYPECATEGORYID" minOccurs="0"/>
				<xs:element ref="dse-wo:ComplianceDetail" minOccurs="0"/>
				<xs:element ref="dse-wo:IncidentTracking" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JOBNUM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
