Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP0036_GetActivityDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP0036_GetActivitiesDefault_001_Result  
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0036_001"
           xmlns="http://schemas.datastream.net/MP_results/MP0036_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-act="http://schemas.datastream.net/MP_entities/ActivityDefault_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ActivityDefault_001" schemaLocation="ActivityDefault_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0036_GetActivityDefault_001_Result ======================================-->
	<xs:element name="MP0036_GetActivityDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dse-act:ActivityDefault"/>
							<xs:element ref="dsf:WORKORDEREXT"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="multiorg"       type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="can_create_req" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="has_deferred_activities" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
