Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP0043_GetMeterReadingDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0043_GetMeterReadingDefault_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0043_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP0043_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0043_GetMeterReadingDefault_001 ======================================-->
	<xs:element name="MP0043_GetMeterReadingDefault_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID" minOccurs="0"/>
				<xs:element ref="TargetEquipmentUOM" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MeterReadingDefault"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="GetMeterReadingDefault"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TargetEquipmentUOM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:USAGEUOMID"/>
				<xs:element ref="dsf:TARGETEQUIPMENTID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
