Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP0076_ImportPartsList_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request    
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0076_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP0076_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP0076_ImportPartsList_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FROM"/>
				<xs:element ref="TO"/>
				<xs:element ref="WorkOrderParts" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FROM">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FROMTYPE" type="dsf:CODE30_Type"/>
				<xs:element name="FROMCODE" type="dsf:CODE30_Type"/>
				<xs:element name="FROMCODEORG" type="dsf:ORGANIZATIONID_Type" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ACTIVITYID"/>
				<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkOrderParts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PARTID" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>