Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP0505_GetServiceRequest_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP0505_GetServiceRequest_001_Result    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0505_001" xmlns="http://schemas.datastream.net/MP_results/MP0505_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-srq="http://schemas.datastream.net/MP_entities/ServiceRequest_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ServiceRequest_001" schemaLocation="ServiceRequest_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0505_GetServiceRequest_001_Result ======================================-->
	<xs:element name="MP0505_GetServiceRequest_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
			<xs:attribute name="can_reopen" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-srq:ServiceRequest"/>
				<xs:element name="CUSTOMERTYPEDESCRIPTION" type="xs:string" minOccurs="0"/>
				<xs:element name="ACTUALOPENTIME" type="xs:long" minOccurs="0"/>
				<xs:element name="ACTUALRESPONSETIME" type="xs:long" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
