Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7092_AddStandardWorkOrderActivity_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP7092_AddStandardWorkOrderActivity_001   
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7092_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP7092_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-swa="http://schemas.datastream.net/MP_entities/StandardWorkOrderActivity_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/StandardWorkOrderActivity_001" schemaLocation="StandardWorkOrderActivity_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP7092_AddStandardWorkOrderActivity_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-swa:StandardWorkOrderActivity"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="StandardWorkOrderActivity"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="AddStandardWorkOrderActivity"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
