Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7072_GetTradeRates_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function result MP7072_GetTradeRates_001_Result    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7072_001" 
	xmlns:dse-TradeRates="http://schemas.datastream.net/MP_entities/TradeRates_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_results/MP7072_001" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/TradeRates_001" schemaLocation="TradeRates_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7072_GetTradeRates_001_Result ======================================-->
	<xs:element name="MP7072_GetTradeRates_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
    <xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-TradeRates:TradeRates"/>
				<xs:element ref="dsf:CURRENCYID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
