Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7091_GetStandardWorkOrderActivity_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP7091_GetStandardWorkOrderActivity_001_Result   
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7091_001"
           xmlns="http://schemas.datastream.net/MP_results/MP7091_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-swa="http://schemas.datastream.net/MP_entities/StandardWorkOrderActivity_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/StandardWorkOrderActivity_001" schemaLocation="StandardWorkOrderActivity_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP7091_GetStandardWorkOrderActivity_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dse-swa:StandardWorkOrderActivity"/>
							<xs:element ref="TASKINFO" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TASKINFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TASKHOURS"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>