Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7115_SyncActivityTool_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
        Copyright 2003, Datastream Systems, Inc. 
        50 Datastream Plaza, Greenville, SC 29605, USA. 
        All rights reserved. 

        This schema defines MP business function request MP7115_SyncActivityTool_001
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7115_001" 
        xmlns="http://schemas.datastream.net/MP_functions/MP7115_001" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dse-ActivityTool="http://schemas.datastream.net/MP_entities/Activitytool_001" 
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_entities/Activitytool_001" schemaLocation="ActivityTool_001.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <!--====  Begining of MP7115_SyncActivityTool_001 ======================================-->
        <xs:element name="MP7115_SyncActivityTool_001">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dse-ActivityTool:ActivityTool"/>
                                <xs:element ref="dsf:ACTIVITYTOOLID"/>
                        </xs:sequence>
                        <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
                        <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ActivityTool"/>
                        <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                        <xs:attribute name="confirm_activityrangeexceed_allowed" type="dsf:CONFIRMATION_Type" default="not_needed"/>
                        <xs:attribute name="productiondaterangeconfirmation" type="dsf:CONFIRMATION_Type" default="prompt"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
