Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7162_GetLaborAvailability_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
    	50 Datastream Plaza, Greenville, SC 29605, USA.
   	All rights reserved.
	
    This schema defines MP business function result for function request MP7162_GetLaborAvailability_001_Result
======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7162_001" 
	   xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	   xmlns="http://schemas.datastream.net/MP_results/MP7162_001" elementFormDefault="qualified">
	  <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7162_GetLaborAvailability_001_Result ======================================-->
	<xs:element name="MP7162_GetLaborAvailability_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FROMDATE"/>
				<xs:element ref="dsf:TODATE"/>
				<xs:element ref="LaborAvailabilityList" minOccurs="1" maxOccurs="500"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LaborAvailabilityList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:AVAILABILITYDATE"/>
				<xs:element ref="dsf:USEDPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:HOURSREMAINING" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>