Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7160_SyncQuickSchedule_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.
    This schema defines MP business function result MP70MP7160_SyncQuickSchedule_001_Result
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7160_001" xmlns="http://schemas.datastream.net/MP_results/MP7160_001" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:dsf="http://schemas.datastream.net/MP_fields"  elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields"  schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7160_SyncQuickSchedule_001_Result ======================================-->
	<xs:element name="MP7160_SyncQuickSchedule_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:ACTIVITYID"/>
						        <xs:element ref="dsf:WOSCHEDULECODE"/>							
						</xs:sequence>
						<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
						<xs:attribute name="recordid" type="xs:long"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>			
		</xs:complexType>
	</xs:element>
</xs:schema>



