Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7120_SyncAdditionalCharge_001.xsd

<?xml version="1.0"?>
<!--
==========================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request
    MP7120_SyncAdditionalCharge_001
===============================================================================
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7120_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP7120_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-adc="http://schemas.datastream.net/MP_entities/AdditionalCharge_001"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields"
		schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/AdditionalCharge_001"
		schemaLocation="AdditionalCharge_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7120_SyncAdditionalCharge_001 ======================================-->
	<xs:element name="MP7120_SyncAdditionalCharge_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-adc:AdditionalCharge"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="AdditionalCharge"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="SyncAdditionalCharge"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
