Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7151_CalculateAvailability_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Chintamani P.Dhotre (ABC) -->
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP7151_CalculateAvailability_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7151_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7151_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-CalculateAvailability="http://schemas.datastream.net/MP_entities/CalculateAvailability_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/CalculateAvailability_001" schemaLocation="CalculateAvailability_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====================================================================================-->
	<!--================Begining of MP7151_CalculateAvailability_001=====================-->
	<xs:element name="MP7151_CalculateAvailability_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-CalculateAvailability:CalculateAvailability"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Generate"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CalculateAvailability"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
