Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7251_GetPMScheduleToolDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =============================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	This schema defines MP business function request MP7251_GetPMScheduleToolDefault_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7251_001" 
		xmlns="http://schemas.datastream.net/MP_functions/MP7251_001" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7251_GetPMScheduleToolDefault_001 ==============================-->
	<xs:element name="MP7251_GetPMScheduleToolDefault_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PPMID"/>
				<xs:element ref="dsf:ACTIVITYCODE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PMScheduleToolDefault"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
