Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7382_GetFleetBillAdjustment_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function result for function request MP7382_GetFleetBillAdjustment_001_Result
	================================================================================ -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7382_001"
	xmlns="http://schemas.datastream.net/MP_results/MP7382_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-FleetBillAdjustment="http://schemas.datastream.net/MP_entities/FleetBillAdjustment_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<!-- ============= Imported namespaces ============= -->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/FleetBillAdjustment_001" schemaLocation="FleetBillAdjustment_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ============================================= -->
	<!--============  Begining of MP7382_GetFleetBillAdjustment_001_Result ====================-->
	<xs:element name="MP7382_GetFleetBillAdjustment_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-FleetBillAdjustment:FleetBillAdjustment"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="VehicleDetails"/>
				<xs:element ref="FleetBillDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VehicleDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:VEHICLEID"/>
				<xs:element ref="dsf:ISSUEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:RETURNEDDATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FleetBillDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:COSTCODEID" minOccurs="0"/>
				<xs:element ref="dsf:MILEAGEBILLED" minOccurs="0"/>
				<xs:element ref="dsf:MILEAGECOST" minOccurs="0"/>
				<xs:element ref="BillingDetails" minOccurs="0"/>
				<xs:element ref="dsf:EXCEPTIONCOST" minOccurs="0"/>
				<xs:element ref="dsf:PERIODENDDATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BillingDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="PoolLoanerBillingDetails"/>
					<xs:element ref="AssignmentBillingDetails"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PoolLoanerBillingDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:HOURSBILLED" minOccurs="0"/>
				<xs:element ref="dsf:HOURSCOST" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssignmentBillingDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PERIODBILLED" minOccurs="0"/>
				<xs:element ref="dsf:PERIODCOST" minOccurs="0"/>
				<xs:element ref="dsf:FUELCOST" minOccurs="0"/>
				<xs:element ref="dsf:INSURANCEBILLED" minOccurs="0"/>
				<xs:element ref="dsf:INSURANCECOST" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>