Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7582_CopyPMPlan_001.xsd

<?xml version="1.0"?>
<!--================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP7582_CopyPMPlan_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7582_001"
    xmlns="http://schemas.datastream.net/MP_functions/MP7582_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <!--====  Begining of MP7582_CopyPMPlan_001 ======================================-->
    <xs:element name="MP7582_CopyPMPlan_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CopyPMPlanDetails"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Copy"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PMPlan"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CopyPMPlanDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="NEWPMPLANID"/>
                <xs:element ref="OLDPMPLANID"/>
                <xs:element ref="dsf:COPYPMSCHEDULES"/>
                <xs:element ref="dsf:COPYACTIVITIES"/>
                <xs:element ref="dsf:COPYCUSTOMFIELDS"/>
                <xs:element ref="dsf:COPYCOMMENTS"/>
                <xs:element ref="dsf:COPYDOCUMENTS"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NEWPMPLANID">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:PMPLANID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OLDPMPLANID">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:PMPLANID"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>