Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7781_AddBookPOVendorLabors_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2011 Infor.All rights reserved.The word and design marks set
	forth herein are trademarks and/or registered trademarks of Infor and/or
	related affiliates and subsidiaries.All rights reserved.All other trademarks
	listed herein are the property of their respective owners.www.infor.com.

    This schema defines MP business function request MP7781_AddBookPOVendorLabors_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7781_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-BookPOVendorLabors="http://schemas.datastream.net/MP_entities/BookPOVendorLabors_001" 
	xmlns:of="http://www.openapplications.org/oagis_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7781_001" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_entities/BookPOVendorLabors_001" schemaLocation="BookPOVendorLabors_001.xsd"/>
    <xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <!--====  Begining of MP7781_AddBookPOVendorLabors_001 ======================================-->
    <xs:element name="MP7781_AddBookPOVendorLabors_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dse-BookPOVendorLabors:BookPOVendorLabors"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="BookPOVendorLabors"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
</xs:schema>