Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7712_GetProductionRequest_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2008 Infor. All rights reserved. The word and design marks set forth
    herein are trademarks and/or registered trademarks of Infor and/or related affiliates
    and subsidiaries. All rights reserved. All other trademarks listed herein are the
    property of their respective owners. www.infor.com

    This schema defines MP business function result MP7712_GetProductionRequest_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7712_001"
    xmlns="http://schemas.datastream.net/MP_results/MP7712_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    xmlns:dse-ProductionRequest="http://schemas.datastream.net/MP_entities/ProductionRequest_001"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_entities/ProductionRequest_001" schemaLocation="ProductionRequest_001.xsd"/>
    <!--===============================================================================-->
    <!--====  Begining of MP7712_GetProductionRequest_001_Result ======================================-->
    <xs:element name="MP7712_GetProductionRequest_001_Result">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ResultData"/>
            </xs:sequence>
			<xs:attribute name="bundle" type="dsf:FLAG_Type" default="false"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResultData">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dse-ProductionRequest:ProductionRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
