Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7766_CopyMaintenancePattern_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
* Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth herein are trademarks and/or
* registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. All other trademarks
* listed herein are the property of their respective owners. www.infor.com.
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7766_001" xmlns="http://schemas.datastream.net/MP_functions/MP7766_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7766_CopyMaintenancePattern_001 ======================================-->
	<xs:element name="MP7766_CopyMaintenancePattern_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CopyMaintenancePatternDetails"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Copy"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MaintenancePattern"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CopyMaintenancePatternDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:MAINTENANCEPATTERNID"/>
				<xs:element ref="dsf:NEWMAINTENANCEPATTERNID"/>
				<xs:element ref="dsf:COPYCUSTOMFIELDS" minOccurs="0"/>
				<xs:element ref="dsf:COPYUSERDEFINEDFIELDS" minOccurs="0"/>
				<xs:element ref="dsf:COPYMAINTENANCEPATTERNSEQUENCES" minOccurs="0"/>
				<xs:element ref="dsf:COPYMAINTENANCEPATTERNEQUIPMENT" minOccurs="0"/>
				<xs:element ref="dsf:COPYCOMMENTS" minOccurs="0"/>
				<xs:element ref="dsf:COPYDOCUMENTS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
