Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7767_ActivateMaintenancePatternEquipment_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
* Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth herein are trademarks and/or
* registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. All other trademarks
* listed herein are the property of their respective owners. www.infor.com.
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7767_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-mp="http://schemas.datastream.net/MP_entities/MaintenancePatternEquipmentElement_001" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/MaintenancePatternEquipmentElement_001" schemaLocation="MaintenancePatternEquipmentElement_001.xsd"/>
	<!--====  Begining of MP7767_ActivateMaintenancePatternEquipment_001 ======================================-->
	<xs:element name="MP7767_ActivateMaintenancePatternEquipment_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-mp:MaintenancePatternEquipmentElement"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Activate"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MaintenancePatternEquipment"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
