Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7878_GetCustomerContractAdjustment_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==============================================================================================
   Copyright (c) 2012 Infor. All rights reserved.
   The word and design marks set forth herein are trademarks and/or registered
   trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
   All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP business function request MP_GetCustomerContractAdjustment_001_Result
===================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7878_001"
		xmlns="http://schemas.datastream.net/MP_results/MP7878_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:dse-CustomerContractAdjustment="http://schemas.datastream.net/MP_entities/CustomerContractAdjustment_001"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_entities/CustomerContractAdjustment_001" schemaLocation="CustomerContractAdjustment_001.xsd"/>
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
		<!--===============================================================================-->
		<xs:element name="MP7878_GetCustomerContractAdjustment_001_Result">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="ResultData"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="ResultData">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="dse-CustomerContractAdjustment:CustomerContractAdjustment"/>
					<xs:element ref="dsf:EQUIPMENTTYPE" minOccurs="0"/>					
					<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
					<xs:element ref="dsf:CURRENCYCODE" minOccurs="0"/>
					<xs:element ref="dsf:INVOICECURRENCY" minOccurs="0"/>
					<xs:element ref="dsf:RSTATUS"/>					
				</xs:sequence>
				<xs:attribute name="has_department_security" type="dsf:FLAG_Type" default="false"/>
			</xs:complexType>
		</xs:element>
</xs:schema>