Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7911_GetWorkOrderHospitality_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2012 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. 
	www.infor.com.
	
	This schema defines MP business function request MP7911_GetWorkOrderHospitality_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7911_001" 
			xmlns:dsf="http://schemas.datastream.net/MP_fields" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns="http://schemas.datastream.net/MP_functions/MP7911_001" 
			elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7911_GetWorkOrderHospitality_001 ======================================-->
	<xs:element name="MP7911_GetWorkOrderHospitality_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID"/>
			</xs:sequence>
			<xs:attribute name="first_activity_only" type="xs:boolean" default="true"/>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderHospitality"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
