Infor EAM APIs for On Premise/Version 11.5/schemas/Work/MP7909_SyncWorkOrderHospitality_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2012 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. 
	www.infor.com.
	
    This schema defines MP business function request MP7909_SyncWorkOrderHospitality_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7909_001" 
			xmlns="http://schemas.datastream.net/MP_functions/MP7909_001" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:dsf="http://schemas.datastream.net/MP_fields" 
			xmlns:dse-wo="http://schemas.datastream.net/MP_entities/WorkOrder_001" 
			elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/WorkOrder_001" schemaLocation="WorkOrder_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7909_SyncWorkOrderHospitality_001 ======================================-->
	<xs:element name="MP7909_SyncWorkOrderHospitality_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-wo:WorkOrderCore"/>
						<xs:element ref="dse-wo:WorkOrderHospitality" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="deleteActivities" type="dsf:FLAG_Type"/>
					<xs:attribute name="confirmadddeletechecklist" type="dsf:CONFIRMATION_Type" default="prompt"/>
                    <xs:attribute name="confirmincompletechecklist" type="dsf:CONFIRMATION_Type" default="prompt"/>
                    <xs:attribute name="confirmworkorderhasfollowupchecklist" type="dsf:CONFIRMATION_Type" default="prompt"/>
                    <xs:attribute name="confirmrouteequipmentchecklist" type="dsf:CONFIRMATION_Type" default="prompt"/>
                    <xs:attribute name="confirmequipmentchecklist" type="dsf:CONFIRMATION_Type" default="prompt"/>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderHospitality"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
