Infor EAM APIs for On Premise/Version 11.5/schemas/Work/TaskQualification_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2004, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity TaskQualification  
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/TaskQualification_001" 
           xmlns="http://schemas.datastream.net/MP_entities/TaskQualification_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
<!--====  Begining of TaskQualification_001 ======================================-->
  <xs:element name="TaskQualification">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dsf:TASKQUALIFICATIONID"/>
      </xs:sequence>
	<xs:attribute name="recordid" type="xs:long"/>
	<xs:attribute name="ispreplanned" type="dsf:FLAG_Type" default="false"/>
    </xs:complexType>
  </xs:element>	
</xs:schema>
