Infor EAM APIs for On Premise/Version 11.5/schemas/Work/WorkSafetyDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--===================================================================
	Copyright (c) 2013 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines MP entity WorkSafetyDefault
===================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkSafetyDefault_001"
		xmlns="http://schemas.datastream.net/MP_entities/WorkSafetyDefault_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
		<!--===============================================================================-->
		<xs:element name="WorkSafetyDefault">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="dsf:DELETEPENDING"/>
					<xs:element ref="dsf:ENTITY"/>
					<xs:element ref="dsf:RBSIGNATURETYPE" minOccurs="0"/>
					<xs:element ref="SafetyReviewDetail" minOccurs="0"/>
					<xs:element ref="dsf:RSTATUS" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="work_status_can_update" type="dsf:FLAG_Type" default="false"/>
				<xs:attribute name="has_department_security" type="dsf:FLAG_Type" default="false"/>
				<xs:attribute name="jtauth_can_update" type="dsf:FLAG_Type" default="true"/>
				<xs:attribute name="is_mec_workorder" type="dsf:FLAG_Type" default="false"/>
				<xs:attribute name="wo_has_multiequip" type="dsf:FLAG_Type" default="false"/>
			</xs:complexType>
		</xs:element>
		<xs:element name="SafetyReviewDetail">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="dsf:REVIEWEDBYESIGN" minOccurs="0"/>
					<xs:element ref="dsf:DATEREVIEWED" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
</xs:schema>