Infor EAM APIs for On Premise/Version 11.5/schemas/Work/WorkOrderPlanLaborDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
  Copyright (c) 2014 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP entity WorkOrderPlanLaborDefault_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkOrderPlanLaborDefault_001"
    xmlns="http://schemas.datastream.net/MP_entities/WorkOrderPlanLaborDefault_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="WorkOrderPlanLaborDefault">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:ACTIVITYID" minOccurs="0"/>
                <xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
                <xs:element ref="dsf:PERSONS" minOccurs="0"/>
                <xs:element ref="dsf:HIREDLABOR" minOccurs="0"/>
                <xs:element ref="dsf:LABORTYPE" minOccurs="0"/>
                <xs:element ref="dsf:SUPPLIERID" minOccurs="0"/>
                <xs:element ref="dsf:WORKORDEREXT" minOccurs="0"/>
                <xs:element ref="dsf:PLANNINGLEVEL" minOccurs="0"/>
                <xs:element ref="dsf:DURATION" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="number_of_jobs" type="xs:nonNegativeInteger" default="0"/>
            <xs:attribute name="can_create_req" type="dsf:FLAG_Type" default="false"/>
            <xs:attribute name="has_deferred_activities" type="dsf:FLAG_Type" default="false"/>
        </xs:complexType>
    </xs:element>
</xs:schema>