Infor EAM APIs for Saas/Version 11.4.1/schemas/Grid/MP0819_GetPromptGridDataCache_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0819_GetPromptGridDataCache_001_Result    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0819_GetPromptGridDataCache_001_Result" xmlns="http://schemas.datastream.net/MP_functions/MP0819_GetPromptGridDataCache_001_Result" xmlns:dsg="http://schemas.datastream.net/MP_functions/GridResult" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_functions/GridResult" schemaLocation="GridResult.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0819_GetPromptGridDataCache_001_Result ======================================-->
	<xs:element name="MP0819_GetPromptGridDataCache_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GRIDRESULT">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="GRID"/>
						</xs:sequence>
						<xs:attribute name="TYPE" type="FUNCTION_REQUEST_TYPE"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GRID">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsg:METADATA"/>
				<xs:element ref="dsg:DATA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="FUNCTION_REQUEST_TYPE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LOVSQL.DATA_ONLY.CACHE"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
