Infor EAM APIs for Saas/Version 11.4.1/Schemas/Grid/MP0817_GetReturnPromptValues_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0817_GetReturnPromptValues_001_Result    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0817_GetReturnPromptValues_001_Result" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsg="http://schemas.datastream.net/MP_functions/GridResult" xmlns="http://schemas.datastream.net/MP_functions/MP0817_GetReturnPromptValues_001_Result" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_functions/GridResult" schemaLocation="GridResult.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0817_GetReturnPromptValues_001_Result ======================================-->
	<xs:element name="MP0817_GetReturnPromptValues_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GRIDRESULT">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="GRID"/>
						</xs:sequence>
						<xs:attribute name="TYPE" type="FUNCTION_REQUEST_TYPE"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GRID">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsg:METADATA" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsg:DATA" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="FUNCTION_REQUEST_TYPE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RETPROM.DATA_ONLY.STORED"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
