Infor EAM APIs for On Premise/Version 11.5/schemas/Inspection/MP1070_ApproveInspectionResult_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function result for function request MP1070_ApproveInspectionResult_001_Result
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP1070_001" 
	xmlns="http://schemas.datastream.net/MP_results/MP1070_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces =========== -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--======================================================================================-->
	<!--====  Begining of MP1070_ApproveInspectionResult_001_Result ==========================-->
	<xs:element name="MP1070_ApproveInspectionResult_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID"/>
				<xs:element ref="ResultantWorkOrders"/>
			</xs:sequence>
			<xs:attribute name="noofinspectionsapproved" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultantWorkOrders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:JOBNUM" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>