Infor EAM APIs for On Premise/Version 11.4/Wsdl/Material/MP0206_GetIssueReturnPartInfo_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP0206_GetIssueReturnPartInfo_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP0206_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP0206_GetIssueReturnPartInfo_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP0206_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP0206_001" schemaLocation="../../schemas/Material/MP0206_GetIssueReturnPartInfo_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP0206_001" schemaLocation="../../schemas/Material/MP0206_GetIssueReturnPartInfo_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="GetIssueReturnPartInfoRequestMsg">
    <part name="GetIssueReturnPartInfoRequestMsg" element="rqst0:MP0206_GetIssueReturnPartInfo_001"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="GetIssueReturnPartInfoResponseMsg">
    <part name="GetIssueReturnPartInfoResponseMsg" element="resp0:MP0206_GetIssueReturnPartInfo_001_Result"/>
  </message>
  <portType name="GetIssueReturnPartInfoPT">
    <operation name="GetIssueReturnPartInfoOp">
      <input name="GetIssueReturnPartInfoRequestMsg" message="tns:GetIssueReturnPartInfoRequestMsg"/>
      <output name="GetIssueReturnPartInfoResponseMsg" message="tns:GetIssueReturnPartInfoResponseMsg"/>
    </operation>
  </portType>
  <binding name="GetIssueReturnPartInfoSoapBinding" type="tns:GetIssueReturnPartInfoPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetIssueReturnPartInfoOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="GetIssueReturnPartInfoRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetIssueReturnPartInfoRequestMsg" use="literal"/>
      </input>
      <output name="GetIssueReturnPartInfoResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetIssueReturnPartInfoResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GetIssueReturnPartInfoService">
    <port name="GetIssueReturnPartInfoSoapBinding" binding="tns:GetIssueReturnPartInfoSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
