Infor EAM APIs for On Premise/Version 11.4/wsdl/Material/MP0286_Bin2BinTransfer_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP0286_Bin2BinTransfer_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP0286_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP0286_Bin2BinTransfer_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP0286_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP0286_001" schemaLocation="../../schemas/Material/MP0286_Bin2BinTransfer_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP0286_001" schemaLocation="../../schemas/Material/MP0286_Bin2BinTransfer_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="Bin2BinTransferRequestMsg">
    <part name="Bin2BinTransferRequestMsg" element="rqst0:MP0286_Bin2BinTransfer_001"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="Bin2BinTransferResponseMsg">
    <part name="Bin2BinTransferResponseMsg" element="resp0:MP0286_Bin2BinTransfer_001_Result"/>
  </message>
  <portType name="Bin2BinTransferPT">
    <operation name="Bin2BinTransferOp">
      <input name="Bin2BinTransferRequestMsg" message="tns:Bin2BinTransferRequestMsg"/>
      <output name="Bin2BinTransferResponseMsg" message="tns:Bin2BinTransferResponseMsg"/>
    </operation>
  </portType>
  <binding name="Bin2BinTransferSoapBinding" type="tns:Bin2BinTransferPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Bin2BinTransferOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="Bin2BinTransferRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="Bin2BinTransferRequestMsg" use="literal"/>
      </input>
      <output name="Bin2BinTransferResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="Bin2BinTransferResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Bin2BinTransferService">
    <port name="Bin2BinTransferSoapBinding" binding="tns:Bin2BinTransferSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
