Infor EAM APIs for On Premise/Version 11.4/Wsdl/Material/MP1287_Store2StoreTransfer_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP1287_Store2StoreTransfer_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP1287_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP1287_Store2StoreTransfer_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP1287_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP1287_001" schemaLocation="../../schemas/Material/MP1287_Store2StoreTransfer_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP1287_001" schemaLocation="../../schemas/Material/MP1287_Store2StoreTransfer_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="Store2StoreTransferRequestMsg">
    <part name="Store2StoreTransferRequestMsg" element="rqst0:MP1287_Store2StoreTransfer_001"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="Store2StoreTransferResponseMsg">
    <part name="Store2StoreTransferResponseMsg" element="resp0:MP1287_Store2StoreTransfer_001_Result"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <portType name="Store2StoreTransferPT">
    <operation name="Store2StoreTransferOp">
      <input name="Store2StoreTransferRequestMsg" message="tns:Store2StoreTransferRequestMsg"/>
      <output name="Store2StoreTransferResponseMsg" message="tns:Store2StoreTransferResponseMsg"/>
    </operation>
  </portType>
  <binding name="Store2StoreTransferSoapBinding" type="tns:Store2StoreTransferPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Store2StoreTransferOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="Store2StoreTransferRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="Store2StoreTransferRequestMsg" use="literal"/>
      </input>
      <output name="Store2StoreTransferResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="Store2StoreTransferResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Store2StoreTransferService">
    <port name="Store2StoreTransferSoapBinding" binding="tns:Store2StoreTransferSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
