Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/EMailNotificationRecord_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity EMailNotificationRecord
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EMailNotificationRecord_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_entities/EMailNotificationRecord_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of EMailNotificationRecord ======================================-->
	<xs:element name="EMailNotificationRecord">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EMAILRECORDID"/>
				<xs:element ref="dsf:EMAILDATE" minOccurs="0"/>
				<xs:element ref="dsf:MAILTEMPLATEID" minOccurs="0"/>
				<xs:element ref="dsf:RECIPIENTS" minOccurs="0"/>
				<xs:element ref="dsf:EMAILBODY" minOccurs="0"/>
				<xs:element name="IsSent" type="dsf:FLAG_Type" minOccurs="0"/>
				<xs:element name="HasError" type="dsf:FLAG_Type" minOccurs="0"/>
				<xs:element ref="dsf:EMAILERROR" minOccurs="0"/>
				<xs:element name="IsPushNotificationSent" type="dsf:FLAG_Type" minOccurs="0"/>
				<xs:element name="HasPushNotificationError" type="dsf:FLAG_Type" minOccurs="0"/>
				<xs:element ref="dsf:PUSHNOTIFICATIONERROR" minOccurs="0"/>
				<xs:element ref="dsf:ERRORCOUNT" minOccurs="0"/>
				<xs:element ref="dsf:PTFERRORCOUNT" minOccurs="0"/> 
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>			
		</xs:complexType>
	</xs:element>
</xs:schema>
