Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/ExtMenuList_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity - ExtMenuList
======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ExtMenuList_001" xmlns="http://schemas.datastream.net/MP_entities/ExtMenuList_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--======================  Begining of ExtMenuList_001======= ===================-->
	<xs:element name="ExtMenuList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExtMenu" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExtMenu">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EXTMENUID" minOccurs="0"/>
				<xs:element ref="dsf:USERGROUPID"/>
				<xs:element ref="dsf:FUNCTIONID" minOccurs="0"/>
				<xs:element ref="dsf:EXTMENUPARENT" minOccurs="0"/>
				<xs:element ref="dsf:PARENTSCREEN" minOccurs="0"/>
				<xs:element ref="dsf:EXTMENUTYPE"/>
				<xs:element ref="dsf:SEQUENCENUMBER" minOccurs="0"/>
				<xs:element ref="dsf:SYSTEMPERMISSIONS" minOccurs="0"/>
				<xs:element ref="dsf:USERGROUPPERMISSIONS" minOccurs="0"/>
				<xs:element ref="dsf:TABID" minOccurs="0"/>
				<xs:element ref="dsf:HIDEMENU"/>
				<xs:element name="UPDATECOUNT" type="xs:long" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
