Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/MP0611_GetPartsAssociated_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0611_GetPartsAssociated_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0611_001" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datastream.net/MP_functions/MP0611_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:osf="http://www.openapplications.org/oagis_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0611_GetPartsAssociated_001 ======================================-->
	<xs:element name="MP0611_GetPartsAssociated_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PARTASSOCIATEDID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PartsAssociated"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
