Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/MP0638_AddERecordSetup_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

  This schema defines MP business function request MP0638_AddERecordSetup_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0638_001" xmlns:dse-ERecordSetup="http://schemas.datastream.net/MP_entities/ERecordSetup_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP0638_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ERecordSetup_001" schemaLocation="ERecordSetup_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0638_AddERecordSetup_001 ======================================-->
	<xs:element name="MP0638_AddERecordSetup_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ERecordSetup:ERecordSetup"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ERecordSetup"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
