Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/MP6013_GetGISPreference_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP6013_GetGISPreference_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6013_001" 
	         xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	         xmlns="http://schemas.datastream.net/MP_functions/MP6013_001" 
	         xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	         elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP6013_GetGISPreference_001 ======================================-->
	<xs:element name="MP6013_GetGISPreference_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:GISPREFERENCEID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="GISPreference"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
