Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/MP6116_AddKPIStructure_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth herein are trademarks and/or 
	registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. All other 
	trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines MP business function request MP6116_AddKPIStructure_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6116_001" xmlns="http://schemas.datastream.net/MP_functions/MP6116_001" xmlns:dse-KPIStructure="http://schemas.datastream.net/MP_entities/KPIStructure_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/KPIStructure_001" schemaLocation="KPIStructure_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ====================================================================================== -->
	<!-- =============  Begining of MP6116_AddKPIStructure_001 ============================= -->
	<xs:element name="MP6116_AddKPIStructure_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-KPIStructure:KPIStructure"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="KPIStructure"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_uommismatch" type="dsf:CONFIRMATION_Type" default="prompt"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
