Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/MP6253_ImportBaseConfiguration_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =================================================================================== 
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP6253_ImportBaseConfiguration_001 
===================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6253_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP6253_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
<!-- =========================== Imported namespaces ============================= -->
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!-- ============================================================================= -->

<!-- ============= Begining of MP6253_ImportBaseConfiguration_001 ================ -->
	<xs:element name="MP6253_ImportBaseConfiguration_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ImportBaseConfiguration"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Import"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="BaseConfiguration"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ImportBaseConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ImportMethod" type="ImportMethodType"/>
				<xs:element name="IDENTIFIER" type="xs:string" minOccurs="0"/>
				<xs:element ref="dsf:DBSESSIONID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ImportMethodType">
		<xs:sequence>
			<xs:element ref="dsf:EMAIL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="WaitForImport" type="dsf:FLAG_Type" minOccurs="0"/>
				<xs:element name="DoNotWaitForImport" type="dsf:FLAG_Type" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>