Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/MP6547_AddMobileEntitySetup_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2019 Infor. All rights reserved. The word and design marks set forth herein are trademarks
    and/or registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function result MP6547_AddMobileEntitySetup_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6547_001"
    xmlns:dse-mes="http://schemas.datastream.net/MP_entities/MobileEntitySetup_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields"
    xmlns="http://schemas.datastream.net/MP_functions/MP6547_001" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_entities/MobileEntitySetup_001" schemaLocation="MobileEntitySetup_001.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="MP6547_AddMobileEntitySetup_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dse-mes:MobileEntitySetup"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MobileEntitySetup"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
</xs:schema>