Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/Organization_001.xsd

<?xml version="1.0"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity Organization.
=======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Organization_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_entities/Organization_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of Organization_001 ======================================-->
	<xs:element name="Organization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ORGANIZATIONID"/>
				<xs:element ref="dsf:CURRENCYCODE"/>
				<xs:element ref="dsf:LOCALE" minOccurs="0"/>
				<xs:element ref="dsf:COMMON" minOccurs="0"/>
				<xs:element ref="dsf:DUNSNUMBER" minOccurs="0"/>
				<xs:element ref="dsf:CODEREFERENCE" minOccurs="0"/>
				<xs:element ref="dsf:BOOKNAME" minOccurs="0"/>
				<xs:element ref="dsf:TOLERANCEPERC" minOccurs="0"/>
				<xs:element ref="dsf:TOLERANCEABS" minOccurs="0"/>
				<xs:element ref="dsf:QUANTITYPERC" minOccurs="0"/>
				<xs:element ref="dsf:OFFSETTIME" minOccurs="0"/>
				<xs:element ref="dsf:DEPRECIATIONTYPE" minOccurs="0"/>
				<xs:element ref="dsf:ACCOUNTSEGMENTVALUE" minOccurs="0"/>
				<xs:element ref="dsf:ACCOUNTINGENTITY" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
                <xs:element ref="dsf:STREAMPLUSPROJECT" minOccurs="0"/>
                <xs:element ref="dsf:CALENDARGROUPID" minOccurs="0"/>                
				<xs:element ref="UserDefinedFields" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
