Infor EAM APIs for On Premise/Version 11.5/schemas/Administration/ReportServerRequest_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2004, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines the report server request entity
============================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ReportServerRequest_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsm="http://schemas.datastream.net/MP_entities/MessageServerRequest_001" xmlns="http://schemas.datastream.net/MP_entities/ReportServerRequest_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/MessageServerRequest_001" schemaLocation="./MessageServerRequest_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Beginning of ReportServerRequest_001 ======================================-->
	<xs:element name="ReportServerRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsm:MessageServerRequest"/>
				<xs:element ref="dsf:FUNCTIONID"/>
				<xs:element ref="dsf:TICKET" minOccurs="0"/>
				<xs:element name="PRINTERID" type="xs:long" minOccurs="0"/>
				<xs:element ref="dsf:PRINTQUEUE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
