Infor EAM APIs for Saas/Version 11.4.1/schemas/IProcure/IPBuyPriceLeadTimeRequest_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity  IPBuyPriceLeadTimeRequest_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/IPBuyPriceLeadTimeRequest_001" 
	xmlns="http://schemas.datastream.net/MP_entities/IPBuyPriceLeadTimeRequest_001" 
	xmlns:ipf="http://schemas.datastream.net/IP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/IP_fields" schemaLocation="../IP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of IPBuyPriceLeadTimeRequest_001 ======================================-->
	<xs:element name="BLOCKACTUPDATEITEMS">
		<xs:complexType>
			<xs:sequence>
			<xs:element ref="BLOCKVENDORLIST"/>
			<xs:element ref="BLOCKSEARCH"/>
			<xs:element ref="BLOCKITEMLIST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="BLOCKVENDOR_Type">
		<xs:sequence>
			<xs:element ref="ipf:VENDORNUM"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BLOCKVENDOR" type="BLOCKVENDOR_Type"/>

	<xs:complexType name="BLOCKVENDORLIST_Type">
		<xs:sequence>
			<xs:element ref="BLOCKVENDOR" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BLOCKVENDORLIST" type="BLOCKVENDORLIST_Type"/>

	<xs:complexType name="BLOCKSEARCH_Type">
		<xs:sequence>
			<xs:element ref="ipf:MAXRETURNITEMS"/>
			<xs:element ref="ipf:MAXVENDORS"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BLOCKSEARCH" type="BLOCKSEARCH_Type"/>

	<xs:complexType name="BLOCKITEM_Type">
		<xs:sequence>
			<xs:element ref="ipf:MP2ITEMID"/>
			<xs:element ref="ipf:DEFAULTDESCRIPTION"/>
			<xs:element ref="ipf:DEFAULTVENDOR"/>
			<xs:element ref="ipf:VENDORITEMNUM"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BLOCKITEM" type="BLOCKITEM_Type"/>

	<xs:complexType name="BLOCKITEMLIST_Type">
		<xs:sequence>
			<xs:element ref="BLOCKITEM" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BLOCKITEMLIST" type="BLOCKITEMLIST_Type"/>
</xs:schema>
