Infor EAM APIs for Saas/Version 11.4.1/Schemas/IProcure/IPBuyPriceLeadTimeResponse_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity  IPBuyPriceLeadTimeResponse_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/IPBuyPriceLeadTimeResponse_001" 
	xmlns="http://schemas.datastream.net/MP_entities/IPBuyPriceLeadTimeResponse_001" 
	xmlns:ipf="http://schemas.datastream.net/IP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/IP_fields" schemaLocation="../IP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of IPBuyPriceLeadTimeResponse_001 ======================================-->
	<xs:element name="BLOCKACTUPDATEITEMS">
		<xs:complexType>
			<xs:sequence>
			<xs:element ref="BLOCKITEMLIST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="BLOCKITEM_Type">
		<xs:sequence>
			<xs:element ref="ipf:MP2ITEMID"/>
			<xs:element ref="ipf:UOW"/>
			<xs:element ref="ipf:UNITCOST"/>
			<xs:element ref="ipf:LEADTIME"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BLOCKITEM" type="BLOCKITEM_Type"/>

	<xs:complexType name="BLOCKITEMLIST_Type">
		<xs:sequence>
			<xs:element ref="BLOCKITEM" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BLOCKITEMLIST" type="BLOCKITEMLIST_Type"/>
</xs:schema>
