Infor EAM APIs for Saas/Version 11.4.1/schemas/IProcure/IPSingleItemRequestBody_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2006, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

     This schema defines MP entity IPSingleItemRequestBody
     ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/IPSingleItemRequestBody_001" xmlns:ipf="http://schemas.datastream.net/IP_fields" xmlns="http://schemas.datastream.net/MP_entities/IPSingleItemRequestBody_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/IP_fields" schemaLocation="../IP_fields.xsd"/>
	<!--====  Begining of IPSingleItemRequestBody_001 ======================================-->
	<xs:element name="BLOCKACTSEARCH">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BLOCKVENDORLIST"/>
				<xs:element ref="BLOCKSEARCH"/>
				<xs:element ref="BLOCKITEMLIST"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BLOCKVENDORLIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BLOCKVENDOR"  minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
	<xs:element name="BLOCKSEARCH">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="ipf:MAXVENDORS"  minOccurs="0"/>
					<xs:element ref="ipf:MAXRETURNITEMS"  minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
	</xs:element>	
	<xs:element name="BLOCKITEMLIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BLOCKITEM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="BLOCKITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ipf:MP2ITEMID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BLOCKVENDOR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ipf:VENDORNUM" minOccurs="0"/>
				<xs:element ref="BLOCKCUSTOMERVENDORID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BLOCKCUSTOMERVENDORID">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ipf:ACCOUNTNUM"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
</xs:schema>
