Infor EAM APIs for On Premise/Version 11.5/schemas/ContactCenter/MP3552_AddContactInfoEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP3552_AddContactInfoEquipment_001 
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3552_001" xmlns="http://schemas.datastream.net/MP_functions/MP3552_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-ContactInfoEquipment="http://schemas.datastream.net/MP_entities/ContactInfoEquipment_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<!-- =========== Imported namespaces =========== -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ContactInfoEquipment_001" schemaLocation="ContactInfoEquipment_001.xsd"/>
	<!-- ====================================================================================== -->
	<!-- ========Begining of MP3552_AddContactInfoEquipment_001 ============ -->
	<xs:element name="MP3552_AddContactInfoEquipment_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ContactInfoEquipment:MultipleContactInfoEquipmentData"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ContactInfoEquipment"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
