Infor EAM APIs for On Premise/Version 11.5/schemas/ContactCenter/MP7921_AddContactRecordHospitalityIncidentRequest_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================================================
  Copyright (c) 2012 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
      
  This schema defines MP business function request MP7921_AddContactRecordHospitalityIncidentRequest_001
==================================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7921_001" 
           xmlns="http://schemas.datastream.net/MP_functions/MP7921_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"                  
           xmlns:dse-ContactRecord="http://schemas.datastream.net/MP_entities/ContactRecord_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_entities/ContactRecord_001" schemaLocation="ContactRecord_001.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
    <xs:element name="MP7921_AddContactRecordHospitalityIncidentRequest_001">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="dsf:BaseSchemaRequestElement">
                    <xs:sequence>
                        <xs:element ref="dse-ContactRecord:ContactRecordCore"/>
                        <xs:element ref="dse-ContactRecord:ContactRecordHospitalityIncidentRequest"/>
                    </xs:sequence>
                    <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
                    <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ContactRecordHospitalityIncidentRequest"/>
                    <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="createwo" type="dsf:FLAG_Type" default="false"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>