Infor EAM APIs for On Premise/Version 11.4/Schemas/Asset/EquipmentRanking_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--===================================================================
	Copyright (c) 2016 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines MP entity EquipmentRanking
===================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EquipmentRanking_001"
		xmlns="http://schemas.datastream.net/MP_entities/EquipmentRanking_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
		<!--===============================================================================-->
		<xs:element name="EquipmentRanking">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="dsf:EQUIPMENTRANKINGID"/>
					<xs:element ref="dsf:TYPE" minOccurs="0"/>
					<xs:element ref="dsf:NOTES" minOccurs="0"/>
					<xs:element ref="dsf:DEFAULT" minOccurs="0"/>
					<xs:element ref="dsf:LOCKRANKINGVALUES" minOccurs="0"/>
					<xs:element ref="dsf:RELIABILITYRANKINGINDEXCODE" minOccurs="0"/>
					<xs:element ref="dsf:RELIABILITYRANKINGSCORE" minOccurs="0"/>
					<xs:element ref="dsf:OUTOFSYNC" minOccurs="0"/>
					<xs:element ref="dsf:VALUESLASTCALCULATEDDATE" minOccurs="0"/>
					<xs:element ref="dsf:SURVEYLASTUPDATEDDATE" minOccurs="0"/>
					<xs:element ref="dsf:SETUPLASTUPDATEDDATE" minOccurs="0"/>
					<xs:element ref="dsf:REFRESHINTERVAL" minOccurs="0"/>
					<xs:element ref="dsf:NEXTREFRESHDATE" minOccurs="0"/>
					<xs:element ref="dsf:REFRESHSEQUENCE" minOccurs="0"/>
					<xs:element ref="dsf:PROCESSERROR" minOccurs="0"/>
					<xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
					<xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
					<xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
					<xs:element ref="dsf:UPDATEDBY" minOccurs="0"/>
					<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="recordid" type="xs:long"></xs:attribute>
				<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
			</xs:complexType>
		</xs:element>
</xs:schema>