Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/EquipmentStructureDetail_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===================================================================================
    Copyright (c) 2013 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. 
    www.infor.com.

    This schema defines MP business function entity EquipmentStructureDetail
=========================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EquipmentStructureDetail_001"
        xmlns="http://schemas.datastream.net/MP_entities/EquipmentStructureDetail_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <xs:element name="EquipmentStructureDetail">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="EquipmentStructureDetailNode"/>
                    <xs:element ref="NEXTRECORDID" minOccurs="0"/>
                    <xs:element ref="dsf:SESSIONID"/>
                    <xs:element ref="EquipmentStructureDetailParentNodes" minOccurs="0" />
                    <xs:element ref="EquipmentStructureDetailChildNodes" minOccurs="0" />
                    <xs:element ref="dsf:SHOWICONS" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="has_structure_preference" type="dsf:FLAG_Type"/>
            </xs:complexType>
        </xs:element>
        <xs:element name="EquipmentStructureDetailChildNodes">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="EquipmentStructureDetailNode" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="EquipmentStructureDetailParentNodes">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="EquipmentStructureDetailParentNode" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="EquipmentStructureDetailNode">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="NODECODE"/>
                    <xs:element ref="NODEDESCRIPTION"/>
                    <xs:element ref="dsf:ORGANIZATIONCODE" minOccurs="0"/>
                    <xs:element ref="dsf:DESCRIPTION"/>
                    <xs:element ref="NODETYPE"/>
                    <xs:element ref="dsf:OBJRTYPE" minOccurs="0"/>
                    <xs:element ref="dsf:OBJTYPE" minOccurs="0"/>
                    <xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
                    <xs:element ref="dsf:COSTROLLUP"/>
                    <xs:element ref="dsf:KIT"/>
                    <xs:element ref="dsf:ICONCODE" minOccurs="0"/>
                    <xs:element ref="dsf:ICONPATH" minOccurs="0"/>
                    <xs:element ref="EquipmentRiskLevel" minOccurs="0"/>
                    <xs:element ref="dsf:WORKSPACECODE" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="EquipmentStructureDetailParentNode">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="NODECODE"/>
                    <xs:element ref="dsf:ORGANIZATIONCODE" minOccurs="0"/>
                    <xs:element ref="dsf:DESCRIPTION"/>
                    <xs:element ref="dsf:OBJRTYPE"/>
                    <xs:element ref="dsf:OBJTYPE"/>
                    <xs:element ref="dsf:DEPARTMENTCODE" minOccurs="0"/>
                    <xs:element ref="dsf:COSTROLLUP" minOccurs="0"/>
                    <xs:element ref="dsf:ICONCODE" minOccurs="0"/>
                    <xs:element ref="dsf:ICONPATH" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="NODETYPE" type="dsf:CODE1_Type"/>
        <xs:element name="NEXTRECORDID" type="xs:long"/>
        <xs:element name="NODECODE">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="200"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>    
        <xs:element name="NODEDESCRIPTION">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="300"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:element>
        <xs:element name="EquipmentRiskLevel">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dsf:ICONCODE" minOccurs="0"/>
                    <xs:element ref="dsf:ICONPATH" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
</xs:schema>