Infor EAM APIs for On Premise/Version 11.4/Schemas/Asset/MP0360_MoveLocationInStructure_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP0360_MoveLocationInStructure_001
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0360_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_functions/MP0360_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0360_MoveLocationInStructure_001 ======================================-->
	<xs:element name="MP0360_MoveLocationInStructure_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LOCATIONID"/>
				<xs:element ref="OldParent"/>
				<xs:element ref="NewParent"/>
				<xs:element ref="dsf:SEQUENCENUMBER" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Move"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="LocationStructure"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OldParent">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="dsf:LOCATIONID" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>	
	<xs:element name="NewParent">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="dsf:LOCATIONID" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>