Infor EAM APIs for On Premise/Version 11.4/Schemas/Asset/MP0334_SyncWarranty_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
          This schema defines MP business function request MP0334_SyncWarranty_001
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0334_001" 
           xmlns="http://schemas.datastream.net/MP_functions/MP0334_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"                  
           xmlns:dse-Warranty="http://schemas.datastream.net/MP_entities/Warranty_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_entities/Warranty_001" 
        schemaLocation="Warranty_001.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_fields" 
        schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
<!--====  Begining of MP0334_SyncWarranty_001 ======================================-->
        <xs:element name="MP0334_SyncWarranty_001">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dse-Warranty:Warranty"/>
                        </xs:sequence>
                        <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
                        <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Warranty"/>
                        <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
