Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/MP3014_GetEquipmentPMSchedule_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function result for function request MP3014_GetEquipmentPMSchedule_001_Result
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP3014_001" xmlns="http://schemas.datastream.net/MP_results/MP3014_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-PMSchedule="http://schemas.datastream.net/MP_entities/PMSchedule_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PMSchedule_001" schemaLocation="PMSchedule_001.xsd"/>
	<!-- ============================================= -->
	<!--========  Begining of MP3014_GetEquipmentPMSchedule_001_Result ====================-->
	<xs:element name="MP3014_GetEquipmentPMSchedule_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PMSchedule:PMSchedule"/>
				<xs:element ref="dsf:PMRVCTRL"/>
				<xs:element name="ISPMPLAN" type="dsf:FLAG_Type"/>
				<xs:element name="OBJSTATUS" type="dsf:STATUSCODE_Type"/>
				<xs:element ref="dsf:DUEDATE" minOccurs="0"/>
				<xs:element ref="dsf:PMFORECASTSESSIONID" minOccurs="0"/>				
			</xs:sequence>
			<xs:attribute name="pmscheduleequipmentsetid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
