Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/MP3064_SyncEquipmentServiceDeliveryMatrix_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
 *  Copyright (c) 2007 Infor Global Solutions Technology GmbH and/or its affiliates 
 *  and subsidiaries. All rights reserved. The word and design marks set forth 
 *  herein are trademarks and/or registered trademarks of 
 *  Infor Global Solutions Technology GmbH and/or its affiliates and subsidiaries. 
 *  All rights reserved. All other trademarks listed herein are the property of 
 *  their respective owners.
 *  
 *  This document may not be reproduced in whole or in part or used for tendering 
 *  or manufacturing purposes except under an agreement or with the written 
 *  consent of the copyright holder and then only under the condition that this 
 *  notice is included in any such reproduction. No information regarding the 
 *  contents or subject matter of this document or any part thereof arising 
 *  directly or indirectly thereof shall be given orally or in writing or 
 *  communicated in any manner whatsoever to any third party without the prior 
 *  written consent of the copyright holder. 
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3064_001" 
xmlns:dsf="http://schemas.datastream.net/MP_fields" 
xmlns:dse-sdm="http://schemas.datastream.net/MP_entities/EquipmentServiceDeliveryMatrix_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EquipmentServiceDeliveryMatrix_001" schemaLocation="EquipmentServiceDeliveryMatrix_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:element name="MP3064_SyncEquipmentServiceDeliveryMatrix_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-sdm:EquipmentServiceDeliveryMatrix"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentServiceDeliveryMatrix"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
