Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/MP3017_AddDepreciation_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ===========================================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP3017_AddDepreciation_001
===============================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3017_001"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:dse-Depreciation="http://schemas.datastream.net/MP_entities/Depreciation_001"
xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<xs:import namespace="http://schemas.datastream.net/MP_entities/Depreciation_001" schemaLocation="Depreciation_001.xsd"/>
<!--==========================================================================================================-->
<!--====  Begining of MP3017_AddDepreciation_001 =======================================================-->
	<xs:element name="MP3017_AddDepreciation_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-Depreciation:Depreciation"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Depreciation"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
