Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/MP3075_DeleteEquipmentDesignConsumption_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
 *  Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth 
 *  herein are trademarks and/or registered trademarks of Infor and/or related 
 *  affiliates and subsidiaries. All rights reserved. All other trademarks listed 
 *  herein are the property of their respective owners. www.infor.com.
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3075_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:element name="MP3075_DeleteEquipmentDesignConsumption_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPDESIGNCONSUMPTIONID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentDesignConsumption"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
