Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/MP3034_UpdateEquipmentTestPoint_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ==========================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP3034_UpdateEquipmentTestPoint_001
===============================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3034_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===========================================================================================-->
	<!--====  Begining of MP3034_UpdateEquipmentTestPoint_001 =======================================-->
	<xs:element name="MP3034_UpdateEquipmentTestPoint_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CATEGORYID"/>
			</xs:sequence>
			<xs:attribute name="updateEquipmentTestPoints" type="dsf:CONFIRMATION_Type" default="not_needed"/>
			<xs:attribute name="isUpdateEquipConfig" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Update"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentTestPoint"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
