Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/MP3019_DeleteDepreciation_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP3019_DeleteDepreciation_001
===================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3019_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--=========================================================================-->
	<!--====  Beginning of MP3019_DeleteDepreciation_001====================-->
	<xs:element name="MP3019_DeleteDepreciation_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DEPRECIATIONPK"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Depreciation"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_delete" type="dsf:CONFIRMATION_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
