Infor EAM APIs for On Premise/Version 11.4/Schemas/Asset/MP3137_CopyReliabilityRanking_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--================================================================================
	Copyright (c) 2011 Infor.All rights reserved.The word and design marks set
	forth herein are trademarks and/or registered trademarks of Infor and/or
	related affiliates and subsidiaries.All rights reserved.All other trademarks
	listed herein are the property of their respective owners.www.infor.com.
	This schema defines MP entity ReliabilityRanking_001
 =================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3137_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP3137_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--==========================================================================-->
	<!--====  Begining of MP3137_CopyReliabilityRanking_001 ======================-->
	<xs:element name="MP3137_CopyReliabilityRanking_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CopyReliabilityRankingDetails"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Copy"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ReliabilityRanking"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CopyReliabilityRankingDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OLDRELIABILITYRANKINGID" />
				<xs:element ref="NEWRELIABILITYRANKINGID"/>
				<xs:element ref="dsf:COPYDECISIONTREE" minOccurs="0"/>
				<xs:element ref="dsf:COPYRANKS" minOccurs="0"/>
				<xs:element ref="dsf:COPYCUSTOMFIELDS" minOccurs="0"/>
				<xs:element ref="dsf:COPYCOMMENTS" minOccurs="0"/>
				<xs:element ref="dsf:COPYDOCUMENTS" minOccurs="0"/>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OLDRELIABILITYRANKINGID">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:RELIABILITYRANKINGID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NEWRELIABILITYRANKINGID">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:RELIABILITYRANKINGID"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
</xs:schema>
