Infor EAM APIs for On Premise/Version 11.4/Schemas/Asset/MP3101_ConfirmPendingAuthorization_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
* Copyright (c) 2009 Infor. All rights reserved. The word and design marks set forth herein are trademarks and/or 
* registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. All other trademarks 
* listed herein are the property of their respective owners. www.infor.com.
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3101_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-cam="http://schemas.datastream.net/MP_entities/EnergyStarSetup_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EnergyStarSetup_001" schemaLocation="EnergyStarSetup_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:element name="MP3101_ConfirmPendingAuthorization_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ENERGYSTARCUSTOMERID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Confirm"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PendingAuthorization"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
