Infor EAM APIs for On Premise/Version 11.4/Schemas/Asset/MP3158_GetEquipmentHospitalityFacilityDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =========================================================================================================
  Copyright (c) 2012 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
      
  This schema defines MP business function result MP3158_GetEquipmentHospitalityFacilityDefault_001_Result
===============================================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP3158_001" 
    xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://schemas.datastream.net/MP_results/MP3158_001" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="MP3158_GetEquipmentHospitalityFacilityDefault_001_Result">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ResultData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResultData">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:ORGANIZATIONID"/>
                <xs:element ref="dsf:TYPE"/>
                <xs:element ref="dsf:STATUS"/>
                <xs:element ref="dsf:COMMISSIONDATE"/>
                <xs:element ref="dsf:CURRENCYCODE"/>
                <xs:element ref="dsf:RELIABILITYRANKINGLOCKED"/>
                <xs:element ref="dsf:ORIGINALRECEIPTDATE" minOccurs="0"/>
                <xs:element ref="dsf:LATESTRECEIPTDATE" minOccurs="0"/>
                <xs:element ref="dsf:ORIGINALINSTALLDATE" minOccurs="0"/>
                <xs:element ref="dsf:LATESTINSTALLDATE" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="autonumber" type="dsf:FLAG_Type" default="false"/>
        </xs:complexType>
    </xs:element>
</xs:schema>