Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/MP3324_AddEquipmentSchedule_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2015 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners.

    This schema defines MP business function request MP3324_AddEquipmentSchedule_001
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3324_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:dse-EquipmentSchedule="http://schemas.datastream.net/MP_entities/EquipmentSchedule_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_functions/MP3324_001" 
           elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_entities/EquipmentSchedule_001" schemaLocation="EquipmentSchedule_001.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <!--====  Begining of MP3324_AddEquipmentSchedule_001 ======================================-->
        <xs:element name="MP3324_AddEquipmentSchedule_001">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dse-EquipmentSchedule:EquipmentSchedule"/>
                        </xs:sequence>
                        <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
                        <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentSchedule"/>
                        <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
