Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/PhysicalMeter_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP entity PhysicalMeter
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PhysicalMeter_001" 
           xmlns="http://schemas.datastream.net/MP_entities/PhysicalMeter_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of PhysicalMeter_001 ======================================-->
	<xs:element name="PhysicalMeter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:METERID"/>
				<xs:element ref="dsf:METERUOM"/>				
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:ROLLOVERPOINT" minOccurs="0"/>
				<xs:element ref="dsf:LASTMETERREADING" minOccurs="0"/>
				<xs:element ref="ServicePoint" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServicePoint">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="dsf:ASSETID"/>
				<xs:element ref="dsf:POSITIONID"/>
				<xs:element ref="dsf:SYSTEMID"/>
				<xs:element ref="dsf:LOCATIONID"/>				
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
