Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/PMScheduleDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003,	Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity PMScheduleDefault	
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PMScheduleDefault_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/PMScheduleDefault_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of PMScheduleDefault_001	=======	-->
	<xs:element name="PMScheduleDefault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
				<xs:element name="ISPMPLAN" type="dsf:FLAG_Type"/>
				<xs:element name="DORMANT" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:DORMANTSTART" minOccurs="0"/>
							<xs:element ref="dsf:DORMANTEND" minOccurs="0"/>
							<xs:element ref="dsf:DORMANTREUSE" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="dsf:LOCATIONID" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTCODE" minOccurs="0"/>
				<xs:element ref="dsf:COSTCODE" minOccurs="0"/>
				<xs:element ref="dsf:PERSONCODE" minOccurs="0"/>
				<xs:element ref="dsf:CHANGED"/>
				<xs:element ref="dsf:PMRVCTRL"/>
				<xs:element name="OBJSTATUS" type="dsf:STATUSCODE_Type"/>
				<xs:element ref="dsf:EQUIPMENTLENGTH" minOccurs="0"/>
				<xs:element ref="dsf:LINEARREFUOM" minOccurs="0"/>
				<xs:element ref="dsf:STARTINGAT" minOccurs="0"/>
				<xs:element ref="dsf:CCTRSPCVALIDATION" minOccurs="0"/>
				<xs:element ref="dsf:SDMFLAG" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
