Infor EAM APIs for On Premise/Version 11.4/schemas/Asset/Profile_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP entity Profile
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Profile_001" xmlns="http://schemas.datastream.net/MP_entities/Profile_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of Profile_001 ======================================-->
	<xs:element name="Profile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PROFILEID"/>
				<xs:element ref="dsf:TYPE" minOccurs="0"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:STATUS" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID"/>
				<xs:element ref="dsf:CATEGORYID" minOccurs="0"/>
				<xs:element ref="dsf:COSTCODEID" minOccurs="0"/>
				<xs:element ref="dsf:STOREID" minOccurs="0"/>
				<xs:element ref="dsf:PARTID" minOccurs="0"/>
				<xs:element ref="dsf:METERUNIT" minOccurs="0"/>
				<xs:element ref="ManufacturerInfo" minOccurs="0"/>
				<xs:element ref="dsf:CNNUMBER" minOccurs="0"/>
				<xs:element ref="Variables" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ManufacturerInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:MANUFACTURERCODE" minOccurs="0"/>
				<xs:element ref="dsf:SERIALNUMBER" minOccurs="0"/>
				<xs:element ref="dsf:MODEL" minOccurs="0"/>
				<xs:element ref="dsf:MODELREVISION" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variables">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VARIABLE1" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE2" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE3" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE4" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE5" type="dsf:VARIABLE_Type" minOccurs="0"/>
				<xs:element name="VARIABLE6" type="dsf:VARIABLE_Type" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
