Infor EAM APIs for On Premise/Version 11.4/Schemas/Asset/RouteMap_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity RouteMap
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/RouteMap_001" xmlns="http://schemas.datastream.net/MP_entities/RouteMap_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of RouteMap_001 ======= -->
	<xs:element name="RouteMap">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ROUTE"/>
 				<xs:element name="MAPINFO" type="dsf:OBJECTMAP_TYPE" minOccurs="0" />
				<xs:element ref="MAPLABELS" minOccurs="0"/>
				<xs:element ref="dsf:GISMAPID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="MAPLABELS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LABEL" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="x" type="xs:double"/>
								<xs:attribute name="y" type="xs:double"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
