Infor EAM APIs for On Premise/Version 11.4/Schemas/Asset/SystemHierarchy_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP entity SystemEquipment
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/SystemHierarchy_002" 
	xmlns="http://schemas.datastream.net/MP_entities/SystemHierarchy_002" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-asset2="http://schemas.datastream.net/MP_entities/AssetHierarchy_002"
	xmlns:dse-position2="http://schemas.datastream.net/MP_entities/PositionHierarchy_002"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/AssetHierarchy_002" schemaLocation="AssetHierarchy_002.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PositionHierarchy_002" schemaLocation="PositionHierarchy_002.xsd"/>	
	<!--===============================================================================-->	
	<!-- System Hierarchy Structure Definitions -->
	<xs:element name="SystemChildHierarchy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SYSTEMID"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:SEQUENCENUMBER" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="dsf:LOANEDTODEPARTMENTID" minOccurs="0"/>
				<xs:element ref="ChildSystem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-position2:ChildPosition" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-asset2:ChildAsset" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="structure_sort_option" type="dsf:CODE1_Type" default="S"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChildSystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SYSTEMID"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:COSTROLLUP"/>
				<xs:element ref="dsf:DEPENDENTON"/>
				<xs:element ref="dsf:SEQUENCENUMBER" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="dsf:LOANEDTODEPARTMENTID" minOccurs="0"/>
				<xs:element ref="ChildSystem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-position2:ChildPosition" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dse-asset2:ChildAsset" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="structure_sort_option" type="dsf:CODE1_Type" default="S"/>
		</xs:complexType>
	</xs:element>	
</xs:schema>