Infor EAM APIs for On Premise/Version 11.4/Wsdl/Work/MP7020_DeletePMScheduleActivity_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP7020_DeletePMScheduleActivity_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP7020_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP7020_DeletePMScheduleActivity_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP7020_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP7020_001" schemaLocation="../../schemas/Work/MP7020_DeletePMScheduleActivity_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP7020_001" schemaLocation="../../schemas/Work/MP7020_DeletePMScheduleActivity_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="DeletePMScheduleActivityResponseMsg">
    <part name="DeletePMScheduleActivityResponseMsg" element="resp0:MP7020_DeletePMScheduleActivity_001_Result"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="DeletePMScheduleActivityRequestMsg">
    <part name="DeletePMScheduleActivityRequestMsg" element="rqst0:MP7020_DeletePMScheduleActivity_001"/>
  </message>
  <portType name="DeletePMScheduleActivityPT">
    <operation name="DeletePMScheduleActivityOp">
      <input name="DeletePMScheduleActivityRequestMsg" message="tns:DeletePMScheduleActivityRequestMsg"/>
      <output name="DeletePMScheduleActivityResponseMsg" message="tns:DeletePMScheduleActivityResponseMsg"/>
    </operation>
  </portType>
  <binding name="DeletePMScheduleActivitySoapBinding" type="tns:DeletePMScheduleActivityPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeletePMScheduleActivityOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="DeletePMScheduleActivityRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="DeletePMScheduleActivityRequestMsg" use="literal"/>
      </input>
      <output name="DeletePMScheduleActivityResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="DeletePMScheduleActivityResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DeletePMScheduleActivityService">
    <port name="DeletePMScheduleActivitySoapBinding" binding="tns:DeletePMScheduleActivitySoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
