Infor EAM APIs for Saas/Version 11.4.1/Schemas/DataBridge/GLReferenceDetail_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity GLReferenceDetail    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/GLReferenceDetail_001" xmlns="http://schemas.datastream.net/MP_entities/GLReferenceDetail_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of GLReferenceDetail_001 ======================================-->
	<xs:element name="GLReferenceDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:GLREFERENCEID"/>
				<xs:element name="SEGMENTCOLUMN" type="xs:string"/>
				<xs:element name="USERVALUE" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
