Infor EAM APIs for Saas/Version 11.4.1/schemas/DataBridge/JobSchedule_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP entity JobSchedule_001    
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/JobSchedule_001"
           xmlns="http://schemas.datastream.net/MP_entities/JobSchedule_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="JobSchedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:JOBSCHEDULECODE"/>
				<xs:element ref="dsf:JOBSETUPID"/>
				<xs:element ref="dsf:ISJOBACTIVE" minOccurs="0"/>
				<xs:element ref="dsf:ISJOBBROKEN" minOccurs="0"/>
				<xs:element ref="dsf:LASTRAN" minOccurs="0"/>
				<xs:element ref="dsf:NEXTRUN" minOccurs="0"/>
				<xs:element ref="dsf:ISJOBEXECUTING" minOccurs="0"/>
				<xs:element ref="dsf:SERVERID" minOccurs="0"/>
				<xs:element ref="dsf:JOBCLASS"/>
				<xs:element name="JAVACLASS" type="dsf:CODE1025_Type"/>
				<xs:element ref="dsf:JOBPARTNERID"/>
				<xs:element ref="dsf:JOBTYPEID" minOccurs="0"/>
				<xs:element ref="dsf:MONTH" minOccurs="0"/>
				<xs:element ref="dsf:DAYOFMONTH" minOccurs="0"/>
				<xs:element ref="dsf:DAYOFWEEK" minOccurs="0"/>
				<xs:element ref="dsf:HOUR" minOccurs="0"/>
				<xs:element ref="dsf:MINUTE" minOccurs="0"/>
				<xs:element name="SCHEDULEDESCRIPTION" type ="dsf:DESCRIPTION_Type" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
