Infor EAM APIs for Saas/Version 11.4.1/schemas/Purchase/BOServiceLine_001.xsd

<?xml version="1.0"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Sureshr (Datastream Systems, Inc) -->
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function entity BOServiceLine
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/BOServiceLine_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/BOServiceLine_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====================  Begining of BOServiceLine ====================-->
	<xs:element name="BOServiceLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BOLineBasicInformation"/>
				<xs:element ref="TaskAndTradeInformation"/>
				<xs:element ref="MaximumValueDetails"/>
				<xs:element ref="PurchasingInformation"/>
				<xs:element ref="DualExchangeDetails" minOccurs="0"/>
				<xs:element ref="ReleaseDetails" minOccurs="0"/>
				<xs:element ref="dsf:DELIVERYADDRESSID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BOLineBasicInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:BLANKETORDERLINEID"/>
				<xs:element ref="dsf:BLANKETORDERLINETYPE"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaskAndTradeInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TASKLISTID" minOccurs="0"/>
				<xs:element ref="dsf:TRADEID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaximumValueDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="dsf:MAXIMUMLINEAMOUNT"/>
					<xs:element ref="dsf:MAXIMUMLINEHOURS"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PurchasingInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:HOURSREQUESTED"/>
				<xs:element ref="dsf:TASKQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:PRICE"/>
				<xs:element ref="dsf:CURRENCYID"/>
				<xs:element ref="dsf:EXCHRATE"/>
				<xs:element ref="dsf:UOMID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DualExchangeDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EXCHTODUAL" minOccurs="0"/>
				<xs:element ref="dsf:EXCHFROMDUAL" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReleaseDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:NUMRELEASED" minOccurs="0"/>
				<xs:element ref="dsf:CURRENTLINEAMOUNTRELEASED" minOccurs="0"/>
				<xs:element ref="dsf:CURRENTLINEHOURSRELEASED" minOccurs="0"/>
				<xs:element ref="dsf:LASTPURCHASEORDERID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaskInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TASKHOURS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
