Infor EAM APIs for Saas/Version 11.4.1/Schemas/Purchase/Clause_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ======== This schema defines the Clause entity -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Clause_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_entities/Clause_001" elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--====================  Begining of Clause ====================-->
        <xs:element name="Clause">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dsf:CLAUSEID"/>
                                <xs:element ref="dsf:CLASSID" minOccurs="0"/>
                                <xs:element ref="dsf:PARENTCLAUSEID" minOccurs="0"/>
                                <xs:element ref="dsf:SEQUENCENUMBER" minOccurs="0"/>
                                <xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
                                <xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="recordid" type="xs:long"/>
                        <xs:attribute name="user_entity" type="xs:string"/>
                        <xs:attribute name="system_entity" type="xs:string"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
