Infor EAM APIs for Saas/Version 11.4.1/schemas/Purchase/MP0465_SyncBOPartLine_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0465_SyncBOPartLine_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0465_001" xmlns="http://schemas.datastream.net/MP_functions/MP0465_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:os="http://www.openapplications.org/oagis_segments" xmlns:osf="http://www.openapplications.org/oagis_fields" xmlns:dse-BOPartLine="http://schemas.datastream.net/MP_entities/BOPartLine_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/BOPartLine_001" schemaLocation="BOPartLine_001.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0465_SyncBOPartLine_001 ======================================-->
	<xs:element name="MP0465_SyncBOPartLine_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-BOPartLine:BOLineBasicInformation"/>
				<xs:element ref="dse-BOPartLine:OrderingEntityInformation"/>
				<xs:element ref="dse-BOPartLine:MaximumValueDetails"/>
				<xs:element ref="dse-BOPartLine:PurchasingInformation"/>
				<xs:element ref="dse-BOPartLine:CurrencyInformation"/>
				<xs:element ref="dse-BOPartLine:ReleaseDetails" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="BOPartLine"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
