Infor EAM APIs for Saas/Version 11.4.1/Schemas/Purchase/MP0458_GetPurchaseServiceTaskInfo_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ================================================================================
    This schema defines MP business function request MP0458_GetPurchaseServiceTaskInfo_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0458_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP0458_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0458_GetPurchaseServiceTaskInfo_001 ======================================-->
	<xs:element name="MP0458_GetPurchaseServiceTaskInfo_001">
		<xs:complexType>
		        <xs:sequence>
			   <xs:element ref="dsf:TASKLISTID"/>
			   <xs:element ref="dsf:PURCHASEORDERID"/>
			   <xs:element ref="dsf:TYPE"/>
			   <xs:element ref="dsf:PRICE" minOccurs="0"/>
			   <xs:element ref="dsf:PURCHASEQTY" minOccurs="0"/>
		        </xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PurchaseServiceTaskInfo"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
