Infor EAM APIs for Saas/Version 11.4.1/schemas/Purchase/MP0440_DeletePOClause_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0440_DeletePOClause_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0440_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP0440_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-POClause="http://schemas.datastream.net/MP_entities/POClause_001"
      elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
      <xs:import namespace="http://schemas.datastream.net/MP_entities/POClause_001" schemaLocation="POClause_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0440_DeletePOClause_001 ======================================-->
	<xs:element name="MP0440_DeletePOClause_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-POClause:POClause"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="POClause"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
