Infor EAM APIs for Saas/Version 11.4.1/Schemas/Purchase/MP0400_AddPurchaseOrderTerm_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ================================================================================
    This schema defines MP business function request MP0400_AddPurchaseOrderTerm_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0400_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:dse-purchaseorderterm="http://schemas.datastream.net/MP_entities/PurchaseOrderTerm_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_functions/MP0400_001" elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_entities/PurchaseOrderTerm_001" schemaLocation="PurchaseOrderTerm_001.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--======================================================================-->
        <!--================  Beginning of MP0400_AddPurchaseOrderTerm_001 ================-->
        <xs:element name="MP0400_AddPurchaseOrderTerm_001">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dse-purchaseorderterm:PurchaseOrderTerm"/>
                        </xs:sequence>
                        <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
                        <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PurchaseOrderTerm"/>
                        <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
