Infor EAM APIs for Saas/Version 11.4.1/Schemas/Purchase/MP4065_AddClauseForQuotationRequest_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP4065_AddClauseForQuotationRequest_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP4065_001"
		xmlns="http://schemas.datastream.net/MP_functions/MP4065_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		xmlns:dse-ClauseForQuotationRequest="http://schemas.datastream.net/MP_entities/ClauseForQuotationRequest_001"
		elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
		<xs:import namespace="http://schemas.datastream.net/MP_entities/ClauseForQuotationRequest_001" schemaLocation="ClauseForQuotationRequest_001.xsd"/>
		<!--===============================================================================-->
		<xs:element name="MP4065_AddClauseForQuotationRequest_001">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="ClauseForQuotationRequests"/>
				</xs:sequence>
				<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
				<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ClauseForQuotationRequest"/>
				<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			</xs:complexType>
		</xs:element>
		<xs:element name="ClauseForQuotationRequests">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="dse-ClauseForQuotationRequest:ClauseForQuotationRequest" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
</xs:schema>