Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP0255_AddPartStores_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result for
  	function request MP0255_AddPartStores_001
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0255_001"
  xmlns="http://schemas.datastream.net/MP_results/MP0255_001"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dsf="http://schemas.datastream.net/MP_fields" 
  xmlns:dse-PartStores="http://schemas.datastream.net/MP_entities/PartStores_001" 
  elementFormDefault="qualified">
  <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
  <xs:import namespace="http://schemas.datastream.net/MP_entities/PartStores_001" schemaLocation="PartStores_001.xsd"/>
<!--======================================================================================-->
<!--====  Begining of MP0255_AddPartStores_001_Result ======================================-->
  <xs:element name="MP0255_AddPartStores_001_Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ResultData"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dse-PartStores:PartStores"/>
      </xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
