Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP0261_AddPartManufacturer_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0261_AddPartManufacturer_001  
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0261_001" xmlns:dse-PartManufacturer="http://schemas.datastream.net/MP_entities/PartManufacturer_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP0261_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PartManufacturer_001" schemaLocation="PartManufacturer_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0261_AddPartManufacturer_001 ======================================-->
	<xs:element name="MP0261_AddPartManufacturer_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PartManufacturer:PartManufacturer"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PartManufacturer"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
