Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP0220_AddIssueReturnTransaction_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0220_AddIssueReturnTransaction_002    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0220_002" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-IssueReturnTransaction="http://schemas.datastream.net/MP_entities/IssueReturnTransaction_002" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP0220_002" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/IssueReturnTransaction_002" schemaLocation="IssueReturnTransaction_002.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0220_AddIssueReturnTransaction_002 ======================================-->
	<xs:element name="MP0220_AddIssueReturnTransaction_002">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-IssueReturnTransaction:IssueReturnTransaction"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="IssueReturnTransaction"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="002"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
