Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP0244_GetPartDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP0244_GetPartDefault_001_Result    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0244_001" xmlns="http://schemas.datastream.net/MP_results/MP0244_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-PartDefault="http://schemas.datastream.net/MP_entities/PartDefault_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PartDefault_001" schemaLocation="PartDefault_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0244_GetPartDefault_001_Result ======================================-->
	<xs:element name="MP0244_GetPartDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PartDefault:PartDefault"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="mos" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="autopart" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="showlot" type="dsf:FLAG_Type" default="false"/>
                        <xs:attribute name="pricelevel" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
