Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP1290_GetSupplierReturn_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result for function request MP1290_GetSupplierReturn_001_Result
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP1290_001" xmlns:dse-SupplierReturn="http://schemas.datastream.net/MP_entities/SupplierReturn_001" xmlns="http://schemas.datastream.net/MP_results/MP1290_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/SupplierReturn_001" schemaLocation="SupplierReturn_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP1290_GetSupplierReturn_001_Result ======================================-->
	<xs:element name="MP1290_GetSupplierReturn_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-SupplierReturn:SupplierReturn"/>
				<xs:element ref="dsf:MULTIEQUIP" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="totalreturnitems" type="xs:long"/>
			<xs:attribute name="hasstoresecurity" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
