Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP1223_AddPickListPart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP1223_AddPickListPart_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1223_001" xmlns:dse-PickListPart="http://schemas.datastream.net/MP_entities/PickListPart_001" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP1223_001" elementFormDefault="qualified">
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PickListPart_001" schemaLocation="PickListPart_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP1223_AddPickListPart_001 ======================================-->
	<xs:element name="MP1223_AddPickListPart_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PickListPart:PickListPart"/>
			</xs:sequence>
			<xs:attribute name="isFromCreatePickTicketPopup" type="dsf:FLAG_Type" default="false"/>			
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PickListPart"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="addplannedwopart" type="dsf:CONFIRMATION_Type" default="prompt"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
