Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP1235_AddTaxRate_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP1235_AddTaxRate_001   
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1235_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP1235_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-txr="http://schemas.datastream.net/MP_entities/TaxRate_001"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields"
		schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/TaxRate_001"
		schemaLocation="TaxRate_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP1235_AddTaxRate_001 ======================================-->
	<xs:element name="MP1235_AddTaxRate_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-txr:TaxRate"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="TaxRate"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="AddTaxRate"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
