Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP1295_ProcessTempRequisitionLines_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
     This schema defines MP business function request MP1295_ProcessTempRequisitionLines_001   
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1295_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-ReqLinesToPOParameters="http://schemas.datastream.net/MP_entities/ReqLinesToPOParameters_001" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP1295_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ReqLinesToPOParameters_001" schemaLocation="ReqLinesToPOParameters_001.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP1295_ProcessTempRequisitionLines_001 ======================================-->
	<xs:element name="MP1295_ProcessTempRequisitionLines_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ReqLinesToPOParameters:ReqLinesToPOParameters"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Process"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="TempRequisitionLines"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
