Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP1248_ImportPickListPart_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP1248_ImportPickListPart_001_Result
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP1248_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_results/MP1248_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP1248_PickListImportPart_001_Result ======================================-->
	<xs:element name="MP1248_ImportPickListPart_001_Result">
		<xs:complexType>
			<xs:sequence/>
			<xs:attribute name="ActualNumber" type="xs:long"/>
			<xs:attribute name="TotalNumber" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
