Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP1287_Store2StoreTransfer_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1287_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP1287_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse="http://schemas.datastream.net/MP_entities/Store2StoreTransfer_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Store2StoreTransfer_001" schemaLocation="Store2StoreTransfer_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP1287_Store2StoreTransfer_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">		
					<xs:sequence>
						<xs:element ref="dse:Store2StoreTransfer"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Transfer"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Store2Store"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="callname" type="xs:string" default="Store2StoreTransfer"/>
				</xs:extension>
			</xs:complexContent>					
		</xs:complexType>
	</xs:element>
</xs:schema>
