Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP2072_ChangePartNumber_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP2072_ChangePartNumber_001
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2072_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP2072_001" 
	elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ====================================================================================== -->
	<!-- =============  Begining of MP2072_ChangePartNumber_001 ============================= -->
	<xs:element name="MP2072_ChangePartNumber_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChangePartNumber"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Change"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PartNumber"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChangePartNumber">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:OLDPARTID"/>
				<xs:element ref="dsf:NEWPARTID" minOccurs="0"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:AUTOCREATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
