Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP2057_AddInternalRepairReceipt_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ================================================================================
    This schema defines MP business function request MPxxxx_AddInternalRepairReceipt_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2057_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-InternalRepairReceipt="http://schemas.datastream.net/MP_entities/InternalRepairReceipt_001" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP2057_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/InternalRepairReceipt_001" schemaLocation="InternalRepairReceipt_001.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2057_AddInternalRepairReceipt_001 ======================================-->
	<xs:element name="MP2057_AddInternalRepairReceipt_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-InternalRepairReceipt:InternalRepairReceipt"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="InternalRepairReceipt"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>	
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
