Infor EAM APIs for On Premise/Version 11.4/Schemas/Material/MP2032_AddServiceCatalogue_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================ 
    Copyright 2003, Datastream Systems, Inc. 
    50 Datastream Plaza, Greenville, SC 29605, USA. 
    All rights reserved. 

    This schema defines MP business function request MP2032_AddServiceCatalogue_001    
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2032_001" 
							xmlns:dsf="http://schemas.datastream.net/MP_fields" 
							xmlns:dse-ServiceCatalogue="http://schemas.datastream.net/MP_entities/ServiceCatalogue_001" 
							xmlns:xs="http://www.w3.org/2001/XMLSchema" 
							xmlns="http://schemas.datastream.net/MP_functions/MP2032_001" 
							elementFormDefault="qualified">
	<!--==================== Imported Namespaces ======================================-->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ServiceCatalogue_001" schemaLocation="ServiceCatalogue_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2032_AddServiceCatalogue_001 ===============================-->
	<xs:element name="MP2032_AddServiceCatalogue_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ServiceCatalogue:ServiceCatalogue"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ServiceCatalogue"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
