Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP2090_SyncStoreToStoreReqPart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP2090_SyncStoreToStoreReqPart_001    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2090_001" xmlns="http://schemas.datastream.net/MP_functions/MP2090_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dse-StoreToStoreReqPart="http://schemas.datastream.net/MP_entities/StoreToStoreReqPart_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/StoreToStoreReqPart_001" schemaLocation="StoreToStoreReqPart_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2090_SyncStoreToStoreReqPart_001 ======================================-->
	<xs:element name="MP2090_SyncStoreToStoreReqPart_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-StoreToStoreReqPart:StoreToStoreReqPart"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="StoreToStoreReqPart"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
