Infor EAM APIs for On Premise/Version 11.4/Schemas/Material/MP2085_SyncStoreToStoreReq_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP2085_SyncStoreToStoreReq_001
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2085_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP2085_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dse-StoreToStoreReq="http://schemas.datastream.net/MP_entities/StoreToStoreReq_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<xs:import namespace="http://schemas.datastream.net/MP_entities/StoreToStoreReq_001" schemaLocation="StoreToStoreReq_001.xsd"/>
<!--===============================================================================-->
<!--====  Begining of MP2085_SyncStoreToStoreReq_001 ======================================-->
	<xs:element name="MP2085_SyncStoreToStoreReq_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-StoreToStoreReq:StoreToStoreReq"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="StoreToStoreReq"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
