Infor EAM APIs for On Premise/Version 11.4/schemas/Material/MP2035_AddReqService_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ================================================================================
    This schema defines MP business function request MP2035_AddReqService_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2035_001" xmlns="http://schemas.datastream.net/MP_functions/MP2035_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:dse-ReqService="http://schemas.datastream.net/MP_entities/ReqService_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ReqService_001" schemaLocation="ReqService_001.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2035_AddReqService_001 ======================================-->
	<xs:element name="MP2035_AddReqService_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ReqService:ReqService"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ReqService"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
