Infor EAM APIs for On Premise/Version 11.4/Schemas/Material/MP2103_CreateStoreToStoreReturnReq_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
Copyright 2003, Datastream Systems, Inc.
50 Datastream Plaza, Greenville, SC 29605, USA.
All rights reserved.

This schema defines MP business function request MP2103_CreateStoreToStoreReturnReq_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2103_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP2103_001" elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
<!--============  Begining of MP2103_CreateStoreToStoreReturnReq_001 ====================-->
	<xs:element name="MP2103_CreateStoreToStoreReturnReq_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">		
					<xs:sequence>
						<xs:element ref="dsf:TRANSACTIONID"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Create"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="StoreToStoreReturnReq"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>			
		</xs:complexType>
	</xs:element>
</xs:schema>