Infor EAM APIs for On Premise/Version 11.4/schemas/Material/PackingSlip_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function entity PackingSlip
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PackingSlip_001" 
	xmlns="http://schemas.datastream.net/MP_entities/PackingSlip_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:osf="http://www.openapplications.org/oagis_fields" 
	xmlns:os="http://www.openapplications.org/oagis_segments"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>	
	<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<!--==============================Begining of PackingSlip_001 ======================================-->
	<xs:element name="PackingSlip">	
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PACKINGSLIPID"/>
				<xs:element ref="dsf:PURCHASEORDERLINEID" minOccurs="0"/>
				<xs:element ref="dsf:PARTID" minOccurs="0"/>
				<xs:element ref="dsf:PACKINGSLIPMANLOT" minOccurs="0"/>
				<xs:element ref="dsf:PACKINGSLIPMANLOTEXP" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERREFERENCE" minOccurs="0"/>
				<xs:element ref="dsf:UOMID" minOccurs="0"/>
				<xs:element ref="dsf:PACKINGSLIPDELQTY" minOccurs="0"/>
				<xs:element ref="dsf:PACKINGSLIPRECVQTY" minOccurs="0"/>
				<xs:element ref="dsf:CONVERSIONFACTOR" minOccurs="0"/>
				<xs:element ref="dsf:PACKINGSLIPCOMMENT" minOccurs="0"/>
				<xs:element ref="dsf:OUTSTANDINGQTY" minOccurs="0"/>
				<xs:element ref="dsf:PURCHASEUOM" minOccurs="0"/>
				<xs:element ref="dsf:PARTUOM" minOccurs="0"/>				
				<xs:element name="PENDINGQTY" type="os:QUANTITY" minOccurs="0"/>
				<xs:element name="QTYPERUOP" type="os:QUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>