Infor EAM APIs for On Premise/Version 11.4/Schemas/Material/PartManufacturer_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ================================================================================
    This schema defines MP entity PartManufacturer
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PartManufacturer_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/PartManufacturer_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of PartManufacturer_001 ======================================-->
	<xs:element name="PartManufacturer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PARTID"/>
				<xs:element ref="dsf:MANUFACTURERID"/>
				<xs:element ref="dsf:MANUFACTURERPARTCODE" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTURERDRAW" minOccurs="0"/>
				<xs:element ref="dsf:ISPRIMARY" minOccurs="0"/>
				<xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:DOCUMOTOBOOKID" minOccurs="0"/>
				<xs:element ref="dsf:DOCUMOTOPARTID" minOccurs="0"/>
				<xs:element ref="dsf:PARTMANUFACTURERID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="manufacturerpartcode_new" type="dsf:CODE50_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
