Infor EAM APIs for On Premise/Version 11.4/Schemas/Material/PickListPartDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
    
    This schema defines MP entity transaction    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PickListPartDefault_001" xmlns="http://schemas.datastream.net/MP_entities/PickListPartDefault_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of PickListPartDefault_001 ======================================-->
	<xs:element name="PickListPartDefault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:STOREID" minOccurs="0"/>
				<xs:element ref="dsf:PICKLISTID" minOccurs="0"/>
				<xs:element ref="dsf:STATUS" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="partplannedinwo" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
