Infor EAM APIs for On Premise/Version 11.4/Schemas/Material/ServiceCatalogue_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================ 
    Copyright 2003, Datastream Systems, Inc. 
    50 Datastream Plaza, Greenville, SC 29605, USA. 
    All rights reserved. 

    This schema defines the MP entity ServiceCatalogue for Task Tab on Suppliers
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ServiceCatalogue_001" 
					xmlns="http://schemas.datastream.net/MP_entities/ServiceCatalogue_001" 
					xmlns:xs="http://www.w3.org/2001/XMLSchema" 
					xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
					xmlns:dsf="http://schemas.datastream.net/MP_fields" 
					elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of ServiceCatalogue_001 ======= -->
	<xs:element name="ServiceCatalogue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SERVICECATALOGUEID"/>
				<xs:element ref="dsf:SUPPLIERTASKSCATLOGUE" minOccurs="0"/>
				<xs:element ref="dsf:PRICE" minOccurs="0"/>
				<xs:element ref="dsf:PREFERRED" minOccurs="0"/>
				<xs:element ref="dsf:EXCHANGE" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="dsf:UOMID" minOccurs="0"/>
				<xs:element ref="dsf:CONVERSIONFACTOR" minOccurs="0"/>
				<xs:element ref="dsf:TAXID" minOccurs="0"/>
				<xs:element ref="dsf:LEADTIMES" minOccurs="0"/>
				<xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
				<xs:element ref="dsf:EXPIRATIONDATE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="ispreplanned" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>	