Infor EAM APIs for On Premise/Version 11.4/schemas/Material/StockTakeLine_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity transaction    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/StockTakeLine_001" xmlns="http://schemas.datastream.net/MP_entities/StockTakeLine_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of StockTakeLine_001 ======================================-->
	<xs:element name="StockTakeLines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StockTakeLine" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StockTakeLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRANSACTIONLINEID"/>
				<xs:element ref="dsf:PARTID"/>
				<xs:element ref="dsf:BIN" minOccurs="0"/>
				<xs:element ref="dsf:LOT" minOccurs="0"/>
				<xs:element ref="dsf:EXPECTEDQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:PHYSICALQUANTITY" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
