Infor EAM APIs for On Premise/Version 11.4/schemas/Material/StoreToStoreReceipt_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity StoreToStoreReceipt
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/StoreToStoreReceipt_001" xmlns="http://schemas.datastream.net/MP_entities/StoreToStoreReceipt_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
<!--=====================  Begining of StoreToStoreReceipt_001 ==========================-->
	<xs:element name="StoreToStoreReceipt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StoreToStoreReceiptDetails"/>
				<xs:element ref="dsf:APPROVER" minOccurs="0"/>
				<xs:element ref="dsf:TRANSACTIONDATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StoreToStoreReceiptDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRANSACTIONID"/>
				<xs:element ref="dsf:TRANSACTIONSTATUS"/>
				<xs:element ref="dsf:FROMSTOREID"/>
				<xs:element ref="dsf:TOSTOREID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:REQUISITIONID" minOccurs="0"/>
				<xs:element ref="dsf:ADVICENUMBER" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>