Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/EOQ_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity for Calculate EOQ
================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EOQ_001"
	xmlns="http://schemas.datastream.net/MP_entities/EOQ_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of EOQ_001 ======= -->
	<xs:element name="EOQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DBSESSIONID"/>
				<xs:element ref="dsf:ORGANIZATIONID"/>
				<xs:element ref="dsf:FROMDATE"/>
				<xs:element ref="dsf:TODATE"/>
				<xs:element ref="dsf:STOREID" minOccurs="0"/>
				<xs:element ref="dsf:PARTID" minOccurs="0"/>
				<xs:element ref="dsf:STOCKCLASSID" minOccurs="0"/>
				<xs:element ref="dsf:ABCCLASS" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="AveragePricePercentage" minOccurs="0"/>
					<xs:element ref="FixedValue" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="dsf:FIXEDORDERCOST"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AveragePricePercentage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:AVERAGEPRICEPERCENT"/>
				<xs:element ref="dsf:HOLDINGCOSTPERCENTAGE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FixedValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FIXEDVALUE"/>
				<xs:element ref="dsf:HOLDINGCOST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
