Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/IssueReturnTransaction_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP entity transaction
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/IssueReturnTransaction_002" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/IssueReturnTransaction_002" xmlns:dse-IssueReturnTransactionLine="http://schemas.datastream.net/MP_entities/IssueReturnTransactionLine_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/IssueReturnTransactionLine_001" schemaLocation="IssueReturnTransactionLine_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of IssueReturnTransaction_002 ======================================-->
	<xs:element name="IssueReturnTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRANSACTIONID"/>
				<xs:element name="ISSUERETURNTYPE" type="xs:string"/>
				<xs:element ref="dsf:ACTIVITYID" minOccurs="0"/>
				<xs:element ref="dsf:PROJECTBUDGET" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:COSTCODEID" minOccurs="0"/>
				<xs:element ref="dsf:STOREID"/>
				<xs:element ref="dsf:MATERIALLISTID" minOccurs="0"/>
				<xs:element ref="dsf:PICKLISTID" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="dsf:TRANSACTIONDATE" minOccurs="0"/>
				<xs:element ref="dsf:ISSUETO" minOccurs="0"/>
				<xs:element ref="dsf:ADVICENUMBER" minOccurs="0"/>
				<xs:element ref="dsf:MULTIEQUIPSPLITINFOBATCH" minOccurs="0"/>
				<xs:element ref="dse-IssueReturnTransactionLine:IssueReturnTransactionLine"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
