Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/LaborRequisition_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity LaborRequisition    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/LaborRequisition_001"
           xmlns="http://schemas.datastream.net/MP_entities/LaborRequisition_001"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="LaborRequisition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DESCRIPTION" minOccurs="0"/>
				<xs:element ref="dsf:STOREID" minOccurs="0"/>
				<xs:element ref="dsf:REQUESTEDBY" minOccurs="0"/>
				<xs:element ref="dsf:DBSESSIONID" minOccurs="0"/>
				<xs:element ref="dsf:DEFAULTAPPROVER" minOccurs="0"/>
				<xs:element ref="dsf:COSTCODEID" minOccurs="0"/>
				<xs:element ref="dsf:REQUISITIONID" minOccurs="0"/>
				<xs:element name="Lines" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Line" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Line">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ACTIVITYID"/>
				<xs:element ref="dsf:LABORTYPE"/>
				<xs:element ref="dsf:PRICE"/>
				<xs:element ref="dsf:CURRENCYID"/>
				<xs:element ref="dsf:COMMODITYID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
