Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MaterialListPart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity transaction    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/MaterialListPart_001" xmlns="http://schemas.datastream.net/MP_entities/MaterialListPart_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MaterialListPart_001 ======================================-->
	<xs:element name="MaterialListPart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:MATERIALLISTPARTID"/>
				<xs:element ref="dsf:PARTID"/>
				<xs:element ref="dsf:PARTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:UOMID" minOccurs="0"/>
				<xs:element ref="dsf:CRITICAL" minOccurs="0"/>
				<xs:element ref="dsf:RESERVEPART" minOccurs="0"/>
				<xs:element name="DIRECT" type="dsf:FLAG_Type" default="-"/>
				<xs:element ref="dsf:PRIMARYMANUFACTURERID" minOccurs="0"/>
				<xs:element ref="dsf:PRIMARYMANUFACTURERPARTCODE" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTTYPE" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
                <xs:element ref="dsf:LONGDESCRIPTION" minOccurs="0"/>
                <xs:element ref="dsf:ISOPTIONAL" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>