Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/MP0296_AddPickList_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0212_AddPickList_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0296_001" xmlns="http://schemas.datastream.net/MP_functions/MP0296_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:dse-PickList="http://schemas.datastream.net/MP_entities/PickList_001" elementFormDefault="qualified">
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PickList_001" schemaLocation="PickList_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0296_AddPickList_001 ======================================-->
	<xs:element name="MP0296_AddPickList_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">

			<xs:sequence>
				<xs:element ref="dse-PickList:PickList"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PickList"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>

		</xs:complexType>
	</xs:element>
</xs:schema>
