Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MP0286_Bin2BinTransfer_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0286_Bin2BinTransfer_001  
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0286_001" xmlns="http://schemas.datastream.net/MP_functions/MP0283_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" 
xmlns:dse="http://schemas.datastream.net/MP_entities/Bin2BinTransfer_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Bin2BinTransfer_001" schemaLocation="Bin2BinTransfer_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0286_Bin2BinTransfer_001 ======================================-->
	<xs:element name="MP0286_Bin2BinTransfer_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse:Bin2BinTransfer"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Transfer"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Bin2Bin"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
