Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/MP1214_AddReq_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP1214_AddrReq_001   
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1214_001"  
  xmlns="http://schemas.datastream.net/MP_functions/MP1214_001" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dse-Req="http://schemas.datastream.net/MP_entities/Req_001" 
  xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<xs:import namespace="http://schemas.datastream.net/MP_entities/Req_001" schemaLocation="Req_001.xsd"/>
<!--===============================================================================-->
<!--====  Begining of MP1214_AddReq_001 ======================================-->
	<xs:element name="MP1214_AddReq_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-Req:Req"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Req"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>

					<xs:attribute name="workorder" type="xs:string" default=""/>
                  		<!-- for Requisition POPUP on Work | Parts -->

				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
