Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/MP1259_SyncSupplierContact_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP1230_SyncSupplierContact_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1259_001"
  xmlns="http://schemas.datastream.net/MP_functions/MP1259_001"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dse-SupplierContact="http://schemas.datastream.net/MP_entities/SupplierContact_001"
  xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<xs:import namespace="http://schemas.datastream.net/MP_entities/SupplierContact_001" schemaLocation="SupplierContact_001.xsd"/>
<!--===============================================================================-->
<!--====  Begining of MP1259_SyncSupplierContact_001 ======================================-->
	<xs:element name="MP1259_SyncSupplierContact_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-SupplierContact:SupplierContact"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="SupplierContact"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
