Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MP1276_SyncPOReceiptActiveLine_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP1276_SyncPOReceiptActiveLine_001
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1276_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-POReceiptActiveLine="http://schemas.datastream.net/MP_entities/POReceiptActiveLine_001" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP1276_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/POReceiptActiveLine_001" schemaLocation="POReceiptActiveLine_001.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP1276_SyncPOReceiptActiveLine_001 ======================================-->
	<xs:element name="MP1276_SyncPOReceiptActiveLine_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-POReceiptActiveLine:POReceiptActiveLine"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="POReceiptActiveLine"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_returnqty_notequal_rejectqty" type="dsf:CONFIRMATION_Type" default="not_needed"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
