Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MP1248_ImportPickListPart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function MP1248_ImportPickListPart_001
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1248_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP1248_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP1248_ImportPickListPart_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FROM"/>
				<xs:element ref="dsf:PICKLISTID"/>
				<xs:element ref="PickListParts" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FROM">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FROMTYPE" type="dsf:CODE30_Type"/>
				<xs:element name="FROMCODE" type="dsf:CODE30_Type"/>
				<xs:element name="FROMCODEORG" type="dsf:ORGANIZATIONID_Type" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PickListParts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PARTID" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>