Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MP2002_AddTaxRateValue_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP2002_AddTaxRateValue_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2002_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-TaxRateValue="http://schemas.datastream.net/MP_entities/TaxRateValue_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_functions/MP2002_001" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/TaxRateValue_001" schemaLocation="TaxRateValue_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2002_AddTaxRateValue_001 ======================================-->
	<xs:element name="MP2002_AddTaxRateValue_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-TaxRateValue:TaxRateValue"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="TaxRateValue"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
