Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/MP2015_SyncNonPOReceiptPart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP2015_SyncNonPOReceiptPart_001   
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2015_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP2015_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse="http://schemas.datastream.net/MP_entities/NonPOReceiptPart_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/NonPOReceiptPart_001" schemaLocation="NonPOReceiptPart_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP2015_SyncNonPOReceiptPart_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse:NonPOReceiptPart"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="NonPOReceiptPart"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="SyncNonPOReceiptPart"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
