Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MP2031_GetServiceCatalogue_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================ 
    Copyright 2003, Datastream Systems, Inc. 
    50 Datastream Plaza, Greenville, SC 29605, USA. 
    All rights reserved. 

    This schema defines MP business function result MP2031_GetServiceCatalogue_001_Result    
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP2031_001" 
							xmlns:dse-ServiceCatalogue="http://schemas.datastream.net/MP_entities/ServiceCatalogue_001" 
							xmlns:dsf="http://schemas.datastream.net/MP_fields" 
							xmlns:xs="http://www.w3.org/2001/XMLSchema" 
							xmlns="http://schemas.datastream.net/MP_results/MP2031_001" 
							elementFormDefault="qualified">
	<!--========================== Imported Namespaces ================================-->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ServiceCatalogue_001" schemaLocation="ServiceCatalogue_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2031_GetServiceCatalogue_001_Result ==========================-->
	<xs:element name="MP2031_GetServiceCatalogue_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ServiceCatalogue:ServiceCatalogue"/>
				<xs:element ref="dsf:LOCALPRICE" minOccurs="0"/>
				<xs:element ref="dsf:LOCALCURRENCY" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>			
		</xs:complexType>
	</xs:element>
</xs:schema>