Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/MP2149_CreateIPBuySupplier_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP2149_CreateIPBuySupplier_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2149_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP2149_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====================================================================================-->
	<!--==================Begining of MP2149_CreateIPBuySupplier_001==================-->
	<xs:element name="MP2149_CreateIPBuySupplier_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:IPBUYVENDORID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Create"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="IPBuySupplier"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_create_supplier" type="dsf:CONFIRMATION_Type" default="not_needed"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
