Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/MP2207_SyncPartEvaluation_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2007 Infor.All rights reserved.The word and design marks set
	forth herein are trademarks and/or registered trademarks of Infor and/or
	related affiliates and subsidiaries.All rights reserved.All other trademarks
	listed herein are the property of their respective owners.www.infor.com.
	
	This schema defines MP business function request MP2207_SyncPartEvaluation_001
 ================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2207_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-PartEvaluation="http://schemas.datastream.net/MP_entities/PartEvaluation_001" xmlns="http://schemas.datastream.net/MP_functions/MP2207_001" elementFormDefault="qualified">

	<!--============================= Imported Schemas =============================================-->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PartEvaluation_001" schemaLocation="PartEvaluation_001.xsd"/>
	<!--============================================================================================-->

	<!--=====================  Begining of MP2207_SyncPartEvaluation_001 ===========================-->
	<xs:element name="MP2207_SyncPartEvaluation_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PartEvaluation:PartEvaluation"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PartEvaluation"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
