Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MP2276_DeleteSupplierServiceCode_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2015 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.
	
	This schema defines MP business function request MP2276_DeleteSupplierServiceCode_001
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2276_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP2276_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Beginning of MP2276_DeleteSupplierServiceCode_001 ======================================-->
	<xs:element name="MP2276_DeleteSupplierServiceCode_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SUPPLIERSERVICECODEID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="SupplierServiceCode"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_delete_exclusions" type="dsf:CONFIRMATION_Type"/>
			<xs:attribute name="callname" type="xs:string" default="DeleteServiceCodeExclusions"/>
		</xs:complexType>
	</xs:element>
</xs:schema>