Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MP2275_SyncSupplierServiceCode_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2015 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.
	
	This schema defines MP business function request MP2275_SyncSupplierServiceCode_001
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2275_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP2275_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:dse-supplierservicecode="http://schemas.datastream.net/MP_entities/SupplierServiceCode_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/SupplierServiceCode_001" schemaLocation="SupplierServiceCode_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Beginning of MP2275_SyncSupplierServiceCode_001 ======================================-->
	<xs:element name="MP2275_SyncSupplierServiceCode_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-supplierservicecode:SupplierServiceCode"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="SupplierServiceCode"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>