Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MP2302_PrintBarcodeHeldItem_001_Result.xsd

<!-- ================================================================================
    Copyright (c) 2018 Infor.All rights reserved.The word and design marks set
    forth herein are trademarks and/or registered trademarks of Infor and/or
    related affiliates and subsidiaries.All rights reserved.All other trademarks
    listed herein are the property of their respective owners.www.infor.com.
	
    This schema defines MP business function result for function request MP2302_PrintBarcodeHeldItem_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP2302_001" xmlns:dse-BarcodePrintServerRequest="http://schemas.datastream.net/MP_entities/BarcodePrintServerRequest_001" xmlns="http://schemas.datastream.net/MP_results/MP2302_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/BarcodePrintServerRequest_001" schemaLocation="BarcodePrintServerRequest_001.xsd"/>
	<!--======================================================================================-->
	<!--====  Begining of MP2302_PrintBarcodeHeldItem_001_Result ======================================-->
	<xs:element name="MP2302_PrintBarcodeHeldItem_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BarcodePrintServerRequestResult" maxOccurs="unbounded">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BarcodePrintServerRequestResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-BarcodePrintServerRequest:BarcodePrintServerRequest"/>
				<xs:element name="printserver" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
