Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/MP7258_DeleteSupplierCommodity_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	This schema defines MP business function request MP7258_DeleteSupplierCommodity_001
=======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7258_001" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns:dsf="http://schemas.datastream.net/MP_fields" 
			xmlns="http://schemas.datastream.net/MP_functions/MP7258_001" 
			elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7258_DeleteSupplierCommodity_001 ==========================-->
	<xs:element name="MP7258_DeleteSupplierCommodity_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SUPPLIERCOMMODITYID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="SupplierCommodity"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>