Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/NonPOReceiptPart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP entity NonPOReceiptPart    
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/NonPOReceiptPart_001"
           xmlns="http://schemas.datastream.net/MP_entities/NonPOReceiptPart_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="NonPOReceiptPart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRANSACTIONLINEID"/>
				<xs:element ref="dsf:PARTID"/>
				<xs:element ref="dsf:UOMID" minOccurs="0"/>
				<xs:element ref="dsf:BYASSET" minOccurs="0"/>
				<xs:element ref="dsf:RECEIPTQUANTITY"/>
				<xs:element ref="dsf:PRICE"/>
				<xs:element ref="dsf:BINID"/>
				<xs:element name="Lot" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:LOTID" minOccurs="0"/>
							<xs:element ref="dsf:EXPIRATIONDATE" minOccurs="0"/>
							<xs:element ref="dsf:MANUFACTLOT" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Asset" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:ASSETID" minOccurs="0"/>
							<xs:element ref="dsf:TYPE" minOccurs="0"/>
							<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
							<xs:element ref="dsf:SERIALNUMBER" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="dsf:PRINTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:LABELPRINTINGDEFAULT" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:ACTIVITYID" minOccurs="0"/>
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
				<xs:element ref="dsf:LONGDESCRIPTION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
