Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/Part_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
 Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth herein are trademarks and/or
 registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. All other
 trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP entity Part
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Part_001" xmlns:dse-Profile="http://schemas.datastream.net/MP_entities/Profile_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/Part_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Profile_001" schemaLocation="../Asset/Profile_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of Part_001 ======================================-->
	<xs:element name="Part">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PARTID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:CATEGORYID" minOccurs="0"/>
				<xs:element ref="dsf:UOMID"/>
				<xs:element ref="dsf:TOOLID" minOccurs="0"/>
				<xs:element ref="dsf:PRIMARYCOMMODITY" minOccurs="0"/>
				<xs:element ref="dsf:SECONDARYCOMMODITY" minOccurs="0"/>
				<xs:element ref="dsf:INSPECTMETHOD" minOccurs="0"/>
				<xs:element ref="dsf:TAXID" minOccurs="0"/>
				<xs:element ref="dsf:TRACKMETHOD"/>
				<xs:element ref="dsf:WARRANTYDAYS" minOccurs="0"/>
				<xs:element ref="dsf:PARTCODESTRUCTURE" minOccurs="0"/>
				<xs:element ref="dsf:BUYER" minOccurs="0"/>
				<xs:element ref="dsf:PREFERREDSUPPLIER" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERPRICE" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERCURRENCY" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERUOM" minOccurs="0"/>
				<xs:element ref="dsf:CONVERSIONFACTOR" minOccurs="0"/>
				<xs:element ref="dsf:COREVALUE" minOccurs="0"/>
				<xs:element ref="dsf:AVERAGEPRICE" minOccurs="0"/>
				<xs:element ref="dsf:LASTPRICE" minOccurs="0"/>
				<xs:element ref="dsf:STANDARDPRICE" minOccurs="0"/>
				<xs:element ref="dsf:CREDITBALANCE" minOccurs="0"/>
				<xs:element ref="dsf:BASEPRICE" minOccurs="0"/>
				<xs:element ref="dsf:PRICETYPE" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="dsf:BYASSET" minOccurs="0"/>
				<xs:element ref="dsf:BYLOT" minOccurs="0"/>
				<xs:element ref="dsf:KIT" minOccurs="0"/>
				<xs:element ref="dsf:SAVEHISTORY" minOccurs="0"/>
				<xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
				<xs:element ref="dsf:INSPECTIONREQUIRED" minOccurs="0"/>
				<xs:element ref="dsf:REPAIRABLE" minOccurs="0"/>
				<xs:element ref="dsf:CALIBRATIONSTANDARD" minOccurs="0"/>
				<xs:element ref="dsf:PREVENTREORDERS" minOccurs="0"/>
				<xs:element ref="dse-Profile:Profile" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="dsf:PRIMARYMANUFACTURERID" minOccurs="0"/>
				<xs:element ref="dsf:PRIMARYMANUFACTURERPARTCODE" minOccurs="0"/>
				<xs:element ref="dsf:VMRSCODE" minOccurs="0"/>
				<xs:element ref="dsf:FUGITIVEGAS" minOccurs="0"/>
				<xs:element ref="dsf:TRACKBYCONDITION" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATEID" minOccurs="0"/>
				<xs:element ref="dsf:PARENTPART" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:SAFETYDATEREVIEWREQUIRED" minOccurs="0"/>
				<xs:element ref="dsf:SAFETYREVIEWEDBY" minOccurs="0"/>
				<xs:element ref="dsf:LONGDESCRIPTION" minOccurs="0"/>
				<xs:element ref="dsf:DOCUMOTOBOOKID" minOccurs="0"/>
				<xs:element ref="dsf:DOCUMOTOPARTID" minOccurs="0"/>
				<xs:element ref="dsf:NONCONFORMITYIMPORTANCE" minOccurs="0"/>
				<xs:element ref="dsf:MATERIALTYPE" minOccurs="0"/>
				<xs:element ref="UserDefinedFields" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR11" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR12" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR13" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR14" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR15" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR16" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR17" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR18" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR19" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR20" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR21" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR22" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR23" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR24" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR25" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR26" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR27" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR28" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR29" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR30" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
				<xs:element ref="dsf:UDFNOTE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNOTE02" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
