Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/Req_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2007 Infor. All rights reserved. The word	and design marks set forth herein are trademarks and/or
    registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. All	other
    trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema	defines	MP entity Req	 
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Req_001" 
	   xmlns="http://schemas.datastream.net/MP_entities/Req_001" 
	   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	   elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
<!--====  Begining of Req_001 ======================================-->
  <xs:element name="Req">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="dsf:REQUISITIONID" minOccurs="1"/>
	<xs:element ref="dsf:STATUS" minOccurs="1"/>
	<xs:element ref="dsf:STOREID" minOccurs="1"/>
	<xs:element ref="dsf:REQUESTEDBY" minOccurs="1"/>
	<xs:element ref="dsf:DELADDRESSCODE" minOccurs="0"/><!--Delivery Address-->
	<xs:element ref="dsf:SUPPLIERID" minOccurs="0"/>
	<xs:element ref="dsf:CLASSID" minOccurs="0"/><!--Class-->
	<xs:element ref="dsf:CREATEDDATE" minOccurs="1"/><!--Date Requested-->
	<xs:element ref="dsf:COSTCODEID" minOccurs="0"/>
	<xs:element ref="dsf:WORKORDERACTIVITY"	minOccurs="0"/>
	<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
	<xs:element ref="dsf:PROJECTBUDGET" minOccurs="0"/><!--Project-Budget-->
	<xs:element ref="dsf:CREATEDBY"	minOccurs="1"/><!--Entered By-->
	<xs:element ref="dsf:PRINTED" minOccurs="0"/><!--Printed-->
	<xs:element ref="dsf:DEFAULTAPPROVER" minOccurs="0"/><!--Default Approver-->
	<xs:element ref="dsf:APPROVER" minOccurs="0"/><!--Approved By-->
	<xs:element ref="dsf:APPROVEDATE" minOccurs="0"/><!--Date Approved-->
	<xs:element ref="dsf:PARTLINECOUNT" minOccurs="0"/><!--Part Lines-->
	<xs:element ref="dsf:SERVICELINECOUNT" minOccurs="0"/><!--Service Lines-->
	<xs:element ref="dsf:REQUISITIONLINECOUNT" minOccurs="0"/><!--Req Lines-->
	<xs:element ref="dsf:PARTTOTAL"	minOccurs="0"/><!--Total Part Value/Currency-->
	<xs:element ref="dsf:SERVICETOTAL" minOccurs="0"/><!--Total Service Value/Currency-->
	<xs:element ref="dsf:REQUISITIONTOTAL" minOccurs="0"/><!--Total	Req Value/Currency-->

	<xs:element ref="dsf:PARTCURRENCY" minOccurs="0"/><!--Total Part Value/Currency-->
	<xs:element ref="dsf:SERVICECURRENCY" minOccurs="0"/><!--Total Service Value/Currency-->
	<xs:element ref="dsf:REQUISITIONCURRENCY" minOccurs="0"/><!--Total Req Value/Currency-->
	<xs:element ref="dsf:REJECTIONREASON" minOccurs="0"/>
	<xs:element ref="dsf:RELATEDWORKORDERID" minOccurs="0"/>
	<xs:element ref="dsf:ATTENTIONTO" minOccurs="0"/>
	<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0" />
	<xs:element ref="dsf:QUOTATIONREQUESTID" minOccurs="0" />
	<xs:element ref="dsf:RFQREQUIRED" minOccurs="0"/>
	<xs:element ref="UserDefinedFields" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="recordid" type="xs:long"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR11" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR12" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR13" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR14" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR15" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR16" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR17" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR18" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR19" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR20" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR21" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR22" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR23" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR24" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR25" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR26" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR27" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR28" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR29" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR30" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
				<xs:element ref="dsf:UDFNOTE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNOTE02" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
