Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/ReqService_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2007 Infor. All rights reserved. The word	and design marks set forth herein are trademarks and/or
	registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.	All other
	trademarks listed herein are the property of their respective owners. www.infor.com.
	
	This schema defines MP entity ReqService  
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ReqService_001" 
		xmlns="http://schemas.datastream.net/MP_entities/ReqService_001" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:dsf="http://schemas.datastream.net/MP_fields" 
		xmlns:of="http://www.openapplications.org/oagis_fields" 
		elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
<!--====  Begining of ReqService_001 ======================================-->
	<xs:element name="ReqService">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:REQUISITIONLINEID"/>
				<xs:element ref="dsf:SUPPLIERID" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERREFERENCE"	minOccurs="0"/>
				<xs:element ref="dsf:WORKORDERACTIVITY"	minOccurs="0"/>
				<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:RELATEDWORKORDERID" minOccurs="0"/>
				<xs:element ref="dsf:PROJECTBUDGET" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="dsf:TRADEID" minOccurs="0"/>
				<xs:element ref="dsf:TASKLISTID" minOccurs="0"/>
				<xs:element ref="dsf:JOBPLANID" minOccurs="0"/>
				<xs:element ref="dsf:TASKQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:UOMID"  minOccurs="0"/>
				<xs:element ref="dsf:HOURSREQUESTED"  minOccurs="0"/>
				<xs:element ref="dsf:PRICE" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="dsf:DATEREQUIRED"/><!--Requested Before-->
				<xs:element ref="dsf:EXCHRATE" minOccurs="0"/>
				<xs:element ref="dsf:COSTCODEID" minOccurs="0"/>
				<xs:element ref="dsf:BUYER" minOccurs="0"/>
				<xs:element ref="dsf:DELIVERYADDRESSID"	minOccurs="0"/>
				<xs:element ref="dsf:WARRANTY" minOccurs="0"/>
				<xs:element ref="dsf:EXPENSETYPE" minOccurs="0"/>
				<xs:element ref="dsf:COMMODITYID" minOccurs="0"/>
				<xs:element ref="dsf:QUOTATIONINDICATOR"/>
				<xs:element ref="dsf:REQLINETOTAL" minOccurs="0"/>
				<xs:element ref="dsf:RECEIVEDQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:ACCOUNTDETAIL" minOccurs="0"/>
				<xs:element ref="dsf:INTERFACE"	minOccurs="0"/>
				<xs:element ref="dsf:SOURCECODE" minOccurs="0"/>
				<xs:element ref="dsf:SOURCESYSTEM" minOccurs="0"/>
				<xs:element ref="dsf:REQUISITIONRSTATUS" minOccurs="0"/>
				<xs:element ref="dsf:HOURSUNITRATIO" minOccurs="0"/>
				<xs:element ref="dsf:MULTIEQUIP" minOccurs="0"/>
				<xs:element ref="dsf:RFQLINEID"	minOccurs="0"/>
				<xs:element ref="dsf:QUOTATIONLINEID" minOccurs="0"/>
				<xs:element ref="dsf:PURCHASEORDERLINEID" minOccurs="0"/>
				<xs:element ref="dsf:NOTES" minOccurs="0"/>
				<xs:element ref="dsf:LONGDESCRIPTION" minOccurs="0"/>
				<xs:element ref="UserDefinedFields" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR11" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR12" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR13" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR14" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR15" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR16" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR17" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR18" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR19" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR20" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR21" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR22" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR23" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR24" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR25" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR26" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR27" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR28" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR29" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR30" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
