Infor EAM APIs for Saas/Version 11.4.1/schemas/Material/StoreToStoreReceiptPart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity transaction    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/StoreToStoreReceiptPart_001" xmlns="http://schemas.datastream.net/MP_entities/StoreToStoreReceiptPart_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of StoreToStoreReceiptPart_001 ======================================-->
	<xs:element name="StoreToStoreReceiptPart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StoreToStoreReceiptPartDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StoreToStoreReceiptPartDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRANSACTIONLINEID"/>
				<xs:element ref="dsf:PARTID"/>
				<xs:element ref="dsf:LOT" minOccurs="0"/>
				<xs:element ref="dsf:RECEIPTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:REPAIRRECEIPTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:SCRAPQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:TOBIN"/>
				<xs:element ref="dsf:ASSETID" minOccurs="0"/>
				<xs:element ref="dsf:PRICE"/>
				<xs:element ref="dsf:COREVALUE" minOccurs="0"/>
				<xs:element ref="dsf:STOCKPRICE" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="dsf:PRIMARYMANUFACTURERID" minOccurs="0"/>
				<xs:element ref="dsf:PRIMARYMANUFACTURERPARTCODE" minOccurs="0"/>
				<xs:element ref="dsf:PRINTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:LABELPRINTINGDEFAULT" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:ATTACHTOEQUIPMENT" minOccurs="0"/>
				<xs:element ref="dsf:REQUISITIONLINEID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
