Infor EAM APIs for Saas/Version 11.4.1/Schemas/Material/SupplierReturn_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity SupplierReturn
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/SupplierReturn_001" xmlns="http://schemas.datastream.net/MP_entities/SupplierReturn_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of SupplierReturn_001 ======================================-->
	<xs:element name="SupplierReturn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SUPPLIERRETURNID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:ADVICENUMBER" minOccurs="0"/>
				<xs:element ref="dsf:APPROVER" minOccurs="0"/>
				<xs:element ref="dsf:RETURNDATE" minOccurs="0"/>
				<xs:element ref="dsf:PURCHASEORDERID"/>
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="dsf:FROMCODE"/>
				<xs:element ref="dsf:FROMCODEORG" minOccurs="0"/>
				<xs:element ref="dsf:TOCODE"/>
				<xs:element ref="dsf:TOCODEORG"/>
				<xs:element ref="dsf:FROMENTITY"/>
				<xs:element ref="dsf:PRINTED" minOccurs="0"/>
				<xs:element ref="dsf:TRANSMITTED" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="dsf:TRANSACTIONTYPE" minOccurs="0"/>
				<xs:element ref="dsf:REQUISITIONID" minOccurs="0"/>
				<xs:element ref="dsf:PERSONCODE" minOccurs="0"/>
				<xs:element ref="dsf:PRICECODEDEST" minOccurs="0"/>
				<xs:element ref="dsf:PRICECODEORIG" minOccurs="0"/>
				<xs:element ref="dsf:SOURCESYSTEM" minOccurs="0"/>
				<xs:element ref="dsf:SOURCECODE" minOccurs="0"/>
				<xs:element ref="dsf:INTERFACE" minOccurs="0"/>
				<xs:element ref="dsf:ACDCODE" minOccurs="0"/>
				<xs:element ref="dsf:DCKCODE" minOccurs="0"/>
				<xs:element ref="dsf:DCKLINE" minOccurs="0"/>
				<xs:element ref="ReadOnlyFields" minOccurs="0"/>
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReadOnlyFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:RELATEDWORKORDERID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>
