Infor EAM APIs for Saas/Version 11.4.1/wsdl/Work/MP7343_SyncFleetCustomer_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP7343_SyncFleetCustomer_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP7343_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP7343_SyncFleetCustomer_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP7343_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP7343_001" schemaLocation="../../schemas/Work/MP7343_SyncFleetCustomer_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP7343_001" schemaLocation="../../schemas/Work/MP7343_SyncFleetCustomer_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="SyncFleetCustomerRequestMsg">
    <part name="SyncFleetCustomerRequestMsg" element="rqst0:MP7343_SyncFleetCustomer_001"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="SyncFleetCustomerResponseMsg">
    <part name="SyncFleetCustomerResponseMsg" element="resp0:MP7343_SyncFleetCustomer_001_Result"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <portType name="SyncFleetCustomerPT">
    <operation name="SyncFleetCustomerOp">
      <input name="SyncFleetCustomerRequestMsg" message="tns:SyncFleetCustomerRequestMsg"/>
      <output name="SyncFleetCustomerResponseMsg" message="tns:SyncFleetCustomerResponseMsg"/>
    </operation>
  </portType>
  <binding name="SyncFleetCustomerSoapBinding" type="tns:SyncFleetCustomerPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SyncFleetCustomerOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="SyncFleetCustomerRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="SyncFleetCustomerRequestMsg" use="literal"/>
      </input>
      <output name="SyncFleetCustomerResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="SyncFleetCustomerResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SyncFleetCustomerService">
    <port name="SyncFleetCustomerSoapBinding" binding="tns:SyncFleetCustomerSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
