Infor EAM APIs for Saas/Version 11.4.1/wsdl/Work/MP7330_AddFleetException_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP7330_AddFleetException_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP7330_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP7330_AddFleetException_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP7330_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP7330_001" schemaLocation="../../schemas/Work/MP7330_AddFleetException_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP7330_001" schemaLocation="../../schemas/Work/MP7330_AddFleetException_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="AddFleetExceptionRequestMsg">
    <part name="AddFleetExceptionRequestMsg" element="rqst0:MP7330_AddFleetException_001"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="AddFleetExceptionResponseMsg">
    <part name="AddFleetExceptionResponseMsg" element="resp0:MP7330_AddFleetException_001_Result"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <portType name="AddFleetExceptionPT">
    <operation name="AddFleetExceptionOp">
      <input name="AddFleetExceptionRequestMsg" message="tns:AddFleetExceptionRequestMsg"/>
      <output name="AddFleetExceptionResponseMsg" message="tns:AddFleetExceptionResponseMsg"/>
    </operation>
  </portType>
  <binding name="AddFleetExceptionSoapBinding" type="tns:AddFleetExceptionPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AddFleetExceptionOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="AddFleetExceptionRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddFleetExceptionRequestMsg" use="literal"/>
      </input>
      <output name="AddFleetExceptionResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddFleetExceptionResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AddFleetExceptionService">
    <port name="AddFleetExceptionSoapBinding" binding="tns:AddFleetExceptionSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
