Infor EAM APIs for Saas/Version 11.4.1/Wsdl/Work/MP7332_DeleteFleetException_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP7332_DeleteFleetException_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP7332_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP7332_DeleteFleetException_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP7332_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP7332_001" schemaLocation="../../schemas/Work/MP7332_DeleteFleetException_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP7332_001" schemaLocation="../../schemas/Work/MP7332_DeleteFleetException_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="DeleteFleetExceptionRequestMsg">
    <part name="DeleteFleetExceptionRequestMsg" element="rqst0:MP7332_DeleteFleetException_001"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="DeleteFleetExceptionResponseMsg">
    <part name="DeleteFleetExceptionResponseMsg" element="resp0:MP7332_DeleteFleetException_001_Result"/>
  </message>
  <portType name="DeleteFleetExceptionPT">
    <operation name="DeleteFleetExceptionOp">
      <input name="DeleteFleetExceptionRequestMsg" message="tns:DeleteFleetExceptionRequestMsg"/>
      <output name="DeleteFleetExceptionResponseMsg" message="tns:DeleteFleetExceptionResponseMsg"/>
    </operation>
  </portType>
  <binding name="DeleteFleetExceptionSoapBinding" type="tns:DeleteFleetExceptionPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteFleetExceptionOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="DeleteFleetExceptionRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="DeleteFleetExceptionRequestMsg" use="literal"/>
      </input>
      <output name="DeleteFleetExceptionResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="DeleteFleetExceptionResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DeleteFleetExceptionService">
    <port name="DeleteFleetExceptionSoapBinding" binding="tns:DeleteFleetExceptionSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
