Infor EAM APIs for Saas/Version 11.4.1/Wsdl/Base/MP0340_AddPermitAssociation_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP0340_AddPermitAssociation_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP0340_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP0340_AddPermitAssociation_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP0340_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP0340_001" schemaLocation="../../schemas/Base/MP0340_AddPermitAssociation_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP0340_001" schemaLocation="../../schemas/Base/MP0340_AddPermitAssociation_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="AddPermitAssociationResponseMsg">
    <part name="AddPermitAssociationResponseMsg" element="resp0:MP0340_AddPermitAssociation_001_Result"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="AddPermitAssociationRequestMsg">
    <part name="AddPermitAssociationRequestMsg" element="rqst0:MP0340_AddPermitAssociation_001"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <portType name="AddPermitAssociationPT">
    <operation name="AddPermitAssociationOp">
      <input name="AddPermitAssociationRequestMsg" message="tns:AddPermitAssociationRequestMsg"/>
      <output name="AddPermitAssociationResponseMsg" message="tns:AddPermitAssociationResponseMsg"/>
    </operation>
  </portType>
  <binding name="AddPermitAssociationSoapBinding" type="tns:AddPermitAssociationPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AddPermitAssociationOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="AddPermitAssociationRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddPermitAssociationRequestMsg" use="literal"/>
      </input>
      <output name="AddPermitAssociationResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddPermitAssociationResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AddPermitAssociationService">
    <port name="AddPermitAssociationSoapBinding" binding="tns:AddPermitAssociationSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
