Infor EAM APIs for Saas/Version 11.4.1/Schemas/DataCollection/MP0810_AddInterfaceTransactions_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
    	50 Datastream Plaza, Greenville, SC 29605, USA.
   	All rights reserved.
	
        This schema defines MP business function request MP0810_AddInterfaceTransactions_001
=======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0810_001" xmlns="http://schemas.datastream.net/MP_functions/MP0810_001" xmlns:dsf-trans="http://schemas.datastream.net/MP_entities/InterfaceTransactions_001" xmlns:trd="http://schemas.datastream.net/MP_entities/TrackingData_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields"  xmlns:os="http://www.openapplications.org/oagis_segments" xmlns:osf="http://www.openapplications.org/oagis_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/InterfaceTransactions_001" schemaLocation="InterfaceTransactions_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0810_AddInterfaceTransactions_001 ======================================-->
	<xs:element name="MP0810_AddInterfaceTransactions_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf-trans:InterfaceTransactions"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="InterfaceTransactions"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
