Infor EAM APIs for Saas/Version 11.4.1/Schemas/DataCollection/MP0830_StartPreliminaryAnalysis_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2005, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0830_StartPreliminaryAnalysis_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0830_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP0830_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0830_StartPreliminaryAnalysis_001 ======================================-->
	<xs:element name="MP0830_StartPreliminaryAnalysis_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UPLOADID"/>
				<xs:element ref="dsf:UPLOADTABLES" minOccurs="0"/>
				<xs:element name="PREANALYSISOPTIONS">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DUPLICATE" type="dsf:FLAG_Type" minOccurs="0"/>
							<xs:element name="FIELDLENGTH" type="dsf:FLAG_Type" minOccurs="0"/>
							<xs:element name="SPECIALCHAR" type="dsf:FLAG_Type" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Start"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PreliminaryAnalysis"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
