Infor EAM APIs for Saas/Version 11.4.1/schemas/DataCollection/MP0822_SyncUploadInfo_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2005, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0822_SyncUploadInfo_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0822_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP0822_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-UploadInfo="http://schemas.datastream.net/MP_entities/UploadInfo_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">

	<xs:import namespace="http://schemas.datastream.net/MP_entities/UploadInfo_001" schemaLocation="UploadInfo_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!--===============================================================================-->
	<!--====  Begining of MP0822_SyncUploadInfo_001 ===================================-->
	<xs:element name="MP0822_SyncUploadInfo_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-UploadInfo:UploadInfo"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="UploadInfo"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>