Infor EAM APIs for On Premise/Version 11.4/Schemas/DataWarehouse/DatabaseData_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2004, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity DatabaseData
============================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/DatabaseData_001" xmlns="http://schemas.datastream.net/MP_entities/DatabaseData_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====  Beginning of DatabaseData_001 ======================================-->
	<xs:element name="DatabaseData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Metadata" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Data" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Column" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="label" type="xs:string"/>
						<xs:attribute name="sqltype" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="R" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="R">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="C" type="xs:string" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
