Infor EAM APIs for On Premise/Version 11.4/Schemas/Inspection/MP1068_GetInspectionResultApprovalDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function result for function request MP1068_GetInspectionResultApprovalDefault_001_Result
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP1068_001" 
	xmlns="http://schemas.datastream.net/MP_results/MP1068_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-rpf="http://schemas.datastream.net/MP_entities/ReportFilter_001" 
	elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ReportFilter_001" schemaLocation="../Base/ReportFilter_001.xsd"/>
	<!-- ====================================================================================== -->
	<!--====  Begining of MP1068_GetInspectionResultApprovalDefault_001_Result ======================================-->
	<xs:element name="MP1068_GetInspectionResultApprovalDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:INSPECTIONROUTESTATUS" minOccurs="0"/>
				<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
				<xs:element ref="dse-rpf:ReportFilter" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>