Infor EAM APIs for On Premise/Version 11.4/Schemas/Inspection/MP1018_SyncAspect_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP1018_SyncAspect_001	
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1018_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP1018_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:dse-Aspect="http://schemas.datastream.net/MP_entities/Aspect_001" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Aspect_001" 
		schemaLocation="Aspect_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" 
		schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP1018_SyncAspect_001 ======================================-->
	<xs:element name="MP1018_SyncAspect_001">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="dse-Aspect:Aspect"/>
		</xs:sequence>
		<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
		<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Aspect"/>
		<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
	</xs:complexType>
	</xs:element>
</xs:schema>
