Infor EAM APIs for On Premise/Version 11.4/schemas/Inspection/MP1068_GetInspectionResultApprovalDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function request MP1068_GetInspectionResultApprovalDefault_001
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1068_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP1068_001" 
	elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ====================================================================================== -->
	<!-- =============  Begining of MP1068_GetInspectionResultApprovalDefault_001 ============================= -->
	<xs:element name="MP1068_GetInspectionResultApprovalDefault_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FUNCTIONID" minOccurs="0"/>
				<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="normal" type="xs:boolean" default="true"/>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="InspectionResultDefault"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>