Infor EAM APIs for On Premise/Version 11.4/Schemas/Inspection/MP1088_SyncAspectNonconformityType_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2017 Infor. All rights reserved. The word and design marks set forth herein are trademarks
    and/or registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.
    
    This schema defines MP business function request MP1088_SyncAspectNonconformityType_001.
==========================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1088_001"
    xmlns:dse-anc="http://schemas.datastream.net/MP_entities/AspectNonconformityType_001"
    xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.datastream.net/MP_functions/MP1088_001" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields"  schemaLocation="../MP_fields.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_entities/AspectNonconformityType_001"
        schemaLocation="AspectNonconformityType_001.xsd"/>
    <!--==================================================================-->
    <xs:element name="MP1088_SyncAspectNonconformityType_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dse-anc:AspectNonconformityType"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="AspectNonconformityType"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
</xs:schema>