Infor EAM APIs for On Premise/Version 11.5/schemas/DataCollection/MP0806_GetTransactionPromptsDefault_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    This schema defines MP business Tab request MP0806_GetTransactionPromptsDefault_001
    	Copyright 2003, Datastream Systems, Inc.
       	50 Datastream Plaza, Greenville, SC 29605, USA.
       	All rights reserved.
======================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0806_001" 
	   xmlns="http://schemas.datastream.net/MP_functions/MP0806_001" 
	   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	   xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	   elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0806_GetTransactionPromptsDefault_001 ======================================-->
	<xs:element name="MP0806_GetTransactionPromptsDefault_001">
		<xs:complexType>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="TransactionPromptsDefault"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
