Infor EAM APIs for On Premise/Version 11.4/schemas/Work/ActivityToolDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP entity ActivityToolDefault 
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Activitytooldefault_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_entities/Activitytooldefault_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of ActivityToolDefault_001 ======= -->
	<xs:element name="ActivityToolDefault">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Activity" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:TRADEID" minOccurs="0"/>
							<xs:element ref="dsf:ACTIVITYCODE" minOccurs="0"/>
							<xs:element ref="dsf:ACTIVITYSTARTDATE" minOccurs="0"/>
							<xs:element ref="dsf:ACTIVITYENDDATE" minOccurs="0"/>
							<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="WorkOrder">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IS_SCHEDULED_BY_MSPROJECT" type="dsf:FLAG_Type" minOccurs="0"/>
							<xs:element name="NUMBER_OF_ACTIVITIES" type="xs:nonNegativeInteger" minOccurs="0"/>
							<xs:element name="IS_RELEASED" type="dsf:FLAG_Type" minOccurs="0"/>
							<xs:element ref="dsf:DEPARTMENTCODE" minOccurs="0"/>
							<xs:element ref="dsf:WORKORDEREXT" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="dsf:TOOLQUANTITY" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>