Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/DocumotoPartStore_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP entity DocumotoPartStore    
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/DocumotoPartStore_001"
           xmlns="http://schemas.datastream.net/MP_entities/DocumotoPartStore_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="DocumotoPartStore">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PARTID" minOccurs="0"/>
				<xs:element ref="DocumotoPartStoreRecord" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumotoPartStoreRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DOCUMOTOREQUESTID"/>
				<xs:element ref="dsf:DOCUMOTOPARTID"/>
				<xs:element ref="dsf:MULTIPLERECORDS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumotoPartStoreRecord">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:STOREID"/>
				<xs:element ref="dsf:QTYONHAND" minOccurs="0"/>
				<xs:element ref="dsf:PRICE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
