Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/EmployeeQualification_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP entity EmployeeQualification 
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EmployeeQualification_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/EmployeeQualification_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of EmployeeQualification_001 ======= -->
	<xs:element name="EmployeeQualification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EMPLOYEEQUALIFICATIONID"/>
				<xs:element ref="dsf:PURPOSE" minOccurs="0"/>
				<xs:element ref="dsf:COURSEHOURS" minOccurs="0"/>
				<xs:element ref="dsf:CEU" minOccurs="0"/>
				<xs:element ref="dsf:COURSESTART" minOccurs="0"/>
				<xs:element ref="dsf:COURSEFINISH" minOccurs="0"/>
				<xs:element ref="dsf:COURSECOST" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="dsf:COURSECOMPLETED" minOccurs="0"/>
				<xs:element ref="dsf:CERTIFICATIONNUMBER" minOccurs="0"/>
				<xs:element ref="dsf:CERTIFICATIONTYPE" minOccurs="0"/>
				<xs:element ref="dsf:QUALIFICATIONDURATION" minOccurs="0"/>
				<xs:element ref="dsf:DURATIONUOM" minOccurs="0"/>
				<xs:element ref="dsf:QUALIFICATIONEXPIRATIONDATE" minOccurs="0"/>
				<xs:element ref="dsf:QUALIFICATIONCOMMENTS" minOccurs="0"/>
				<xs:element ref="dsf:TEMPDISQUALIFIED" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
