Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/FleetBill_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003,	Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity for Fleet Bill
================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/FleetBill_001"
	xmlns="http://schemas.datastream.net/MP_entities/FleetBill_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====================  Begining of FleetBill ====================-->
	<xs:element name="FleetBill">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FleetBillBasicInformation"/>			
				<xs:element ref="FleetBillDetails"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FleetBillBasicInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FLEETBILLID" />
				<xs:element ref="dsf:CLASSID"  minOccurs="0"/>
				<xs:element ref="dsf:PAIDDATE" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FleetBillDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:STARTDATE" minOccurs="0"/>
				<xs:element ref="dsf:ENDDATE"/>
				<xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:FLEETCUSTOMERID" />
				<xs:element ref="dsf:BILLINGAMOUNT" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYCODE" minOccurs="0"/>
				<xs:element ref="dsf:GLTRANSFERDATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>