Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/FleetTicketException_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity for Exception for Fleet Vehicle Ticket
================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/FleetTicketException_001"
	xmlns="http://schemas.datastream.net/MP_entities/FleetTicketException_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of FleetTicketException_001 ======= -->
	<xs:element name="FleetTicketException">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FLEETTICKETEXCEPTIONID" minOccurs="0"/>
				<xs:element ref="dsf:FLEETVEHICLETICKETID"/>
				<xs:element ref="dsf:FLEETEXCEPTIONID"/>
				<xs:element ref="dsf:EXCEPTIONDATE"/>
				<xs:element ref="dsf:EXCEPTIONTYPE"/>
				<xs:element ref="dsf:EXCEPTIONAMOUNT" minOccurs="0"/>
				<xs:element ref="dsf:WORKORDERID" minOccurs="0"/>
				<xs:element ref="dsf:EXCEPTIONCOMMENTS" minOccurs="0"/>
				<xs:element ref="dsf:VEHICLEEXTRACHARGE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
