Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/FleetMarkupRate_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity  FleetMarkupRate_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/FleetMarkupRate_001" 
	xmlns="http://schemas.datastream.net/MP_entities/FleetMarkupRate_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of FleetMarkupRate_001 ======================================-->
	<xs:element name="FleetMarkupRate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FLEETMARKUPRATEID"/>
				<xs:element ref="dsf:ENDDATE"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="FleetMarkupChargesData" minOccurs="0"/>
				<xs:element ref="FleetMarkupPercentageData" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FleetMarkupChargesData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FUELCHARGE" minOccurs="0"/>
				<xs:element ref="dsf:LABORCHARGE" minOccurs="0"/>
				<xs:element ref="dsf:PARTSCHARGE" minOccurs="0"/>
				<xs:element ref="dsf:CONTRACTLABORCHARGE" minOccurs="0"/>
				<xs:element ref="dsf:POOLMILEAGECHARGE" minOccurs="0"/>
				<xs:element ref="dsf:LOANERMILEAGECHARGE" minOccurs="0"/>
				<xs:element ref="dsf:ASSIGNMENTMILEAGECHARGE" minOccurs="0"/>
				<xs:element ref="dsf:POOLUSAGECHARGE" minOccurs="0"/>
				<xs:element ref="dsf:LOANERUSAGECHARGE" minOccurs="0"/>
				<xs:element ref="dsf:ASSIGNMENTUSAGECHARGE" minOccurs="0"/>
				<xs:element ref="dsf:INSURANCECHARGE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FleetMarkupPercentageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FUELPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:LABORPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:PARTSPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:CONTRACTLABORPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:POOLMILEAGEPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:LOANERMILEAGEPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:ASSIGNMENTMILEAGEPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:POOLUSAGEPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:LOANERUSAGEPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:ASSIGNMENTUSAGEPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:INSURANCEPERCENTAGE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
