Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/Fuel_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth 
	herein are trademarks and/or registered trademarks of Infor and/or related affiliates
	and subsidiaries. All rights reserved. All other trademarks listed herein are the
	property of their respective owners. www.infor.com

    This schema defines MP entity Fuel
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Fuel_001"
	xmlns="http://schemas.datastream.net/MP_entities/Fuel_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:of="http://www.openapplications.org/oagis_fields"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="Fuel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FUELID"/>
				<xs:element ref="dsf:FUELTYPE"/>
				<xs:element ref="dsf:UOMID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:BLENDEDGRADE" minOccurs="0"/>
				<xs:element ref="dsf:FUELBLEND1" minOccurs="0"/>
				<xs:element ref="dsf:FUELBLEND2" minOccurs="0"/>
				<xs:element ref="dsf:FUELBLEND3" minOccurs="0"/>
				<xs:element ref="dsf:FUELBLEND4" minOccurs="0"/>
				<xs:element ref="dsf:FUELBLEND5" minOccurs="0"/>
				<xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
				<xs:element ref="UserDefinedFields" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="dsf:COMMODITYID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR11" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR12" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR13" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR14" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR15" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR16" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR17" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR18" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR19" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR20" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR21" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR22" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR23" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR24" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR25" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR26" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR27" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR28" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR29" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR30" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
