Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MeterReadingDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity MeterReadingDefault    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/MeterReadingDefault_001"
           xmlns="http://schemas.datastream.net/MP_entities/MeterReadingDefault_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MeterReadingDefault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TargetEquipment" minOccurs="0"/>
				<xs:element ref="Equipment" minOccurs="0"/>
				<xs:element ref="dsf:WORKORDEREXT" minOccurs="0"/>
				<xs:element ref="dsf:USAGEDEFMECCHILD" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Equipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTID"/>
				<xs:element ref="dsf:USAGEUOMID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="has_meteruom_defined" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TargetEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTID"/>
				<xs:element ref="dsf:READINGDATE"/>
				<xs:element ref="dsf:READINGTYPEID"/>
				<xs:element ref="Meter" minOccurs="0"/>
				<xs:element ref="ReadingHistory" minOccurs="0"/>
				<xs:element ref="dsf:UPDOWNMETER" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Meter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:METERID"/>
				<xs:element ref="dsf:ROLLOVERPOINT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReadingHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LASTREADING" minOccurs="0"/>
				<xs:element ref="dsf:LASTREADINGDATE" minOccurs="0"/>
				<xs:element ref="dsf:DAYSSINCELASTENTRY" minOccurs="0"/>
				<xs:element ref="dsf:USAGESINCELASTWORKORDER" minOccurs="0"/>
				<xs:element ref="dsf:AVERAGEDAILYUSAGE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
