Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP0091_GetPMSchedule_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0091_GetPMSchedule_001_Result   
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0091_001"
           xmlns="http://schemas.datastream.net/MP_results/MP0091_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-ppm="http://schemas.datastream.net/MP_entities/PMScheduleForWork_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PMScheduleForWork_001" schemaLocation="PMScheduleForWork_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP0091_GetPMSchedule_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dse-ppm:PMSchedule"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="multiorg" type="xs:boolean"/>
			<xs:attribute name="is_ppm_revision_control_on" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
