Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP0094_GetServiceCode_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP0094_GetServiceCode_001_Result    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0094_001" xmlns="http://schemas.datastream.net/MP_results/MP0094_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-sc="http://schemas.datastream.net/MP_entities/ServiceCode_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ServiceCode_001" schemaLocation="ServiceCode_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0094_GetServiceCode_001_Result ======================================-->
	<xs:element name="MP0094_GetServiceCode_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-sc:ServiceCode"/>
				<xs:element ref="dsf:CURRENCYID"/>
				<xs:element ref="OtherSystemDetails" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtherSystemDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:CATEGORYID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
</xs:schema>
