Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP0035_GetActivity_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP0035_GetActivity_001_Result    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0035_001" xmlns:dse-act="http://schemas.datastream.net/MP_entities/Activity_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_results/MP0035_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/Activity_001" schemaLocation="Activity_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0035_GetActivity_001_Result ======================================-->
	<xs:element name="MP0035_GetActivity_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dse-act:Activity"/>
							<xs:element ref="dsf:WORKORDEREXT"/>
							<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
							<xs:element ref="dsf:REQUISITIONLINEID" minOccurs="0"/>
							<xs:element ref="dsf:PURCHASEORDERLINEID" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="can_create_req" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="is_matlist_has_allocatedqty" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="is_activity_has_checklist_items" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
