Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP0013_GetWorkRequestDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP0013_GetWorkRequestDefault_001_Result
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0013_001" 
		xmlns:dsf="http://schemas.datastream.net/MP_fields" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns="http://schemas.datastream.net/MP_results/MP0013_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0013_GetWorkRequestDefault_001_Result ======================================-->
	<xs:element name="MP0013_GetWorkRequestDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:JOBNUM"/>				
			    <xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
				<xs:element ref="dsf:TYPE"/>			    
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="dsf:TARGETDATE"/>				
				<xs:element ref="dsf:REQUESTEDBY" minOccurs="0"/>
				<xs:element ref="dsf:REPORTED"/>
				<xs:element ref="dsf:CCTRSPCVALIDATION" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
