Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP0076_ImportPartsList_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0076_ImportPartsList_001_Result   
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0076_001"
           xmlns="http://schemas.datastream.net/MP_results/MP0076_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0076_ImportPartsList_001_Result ======================================-->
	<xs:element name="MP0076_ImportPartsList_001_Result">
			<xs:complexType>
				<xs:sequence/>
				<xs:attribute name="ActualNumber" type="xs:long"/>
				<xs:attribute name="TotalNumber" type="xs:long"/>
			</xs:complexType>
	</xs:element>
</xs:schema>
