Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP0051_GetWorkOrderPermitDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP0051_GetWorkOrderPermitDefault_001   
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0051_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP0051_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP0051_GetWorkOrderPermitDefault_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID" minOccurs="0"/>
				<xs:element ref="PermitReviewDetail" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderPermitDefault"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="GetWorkOrderPermitDefault"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PermitReviewDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:REVIEWEDBYESIGN" minOccurs="0"/>
				<xs:element ref="dsf:DATEREVIEWED" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
