Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP0071_AddWorkOrderPart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP business function request MP0071_AddWorkOrderPart_001
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0071_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP0071_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-wop="http://schemas.datastream.net/MP_entities/WorkOrderPart_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/WorkOrderPart_001" schemaLocation="WorkOrderPart_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP0071_AddWorkOrderPart_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-wop:WorkOrderPart"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderPart"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="AddWorkOrderPart"/>
			<xs:attribute name="confirm_add_part" type="dsf:CONFIRMATION_Type" default="prompt"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
