Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP0051_GetWorkOrderPermitDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0051_GetWorkOrderPermitDefault_001_Result   
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0051_001"
	xmlns="http://schemas.datastream.net/MP_results/MP0051_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP0051_GetWorkOrderPermitDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:PERMITREFERENCE"/>
							<xs:element ref="dsf:WORKORDERID"/>
							<xs:element ref="dsf:ACTIVE"/>
							<xs:element ref="dsf:MANDATORY"/>
							<xs:element ref="dsf:DELETEPENDING"/>
							<xs:element ref="dsf:MULTIEQUIP" minOccurs="0"/>
							<xs:element ref="dsf:WOMECTYPE" minOccurs="0"/>
							<xs:element ref="dsf:WORKORDEREXT" minOccurs="0"/>
							<xs:element ref="dsf:REVIEWEDBYESIGN" minOccurs="0"/>
							<xs:element ref="dsf:DATEREVIEWED" minOccurs="0"/>
						</xs:sequence>
				        <xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>