Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP0057_AddWorkOrderSchedule_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
        Copyright 2003, Datastream Systems, Inc.
        50 Datastream Plaza, Greenville, SC 29605, USA.
        All rights reserved.
        
    This schema defines MP business function request MP0057_AddWorkOrderSchedule_001   
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0057_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP0057_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-acs="http://schemas.datastream.net/MP_entities/WorkOrderSchedule_001"
           elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_entities/WorkOrderSchedule_001" schemaLocation="WorkOrderSchedule_001.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP0057_AddWorkOrderSchedule_001">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dse-acs:WorkOrderSchedule"/>
                        </xs:sequence>
                        <xs:attribute name="ignore_conflict" type="xs:boolean" use="required"/>
                        <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
                        <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderSchedule"/>
                        <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                        <xs:attribute name="callname" type="xs:string" default="AddWorkOrderSchedule"/>
                        <xs:attribute name="productiondaterangeconfirmation" type="dsf:CONFIRMATION_Type" default="prompt"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
