Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP0523_GetCloseServiceRequestDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP0523_GetCloseServiceRequestDefault_001_Result   
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0523_001"
           xmlns="http://schemas.datastream.net/MP_results/MP0523_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-wo="http://schemas.datastream.net/MP_entities/WorkOrder_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/WorkOrder_001" schemaLocation="WorkOrder_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP0523_GetCloseServiceRequestDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResultData">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dsf:SERVICEREQUESTID"/>
							<xs:element ref="dsf:STATUS"/>
							<xs:element ref="dse-wo:WorkOrder" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="is_SR_closed_or_cancelled" type="xs:boolean" use="required"/>
						<xs:attribute name="jtauth_can_update" type="xs:boolean"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
