Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP1059_SyncInspectionPointRoute_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP1059_SyncInspectionPointRoute_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1059_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP1059_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-InspectionPointRoute="http://schemas.datastream.net/MP_entities/InspectionPointRoute_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/InspectionPointRoute_001" schemaLocation="InspectionPointRoute_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====================================================================================-->
	<!--==================Begining of MP1059_SyncInspectionPointRoute_001==================-->
	<xs:element name="MP1059_SyncInspectionPointRoute_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-InspectionPointRoute:InspectionPointRoute"/>
				<xs:element ref="dsf:INSPECTIONPOINTROUTEID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="InspectionPointRoute"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>