Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP7003_DeleteCustomerProperties_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ================================================================================
    This schema defines MP business function request MP7003_DeleteCustomerProperties_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7003_001" xmlns:dse-cpr="http://schemas.datastream.net/MP_entities/CustomerProperties_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns="http://schemas.datastream.net/MP_functions/MP7003_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/CustomerProperties_001" schemaLocation="CustomerProperties_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7003_DeleteCustomerProperties_001 ======================================-->
	<xs:element name="MP7003_DeleteCustomerProperties_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CUSTOMERPROPERTIESID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CustomerProperties"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="DeleteCustomerProperties"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
