Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7018_AddPMScheduleActivity_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7018_001"
           xmlns="http://schemas.datastream.net/MP_functions/MP7018_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-ppa="http://schemas.datastream.net/MP_entities/PMScheduleActivity_001"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PMScheduleActivity_001" schemaLocation="PMScheduleActivity_001.xsd"/>
	<!--===============================================================================-->
	<xs:element name="MP7018_AddPMScheduleActivity_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ppa:PMScheduleActivity"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PMScheduleActivity"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="AddPMScheduleActivity"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
