Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7106_AddAssignedPersonnel_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP7106_AddAssignedPersonnel_001
==================================================================================-->
<!-- ================================================================================
    This schema defines MP business function request MP7106_AddAssignedPersonnel_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7106_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns="http://schemas.datastream.net/MP_functions/MP7106_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7106_AddAssignedPersonnel_001 ======================================-->
	<xs:element name="MP7106_AddAssignedPersonnel_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SERVICEREQUESTID"/>
				<xs:element ref="dsf:ACTIVITYID"/>
				<xs:element ref="dsf:ASSIGNEDPERSON" maxOccurs="10000"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="AssignedPersonnel"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="callname" type="xs:string" default="AddAssignedPersonnel"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
