Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7191_ValidateDeviceReading_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP business function result MP7191_ValidateDeviceReading_001_Result
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7191_001" xmlns:dse-WOCalibration="http://schemas.datastream.net/MP_entities/WOCalibration_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_results/MP7191_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_entities/WOCalibration_001" schemaLocation="WOCalibration_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7191_ValidateDeviceReading_001_Result ======================================-->
	<xs:element name="MP7191_ValidateDeviceReading_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="ASFOUNDDEPENDENCY" />
					<xs:element ref="ASLEFTDEPENDENCY" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ASFOUNDDEPENDENCY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ASFOUNDSTATUS" minOccurs="0"/>
				<xs:element ref="dsf:ASFOUNDDEVIATION" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ASLEFTDEPENDENCY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ASLEFTSTATUS" minOccurs="0"/>
				<xs:element ref="dsf:ASLEFTDEVIATION" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
</xs:element>
</xs:schema>
