Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7105_GetAssignedPersonnelDefault_002.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP7105_GetAssignedPersonnelDefault_002
==================================================================================-->


<!-- ================================================================================
    This schema defines MP business function request MP7105_GetAssignedPersonnelDefault_002
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7105_002"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP7105_002"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7105_GetAssignedPersonnelDefault_002 ======================================-->
	<xs:element name="MP7105_GetAssignedPersonnelDefault_002">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dsf:SERVICEREQUESTID"/>
						<xs:element ref="dsf:ACTIVITYID" minOccurs="0"/>
					</xs:sequence>

					<xs:attribute name="srqpagemode" type="dsf:CODE10_Type"/>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="AssignedPersonnelDefault"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="002"/>
			</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
