Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7139_GetToolUsage_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP business function result MP7139_GetToolUsage_001_Result
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7139_001" xmlns:dse-ToolUsage="http://schemas.datastream.net/MP_entities/ToolUsage_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_results/MP7139_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ToolUsage_001" schemaLocation="ToolUsage_001.xsd"/>
	<!--=============================================================================-->
	<!--================  Begining of MP7139_GettoolUsage_001_Result ================-->
	<xs:element name="MP7139_GetToolUsage_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ToolUsage:ToolUsage"/>
				<xs:element ref="dsf:RELATEDWORKORDERID" minOccurs="0"/>
				<xs:element ref="dsf:MULTIEQUIPSPLITFLAG" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:positiveInteger"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
