Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7161_ChangeWorkOrderStatus_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.
    This schema defines MP business function request MP7161_ChangeWorkOrderStatus_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7161_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP7161_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7161_ChangeWorkOrderStatus_001 ======================================-->
	<xs:element name="MP7161_ChangeWorkOrderStatus_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dsf:WORKORDERID"/>
						<xs:element ref="dsf:NEWSTATUS"/>
					</xs:sequence>
					<xs:attribute name="autoproductionrequestprompt" type="dsf:CONFIRMATION_Type"/>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderStatus"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="isCampaign" type="dsf:FLAG_Type" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
