Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7127_GetWorkOrderCosts_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function result MP7127_GetWorkOrderCosts_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7127_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_results/MP7127_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7127_GetWorkOrderCosts_001_Result ======================================-->
	<xs:element name="MP7127_GetWorkOrderCosts_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>			
					<xs:element ref="dsf:WORKORDERID"/>				
					<xs:element ref="dsf:ACTIVITYID"/>
				</xs:choice>					
				<xs:element ref="ActualCosts" minOccurs="0"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="ActualCosts">
		<xs:complexType>
			<xs:sequence>				
				<xs:element ref="dsf:STOCKMATERIALCOST"/>
				<xs:element ref="dsf:DIRECTPURCHASECOST"/>
				<xs:element ref="dsf:INHOUSELABORCOST"/>
				<xs:element ref="dsf:HIREDLABORCOST"/>
				<xs:element ref="dsf:SERVICECOST"/>
				<xs:element ref="dsf:TOOLCOST"/>
				<xs:element ref="dsf:TOTALCOST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>			
</xs:schema>
