Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7195_AddTaskQualification_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ================================================================================
    This schema defines MP business function request MP7195_AddTaskQualification_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7195_001" xmlns="http://schemas.datastream.net/MP_functions/MP7195_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:dse-TaskQualification="http://schemas.datastream.net/MP_entities/TaskQualification_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/TaskQualification_001" schemaLocation="TaskQualification_001.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7195_AddTaskQualification_001 ======================================-->
	<xs:element name="MP7195_AddTaskQualification_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-TaskQualification:TaskQualification"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="TaskQualification"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
