Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7117_GetAdditionalChargeDefault_001_Result.xsd

<?xml version="1.0"?>
<!--
================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result for function request
    MP7117_GetAdditionalChargeDefault_001_Result
================================================================================
-->


<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7117_001"
	xmlns="http://schemas.datastream.net/MP_results/MP7117_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:os="http://www.openapplications.org/oagis_segments"
	xmlns:of="http://www.openapplications.org/oagis_fields"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields"
		schemaLocation="../MP_fields.xsd"/>

	<!--====  Begining of MP7117_GetAdditionalChargeDefault_001_Result ====-->
	<xs:element name="MP7117_GetAdditionalChargeDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ADDITIONALCHARGELINENUM"/>
				<xs:element ref="dsf:CURRENCYCODE"/>
				<xs:element ref="dsf:ACTIVITYCODE"  minOccurs="0"/>
				<xs:element ref="dsf:JOBNUM" minOccurs="0"/>
				<xs:element ref="dsf:STATUSCODE" />
			</xs:sequence>
			<xs:attribute name="activityexists" type="dsf:FLAG_Type" default="true"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
