Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7277_ApproveRevisionControl_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP7277_ApproveRevisionControl_001
======================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7277_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP7277_001" elementFormDefault="qualified">
	<!-- ============================= Imported schemas ===================================== -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ================================================================================== -->
	<!--======================  Begining of MP7277_ApproveRevisionControl_001 ======================-->
	<xs:element name="MP7277_ApproveRevisionControl_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="ApproveRevisionControl"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Approve"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="RevisionControl"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="confirm_parentpm_approval" type="dsf:CONFIRMATION_Type" default="not_needed"/>
				</xs:extension>					
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ApproveRevisionControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:REVISIONCONTROLID"/>
				<xs:element ref="dsf:USERID"/>
				<xs:element ref="dsf:APPROVER" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="isparentpm" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
