Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7259_GetActivityWarranty_001.xsd

<?xml version="1.0"?>
<!--
==========================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request
    MP7259_GetActivityWarranty_001
===============================================================================
-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7259_001"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.datastream.net/MP_functions/MP7259_001"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <!--====  Begining of MP7259_GetActivityWarranty_001 ======================================-->
    <xs:element name="MP7259_GetActivityWarranty_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:WORKORDERID"/>
                <xs:element ref="dsf:VMRSCODE"/>
                <xs:element ref="dsf:ISWORKORDERJOB" minOccurs="0"/>
				<xs:element ref="dsf:REASONFORREPAIR" minOccurs="0"/>
				<xs:element ref="dsf:WORKACCOMPLISHED" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ActivityWarranty"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
