Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7219_AddVendorBooking_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP business function request MP7219_AddVendorBooking_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7219_001" xmlns="http://schemas.datastream.net/MP_functions/MP7219_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:os="http://www.openapplications.org/oagis_segments" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:dse-VendorBooking="http://schemas.datastream.net/MP_entities/VendorBooking_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/VendorBooking_001" schemaLocation="VendorBooking_001.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7219_AddVendorBooking_001 ======================================-->
	<xs:element name="MP7219_AddVendorBooking_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-VendorBooking:VendorBookingDetails"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="VendorBooking"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
