Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7240_DeleteServiceCatalogueTask_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function request MP7240_DeleteServiceCatalogueTask_001
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7240_001"
			xmlns:dsf="http://schemas.datastream.net/MP_fields"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://schemas.datastream.net/MP_functions/MP7240_001"
			elementFormDefault="qualified">
	<!-- =========== Imported namespaces =========== -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- =========================================== -->
	<!-- ======== Begining of MP7240_DeleteServiceCatalogueTask_001 ============ -->
	<xs:element name="MP7240_DeleteServiceCatalogueTask_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SERVICECATALOGUEID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ServiceCatalogueTask"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
