Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7201_AddEmployeeQualification_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function request MP7201_AddEmployeeQualification_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7201_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:des-EQ="http://schemas.datastream.net/MP_entities/EmployeeQualification_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP7201_001" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EmployeeQualification_001" schemaLocation="EmployeeQualification_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7201_AddEmployeeQualification_001 ======================================-->
	<xs:element name="MP7201_AddEmployeeQualification_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="des-EQ:EmployeeQualification"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EmployeeQualification"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
