Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7241_GetServiceCatalogueTaskDefault_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function result MP7241_GetServiceCatalogueTaskDefault_001_Result
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7241_001" 
			xmlns:dsf="http://schemas.datastream.net/MP_fields" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns="http://schemas.datastream.net/MP_results/MP7241_001" 
			elementFormDefault="qualified">
	<!--==================== Imported Namespaces =======================================-->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7241_GetServiceCatalogueTaskDefault_001_Result ===================-->
	<xs:element name="MP7241_GetServiceCatalogueTaskDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CURRENCYID"/>
				<xs:element ref="dsf:CURRENTDATETIME"/>
				<xs:element ref="dsf:PMRVCTRL" />
				<xs:element ref="dsf:REVISIONSTATUS"/>
				<xs:element ref="dsf:JOBPLANID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="hasjobs" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="ispreplanned" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>