Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7396_RemoveWorkOrderEquipment_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP7396_RemoveWorkOrderEquipment_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7396_001" xmlns="http://schemas.datastream.net/MP_functions/MP7396_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7396_RemoveWorkOrderEquipment_001 ======================================-->
	<xs:element name="MP7396_RemoveWorkOrderEquipment_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID"/>
				<xs:element ref="dsf:RELATEDWORKORDERID"/>	
			</xs:sequence>
            <xs:attribute name="confirmequipmentchecklist" type="dsf:CONFIRMATION_Type" default="prompt"/>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Remove"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderEquipment"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
