Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP7433_SyncReleasedPM_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP7433_SyncReleasedPM_001    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7433_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-ReleasedPM="http://schemas.datastream.net/MP_entities/ReleasedPM_001" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP7433_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ReleasedPM_001" schemaLocation="ReleasedPM_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7433_SyncReleasedPM_001 ======================================-->
	<xs:element name="MP7433_SyncReleasedPM_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-ReleasedPM:ReleasedPM"/>
						<xs:element name="PRINTALLRELEASED" type="dsf:FLAG_Type"/>
						<xs:element ref="dsf:SEQUENCENUMBER"/>
						<xs:element ref="dsf:SEQUENCE"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ReleasedPM"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
