Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7453_AddPMPlanEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP7453_AddPMPlanEquipment_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7453_001"
		xmlns="http://schemas.datastream.net/MP_functions/MP7453_001"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		xmlns:dse-PMPlanEquipment="http://schemas.datastream.net/MP_entities/PMPlanEquipment_001"
		elementFormDefault="qualified">
		<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
		<xs:import namespace="http://schemas.datastream.net/MP_entities/PMPlanEquipment_001" schemaLocation="PMPlanEquipment_001.xsd"/>
		<!--===============================================================================-->
		<xs:element name="MP7453_AddPMPlanEquipment_001">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="dsf:BaseSchemaRequestElement">
						<xs:sequence>
							<xs:element ref="PMPlanEquipments"/>
						</xs:sequence>
						<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
						<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PMPlanEquipment"/>
						<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					</xs:extension>
				</xs:complexContent>	
			</xs:complexType>
		</xs:element>
		<xs:element name="PMPlanEquipments">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="dse-PMPlanEquipment:PMPlanEquipment" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
</xs:schema>
