Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7450_DeletePMScheduleForPMPlan_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function request MP7450_DeletePMScheduleForPMPlan_001
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7450_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7450_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Beginning of MP7450_DeletePMScheduleForPMPlan_001 ======================================-->
	<xs:element name="MP7450_DeletePMScheduleForPMPlan_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dsf:PPMID"/>
						<xs:element ref="dsf:PMPLANCODE"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PMScheduleForPMPlan"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="confirm_delete_equip" type="dsf:CONFIRMATION_Type"/>
					<xs:attribute name="confirm_delete_wopackage" type="dsf:CONFIRMATION_Type"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
