Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7438_AddEmployeeBookLabor_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP7438_AddEmployeeBookLabor_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7438_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7438_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-LaborBooking="http://schemas.datastream.net/MP_entities/LaborBooking_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/LaborBooking_001" schemaLocation="LaborBooking_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7438_AddEmployeeBookLabor_001 =============================-->
	<xs:element name="MP7438_AddEmployeeBookLabor_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-LaborBooking:LaborBooking"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EmployeeBookLabor"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
