Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP7422_AddBatchMeterReading_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP7422_AddBatchMeterReading_001    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7422_001" xmlns="http://schemas.datastream.net/MP_functions/MP7422_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:dse-BatchMeterReading="http://schemas.datastream.net/MP_entities/BatchMeterReading_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/BatchMeterReading_001" schemaLocation="BatchMeterReading_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7422_AddBatchMeterReading_001 ======================================-->
	<xs:element name="MP7422_AddBatchMeterReading_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-BatchMeterReading:BatchMeterReading"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="BatchMeterReading"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
