Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP7585_AddCrewEmployee_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP7585_AddCrewEmployee_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7585_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7585_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-CrewEmployee="http://schemas.datastream.net/MP_entities/CrewEmployee_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/CrewEmployee_001" 
	schemaLocation="CrewEmployee_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--================================================================================================-->
	<!--====  Beginning of MP7585_AddCrewEmployee_001 ======================================-->
	<xs:element name="MP7585_AddCrewEmployee_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-CrewEmployee:CrewEmployee"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CrewEmployee"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_duplicate_employee" type="dsf:CONFIRMATION_Type" default="confirmed"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
