Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP7648_StopFleetLaborBooking_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
   Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth herein are trademarks
   and/or registered trademarks of Infor * and/or related affiliates and subsidiaries. All rights reserved.
   All other trademarks listed herein are the property of their respective owners. www.infor.com. 
	
    This schema defines MP business function request MP7648_StopFleetLaborBooking_001
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7648_001" 
        xmlns:dse-fleetlaborbooking="http://schemas.datastream.net/MP_entities/FleetLaborBooking_001" 
        xmlns:dsf="http://schemas.datastream.net/MP_fields" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        xmlns="http://schemas.datastream.net/MP_functions/MP7648_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/FleetLaborBooking_001" schemaLocation="FleetLaborBooking_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7648_StopFleetLaborBooking_001 ======================================-->
	<xs:element name="MP7648_StopFleetLaborBooking_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-fleetlaborbooking:FleetLaborBooking"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Stop"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="FleetLaborBooking"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_autobook_hours" type="dsf:CONFIRMATION_Type" default="not_needed"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
