Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7798_AddContractTemplateWOCriteria_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    //#Header: #
 
    #Revision: #                     #Date: #
 
    Copyright © COPYRIGHT_YEAR Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.
   
    //#Log:#
    
    This schema defines MP business function request MP7798_AddContractTemplateWOCriteria_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7798_001" 
           xmlns:dse="http://schemas.datastream.net/MP_entities/ContractTemplateWOCriteria_001"
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_functions/MP7798_001" 
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ContractTemplateWOCriteria_001" schemaLocation="ContractTemplateWOCriteria_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7798_AddContractTemplateWOCriteria_001 ======================================-->
	<xs:element name="MP7798_AddContractTemplateWOCriteria_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse:ContractTemplateWOCriteria"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ContractTemplateWOCriteria"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>