Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7779_SyncWorkOrderToolPlan_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
  Copyright (c) 2011 Infor Global Solutions Technology GmbH and/or its affiliates
  and subsidiaries. All rights reserved. The word and design marks set forth
  herein are trademarks and/or registered trademarks of
  Infor Global Solutions Technology GmbH and/or its affiliates and subsidiaries.
  All rights reserved. All other trademarks listed herein are the property of
  their respective owners.
 
  This document may not be reproduced in whole or in part or used for tendering
  or manufacturing purposes except under an agreement or with the written
  consent of the copyright holder and then only under the condition that this
  notice is included in any such reproduction. No information regarding the
  contents or subject matter of this document or any part thereof arising
  directly or indirectly thereof shall be given orally or in writing or
  communicated in any manner whatsoever to any third party without the prior
  written consent of the copyright holder.
  
 This schema defines MP business function request MP7779_SyncWorkOrderToolPlan_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7779_001" xmlns="http://schemas.datastream.net/MP_functions/MP7779_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse="http://schemas.datastream.net/MP_entities/WorkOrderToolPlan_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/WorkOrderToolPlan_001" schemaLocation="WorkOrderToolPlan_001.xsd"/>
	<!--====  Begining of MP7779_SyncWorkOrderToolPlan_001 ======================================-->
	<xs:element name="MP7779_SyncWorkOrderToolPlan_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse:WorkOrderToolPlan"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="WorkOrderToolPlan"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<!--====  Ending of MP7779_SyncWorkOrderToolPlan_001 ======================================-->
</xs:schema>
