Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7834_SyncCustomerRental_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
Copyright (c) 2012 Infor. All rights reserved.
The word and design marks set forth herein are trademarks and/or registered
trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
All other trademarks listed herein are the property of their respective owners. www.infor.com.

  
  This schema defines MP business function request MP7834_SyncCustomerRental_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7834_001"
        xmlns="http://schemas.datastream.net/MP_functions/MP7834_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        xmlns:dse-CustomerRental="http://schemas.datastream.net/MP_entities/CustomerRental_001"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_entities/CustomerRental_001" schemaLocation="CustomerRental_001.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP7834_SyncCustomerRental_001">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dse-CustomerRental:CustomerRental"/>
                </xs:sequence>
                <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
                <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CustomerRental"/>
                <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                <xs:attribute name="confirm_physicalmeter" type="dsf:CONFIRMATION_Type" default="not_needed"/>
                <xs:attribute name="confirm_rollovercheck" type="dsf:CONFIRMATION_Type"/>
                <xs:attribute name="confirm_physicalrollover" type="dsf:CONFIRMATION_Type" default="not_needed"/>
                <xs:attribute name="confirm_rentalsexist" type="dsf:CONFIRMATION_Type" default="not_needed"/>
                <xs:attribute name="confirm_invoicesexist" type="dsf:CONFIRMATION_Type" default="not_needed"/>
           </xs:complexType>
        </xs:element>
</xs:schema>