Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP7854_RegenerateCustomerContractInvoice_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2012 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request MP7854_RegenerateCustomerContractInvoice_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7854_001" 
    xmlns="http://schemas.datastream.net/MP_functions/MP7854_001" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:dsf="http://schemas.datastream.net/MP_fields" 
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--==========================================================================-->
    <!--====  Begining of MP7854_RegenerateCustomerContractInvoice_001 ==================================-->
    <xs:element name="MP7854_RegenerateCustomerContractInvoice_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:CUSTOMERCONTRACTINVOICEID"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Regenerate"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CustomerContractInvoice"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
            <xs:attribute name="confirm_unfinish_Invoices" type="dsf:CONFIRMATION_Type"/>
            <xs:attribute name="confirm_unfinish_LaterInvoices" type="dsf:CONFIRMATION_Type"/>
            <xs:attribute name="confirm_approve_LaterInvoices" type="dsf:CONFIRMATION_Type"/>
        </xs:complexType>
    </xs:element>
</xs:schema>