Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7840_AddCustomerContractChargeDefinition_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2012 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines MP business function request MP7840_AddCustomerContractChargeDefinition_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7840_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP7840_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-CustomerContractChargeDefinition="http://schemas.datastream.net/MP_entities/CustomerContractChargeDefinition_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/CustomerContractChargeDefinition_001" 
	schemaLocation="CustomerContractChargeDefinition_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--================================================================================================-->
	<!--====  Beginning of MP7840_AddCustomerContractChargeDefinition_001 ======================================-->
	<xs:element name="MP7840_AddCustomerContractChargeDefinition_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-CustomerContractChargeDefinition:CustomerContractChargeDefinition"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CustomerContractChargeDefinition"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>		
			<xs:attribute name="usagebasedrecordprompt" type="dsf:CONFIRMATION_Type"/>
			<xs:attribute name="energybasedrecordprompt" type="dsf:CONFIRMATION_Type"/>		
		</xs:complexType>
	</xs:element>
</xs:schema>
