Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7832_GetCustomerRental_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
Copyright (c) 2012 Infor. All rights reserved.
The word and design marks set forth herein are trademarks and/or registered
trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
All other trademarks listed herein are the property of their respective owners. www.infor.com.

  
  This schema defines MP business function request MP7832_GetCustomerRental_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7832_001"
        xmlns="http://schemas.datastream.net/MP_results/MP7832_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        xmlns:dse-CustomerRental="http://schemas.datastream.net/MP_entities/CustomerRental_001"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_entities/CustomerRental_001" schemaLocation="CustomerRental_001.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP7832_GetCustomerRental_001_Result">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="ResultData"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="ResultData">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="dse-CustomerRental:CustomerRental"/>
                </xs:sequence>
                <xs:attribute name="has_department_security_readonly" type="dsf:FLAG_Type"/>
            </xs:complexType>
        </xs:element>
</xs:schema>