Infor EAM APIs for On Premise/Version 11.4/schemas/Work/MP7900_AddWorkOrderHealthcare_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2012 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. 
	www.infor.com.
	
    This schema defines MP business function result MP7900_AddWorkOrderResult_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP7900_001" xmlns="http://schemas.datastream.net/MP_results/MP7900_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP7900_AddWorkOrderHealthcare_001_Result ======================================-->
	<xs:element name="MP7900_AddWorkOrderHealthcare_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:JOBNUM"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:positiveInteger"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
