Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP7973_ExtendPermitToWork_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =============================================================================================
  Copyright (c) 2012 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP business function request MP7973_ExtendPermitToWork_001
==================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7973_001"
        xmlns="http://schemas.datastream.net/MP_functions/MP7973_001"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:dsf="http://schemas.datastream.net/MP_fields"
        elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--===============================================================================-->
        <xs:element name="MP7973_ExtendPermitToWork_001">
            <xs:complexType>
                <xs:complexContent>
                   <xs:extension base="dsf:BaseSchemaRequestElement">
                       <xs:sequence>
                           <xs:element ref="dsf:PERMITTOWORKID"/>
                       </xs:sequence>
                       <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Extend"/>
                       <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PermitToWork"/>
                       <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                   </xs:extension>
               </xs:complexContent>
           </xs:complexType>
        </xs:element>
</xs:schema>