Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/MP7957_ImportLOTOFromPermitToWorkToPermitToWork_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2013 Infor.All rights reserved.The word and design marks set
    forth herein are trademarks and/or registered trademarks of Infor and/or
    related affiliates and subsidiaries.All rights reserved.All other trademarks
    listed herein are the property of their respective owners.www.infor.com.

    This schema defines MP business function request MP7957_ImportLOTOFromPermitToWorkToPermitToWork_001
 ================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP7957_001"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.datastream.net/MP_functions/MP7957_001"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===========================================================================-->
    <!--====  Begining of MP7957_ImportLOTOFromPermitToWorkToPermitToWork_001 =============================-->
    <xs:element name="MP7957_ImportLOTOFromPermitToWorkToPermitToWork_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:FROMPERMITTOWORKID"/>
				<xs:element ref="dsf:PERMITTOWORKID"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Import"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="LOTOFromPermitToWorkToPermitToWork"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
</xs:schema>