Infor EAM APIs for On Premise/Version 11.4/schemas/Work/PMWorkPackage_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity PMWorkPackage_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PMWorkPackage_001"
    xmlns="http://schemas.datastream.net/MP_entities/PMWorkPackage_001" 
    xmlns:dsf="http://schemas.datastream.net/MP_fields" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of PMWorkPackage_001 ======================================-->
	<xs:element name="PMWorkPackage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PMWORKPACKAGEID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="WorkOrderDetails"/>
				<xs:element ref="PMWorkPackageDetail"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PMWorkPackageDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PMTYPE"/>
				<xs:element ref="dsf:DURATION"/>
				<xs:element ref="dsf:PERSONS" minOccurs="0"/>
				<xs:element ref="dsf:PERFORMEVERY"/>
				<xs:element ref="dsf:PERIODUOM"/>
				<xs:element ref="dsf:DUEDATE"/>
				<xs:element ref="dsf:ESTWORKLOAD" minOccurs="0"/>
				<xs:element ref="dsf:PMCALENDARWEEKDAY"  minOccurs="0"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkOrderDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERTYPE"/>
				<xs:element ref="dsf:WOSTATUS"/>
				<xs:element ref="dsf:PARENTEQUIPMENTID"/>
				<xs:element ref="dsf:WORKORDERCLASSID" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID"/>
				<xs:element ref="dsf:TRADEID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PMWorkPackageData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CALCULATEDWORKLOAD" minOccurs="0"/>
				<xs:element ref="dsf:LASTPARENTJOB" minOccurs="0"/>
				<xs:element ref="dsf:CHANGED" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	
	</xs:element>
	
</xs:schema>

