Infor EAM APIs for On Premise/Version 11.4/schemas/Work/ServiceCodeInfo_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP entity transaction
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ServiceCodeInfo_001" xmlns="http://schemas.datastream.net/MP_entities/ServiceCodeInfo_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of ServiceCodeInfo_001 ======================================-->
	<xs:element name="ServiceCodeInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SERVICECODEID" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="dsf:PRIORITY" minOccurs="0"/>
				<xs:element ref="dsf:SYSTEMID" minOccurs="0"/>
				<xs:element ref="dsf:RESPONSETIME" minOccurs="0"/>
				<xs:element ref="dsf:COSTESTIMATE" minOccurs="0"/>
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
			<xs:attribute name="has_wo" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
