Infor EAM APIs for On Premise/Version 11.4/schemas/Work/StandardWorkOrderActivity_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines Standard WorkOrder Activity    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/StandardWorkOrderActivity_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/StandardWorkOrderActivity_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="StandardWorkOrderActivity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:STANDWOACTID"/>
				<xs:element ref="dsf:TRADEID" minOccurs="0"/>
				<xs:element ref="dsf:ESTIMATEDHOURS" minOccurs="0"/>
				<xs:element ref="dsf:PERSONS" minOccurs="0"/>
				<xs:element ref="dsf:DURATION"/>
				<xs:element ref="dsf:STANDWOACTSTART"/>
				<xs:element ref="dsf:TASKSID" minOccurs="0"/>
				<xs:element ref="dsf:MTLCODE" minOccurs="0"/>
				<xs:element ref="dsf:SPECIAL" minOccurs="0"/>
				<xs:element ref="dsf:HIREDLABOR" minOccurs="0"/>
				<xs:element ref="dsf:TASKQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:UOMID" minOccurs="0"/>
				<xs:element ref="dsf:REASONFORREPAIR" minOccurs="0"/>
				<xs:element ref="dsf:WORKACCOMPLISHED" minOccurs="0"/>
				<xs:element ref="dsf:TECHNICIANPARTFAILURE" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTURERID" minOccurs="0"/>
				<xs:element ref="dsf:SYSTEMLEVEL" minOccurs="0"/>
				<xs:element ref="dsf:ASSEMBLYLEVEL" minOccurs="0"/>
				<xs:element ref="dsf:COMPONENTLEVEL" minOccurs="0"/>
				<xs:element ref="dsf:CREATIONDATE" minOccurs="0"/>
				<xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
				<xs:element ref="dsf:AVERAGEHOURSBOOKED" minOccurs="0"/>
				<xs:element ref="dsf:ACTIVITYCOMMENT" minOccurs="0" maxOccurs="500"/>
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
				<xs:element ref="dsf:PLANNINGLEVEL" minOccurs="0"/>
				<xs:element ref="dsf:MULTIPLETRADES" minOccurs="0"/>
				<xs:element ref="dsf:TOTALPEOPLEREQUIRED" minOccurs="0"/>
				<xs:element ref="dsf:TOTALESTIMATEDHOURS" minOccurs="0"/>
				<xs:element ref="dsf:PARTLOCATIONCODE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="task_has_enhanced_planning" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="activity_has_plantools" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
