Infor EAM APIs for On Premise/Version 11.4/schemas/Work/TaskPrice_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 
	This schema defines MP entity TaskPrice
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/TaskPrice_001" 
		xmlns="http://schemas.datastream.net/MP_entities/TaskPrice_001" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:dsf="http://schemas.datastream.net/MP_fields" 
		elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of TaskPrice_001 ========= -->
	<xs:element name="TaskPrice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TaskPriceData"/>
				<xs:element ref="dsf:CURRENCYID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TaskPriceData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TASKPRICEID"/>
				<xs:element ref="dsf:PRICE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="ispreplanned" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>