Infor EAM APIs for On Premise/Version 11.4/schemas/Work/ToolUsage_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP entity ToolUsage
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ToolUsage_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/ToolUsage_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of ToolUsage_001 ======================================-->
	<xs:element name="ToolUsage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TOOLID"/>
				<xs:element ref="dsf:ACTIVITYID"/>
				<xs:element ref="dsf:DEPARTMENTID"/>
				<xs:element ref="dsf:DATEUSED"/>
				<xs:element ref="dsf:TOOLHOURS" minOccurs="0"/>
				<xs:element ref="dsf:DATEBOOKED" minOccurs="0"/>
				<xs:element ref="dsf:TOOLQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:TARIFF" minOccurs="0"/>
				<xs:element ref="dsf:TOOLCOST" minOccurs="0"/>
				<xs:element ref="dsf:SCHEDULEDHOURS" minOccurs="0"/>
				<xs:element ref="dsf:SCHEDULEDQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
