Infor EAM APIs for On Premise/Version 11.4/schemas/Work/WOCalibrationStandard_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity  WOCalibrationStandard_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WOCalibrationStandard_001" 
	xmlns="http://schemas.datastream.net/MP_entities/WOCalibrationStandard_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>	
<!--====================================================================================-->
<!--====================Begining of WOCalibrationStandard_001===========================-->
	<xs:element name="WOCalibrationStandard">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WOCalibrationStandardData"/>
				<xs:element ref="dsf:NEXTCALIBRATIONDUEDATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WOCalibrationStandardData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WOCALSTANDARDID"/>
				<xs:element ref="dsf:WORKORDERID"/>
				<xs:element ref="dsf:PARTID"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:LOTID" minOccurs="0"/>
				<xs:element ref="dsf:RELATEDWORKORDERID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
