Infor EAM APIs for On Premise/Version 11.4/schemas/Work/WorkOrderHospitalityDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright (c) 2012 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. 
	www.infor.com. 

	This schema defines MP entity WorkOrderHospitalityDefault 
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkOrderHospitalityDefault_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_entities/WorkOrderHospitalityDefault_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!-- ======= Beginning of WorkOrderHospitalityDefault_001 ========================= -->
	<xs:element name="WorkOrderHospitalityDefault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="dsf:STATUS" minOccurs="0"/>
				<xs:element ref="dsf:ENTEREDBY" minOccurs="0"/>
				<xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
				<xs:element ref="dsf:TYPE" minOccurs="0"/>
				<xs:element ref="dsf:REPORTED" minOccurs="0"/>
				<xs:element ref="dsf:TARGETDATE" minOccurs="0"/>
				<xs:element ref="dsf:SCHEDEND" minOccurs="0"/>
				<xs:element ref="dsf:WORKDAY" minOccurs="0"/>
				<xs:element ref="dsf:PERTYPE" minOccurs="0"/>
				<xs:element name="GROUP" type="dsf:CODE12_Type" minOccurs="0"/>
				<xs:element ref="dsf:PRINT" minOccurs="0"/>
				<xs:element ref="dsf:PRINTED" minOccurs="0"/>
				<xs:element ref="dsf:MINOR" minOccurs="0"/>
				<xs:element ref="dsf:CCTRSPCVALIDATION" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYCODE" minOccurs="0"/>
				<xs:element ref="dsf:WOTYPECATEGORYID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>