Infor EAM APIs for On Premise/Version 11.4/schemas/Work/WorkOrderPart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP entity WorkOrderPart    
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkOrderPart_001"
           xmlns="http://schemas.datastream.net/MP_entities/WorkOrderPart_001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:of="http://www.openapplications.org/oagis_fields"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="WorkOrderPart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERPARTID"/>
				<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
				<xs:element ref="dsf:PARTID"/>
				<xs:element ref="dsf:STOREID" minOccurs="0"/>
				<xs:element ref="dsf:PLANNEDPARTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:RESERVEDPARTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:ALLOCATEDPARTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:RETURNCONDITIONCODE" minOccurs="0"/>
				<xs:element name="DIRECT" type="dsf:FLAG_Type"/>
			</xs:sequence>
			<xs:attribute name="mlp_recordid" type="xs:long"/>
			<xs:attribute name="res_recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
