Infor EAM APIs for On Premise/Version 11.4/schemas/Work/WorkOrderActivityCheckListDefault_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2013 Infor. All rights reserved. The word and design marks set forth 
	herein are trademarks and/or registered trademarks of Infor and/or related affiliates
	and subsidiaries. All rights reserved. All other trademarks listed herein are the
	property of their respective owners. www.infor.com

    This schema defines MP entity WorkOrderActivityCheckListDefault
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkOrderActivityCheckListDefault_001"
	xmlns="http://schemas.datastream.net/MP_entities/WorkOrderActivityCheckListDefault_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element name="WorkOrderActivityCheckListDefault">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ACTIVITYID" minOccurs="0"/>
				<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
				<xs:element ref="dsf:TASKSID" minOccurs="0"/>
				<xs:element ref="dsf:PERFORMEDBYESIGN" minOccurs="0"/>
				<xs:element ref="dsf:REVIEWEDBYESIGN" minOccurs="0"/>
				<xs:element ref="dsf:PBSIGNATURETYPE" minOccurs="0"/>
				<xs:element ref="dsf:RBSIGNATURETYPE" minOccurs="0"/>
				<xs:element ref="dsf:PBSIGNATURETYPE2" minOccurs="0"/>
				<xs:element ref="dsf:PERFORMEDBYESIGN2" minOccurs="0"/>
				<xs:element ref="dsf:REJECTPERFORMEDBY" minOccurs="0"/>
				<xs:element ref="dsf:REJECTPERFORMEDBY2" minOccurs="0"/>
				<xs:element ref="dsf:REJECTIONREASON" minOccurs="0"/>
				<xs:element ref="dsf:CONDITIONOPTION" minOccurs="0"/>
				<xs:element ref="dsf:USERRESPONSIBILITY" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:PERFORMBYRESPONSIBILITY" minOccurs="0"/>
				<xs:element ref="dsf:PERFORMBY2RESPONSIBILITY" minOccurs="0"/>
				<xs:element ref="dsf:REVIEWRESPONSIBILITY" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="has_readonly_department_security" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="view_only_access" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="allow_checklist_access" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="work_status_can_update" type="dsf:FLAG_Type" default="true"/>
			<xs:attribute name="jtauth_can_update" type="dsf:FLAG_Type" default="true"/>
			<xs:attribute name="number_of_jobs" type="xs:nonNegativeInteger" default="0"/>
		</xs:complexType>
	</xs:element>
</xs:schema>