Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/WorkOrderCosts_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity WorkOrderCosts.
=======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkOrderCosts_001" xmlns="http://schemas.datastream.net/MP_entities/WorkOrderCosts_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:element name="WorkOrderCosts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID"/>
				<xs:element ref="dsf:CURRENCYID"/>
				<xs:element ref="dsf:WOTOTALCOSTS"/>
				<xs:element name="CostsByStage" type="CostsByStage_Type" minOccurs="0"/>
				<xs:element ref="dsf:UNRETURNEDCORECHARGES" minOccurs="0"/>
				<xs:element ref="dsf:ESTIMATEDLABORCOST" minOccurs="0"/>
				<xs:element ref="dsf:ESTIMATEDMATERIALCOST" minOccurs="0"/>
				<xs:element ref="dsf:ESTIMATEDMISCELLANEOUSCOST" minOccurs="0"/>
				<xs:element ref="dsf:ESTIMATEDTOTALCOST" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CostsByStage_Type">
		<xs:sequence>
			<xs:element ref="dsf:WOACTUALCOSTS" minOccurs="0"/>
			<xs:element ref="dsf:WOESTIMATEDCOSTS" minOccurs="0"/>
			<xs:element ref="dsf:WOINVDIFFCOSTS" minOccurs="0"/>
			<xs:element ref="dsf:WOONORDERCOSTS" minOccurs="0"/>
			<xs:element ref="dsf:WOPLANNEDCOSTS" minOccurs="0"/>
			<xs:element ref="dsf:WOREMAININGCOSTS" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
