Infor EAM APIs for On Premise/Version 11.4/Schemas/Work/WorkLoadBalanceWorkOrders_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity WorkLoadBalanceWorkOrders    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WorkLoadBalanceWorkOrders_001" xmlns="http://schemas.datastream.net/MP_entities/WorkLoadBalanceWorkOrders_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of WorkLoadBalanceWorkOrders_001 ======================================-->
	<xs:element name="WorkLoadBalanceWorkOrders">
		<xs:complexType>
			<xs:sequence>
			        <xs:element ref="dsf:DBSESSIONID"/>
			        <xs:element ref="dsf:EARLIESTSTARTDATE" minOccurs="0"/>
			        <xs:element ref="dsf:CURRENTDATETIME" minOccurs="0"/>
				<xs:element ref="WorkLoadBalanceWorkOrder" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkLoadBalanceWorkOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID"/>
				<xs:element ref="dsf:STARTDATE"/>
				<xs:element ref="dsf:DURATION" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="WorkLoadBalanceWoTrades" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Protected" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkLoadBalanceWoTrades">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkLoadBalanceWoTrade" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkLoadBalanceWoTrade">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRADEID"/>
				<xs:element ref="WorkLoadBalanceTradeHour" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkLoadBalanceTradeHour">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:BALANCEDATE"/>
				<xs:element ref="dsf:HOURSREMAINING"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
