Infor EAM APIs for On Premise/Version 11.4/Schemas/Project/MP5012_UnlinkWorkOrdersForProject_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result for request MP5012_UnlinkWorkOrdersForProject_001.
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP5012_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_results/MP5012_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP5012_UnlinkWorkOrdersForProject_001_Result ======================================-->
	<xs:element name="MP5012_UnlinkWorkOrdersForProject_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PROJECTID"/>
				<xs:element ref="WorkOrdersUnlinked"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="WorkOrdersUnlinked">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WORKORDERID" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="count" type="xs:long"/>
		</xs:complexType>
	</xs:element>			
</xs:schema>
