Infor EAM APIs for On Premise/Version 11.4/schemas/Project/MP5023_DeleteShutdownEquipment_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.
002
    This schema defines MP business function request MP5023_DeleteShutdownEquipment_002
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP5023_002" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP5023_002" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <!--====  Begining of MP5023_DeleteShutdownEquipment_002 ======================================-->
    <xs:element name="MP5023_DeleteShutdownEquipment_002">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:SHUTDOWNEQUIPMENTID_002"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ShutdownEquipment"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="002"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
