Infor EAM APIs for On Premise/Version 11.4/Schemas/Project/MP5007_GetProjectBudgetCode_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
    Copyright 2003, Datastream Systems, Inc. 
    50 Datastream Plaza, Greenville, SC 29605, USA. 
    All rights reserved. 

	This schema defines MP business function result MP5007_GetProjectBudgetCode_001_Result
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP5007_001" 
		xmlns:dse-PBCode="http://schemas.datastream.net/MP_entities/ProjectBudgetCode_001" 
		xmlns:dsf="http://schemas.datastream.net/MP_fields" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns="http://schemas.datastream.net/MP_results/MP5007_001" 
		elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ProjectBudgetCode_001" schemaLocation="ProjectBudgetCode_001.xsd"/>

	<!-- ====  Begining of MP5007_GetProjectBudgetCode_001_Result ================ -->
	<xs:element name="MP5007_GetProjectBudgetCode_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
			</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PBCode:ProjectBudgetCode"/>
			</xs:sequence>
			<xs:attribute name="projtrck" type="dsf:FLAG_Type" default="false"/>
			<xs:attribute name="deforg" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
