Infor EAM APIs for On Premise/Version 11.5/wsdl/Work/MP7063_AddWorkRoute_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP7063_AddWorkRoute_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP7063_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP7063_AddWorkRoute_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP7063_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP7063_001" schemaLocation="../../schemas/Work/MP7063_AddWorkRoute_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP7063_001" schemaLocation="../../schemas/Work/MP7063_AddWorkRoute_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="AddWorkRouteResponseMsg">
    <part name="AddWorkRouteResponseMsg" element="resp0:MP7063_AddWorkRoute_001_Result"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="AddWorkRouteRequestMsg">
    <part name="AddWorkRouteRequestMsg" element="rqst0:MP7063_AddWorkRoute_001"/>
  </message>
  <portType name="AddWorkRoutePT">
    <operation name="AddWorkRouteOp">
      <input name="AddWorkRouteRequestMsg" message="tns:AddWorkRouteRequestMsg"/>
      <output name="AddWorkRouteResponseMsg" message="tns:AddWorkRouteResponseMsg"/>
    </operation>
  </portType>
  <binding name="AddWorkRouteSoapBinding" type="tns:AddWorkRoutePT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AddWorkRouteOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="AddWorkRouteRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddWorkRouteRequestMsg" use="literal"/>
      </input>
      <output name="AddWorkRouteResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddWorkRouteResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AddWorkRouteService">
    <port name="AddWorkRouteSoapBinding" binding="tns:AddWorkRouteSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
