Infor EAM APIs for On Premise/Version 11.4/schemas/DataBridge/EntityAttributeSet_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2006, Infor
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity EntityAttributeSet    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EntityAttributeSet_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/EntityAttributeSet_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of EntityAttributeSet_001 ======================================-->
	<xs:element name="EntityAttributeSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ENTITYATTRIBUTESETID"/>
				<xs:element name="Attribute1" type="dsf:XREFATTRIBUTE_Type" minOccurs="0"/>
				<xs:element name="Attribute2" type="dsf:XREFATTRIBUTE_Type" minOccurs="0"/>
				<xs:element name="Attribute3" type="dsf:XREFATTRIBUTE_Type" minOccurs="0"/>
				<xs:element name="Attribute4" type="dsf:XREFATTRIBUTE_Type" minOccurs="0"/>
				<xs:element name="Attribute5" type="dsf:XREFATTRIBUTE_Type" minOccurs="0"/>
				<xs:element name="Attribute6" type="dsf:XREFATTRIBUTE_Type" minOccurs="0"/>
				<xs:element name="Attribute7" type="dsf:XREFATTRIBUTE_Type" minOccurs="0"/>
				<xs:element name="Attribute8" type="dsf:XREFATTRIBUTE_Type" minOccurs="0"/>
				<xs:element ref="dsf:ATTRIBUTESETREFERENCE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="valuecount" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
