Infor EAM APIs for On Premise/Version 11.5/wsdl/Material/MP0275_GetCatalogueDefault_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP0275_GetCatalogueDefault_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP0275_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP0275_GetCatalogueDefault_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP0275_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP0275_001" schemaLocation="../../schemas/Material/MP0275_GetCatalogueDefault_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP0275_001" schemaLocation="../../schemas/Material/MP0275_GetCatalogueDefault_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="GetCatalogueDefaultRequestMsg">
    <part name="GetCatalogueDefaultRequestMsg" element="rqst0:MP0275_GetCatalogueDefault_001"/>
  </message>
  <message name="GetCatalogueDefaultResponseMsg">
    <part name="GetCatalogueDefaultResponseMsg" element="resp0:MP0275_GetCatalogueDefault_001_Result"/>
  </message>
  <portType name="GetCatalogueDefaultPT">
    <operation name="GetCatalogueDefaultOp">
      <input name="GetCatalogueDefaultRequestMsg" message="tns:GetCatalogueDefaultRequestMsg"/>
      <output name="GetCatalogueDefaultResponseMsg" message="tns:GetCatalogueDefaultResponseMsg"/>
    </operation>
  </portType>
  <binding name="GetCatalogueDefaultSoapBinding" type="tns:GetCatalogueDefaultPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetCatalogueDefaultOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="GetCatalogueDefaultRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetCatalogueDefaultRequestMsg" use="literal"/>
      </input>
      <output name="GetCatalogueDefaultResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetCatalogueDefaultResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GetCatalogueDefaultService">
    <port name="GetCatalogueDefaultSoapBinding" binding="tns:GetCatalogueDefaultSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
