Infor EAM APIs for Saas/Version 11.4.1/Schemas/Analytics/AnalyticsReport_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2004, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity AnalyticsReport_001.
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/AnalyticsReport_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse1="http://schemas.datastream.net/MP_entities/AnalyticsChart_001" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/AnalyticsReport_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/AnalyticsChart_001" schemaLocation="AnalyticsChart_001.xsd"/>
	<xs:element name="AnalyticsReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ORP_ID" minOccurs="0"/>
				<xs:element ref="dsf:ORP_NAME"/>
				<xs:element ref="dsf:ORP_ORG"/>
				<xs:element ref="dsf:ORP_TYPE"/>
				<xs:element ref="dsf:ORP_PUBLIC"/>
				<xs:element ref="dsf:ORP_TICKET" minOccurs="0"/>
				<xs:element ref="dsf:ORP_LASTUPLOADTIME" minOccurs="0"/>
				<xs:element ref="dsf:ORP_CREATEDBYUSER"/>
				<xs:element ref="dsf:ORP_AUDITUSER" minOccurs="0"/>
				<xs:element ref="dsf:ORP_AUDITTIMESTAMP" minOccurs="0"/>
				<xs:element name="AnalyticsCharts" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="dse1:AnalyticsChart"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
