Infor EAM APIs for Saas/Version 11.4.1/schemas/Common/MP9501_GetCustomFields_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
     This schema defines MP business function request MP9501_GetCustomFields_001   
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP9501_001" xmlns="http://schemas.datastream.net/MP_functions/MP9501_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP9501_GetCustomFields_001 ======================================-->
	<xs:element name="MP9501_GetCustomFields_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CUSTOMFIELDREQ"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CustomFields"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CUSTOMFIELDREQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ENTITYNAME" type="xs:string"/>
				<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element name="VALUECODE" type="xs:string" minOccurs="0"/>
				<xs:element ref="dsf:CATEGORYID" minOccurs="0"/>
				<xs:element ref="dsf:PARTCODESTRUCTURE" minOccurs="0"/>
				<xs:element name="REQTYPE" type="xs:string" minOccurs="0"/>
				<xs:element ref="dsf:WSPROMPTGROUPID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
