Infor EAM APIs for On Premise/Version 11.5/schemas/Material/MP0204_ApproveRequisition_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP0204_ApproveRequisition_001    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0204_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP0204_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0204_ApproveRequisition_001 ======================================-->
	<xs:element name="MP0204_ApproveRequisition_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element name="ACTIONTYPE">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="dsf:REQUISITIONID"/>
									<xs:choice>
										<xs:element ref="APPROVE"/>
										<xs:element ref="REJECT"/>
									</xs:choice>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Approve"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Req"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="APPROVE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="APPROVEACTION" type="xs:string" fixed="Approve"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="REJECT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REJECTACTION" type="xs:string" fixed="Reject"/>
				<xs:element ref="dsf:REJECTIONREASON"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
