Infor EAM APIs for On Premise/Version 11.5/schemas/Material/MP2013_GetSupplierReturnPartAvailableQTY_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP2013_GetSupplierReturnPartAvailableQTY_001    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2013_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP2013_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2013_GetSupplierReturnPartAvailableQTY_001 ======================================-->
	<xs:element name="MP2013_GetSupplierReturnPartAvailableQTY_001">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="dsf:TRANSACTIONLINEID" minOccurs="0"/>
					<xs:element ref="SuppReturnPartRef" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="dsf:BINID" minOccurs="0"/>
				<xs:element ref="dsf:LOTID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="SupplierReturnPartAvailableQTY"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SuppReturnPartRef">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRANSACTIONID"/>
				<xs:element ref="dsf:PURCHASEORDERLINEID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
