Infor EAM APIs for On Premise/Version 11.5/schemas/Material/MP2107_SyncStoreToStoreIssuePart_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP business function request MP2107_SyncStoreToStoreIssuePart_001    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2107_001" xmlns="http://schemas.datastream.net/MP_functions/MP2107_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dse-StoreToStoreIssuePart="http://schemas.datastream.net/MP_entities/StoreToStoreIssuePart_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/StoreToStoreIssuePart_001" schemaLocation="StoreToStoreIssuePart_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2107_SyncStoreToStoreIssuePart_001 ======================================-->
	<xs:element name="MP2107_SyncStoreToStoreIssuePart_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-StoreToStoreIssuePart:StoreToStoreIssuePart"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="StoreToStoreIssuePart"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
