Infor EAM APIs for On Premise/Version 11.5/schemas/Material/MP2155_UndoCancelPOReceiptActiveLine_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003,	Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP2155_UndoCancelPOReceiptActiveLine_001
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2155_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP2155_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2155_UndoCancelPOReceiptActiveLine_001 ======================================-->
	<xs:element name="MP2155_UndoCancelPOReceiptActiveLine_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PORECEIPTLINEID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="UndoCancel"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="POReceiptActiveLine"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
