Infor EAM APIs for On Premise/Version 11.5/schemas/Material/MP2123_CalculateEOQ_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function request MP2123_CalculateEOQ_001
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2123_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP2123_001" 
	xmlns:dse-eoq="http://schemas.datastream.net/MP_entities/EOQ_001" 
	elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EOQ_001" schemaLocation="EOQ_001.xsd"/>
	<!-- ====================================================================================== -->
	<!-- =============  Begining of MP2123_CalculateEOQ_001 ============================= -->
	<xs:element name="MP2123_CalculateEOQ_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-eoq:EOQ"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Calculate"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EOQ"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>