Infor EAM APIs for On Premise/Version 11.5/schemas/Material/MP2135_SyncPackingSlip_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP2135_SyncPackingSlip_001.
====================================================================================-->
	<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2135_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP2135_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-PackingSlipForPOReceipts="http://schemas.datastream.net/MP_entities/PackingSlip_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PackingSlip_001"
	schemaLocation="PackingSlip_001.xsd"/>
	<!--====================================================================================-->
	<!--==================Beginning of MP2135_SyncPackingSlip_001==================-->
	<xs:element name="MP2135_SyncPackingSlip_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-PackingSlipForPOReceipts:PackingSlip"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PackingSlip"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
