Infor EAM APIs for On Premise/Version 11.5/schemas/Material/MP2277_SelectAllLowStockRequisitionLine_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2015 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners.
	www.infor.com.

	This schema defines MP business function request MP2277_SelectAllLowStockRequisitionLine_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP2277_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-FunctionRequestInfo="http://schemas.datastream.net/MP_entities/FunctionRequestInfo" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_functions/MP2277_001" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/FunctionRequestInfo" schemaLocation="../Grid/FunctionRequestInfo.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP2277_SelectAllLowStockRequisitionLine_001 ======================================-->
	<xs:element name="MP2277_SelectAllLowStockRequisitionLine_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DBSESSIONID"/>
				<xs:element ref="dsf:SELECT"/>
				<xs:element ref="dse-FunctionRequestInfo:FUNCTION_REQUEST_INFO"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="SelectAll"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="LowStockRequisitionLine"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_selectall" type="dsf:CONFIRMATION_Type" default="prompt"/>
		</xs:complexType>
	</xs:element>
</xs:schema>