Infor EAM APIs for On Premise/Version 11.5/schemas/Material/PackagePart_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright (c) 2018 Infor. All rights reserved. The word and design 
    marks set forth herein are trademarks and/or registered trademarks of Infor and/or related affiliates and subsidiaries. 
    All rights reserved. All other trademarks listed herein are the property of their respective owners. www.infor.com. 
    
    This schema defines MP business function entity PackagePart
     ================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PackagePart_001"
    xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.datastream.net/MP_entities/PackagePart_001" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd" />
    <!--==================== Begining of Package Part ==================== -->
    <xs:element name="PackagePart">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:PACKAGEPARTID" />
                <xs:element ref="dsf:PARTID" minOccurs="0" />
                <xs:element ref="dsf:AVAILABLEQUANTITY" minOccurs="0" />
                <xs:element ref="dsf:PACKAGEQTY" />
                <xs:element ref="dsf:HELDITEMQTY" minOccurs="0" />
                <xs:element ref="dsf:STOREID" minOccurs="0" />
                <xs:element ref="dsf:BIN" minOccurs="0" />
                <xs:element ref="dsf:LOT" minOccurs="0" />
                <xs:element ref="dsf:UOMID" minOccurs="0" />
                <xs:element ref="dsf:ACTIVITYID" minOccurs="0" />
                <xs:element ref="dsf:PURCHASEORDERLINEID" minOccurs="0" />
                <xs:element ref="dsf:REQUISITIONLINEID" minOccurs="0" />
                <xs:element ref="dsf:EQUIPMENTID" minOccurs="0" />
                <xs:element ref="dsf:SUPPLIERID" minOccurs="0" />
                <xs:element ref="dsf:PROJECTID" minOccurs="0" />
                <xs:element ref="dsf:PROJBUD" minOccurs="0" />
                <xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0" />
            </xs:sequence>
            <xs:attribute name="recordid" type="xs:long" />
            <xs:attribute name="isparttrackbyasset" type="dsf:FLAG_Type"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
