Infor EAM APIs for On Premise/Version 11.5/schemas/Material/POReceiptActiveLine_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth herein are trademarks 
and/or registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. 
All other trademarks listed herein are the property of their respective owners. www.infor.com.


    This schema defines MP entity POReceiptActiveLine
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/POReceiptActiveLine_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/POReceiptActiveLine_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of POReceiptActiveLine_001 ======================================-->
	<xs:element name="POReceiptActiveLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PORECEIPTLINEID"/>
				<xs:element ref="dsf:PARTID"/>
				<xs:element ref="dsf:BYASSET" minOccurs="0"/>
				<xs:element ref="dsf:PURCHASEORDERTYPE" minOccurs="0"/>
				<xs:element ref="dsf:RECEIPTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:BINID" minOccurs="0"/>
				<xs:element ref="dsf:LOTID" minOccurs="0"/>
				<xs:element ref="dsf:ASSETID" minOccurs="0"/>
				<xs:element ref="dsf:ASSETTYPE" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="dsf:SERIALNUMBER" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTLOT" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTLOTEXPIRATIONDATE" minOccurs="0"/>
				<xs:element ref="dsf:PURCHASEORDERLINEID" minOccurs="0"/>
				<xs:element ref="dsf:REQUISITIONLINEID" minOccurs="0"/>
				<xs:element ref="dsf:REJECTIONREASON" minOccurs="0"/>
				<xs:element ref="dsf:RETURNQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:ACTIVITYID" minOccurs="0"/>
				<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
				<xs:element ref="dsf:ASSIGNEDTO" minOccurs="0"/>
				<xs:element ref="dsf:BYLOT" minOccurs="0"/>
				<xs:element ref="dsf:DIRECTRECEIPT" minOccurs="0"/>
				<xs:element ref="dsf:DOCKLOCATION" minOccurs="0"/>
				<xs:element ref="dsf:INSPECTIONSTATUS" minOccurs="0"/>
				<xs:element ref="dsf:PRINTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:RECEIPTID" minOccurs="0"/>
				<xs:element ref="dsf:RETURNRECEIPTID" minOccurs="0"/>
				<xs:element ref="dsf:INSPECTREJECTQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:SCRAPQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:RECEIVEDQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:PARTINSPECTIONREQUIRED" minOccurs="0"/>
				<xs:element ref="dsf:PORECEIPTLINESTATUS" minOccurs="0"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:INSPECTOR" minOccurs="0"/>
				<xs:element ref="dsf:ACCOUNTDETAIL" minOccurs="0"/>
				<xs:element ref="dsf:INSPECTEDQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:CONVERSIONFACTOR" minOccurs="0"/>
				<xs:element ref="dsf:RECEIVEDUOM" minOccurs="0"/>
				<xs:element ref="dsf:RECEIVEDUOP" minOccurs="0"/>
				<xs:element ref="dsf:RECEIVEDUOPQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:RECEIPTUOPQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:REPAIRPRICE" minOccurs="0"/>
				<xs:element ref="dsf:PRICE" minOccurs="0"/>
				<xs:element ref="dsf:LINESUBTOTAL" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYID" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERREFERENCE" minOccurs="0"/>
				<xs:element ref="dsf:LABELPRINTINGDEFAULT" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTURERID" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTURERPARTCODE" minOccurs="0"/>
				<xs:element ref="ReadOnlyFields" minOccurs="0"/>
				<xs:element ref="dsf:PARTCONDITIONTEMPLATECONDITIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:REPAIRCONDITIONCODE" minOccurs="0"/>
				<xs:element ref="dsf:REPAIRCONDITIONPARTCODE" minOccurs="0"/>
				<xs:element ref="dsf:TRACKBYCONDITION" minOccurs="0"/>
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
				<xs:element ref="dsf:MOBILEDATEUPDATED" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReadOnlyFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:RELATEDWORKORDERID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
