Infor EAM APIs for On Premise/Version 11.5/schemas/Material/StockTakeTransaction_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity transaction    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/StockTakeTransaction_001" xmlns="http://schemas.datastream.net/MP_entities/StockTakeTransaction_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of StockTakeTransaction_001 ======================================-->
	<xs:element name="StockTakeTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TRANSACTIONID"/>
				<xs:element ref="dsf:TRANSACTIONTYPE" minOccurs="0"/>
				<xs:element ref="dsf:TRANSACTIONSTATUS" minOccurs="0"/>
				<xs:element ref="dsf:STOREID" minOccurs="0"/>
				<xs:element ref="dsf:PARTID" minOccurs="0"/>
				<xs:element ref="dsf:PRICE" minOccurs="0"/>
				<xs:element ref="dsf:BIN" minOccurs="0"/>
				<xs:element ref="dsf:LOT" minOccurs="0"/>
				<xs:element ref="dsf:TRANSACTIONQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:ORIGINALQUANTITY" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
