Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/EquipmentLinearCondition_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2019 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP entity EquipmentLinearCondition.
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/EquipmentLinearCondition_001" 
    xmlns="http://schemas.datastream.net/MP_entities/EquipmentLinearCondition_001" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="EquipmentLinearCondition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:LINEAREQUIPMENTCONDITIONID" minOccurs="0"/>
                <xs:element ref="dsf:HEADEREQUIPMENTID"/>
                <xs:element ref="dsf:LINEARDIRECTIONID" minOccurs="0"/>
                <xs:element ref="dsf:CONDITIONSCORE" minOccurs="0"/>
                <xs:element ref="dsf:CONDITIONINDEX" minOccurs="0"/>
                <xs:element ref="dsf:RISKPRIORITYNUMBER" minOccurs="0"/>
                <xs:element ref="dsf:RISKPRIORITYINDEX" minOccurs="0"/>
                <xs:element ref="dsf:CRITICALITYSCORE" minOccurs="0"/>
                <xs:element ref="dsf:CRITICALITYID" minOccurs="0"/>
                <xs:element ref="dsf:FROMPOINT"/>
                <xs:element ref="dsf:FROMREFERENCEID" minOccurs="0"/>
                <xs:element ref="dsf:FROMOFFSET" minOccurs="0"/>
                <xs:element ref="dsf:FROMOFFSETPERCENTAGE" minOccurs="0"/>
                <xs:element ref="dsf:FROMOFFSETDIRECTION" minOccurs="0"/>
                <xs:element ref="dsf:FROMCOORDINATE" minOccurs="0"/>
                <xs:element ref="dsf:FROMLATITUDE" minOccurs="0"/>
                <xs:element ref="dsf:FROMLONGITUDE" minOccurs="0"/>
                <xs:element ref="dsf:TOPOINT" minOccurs="0"/>
                <xs:element ref="dsf:TOREFERENCEID" minOccurs="0"/>
                <xs:element ref="dsf:TOOFFSET" minOccurs="0"/>
                <xs:element ref="dsf:TOOFFSETPERCENTAGE" minOccurs="0"/>
                <xs:element ref="dsf:TOOFFSETDIRECTION" minOccurs="0"/>
                <xs:element ref="dsf:TOCOORDINATE" minOccurs="0"/>
                <xs:element ref="dsf:TOLATITUDE" minOccurs="0"/>
                <xs:element ref="dsf:TOLONGITUDE" minOccurs="0"/>
                <xs:element ref="dsf:LINEARREFUOM" minOccurs="0"/>
                <xs:element ref="dsf:DATEEFFECTIVE"/>
                <xs:element ref="dsf:DATEEXPIRED"/>
                <xs:element ref="dsf:REFERENCEDESCRIPTION" minOccurs="0"/>
                <xs:element ref="dsf:GEOGRAPHICALREFERENCE" minOccurs="0"/>
                <xs:element ref="dsf:APPLYTOCHILDREN" minOccurs="0"/>
                <xs:element ref="dsf:APPLYTOROUTEROW" minOccurs="0"/>
                <xs:element ref="dsf:EQUIPMENTLENGTH" minOccurs="0"/>
                <xs:element ref="dsf:STARTINGAT" minOccurs="0"/>
                <xs:element ref="dsf:COMMISSIONDATE" minOccurs="0"/>
                <xs:element ref="dsf:SERVICELIFE" minOccurs="0"/>
                <xs:element ref="dsf:SERVICELIFEUSAGE" minOccurs="0"/>
                <xs:element ref="dsf:SERVICELIFEUSAGEUOM" minOccurs="0"/>
                <xs:element ref="dsf:ENDUSEFULLIFE" minOccurs="0"/>
                <xs:element ref="dsf:REMAININGUSEFULLIFE" minOccurs="0"/>
                <xs:element ref="dsf:CORRECTIONCONDITIONSCORE" minOccurs="0"/>
                <xs:element ref="dsf:CORRECTIONCONDITIONREASON" minOccurs="0"/>
                <xs:element ref="dsf:CORRECTIONCONDITIONDATE" minOccurs="0"/>
                <xs:element ref="dsf:CORRECTIONUSAGE" minOccurs="0"/>
                <xs:element ref="dsf:CORRECTIONUSAGEUOM" minOccurs="0"/>
                <xs:element ref="OverviewDetails" minOccurs="0"/>
                <xs:element ref="SourceDetails" minOccurs="0"/>
                <xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="recordid" type="xs:long"/>
            <xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="OverviewDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:DISPLAYONOVERVIEW" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SourceDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
                <xs:element ref="dsf:CREATEDBY" minOccurs="0"/> 
                <xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
                <xs:element ref="dsf:UPDATEDBY" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>