Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP0354_AddSystemToStructure_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP0354_AddSystemToStructure_001
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0354_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:dse-system="http://schemas.datastream.net/MP_entities/SystemEquipment_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_functions/MP0354_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/SystemEquipment_001" schemaLocation="SystemEquipment_001.xsd"/>	
	<!--===============================================================================-->
	<!--====  Begining of MP0354_AddSystemToStructure_001 ======================================-->
	<xs:element name="MP0354_AddSystemToStructure_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SYSTEMID"/>
				<xs:element ref="dsf:SEQUENCENUMBER" minOccurs="0"/>
				<xs:element ref="ParentsForSystem" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="SystemStructure"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParentsForSystem">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="SystemDependency" minOccurs="0"/>
				<xs:element ref="LocationDependency" minOccurs="0"/>
				<xs:element ref="NonDependentParents" minOccurs="0"/>
			</xs:choice>			
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemDependency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DEPENDENTSYSTEM"/>
				<xs:element ref="dsf:NONDEPENDENTSYSTEM" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocationDependency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DEPENDENTLOCATION"/>
				<xs:element ref="dsf:NONDEPENDENTSYSTEM" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NonDependentParents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:NONDEPENDENTSYSTEM" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="defaultdependency" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>