Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP0352_AddAssetToStructure_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP0352_AddAssetToStructure_001
==================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0352_001" xmlns="http://schemas.datastream.net/MP_functions/MP0352_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-asset="http://schemas.datastream.net/MP_entities/AssetEquipment_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/AssetEquipment_001" schemaLocation="AssetEquipment_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0352_AddAssetToStructure_001 ======================================-->
	<xs:element name="MP0352_AddAssetToStructure_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ASSETID"/>
				<xs:element ref="ParentsForAsset" minOccurs="0"/>
				<xs:element ref="dsf:SEQUENCENUMBER" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="AssetStructure"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParentsForAsset">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="dse-asset:AssetDependency" minOccurs="0"/>
					<xs:element ref="dse-asset:PositionDependency" minOccurs="0"/>
					<xs:element ref="dse-asset:SystemDependency" minOccurs="0"/>
					<xs:element ref="dse-asset:LocationDependency" minOccurs="0"/>
					<xs:element ref="NonDependentParents" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NonDependentParents">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dse-asset:NonDependentParents_Type">
					<xs:attribute name="defaultdependency" type="dsf:FLAG_Type" default="false"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
