Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP0308_SyncPositionEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
       This schema defines MP business function request MP0308_SyncPositionEquipment_001
==================================================================================-->  

    <xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0308_001" 
           xmlns="http://schemas.datastream.net/MP_functions/MP0308_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"                  
           xmlns:dse-PositionEquipment="http://schemas.datastream.net/MP_entities/PositionEquipment_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PositionEquipment_001" schemaLocation="PositionEquipment_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->
<!--====  Begining of MP0308_SyncPositionEquipment_001 ======================================-->
	<xs:element name="MP0308_SyncPositionEquipment_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="dse-PositionEquipment:PositionEquipment"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PositionEquipment"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="confirm_availability_status" type="dsf:CONFIRMATION_Type"/>
					<xs:attribute name="confirmaddlinearreferences" type="dsf:CONFIRMATION_Type"/>
					<xs:attribute name="confirmnewequipmentlength" type="dsf:CONFIRMATION_Type"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
