Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP0356_RemoveEquipmentFromStructure_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP business function request MP0356_RemoveEquipmentFromStructure_001
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0356_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_functions/MP0356_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0356_RemoveEquipmentFromStructure_001 ======================================-->
	<xs:element name="MP0356_RemoveEquipmentFromStructure_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTID"/>	
				<xs:choice>
					<xs:element name="FromAllParents" type="dsf:FLAG_Type" minOccurs="0"/>
					<xs:element ref="ParentEquipment" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Remove"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentHierarchy"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParentEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
