Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP3082_ValidateEquipmentActualConsumption_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright (c) 2007 Infor.All rights reserved.The word and design marks set
	forth herein are trademarks and/or registered trademarks of Infor and/or
	related affiliates and subsidiaries.All rights reserved.All other trademarks
	listed herein are the property of their respective owners.www.infor.com.
	
	This schema defines MP business function request MP3082_ValidateEquipmentActualConsumption_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3082_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP3082_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====Begining of MP3082_ValidateEquipmentActualConsumption_001 ======================================-->
	<xs:element name="MP3082_ValidateEquipmentActualConsumption_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTID"/>
				<xs:element ref="dsf:READINGDATE"/>
				<xs:element ref="dsf:COMMODITYID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Validate"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentActualConsumption"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
