Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP3020_TransferEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP3020_TransferEquipment_001
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3020_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_functions/MP3020_001" 
	elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ====================================================================================== -->
	<!-- =============  Begining of MP3020_TransferEquipment_001 ============================= -->
	<xs:element name="MP3020_TransferEquipment_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="TransferEquipment"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Transfer"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Equipment"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="confirm_noexchangerateexist" type="dsf:CONFIRMATION_Type" default="not_needed"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransferEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CURRENTEQUIPMENTID"/>
				<xs:element ref="dsf:NEWEQUIPMENTID"/>
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="dsf:DEPARTMENTID"/>
				<xs:element ref="dsf:PARTID" minOccurs="0"/>
				<xs:element ref="dsf:COSTCODEID" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTURERID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
