Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP3022_GetEquipLinearRefDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
        This schema defines MP business function result MP3022_GetEquipLinearRefDefault_001_Result  
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP3022_001" xmlns:dse-EquipLinearRef="http://schemas.datastream.net/MP_entities/EquipLinearRef_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_results/MP3022_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EquipLinearRef_001" schemaLocation="EquipLinearRef_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP3022_GetEquipLinearRefDefault_001_Result ======================================-->
	<xs:element name="MP3022_GetEquipLinearRefDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>		
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTLENGTH" minOccurs="0"/>
				<xs:element ref="dsf:LINEARREFUOM" minOccurs="0"/>
				<xs:element ref="dsf:LRFTYPE" minOccurs="0"/>
				<xs:element ref="dsf:DATEEFFECTIVE" minOccurs="0"/>
				<xs:element ref="dsf:DATEEXPIRED" minOccurs="0"/>
				<xs:element ref="dsf:DISPLAYONOVERVIEW" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTCLASSID" minOccurs="0"/>
				<xs:element ref="dsf:CCTRSPCVALIDATION" minOccurs="0"/>
				<xs:element ref="dsf:STARTINGAT" minOccurs="0"/>
				<xs:element ref="dsf:LINEARDIRECTIONID" minOccurs="0"/>
				<xs:element ref="dsf:POINTREFERENCE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
			<xs:attribute name="pmscheduleequipmentsetid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
