Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP3283_GetAssetInventoryResultAssetDefault_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =============================================================================================
  Copyright (c) 2014 Infor. All rights reserved.
  The word and design marks set forth herein are trademarks and/or registered
  trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
  All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
  This schema defines MP business function request MP3283_GetAssetInventoryResultAssetDefault_001_Result
==================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP3283_001"
    xmlns="http://schemas.datastream.net/MP_results/MP3283_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="MP3283_GetAssetInventoryResultAssetDefault_001_Result">
    <xs:complexType>
            <xs:sequence>
                <xs:element ref="ResultData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResultData">
        <xs:complexType>
            <xs:sequence>
            	<xs:element ref="dsf:ORGANIZATIONID" minOccurs="0"/>
                <xs:element ref="dsf:COMMISSIONDATE" minOccurs="0"/>
                <xs:element ref="dsf:STATUS" minOccurs="0"/>
                <xs:element ref="dsf:TYPE" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="autonumber" type="dsf:FLAG_Type" default="false"/>
            <xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
        </xs:complexType>
    </xs:element>
</xs:schema>