Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP3289_CopyEquipmentConfiguration_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
    Copyright (c) 2014 Infor. All rights reserved. The word and design marks set forth herein are trademarks
    and/or registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.
  
    This schema defines MP business function request MP3289_CopyEquipmentConfiguration_001
===================================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3289_001" 
    xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.datastream.net/MP_functions/MP3289_001" elementFormDefault="qualified"> 
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="MP3289_CopyEquipmentConfiguration_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CopyEquipmentConfiguration"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Copy"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentConfiguration"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CopyEquipmentConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:SOURCEEQUIPMENTCONFIGURATIONID"/>
                <xs:element ref="dsf:EQUIPMENTCONFIGURATIONID"/>
                <xs:element ref="dsf:COPYCONFIGURATIONSASSOCIATED" minOccurs="0"/>
                <xs:element ref="dsf:COPYPARTSASSOCIATED" minOccurs="0"/>
                <xs:element ref="dsf:COPYDEPRECIATION" minOccurs="0"/>
                <xs:element ref="dsf:COPYMETERS" minOccurs="0"/>
                <xs:element ref="dsf:COPYWARRANTIES" minOccurs="0"/>
                <xs:element ref="dsf:COPYPMSCHEDULES" minOccurs="0"/>
				<xs:element ref="dsf:COPYMAINTENANCEPATTERNS" minOccurs="0"/>
				<xs:element ref="dsf:COPYSAFETY" minOccurs="0"/>
				<xs:element ref="dsf:COPYPERMITS" minOccurs="0"/>
				<xs:element ref="dsf:COPYTESTPOINTS" minOccurs="0"/>
				<xs:element ref="dsf:COPYCALIBRATION" minOccurs="0"/>
                <xs:element ref="dsf:COPYCOMMENTS" minOccurs="0"/>
                <xs:element ref="dsf:COPYDOCUMENTS" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>