Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP3337_SyncEquipmentSupplier_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2015 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. 
	www.infor.com.
	
    This schema defines MP business function request MP3337_SyncEquipmentSupplier_001    
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3337_001" 
			xmlns="http://schemas.datastream.net/MP_functions/MP3337_001" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:dsf="http://schemas.datastream.net/MP_fields"
			xmlns:dse-ELT="http://schemas.datastream.net/MP_entities/EquipmentSupplier_001"
			elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EquipmentSupplier_001" schemaLocation="EquipmentSupplier_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP3337_SyncEquipmentSupplier_001 ======================================-->
	<xs:element name="MP3337_SyncEquipmentSupplier_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ELT:EquipmentSupplier"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EquipmentSupplier"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="delete_notskipthislevel_records" type="dsf:CONFIRMATION_Type" default="prompt"/>
			<xs:attribute name="delete_notapplysuppliertochildren_records" type="dsf:CONFIRMATION_Type" default="prompt"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
