Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP3485_AddAssetClassOperationalCapacity_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2018 Infor. All rights reserved. The word and design marks set forth herein are trademarks
    and/or registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function result MP3485_AddAssetClassOperationalCapacity_001_Result 
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3485_001" 
    xmlns:dse-opc="http://schemas.datastream.net/MP_entities/AssetClassOperationalCapacity_001" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:dsf="http://schemas.datastream.net/MP_fields" 
    xmlns="http://schemas.datastream.net/MP_functions/MP3485_001" 
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_entities/AssetClassOperationalCapacity_001" 
        schemaLocation="AssetClassOperationalCapacity_001.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <xs:element name="MP3485_AddAssetClassOperationalCapacity_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dse-opc:AssetClassOperationalCapacity"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="AssetClassOperationalCapacity"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
</xs:schema>