Infor EAM APIs for On Premise/Version 11.5/schemas/Asset/MP3427_CalculateFromPoint_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2016 Infor.All rights reserved.The word and design marks set
    forth herein are trademarks and/or registered trademarks of Infor and/or
    related affiliates and subsidiaries.All rights reserved.All other trademarks
    listed herein are the property of their respective owners.www.infor.com.

    This schema defines MP business function request MP3427_CalculateFromPoint_001_Result
 ================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP3427_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.datastream.net/MP_results/MP3427_001"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===========================================================================-->
	<!--====  Begining of MP3427_CalculateFromPoint_001_Result =============================-->
	<xs:element name="MP3427_CalculateFromPoint_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FROMPOINT" minOccurs="0"/>
				<xs:element ref="dsf:FROMOFFSET" minOccurs="0"/>
				<xs:element ref="dsf:FROMOFFSETDIRECTION" minOccurs="0"/>
				<xs:element ref="dsf:LRFDESC" minOccurs="0"/>
				<xs:element ref="dsf:LRFGEOREF" minOccurs="0"/>
				<xs:element ref="FromReference" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FromReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FROMREFERENCEID" minOccurs="0"/>
				<xs:element ref="dsf:FROMOFFSET" minOccurs="0"/>
				<xs:element ref="dsf:FROMOFFSETDIRECTION" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>