Infor EAM APIs for On Premise/Version 11.5/schemas/Project/MP5050_CopyCampaign_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP5050_CopyCampaign_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP5050_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP5050_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP5050_CopyCampaign_001 ======================================-->
	<xs:element name="MP5050_CopyCampaign_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
					<xs:sequence>
						<xs:element ref="CopyCampaignDetails"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Copy"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Campaign"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CopyCampaignDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CAMPAIGNID"/>
				<xs:element ref="dsf:NEWCAMPAIGNID"/>
				<xs:element ref="dsf:COPYCUSTOMFIELDS" minOccurs="0"/>
				<xs:element ref="dsf:COPYUSERDEFINEDFIELDS" minOccurs="0"/>
				<xs:element ref="dsf:COPYCAMPAIGNEVENTS" minOccurs="0"/>
				<xs:element ref="dsf:COPYCAMPAIGNEQUIPMENT" minOccurs="0"/>
				<xs:element ref="dsf:COPYCOMMENTS" minOccurs="0"/>
				<xs:element ref="dsf:COPYDOCUMENTS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
