Infor EAM APIs for On Premise/Version 11.4/Schemas/Purchase/ExtraCharge_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Mi Zhou (Development) -->
<!-- ================================================================================
    This schema defines MP entity ExtraCharge
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ExtraCharge_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/ExtraCharge_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of ExtraCharge_001 ======================================-->
	<xs:element name="ExtraCharge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ECHCODE"/>
				<xs:element ref="dsf:ECHTYPE" minOccurs="0"/>
				<xs:element ref="dsf:DISCPERC" minOccurs="0"/>
				<xs:element ref="dsf:DISCOUNT" minOccurs="0"/>
				<xs:element ref="dsf:INVORDCODE"/>
				<xs:element ref="dsf:INVORDORG"/>
				<xs:element ref="dsf:INVORDLINE"/>
				<xs:element ref="dsf:INVORD"/>
				<xs:element ref="dsf:PARPRICE" minOccurs="0"/>
				<xs:element ref="dsf:ISCUMULATIVE" minOccurs="0"/>
				<xs:element ref="dsf:RTYPE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="user_entity" type="xs:string"/>
			<xs:attribute name="system_entity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
