Infor EAM APIs for On Premise/Version 11.4/schemas/Purchase/InvoiceVoucherCost_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003,	Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity for Invoice Voucher costs
================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/InvoiceVoucherCost_001"
	xmlns="http://schemas.datastream.net/MP_entities/InvoiceVoucherCost_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of InvoiceVoucherCost_001 ======= -->
	<xs:element name="InvoiceVoucherCost">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InvoiceVoucherCostInformation"/>
				<xs:element ref="InvoiceInformation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceVoucherCostInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:INVOICEVOUCHERCOSTID"/>
				<xs:element ref="dsf:IVDAMOUNT"/>
				<xs:element ref="dsf:IVDPERCENTAGE" minOccurs="0"/>
				<xs:element ref="dsf:IVDACD" minOccurs="0"/>
				<xs:element ref="dsf:TAXID" minOccurs="0"/>
				<xs:element ref="dsf:TAX2ID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:STATUSCODE"/>
				<xs:element ref="dsf:INVOICETOTAL"/>
				<xs:element ref="dsf:ADJUSTEDCOST"/>
				<xs:element ref="dsf:TOTALEXTRA" />
				<xs:element ref="dsf:TOTALTAXAMOUNT"/>
				<xs:element ref="dsf:TAXAMOUNT" minOccurs="0"/>
				<xs:element ref="dsf:INVOICELINETOTAL" minOccurs="0"/>
				<xs:element ref="dsf:UTILITYBILLCHARGES" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>