Infor EAM APIs for On Premise/Version 11.4/schemas/Purchase/MP0497_AddInvoiceVoucherLine_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP0497_AddInvoiceVoucherLine_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0497_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dse-InvoiceVoucherLine="http://schemas.datastream.net/MP_entities/InvoiceVoucherLine_001" xmlns="http://schemas.datastream.net/MP_functions/MP0497_001" elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/InvoiceVoucherLine_001" schemaLocation="InvoiceVoucherLine_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ====================================================================================== -->
	<!-- =============  Begining of MP0497_AddInvoiceVoucherLine_001 ============================= -->
	<xs:element name="MP0497_AddInvoiceVoucherLine_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-InvoiceVoucherLine:InvoiceLineBasicInformation"/>
				<xs:element ref="dse-InvoiceVoucherLine:InvoiceLineDetails"/>
				<xs:element ref="dse-InvoiceVoucherLine:TaxesAndChargesInformation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="InvoiceVoucherLine"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
