Infor EAM APIs for On Premise/Version 11.4/schemas/Purchase/MP0412_GetPurchaseOrderDefault_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result MP0412_GetPurchaseOrderDefault_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0412_001" xmlns:dpo-PurchaseOrder="http://schemas.datastream.net/MP_entities/PurchaseOrder_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_results/MP0412_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PurchaseOrder_001" schemaLocation="PurchaseOrder_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0412_GetPurchaseOrderDefault_001_Result ======================================-->
	<xs:element name="MP0412_GetPurchaseOrderDefault_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>		
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:DESCRIPTION"/>
				<xs:element ref="dsf:POREVISION"/>				
				<xs:element ref="dsf:ORGANIZATIONID"/>
				<xs:element ref="dsf:STATUS" minOccurs="0"/>
				<xs:element ref="dsf:BUYER"/>
				<xs:element ref="dsf:DUEDATE"/>
				<xs:element ref="dsf:ORDERDATE"/>
				<xs:element name="GROUP" type="dsf:CODE12_Type" minOccurs="0"/>				
				<xs:element ref="dsf:STOREID" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
