Infor EAM APIs for On Premise/Version 11.4/Schemas/Purchase/MP0404_AddClause_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- ================================================================================
    This schema defines MP business function request MP0404_AddClause_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0404_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:dse-clause="http://schemas.datastream.net/MP_entities/Clause_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_functions/MP0404_001" elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_entities/Clause_001" schemaLocation="Clause_001.xsd"/>
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
        <!--======================================================================-->
        <!--================  Beginning of MP0404_AddClause_001 ================-->
        <xs:element name="MP0404_AddClause_001">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dse-clause:Clause"/>
                        </xs:sequence>
                        <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
                        <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Clause"/>
                        <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
