Infor EAM APIs for On Premise/Version 11.4/Schemas/Purchase/MP0423_SyncPartForPO_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2007 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered trademarks
    of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request MP0423_SyncPartForPO_001
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0423_001" xmlns:dse-PartForPO="http://schemas.datastream.net/MP_entities/PartForPO_001" xmlns:of="http://www.openapplications.org/oagis_fields" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP0423_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/PartForPO_001" schemaLocation="PartForPO_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0423_SyncPartForPO_001 ======================================-->
	<xs:element name="MP0423_SyncPartForPO_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">		
					<xs:sequence>
						<xs:element ref="dse-PartForPO:PartForPO"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="PartForPO"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
					<xs:attribute name="cancel_reqline" type="dsf:CONFIRMATION_Type" default="not_needed"/>
					<xs:attribute name="confirm_use_primary_manufacturerpartnumber" type="dsf:CONFIRMATION_Type" default="prompt"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
