Infor EAM APIs for On Premise/Version 11.4/schemas/Purchase/MP0476_AddBlanketOrderUser_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0476_AddBlanketOrderUser_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0476_001"
		xmlns:dbo-BOU="http://schemas.datastream.net/MP_entities/BlanketOrderUser_001"
		xmlns:dsf="http://schemas.datastream.net/MP_fields"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns="http://schemas.datastream.net/MP_functions/MP0476_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/BlanketOrderUser_001" schemaLocation="BlanketOrderUser_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0476_AddBlanketOrderUser_001 ======================================-->
	<xs:element name="MP0476_AddBlanketOrderUser_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dbo-BOU:BlanketOrderUser"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="BlanketOrderUser"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
