Infor EAM APIs for On Premise/Version 11.4/schemas/Purchase/MP4000_MatchInvoiceVoucherLine_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP business function request to get the input for Processing the Invoice line
	and finding out whether the values given would qualify the invoice line to be Matched.
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP4000_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP4000_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP4000_MatchInvoiceVoucherLine_001 ======================================-->
	<xs:element name="MP4000_MatchInvoiceVoucherLine_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:INVOICEVOUCHERLINEID" />
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Match"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="InvoiceVoucherLine"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
