Infor EAM APIs for On Premise/Version 11.4/Schemas/Purchase/MP4112_ValidatePOStoreContract_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright (c) 2011 Infor.All rights reserved.The word and design marks set
    forth herein are trademarks and/or registered trademarks of Infor and/or
    related affiliates and subsidiaries.All rights reserved.All other trademarks
    listed herein are the property of their respective owners.www.infor.com.

    This schema defines MP business function request MP4112_ValidatePOStoreContract_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP4112_001" xmlns="http://schemas.datastream.net/MP_functions/MP4112_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP4112_ValidatePOStoreContract_001 ======================================-->
	<xs:element name="MP4112_ValidatePOStoreContract_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:ORGANIZATIONID"/>
				<xs:element ref="dsf:SUPPLIERID"/>
				<xs:element ref="dsf:CURRENCYCODE"/>
				<xs:element ref="dsf:STOREID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Validate"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="POStoreContract"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
