Infor EAM APIs for On Premise/Version 11.4/Schemas/Purchase/PurchaseOrderHistory_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function entity PurchaseOrderHistory
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PurchaseOrderHistory_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:os="http://www.openapplications.org/oagis_segments" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datastream.net/MP_entities/PurchaseOrderHistory_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>
	<xs:element name="PurchaseOrderHistory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PURCHASEORDERID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="dsf:POREVISION"/>
				<xs:element name="POREVISION2" type="xs:long" minOccurs="0"/>
				<xs:element ref="dsf:ORDERDATE"/>
				<xs:element ref="dsf:DUEDATE"/>
				<xs:element ref="dsf:DELADDRESSCODE" minOccurs="0"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:AUTHORIZER" minOccurs="0"/>
				<xs:element ref="dsf:BUYER" minOccurs="0"/>
				<xs:element ref="dsf:ORIGINATOR" minOccurs="0"/>
				<xs:element ref="dsf:CURRENCYCODE"/>
				<xs:element ref="dsf:EXCHANGE"/>
				<xs:element ref="dsf:STOREID"/>
				<xs:element ref="dsf:CONTRACTCODE" minOccurs="0"/>
				<xs:element ref="dsf:DISCOUNT" minOccurs="0"/>
				<xs:element ref="dsf:ORDERDISCPERC" minOccurs="0"/>
				<xs:element ref="dsf:PRINTED"/>
				<xs:element ref="dsf:TRANSMITTED" minOccurs="0"/>
				<xs:element ref="dsf:DEFAULTAPPROVER" minOccurs="0"/>
				<xs:element ref="dsf:APPROVEDATE" minOccurs="0"/>
				<xs:element name="CreditCardInfo" type="CreditCard_Type" minOccurs="0"/>
				<xs:element ref="dsf:POCONTROLNO" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="UserDefinedFields" minOccurs="0"/>
				<xs:element name="SupplierInfo" type="SupplierInfo_Type" minOccurs="0"/>
				<xs:element name="BlanketOrderInfo" type="BlanketOrderInfo_Type" minOccurs="0"/>
				<xs:element name="POTerms" type="POTerms_Type" minOccurs="0"/>
				<xs:element ref="dsf:ForSystemInterfaceOnly" minOccurs="0"/>
				<xs:element name="RevisionHistory" type="RevisionHistory_Type" minOccurs="0"/>
				<xs:element name="ReadOnlyGUIInfo" type="ReadOnlyGUIInfo_Type" minOccurs="0"/>
				<xs:element ref="dsf:NEWREVISIONREASON" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CreditCard_Type">
		<xs:sequence>
			<xs:element ref="dsf:CREDITCARD" minOccurs="0"/>
			<xs:element ref="dsf:CREDITCARDLASTFOUR" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupplierInfo_Type">
		<xs:sequence>
			<xs:element ref="dsf:SUPPLIERID" minOccurs="0"/>
			<xs:element ref="dsf:LANGUAGEID" minOccurs="0"/>
			<xs:element ref="dsf:LEADTIME" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReadOnlyGUIInfo_Type">
		<xs:sequence>
			<xs:element name="PartSubLinesValue" type="os:AMOUNT" minOccurs="0"/>
			<xs:element name="ServiceSubLinesValue" type="os:AMOUNT" minOccurs="0"/>
			<xs:element name="TotalTaxValue" type="os:AMOUNT" minOccurs="0"/>
			<xs:element name="TotalExtraChargesValue" type="os:AMOUNT" minOccurs="0"/>
			<xs:element name="PartLinesValue" type="os:AMOUNT" minOccurs="0"/>
			<xs:element name="ServiceLinesValue" type="os:AMOUNT" minOccurs="0"/>
			<xs:element name="TotalPOValue" type="os:AMOUNT" minOccurs="0"/>
			<xs:element name="PartLinesCurrency" type="dsf:CURRENCYID_Type" minOccurs="0"/>
			<xs:element name="ServiceLinesCurrency" type="dsf:CURRENCYID_Type" minOccurs="0"/>
			<xs:element name="TotalPOCurrency" type="dsf:CURRENCYID_Type" minOccurs="0"/>
			<xs:element name="PartSubLinesCurrency" type="dsf:CURRENCYID_Type" minOccurs="0"/>
			<xs:element name="ServiceSubLinesCurrency" type="dsf:CURRENCYID_Type" minOccurs="0"/>
			<xs:element name="TotalTaxCurrency" type="dsf:CURRENCYID_Type" minOccurs="0"/>
			<xs:element name="TotalExtraChargesCurrency" type="dsf:CURRENCYID_Type" minOccurs="0"/>		
			<xs:element name="PartLinesCount" type="xs:long" minOccurs="0"/>
			<xs:element name="ServiceLinesCount" type="xs:long" minOccurs="0"/>
			<xs:element name="TotalPOLinesCount" type="xs:long" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RevisionHistory_Type">
		<xs:sequence>
			<xs:element ref="dsf:REVISEDDATE" minOccurs="0"/>
			<xs:element name="REVISEDORDER" type="xs:string" minOccurs="0"/>
			<xs:element name="REVISEDBY" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="POTerms_Type">
		<xs:sequence>
			<xs:element ref="dsf:PAYMENTTERM" minOccurs="0"/>
			<xs:element ref="dsf:FREIGHTTERM" minOccurs="0"/>
			<xs:element ref="dsf:SHIPVIA" minOccurs="0"/>
			<xs:element ref="dsf:FOBPOINT" minOccurs="0"/>
			<xs:element ref="dsf:PAYBYMETHOD" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BlanketOrderInfo_Type">
		<xs:sequence>
			<xs:element ref="dsf:BLANKETORDER" minOccurs="0"/>
			<xs:element ref="dsf:BLANKETORDERRELEASE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR11" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR12" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR13" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR14" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR15" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR16" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR17" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR18" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR19" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR20" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR21" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR22" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR23" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR24" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR25" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR26" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR27" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR28" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR29" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR30" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
