Infor EAM APIs for On Premise/Version 11.4/schemas/Purchase/PurchaseOrder_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function entity PurchaseOrder
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/PurchaseOrder_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:osf="http://www.openapplications.org/oagis_fields" xmlns:os="http://www.openapplications.org/oagis_segments" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/PurchaseOrder_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>
	<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>
	<xs:element name="PurchaseOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PURCHASEORDERID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="dsf:POREVISION" minOccurs="0"/>
				<xs:element ref="dsf:STOREID"/>
				<xs:element ref="dsf:DUEDATE"/>
				<xs:element ref="dsf:BUYER" minOccurs="0"/>
				<xs:element ref="dsf:DELADDRESSCODE" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERID"/>
				<xs:element ref="dsf:CURRENCYCODE"/>
				<xs:element ref="dsf:EXCHANGE"/>
				<xs:element ref="dsf:CONTRACTCODE" minOccurs="0"/>
				<xs:element ref="dsf:DISCOUNT" minOccurs="0"/>
				<xs:element ref="dsf:BLANKETORDER" minOccurs="0"/>
				<xs:element ref="dsf:BLANKETORDERRELEASE" minOccurs="0"/>
				<xs:element ref="dsf:ORDERDATE"/>
				<xs:element ref="dsf:SOURCECODE" minOccurs="0"/>
				<xs:element ref="dsf:PRINTED"/>
				<xs:element ref="dsf:TRANSMITTED"/>
				<xs:element ref="dsf:DEFAULTAPPROVER" minOccurs="0"/>
				<xs:element ref="dsf:APPROVEDATE" minOccurs="0"/>
				<xs:element ref="dsf:TYPE"/>
				<xs:element ref="dsf:AUTHORIZER" minOccurs="0"/>
				<xs:element ref="dsf:PURCHASEORDERVALUE" minOccurs="0"/>
				<xs:element ref="dsf:PAYMENTTERM" minOccurs="0"/>
				<xs:element ref="dsf:FREIGHTTERM" minOccurs="0"/>
				<xs:element ref="dsf:SHIPVIA" minOccurs="0"/>
				<xs:element ref="dsf:FOBPOINT" minOccurs="0"/>
				<xs:element ref="dsf:PAYBYMETHOD" minOccurs="0"/>
				<xs:element ref="dsf:ORDERDISCPERC" minOccurs="0"/>
				<xs:element ref="dsf:ORIGINATOR"/>
				<xs:element ref="dsf:SOURCESYSTEM" minOccurs="0"/>
				<xs:element ref="dsf:REVISEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:INTERFACE" minOccurs="0"/>
				<xs:element ref="dsf:EXCHTODUAL" minOccurs="0"/>
				<xs:element ref="dsf:EXCHFROMDUAL" minOccurs="0"/>
				<xs:element ref="dsf:CREDITCARD" minOccurs="0"/>
				<xs:element ref="dsf:POCONTROLNO" minOccurs="0"/>
				<xs:element ref="dsf:ATTENTIONTO" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="UserDefinedFields" minOccurs="0"/>
				<xs:element name="part_lines_value" type="os:AMOUNT" minOccurs="0"/>
				<xs:element name="service_lines_value" type="os:AMOUNT" minOccurs="0"/>
				<xs:element name="no_of_partlines" type="xs:long" minOccurs="0"/>
				<xs:element name="no_of_servicelines" type="xs:long" minOccurs="0"/>
				<xs:element name="SUBTOTALPARTVALUE" type="os:AMOUNT" minOccurs="0"/>
				<xs:element name="SUBTOTALSERVICEVALUE" type="os:AMOUNT" minOccurs="0"/>
				<xs:element ref="dsf:NEWREVISIONREASON" minOccurs="0"/>
				<xs:element ref="dsf:PACKAGETRACKINGNUMBER" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR11" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR12" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR13" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR14" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR15" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR16" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR17" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR18" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR19" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR20" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR21" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR22" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR23" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR24" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR25" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR26" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR27" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR28" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR29" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR30" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>