Infor EAM APIs for On Premise/Version 11.4/schemas/Mobile/MP8503_GetMobileDataBlock_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP business function result MP8503_GetMobileDataBlock_001_Result
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP8503_001" xmlns="http://schemas.datastream.net/MP_results/MP8503_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--===============================================================================-->
	<!--====  Begining of MP8503_GetMobileDataBlock_001_Result ======================================-->
	<xs:element name="MP8503_GetMobileDataBlock_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DATABLOCKS">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="DATABLOCK">
								<xs:complexType>
									<xs:choice>
										<xs:element name="COMPRESSED" type="xs:string"/>
										<xs:element name="NOCOMPRESS" type="xs:string"/>
									</xs:choice>
									<xs:attribute name="blockid"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="requestid"/>
						<xs:attribute name="requestseq"/>
						<xs:attribute name="moredata"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
