Infor EAM APIs for On Premise/Version 11.4/schemas/Mobile/MP8502_ProcessMobileGridGroup_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by Weikang Ding (Datastream Systems, Inc) -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP8502_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:mri="http://schemas.datastream.net/MP_entities/MobileRequestInfo_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/MobileRequestInfo_001" schemaLocation="MobileRequestInfo_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:element name="MP8502_ProcessMobileGridGroup_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mri:MOBILE_REQUEST_INFO"/>
				<xs:element ref="mri:REQUESTID"/>
				<xs:element ref="mri:GROUPID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Process"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MobileGridGroup"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
