Infor EAM APIs for On Premise/Version 11.4/Wsdl/Asset/MP0353_AddPositionToStructure_002.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP0353_AddPositionToStructure_002" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP0353_002" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP0353_AddPositionToStructure_002" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP0353_002">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP0353_002" schemaLocation="../../schemas/Asset/MP0353_AddPositionToStructure_002.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP0353_002" schemaLocation="../../schemas/Asset/MP0353_AddPositionToStructure_002_Result.xsd"/></xsd:schema>
  </types>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="AddPositionToStructureResponseMsg">
    <part name="AddPositionToStructureResponseMsg" element="resp0:MP0353_AddPositionToStructure_002_Result"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="AddPositionToStructureRequestMsg">
    <part name="AddPositionToStructureRequestMsg" element="rqst0:MP0353_AddPositionToStructure_002"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <portType name="AddPositionToStructurePT">
    <operation name="AddPositionToStructureOp">
      <input name="AddPositionToStructureRequestMsg" message="tns:AddPositionToStructureRequestMsg"/>
      <output name="AddPositionToStructureResponseMsg" message="tns:AddPositionToStructureResponseMsg"/>
    </operation>
  </portType>
  <binding name="AddPositionToStructureSoapBinding" type="tns:AddPositionToStructurePT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AddPositionToStructureOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="AddPositionToStructureRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddPositionToStructureRequestMsg" use="literal"/>
      </input>
      <output name="AddPositionToStructureResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddPositionToStructureResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AddPositionToStructureService">
    <port name="AddPositionToStructureSoapBinding" binding="tns:AddPositionToStructureSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
