Infor EAM APIs for On Premise/Version 11.4/wsdl/Asset/MP0395_GetEquipmentProfile_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP0395_GetEquipmentProfile_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP0395_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP0395_GetEquipmentProfile_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP0395_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP0395_001" schemaLocation="../../schemas/Asset/MP0395_GetEquipmentProfile_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP0395_001" schemaLocation="../../schemas/Asset/MP0395_GetEquipmentProfile_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="GetEquipmentProfileRequestMsg">
    <part name="GetEquipmentProfileRequestMsg" element="rqst0:MP0395_GetEquipmentProfile_001"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="GetEquipmentProfileResponseMsg">
    <part name="GetEquipmentProfileResponseMsg" element="resp0:MP0395_GetEquipmentProfile_001_Result"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <portType name="GetEquipmentProfilePT">
    <operation name="GetEquipmentProfileOp">
      <input name="GetEquipmentProfileRequestMsg" message="tns:GetEquipmentProfileRequestMsg"/>
      <output name="GetEquipmentProfileResponseMsg" message="tns:GetEquipmentProfileResponseMsg"/>
    </operation>
  </portType>
  <binding name="GetEquipmentProfileSoapBinding" type="tns:GetEquipmentProfilePT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetEquipmentProfileOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="GetEquipmentProfileRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetEquipmentProfileRequestMsg" use="literal"/>
      </input>
      <output name="GetEquipmentProfileResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetEquipmentProfileResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GetEquipmentProfileService">
    <port name="GetEquipmentProfileSoapBinding" binding="tns:GetEquipmentProfileSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
