Infor EAM APIs for On Premise/Version 11.4/wsdl/Asset/MP3294_CopyWarrantyCostCoverageDetails_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP3294_CopyWarrantyCostCoverageDetails_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP3294_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP3294_CopyWarrantyCostCoverageDetails_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP3294_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP3294_001" schemaLocation="../../schemas/Asset/MP3294_CopyWarrantyCostCoverageDetails_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP3294_001" schemaLocation="../../schemas/Asset/MP3294_CopyWarrantyCostCoverageDetails_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="CopyWarrantyCostCoverageDetailsRequestMsg">
    <part name="CopyWarrantyCostCoverageDetailsRequestMsg" element="rqst0:MP3294_CopyWarrantyCostCoverageDetails_001"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="CopyWarrantyCostCoverageDetailsResponseMsg">
    <part name="CopyWarrantyCostCoverageDetailsResponseMsg" element="resp0:MP3294_CopyWarrantyCostCoverageDetails_001_Result"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <portType name="CopyWarrantyCostCoverageDetailsPT">
    <operation name="CopyWarrantyCostCoverageDetailsOp">
      <input name="CopyWarrantyCostCoverageDetailsRequestMsg" message="tns:CopyWarrantyCostCoverageDetailsRequestMsg"/>
      <output name="CopyWarrantyCostCoverageDetailsResponseMsg" message="tns:CopyWarrantyCostCoverageDetailsResponseMsg"/>
    </operation>
  </portType>
  <binding name="CopyWarrantyCostCoverageDetailsSoapBinding" type="tns:CopyWarrantyCostCoverageDetailsPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CopyWarrantyCostCoverageDetailsOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="CopyWarrantyCostCoverageDetailsRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="CopyWarrantyCostCoverageDetailsRequestMsg" use="literal"/>
      </input>
      <output name="CopyWarrantyCostCoverageDetailsResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="CopyWarrantyCostCoverageDetailsResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CopyWarrantyCostCoverageDetailsService">
    <port name="CopyWarrantyCostCoverageDetailsSoapBinding" binding="tns:CopyWarrantyCostCoverageDetailsSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
