Infor EAM APIs for Saas/Version 11.4.1/schemas/Project/ShutdownEquipment_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity Shutdown Equipment
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ShutdownEquipment_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/ShutdownEquipment_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of EquipmentShutdown_001 ======================================-->
	<xs:element name="ShutdownEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SHUTDOWNEQUIPMENTID"/>
                                <xs:element ref="dsf:ASSETTYPE"  minOccurs="0"/>                              
                                <xs:element ref="dsf:STANDARDWO" minOccurs="0"/>
                                <xs:element ref="dsf:PROJBUD"    minOccurs="0"/>
                                <xs:element ref="OtherEquipmentDetails" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtherEquipmentDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTCLASSID" minOccurs="0"/>
				<xs:element ref="dsf:CATEGORYID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>
