Infor EAM APIs for On Premise/Version 11.5/schemas/Purchase/InvoiceVoucherLine_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth 
	herein are trademarks and/or registered trademarks of Infor and/or related affiliates
	and subsidiaries. All rights reserved. All other trademarks listed herein are the
 	property of their respective owners. www.infor.com.

	This schema defines MP entity for Invoice Lines
================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/InvoiceVoucherLine_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/InvoiceVoucherLine_001" elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of InvoiceVoucherLine_001 ======= -->
	<xs:element name="InvoiceVoucherLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InvoiceLineBasicInformation"/>
				<xs:element ref="InvoiceLineDetails"/>
				<xs:element ref="TaxesAndChargesInformation" minOccurs="0"/>
				<xs:element ref="DualExchangeDetails" minOccurs="0"/>
				<xs:element ref="dsf:ForSystemInterfaceOnly" minOccurs="0"/>
				<xs:element ref="InvoiceInformation" minOccurs="0"/>
				<xs:element ref="POLineInformation" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceLineBasicInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:INVOICEVOUCHERLINEID"/>
				<xs:element ref="dsf:INVOICELINETYPE"/>
				<xs:element ref="dsf:INVOICELINESTATUS" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceLineDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PURCHASEORDERLINEID" minOccurs="0"/>
				<xs:element ref="dsf:INVOICEDQTY"/>
				<xs:element ref="dsf:RETURNQTY" minOccurs="0"/>
				<xs:element ref="dsf:INVOICEDPRICE"/>
				<xs:element ref="dsf:EXCHANGE"/>
				<xs:element ref="dsf:CURRENCYCODE"/>
				<xs:element ref="dsf:INVOICEDVALUE" minOccurs="0"/>
				<xs:element ref="dsf:ADJUSTEDCOST" minOccurs="0"/>
				<xs:element ref="dsf:INVOICELINETOTAL" minOccurs="0"/>
				<xs:element ref="dsf:PREPAYMENT" minOccurs="0"/>
				<xs:element ref="dsf:FINALPAYMENT" minOccurs="0"/>
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaxesAndChargesInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:TAXID" minOccurs="0"/>
				<xs:element ref="dsf:TAX2ID" minOccurs="0"/>
				<xs:element ref="dsf:TOTALEXTRA" minOccurs="0"/>
				<xs:element ref="dsf:TOTALTAXAMOUNT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DualExchangeDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EXCHTODUAL" minOccurs="0"/>
				<xs:element ref="dsf:EXCHFROMDUAL" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PARENTINVOICEID" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERID" minOccurs="0"/>
				<xs:element ref="dsf:TYPECODE"/>
				<xs:element ref="dsf:STATUSCODE"/>
				<xs:element ref="dsf:ISINVOICERETURN"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="POLineInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:PARTID" minOccurs="0"/>
				<xs:element ref="dsf:TRADEID" minOccurs="0"/>
				<xs:element ref="dsf:ACTIVITYID" minOccurs="0"/>
				<xs:element ref="dsf:JOBSEQUENCE" minOccurs="0"/>
				<xs:element ref="dsf:COSTCODE" minOccurs="0"/>
				<xs:element ref="dsf:ORDEREDQTY" minOccurs="0"/>
				<xs:element ref="dsf:RECEIVEDQUANTITY" minOccurs="0"/>
				<xs:element ref="dsf:TOTALINVOICEDQTY" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="dsf:RELATEDWORKORDERID" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTURERID" minOccurs="0"/>
				<xs:element ref="dsf:MANUFACTURERPARTCODE" minOccurs="0"/>
				<xs:element ref="dsf:ALLOWPREPAYMENT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
