Infor EAM APIs for On Premise/Version 11.5/schemas/Purchase/MP0447_AddBlanketOrder_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0447_AddBlanketOrder_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0447_001" xmlns="http://schemas.datastream.net/MP_functions/MP0447_001" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:osf="http://www.openapplications.org/oagis_fields"
xmlns:os="http://www.openapplications.org/oagis_segments" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dbo-BlanketOrder="http://schemas.datastream.net/MP_entities/BlanketOrder_001" elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<xs:import namespace="http://schemas.datastream.net/MP_entities/BlanketOrder_001" schemaLocation="BlanketOrder_001.xsd"/>
<xs:import namespace="http://www.openapplications.org/oagis_segments" schemaLocation="../oagis_segments.xsd"/>
<xs:import namespace="http://www.openapplications.org/oagis_fields" schemaLocation="../oagis_fields.xsd"/>    	
	<!--===============================================================================-->
	<!--====  Begining of MP0447_AddBlanketOrder_001 ======================================-->
	<xs:element name="MP0447_AddBlanketOrder_001">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">		
					<xs:sequence>
						<xs:element ref="dbo-BlanketOrder:BlanketOrder"/>
					</xs:sequence>
					<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
					<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="BlanketOrder"/>
					<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
				</xs:extension>
			</xs:complexContent>					
		</xs:complexType>
	</xs:element>
</xs:schema>
