Infor EAM APIs for Saas/Version 11.4.1/schemas/Mobile/MP8503_GetMobileDataBlock_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

    This schema defines MP business function request MP8503_GetMobileDataBlock_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP8503_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP8503_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP8503_GetMobileDataBlock_001 ======================================-->
	<xs:element name="MP8503_GetMobileDataBlock_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FUNCTION_REQUEST_INFO"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Get"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MobileDataBlock"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FUNCTION_REQUEST_INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="REQUESTID" type="xs:string"/>
				<xs:element name="REQUESTSEQ" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
