Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/Document_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth herein are trademarks 
and/or registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved. 
All other trademarks listed herein are the property of their respective owners. www.infor.com.

This schema defines MP entity Document

==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/Document_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_entities/Document_001" elementFormDefault="qualified">
        <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--============================  Begining of Document ===========================-->
        <xs:element name="Document">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="dsf:DOCUMENTID"/>
                                <xs:element ref="dsf:CLASSID" minOccurs="0"/>
                                <xs:element ref="dsf:ORIGINALCODE" minOccurs="0"/>
                                <xs:element ref="dsf:REVISIONNUMBER" minOccurs="0"/>
                                <xs:element ref="dsf:REVISIONDATE" minOccurs="0"/>
                                <xs:element ref="dsf:PAGES" minOccurs="0"/>
                                <xs:element ref="dsf:FILELOCATION" minOccurs="0"/>
                                <xs:element ref="dsf:FILE" minOccurs="0"/>
                                <xs:element ref="dsf:FILETYPE" minOccurs="0"/>
                                <xs:element ref="dsf:DOCUMENTTYPE"/>
                                <xs:element ref="dsf:DOCUMENTPARENT" minOccurs="0"/>
                                <xs:element ref="dsf:ORIGINATORCODE" minOccurs="0"/>
                                <xs:element ref="dsf:DOCUMENTSIZE" minOccurs="0"/>
                                <xs:element ref="dsf:FILESIZE" minOccurs="0"/>
                                <xs:element ref="dsf:LOCKUSER" minOccurs="0"/>
                                <xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
                                <xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
                                <xs:element ref="dsf:ORIGINALFILENAME" minOccurs="0"/>
                                <xs:element ref="dsf:UPLOADEDDATE" minOccurs="0"/>
                                <xs:element ref="dsf:IDMDOCUMENTTYPE" minOccurs="0"/>
                                <xs:element ref="dsf:DATEEFFECTIVE" minOccurs="0"/>
                                <xs:element ref="dsf:DATEEXPIRED" minOccurs="0"/>
                                <xs:element ref="dsf:DOCUMENTTITLE" minOccurs="0"/>
                                <xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="recordid" type="xs:long"/>
                        <xs:attribute name="user_entity" type="xs:string"/>
                        <xs:attribute name="system_entity" type="xs:string"/>
                </xs:complexType>
        </xs:element>
</xs:schema>
