Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/HomeUser_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.
    This schema defines MP entity HomeUser
-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/HomeUser_001" xmlns="http://schemas.datastream.net/MP_entities/HomeUser_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--=====================================================================-->
	<!--====  Begining of HomeUser_001 ======================================-->
	<xs:element name="HomeUsers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HomeUser" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HomeUser">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:HOMEUSERID"/>
				<xs:element name="AUTOREFRESH" type="dsf:FLAG_Type" minOccurs="0"/>
				<xs:element ref="dsf:INBOXTAB" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
