Infor EAM APIs for On Premise/Version 11.4/Schemas/Administration/LDAPRole_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity transaction
==================================================================================-->  

<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/LDAPRole_001" 
	xmlns="http://schemas.datastream.net/MP_entities/LDAPRole_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--=====================================================================-->
	<!--====  Begining of LDAPRole_001 ======================================-->
	<xs:element name="LDAPRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LDAPROLEID"/>
				<xs:element ref="dsf:USERGROUPCODE" minOccurs="0"/>
				<xs:element ref="dsf:DEFAULTORG" minOccurs="0"/>
				<xs:element ref="dsf:LANGUAGECODE" minOccurs="0"/>
				<xs:element ref="dsf:MSGTIMEOUT" minOccurs="0"/>
				<xs:element ref="dsf:LOCALE" minOccurs="0"/>
				<xs:element ref="dsf:DEPARTMENTCODE" minOccurs="0"/>
				<xs:element ref="dsf:FIRSTFORM" minOccurs="0"/>
				<xs:element ref="dsf:EWSFUNCTION" minOccurs="0"/>
				<xs:element ref="LIMITS" minOccurs="0"/>
				<xs:element ref="dsf:ISBUYER" minOccurs="0"/>
				<xs:element ref="dsf:ISAPPROVER" minOccurs="0"/>
				<xs:element ref="dsf:ISACTIVE" minOccurs="0"/>
				<xs:element ref="dsf:ISREQUESTOR" minOccurs="0"/>
				<xs:element ref="dsf:ISCONNECTOR" minOccurs="0"/>
				<xs:element ref="dsf:ISMOBILE" minOccurs="0"/>
				<xs:element ref="dsf:ISMOBILEADMIN" minOccurs="0"/>
				<xs:element ref="dsf:ISBARCODE" minOccurs="0"/>
				<xs:element ref="dsf:ISANALYTICS" minOccurs="0"/>
				<xs:element ref="dsf:ISSCREENER" minOccurs="0"/>
				<xs:element ref="dsf:ISCONSUMER" minOccurs="0"/>
				<xs:element ref="dsf:ISPROFESSIONAL" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LIMITS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:REQLIMIT" minOccurs="0"/>
				<xs:element ref="dsf:REQAPPLIMIT" minOccurs="0"/>
				<xs:element ref="dsf:INVAPPLIMIT" minOccurs="0"/>
				<xs:element ref="dsf:NONPOINVAPPLIMIT" minOccurs="0"/>
				<xs:element ref="dsf:POLIMIT" minOccurs="0"/>
				<xs:element ref="dsf:POAPPLIMIT" minOccurs="0"/>
				<xs:element ref="dsf:PICKLISTAPPLIMIT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
