Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP0645_GetAddressesDefault_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result MP0645_GetAddressesDefault_001_Result
 ============================================================================= -->

   <xs:schema  targetNamespace="http://schemas.datastream.net/MP_results/MP0645_001"  xmlns="http://schemas.datastream.net/MP_results/MP0645_001" xmlns:dsf="http://schemas.datastream.net/MP_fields"  xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!--===============================================================================-->
   <!--====  Begining of MP0645_GetAddressesDefault_001_Result ======================================-->
   <xs:element name="MP0645_GetAddressesDefault_001_Result">
	<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
	</xs:complexType>
    </xs:element>

    <xs:element name="ResultData">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="RTYPE" type="dsf:CODE4_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    </xs:element>
    
</xs:schema>