Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP0697_SyncTabPermissions_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
    	50 Datastream Plaza, Greenville, SC 29605, USA.
   	All rights reserved.
       
       This schema defines MP business Tab request MP0697_SyncTabPermissions_001
======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0697_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:dse-tp="http://schemas.datastream.net/MP_entities/TabPermissions_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_functions/MP0697_001" elementFormDefault="qualified">
           
	<xs:import namespace="http://schemas.datastream.net/MP_entities/TabPermissions_001" schemaLocation="TabPermissions_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0697_SyncTabPermissions_001 ======================================-->
	<xs:element name="MP0697_SyncTabPermissions_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-tp:TabPermissions"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="TabPermissions"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
