Infor EAM APIs for On Premise/Version 11.4/Schemas/Administration/MP0657_AddUsrGrp_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP0657_AddUsrGrp_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0657_001" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" 
           xmlns:dse-UsrGrp="http://schemas.datastream.net/MP_entities/usrgrp_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://schemas.datastream.net/MP_functions/MP0657_001" 
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/usrgrp_001" schemaLocation="UsrGrp_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0657_AddUsrGrp_001 ======================================-->
	<xs:element name="MP0657_AddUsrGrp_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-UsrGrp:UsrGrp"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="UsrGrp"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
