Infor EAM APIs for On Premise/Version 11.4/Schemas/Administration/MP0601_GetUserSetup_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
 *  Copyright (c) 2007 Infor. All rights reserved. The word and design marks set forth
 *  herein are trademarks and/or registered trademarks of Infor and/or related
 *  affiliates and subsidiaries. All rights reserved. All other trademarks listed
 *  herein are the property of their respective owners. www.infor.com.

  This schema defines MP business function result MP0601_GetUserSetup_001
==================================================================================-->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP0601_001" xmlns:dse-UserSetup="http://schemas.datastream.net/MP_entities/UserSetup_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_results/MP0601_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/UserSetup_001" schemaLocation="UserSetup_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP0601_GetUserSetup_001_Result ======================================-->
	<xs:element name="MP0601_GetUserSetup_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-UserSetup:UserSetup"/>
				<xs:element ref="dsf:CURRENCYID"/>
				<xs:element ref="dsf:GROUPREQUESTORFLAG" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
