Infor EAM APIs for On Premise/Version 11.4/Schemas/Administration/MP6062_PurgeEMailNotificationRecords_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result for function request MP6062_PurgeEMailNotificationRecords_001.
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP6062_001" 
           xmlns="http://schemas.datastream.net/MP_results/MP6062_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--======================================================================================-->
	<!--====  Begining of MP6062_PurgeEMailNotificationRecords_001_Result ======================================-->
	<xs:element name="MP6062_PurgeEMailNotificationRecords_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FROMDATE"/>
				<xs:element ref="dsf:TODATE"/>
				<xs:element name="PurgedEmailCount" type="xs:long"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
