Infor EAM APIs for On Premise/Version 11.4/Schemas/Administration/MP6045_DeleteExtMenus_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
    	50 Datastream Plaza, Greenville, SC 29605, USA.
   	All rights reserved.
	
    This schema defines MP business function request MP6045_DeleteExtMenus_001
========================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6045_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-em="http://schemas.datastream.net/MP_entities/ExtMenus_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_functions/MP6045_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ExtMenus_001" schemaLocation="ExtMenus_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP6045_DeleteExtMenus_001 ======================================-->
	<xs:element name="MP6045_DeleteExtMenus_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-em:ExtMenus"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Delete"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ExtMenus"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
