Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP6016_SyncGISPreference_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result MP6016_SyncGISPreference_001_Result
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP6016_001" 
           xmlns="http://schemas.datastream.net/MP_results/MP6016_001" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:dsf="http://schemas.datastream.net/MP_fields"
           xmlns:dse-GISPreference="http://schemas.datastream.net/MP_entities/GISPreference_001" 
           elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/GISPreference_001" schemaLocation="GISPreference_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP6016_SyncGISPreference_001_Result ======================================-->
	<xs:element name="MP6016_SyncGISPreference_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-GISPreference:GISPreference"/>
			</xs:sequence>
			<xs:attribute name="multiorg" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>   
</xs:schema>
