Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP6022_GetCustomFieldsLOVValuesCount_001_Result.xsd

<?xml version="1.0"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function result for function request MP6022_GetCustomFieldsLOVValuesCount_001_Result.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP6022_001"
	xmlns="http://schemas.datastream.net/MP_results/MP6022_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	xmlns:dse-CustomFieldsLOV="http://schemas.datastream.net/MP_entities/CustomFieldsLOV_001"
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields"
		schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/CustomFieldsLOV_001"
		schemaLocation="CustomFieldsLOV_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP6022_GetCustomFieldsLOVValuesCount_001_Result ======================================-->
	<xs:element name="MP6022_GetCustomFieldsLOVValuesCount_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customFieldsLOVValuesCount" type="xs:integer" default="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
