Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP6154_AddVMRSCodeStructure_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP6154_AddVMRSCodeStructure_001
 ============================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6154_001" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datastream.net/MP_functions/MP6154_001" xmlns:ds-vmrs="http://schemas.datastream.net/MP_entities/VMRSCodeStructure_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_entities/VMRSCodeStructure_001" schemaLocation="VMRSCodeStructure_001.xsd"/>
    <!--===============================================================================-->
    <!--====  Begining of MP6154_AddVMRSCodeStructure_001 ======================================-->
    <xs:element name="MP6154_AddVMRSCodeStructure_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ds-vmrs:VMRSCodeStructure"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="VMRSCodeStructure"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
            <xs:attribute name="auto_generated" type="dsf:FLAG_Type" default="true"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
