Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP6228_ProcessWSPromptTransaction_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function result MP6228_ProcessWSPromptTransaction_001_Result
 ============================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP6228_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_results/MP6228_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP6228_ProcessWSPromptTransaction_001_Result ======================================-->
	<xs:element name="MP6228_ProcessWSPromptTransaction_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GROUPRESULT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GROUPRESULT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WSPROMPTGROUPID"/>
				<xs:element ref="dsf:MESSAGE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:WSFUNCTIONRESULT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
