Infor EAM APIs for On Premise/Version 11.4/Schemas/Administration/MP6293_GetAlert_001_Result.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright (c) 2007 Infor. All rights reserved. 
    The word and design marks set forth herein are trademarks and/or registered trademarks 
    of Infor and/or related affiliates and subsidiaries. All rights reserved. All other 
    trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request MP6293_GetAlert_001_Result
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP6293_001"
	xmlns="http://schemas.datastream.net/MP_results/MP6293_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-Alert="http://schemas.datastream.net/MP_entities/Alert_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">

	<xs:import namespace="http://schemas.datastream.net/MP_entities/Alert_001" schemaLocation="Alert_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!--===============================================================================-->
	<!--====  Begining of MP6293_GetAlert_001_Result =============================-->
	<xs:element name="MP6293_GetAlert_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-Alert:Alert"/>
				<xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
				<xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
				<xs:element ref="dsf:LASTEVALUATIONDATE" minOccurs="0"/>
				<xs:element ref="dsf:LASTALERTDATE" minOccurs="0"/>
				<xs:element ref="GridDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GridDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:GRIDNAME"/>
				<xs:element ref="dsf:ACTIVEGRID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>