Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP6264_AddMPPriorityMapping_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

  This schema defines MP business function request MP6264_AddMPPriorityMapping_001
 ============================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6264_001" xmlns="http://schemas.datastream.net/MP_functions/MP6264_001" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:dse-MPPriorityMapping="http://schemas.datastream.net/MP_entities/MPPriorityMapping_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/MPPriorityMapping_001" schemaLocation="MPPriorityMapping_001.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of MP6264_AddMPPriorityMapping_001 ======================================-->
	<xs:element name="MP6264_AddMPPriorityMapping_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-MPPriorityMapping:MPPriorityMapping"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="MPPriorityMapping"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
