Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP6296_SyncAlert_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright (c) 2007 Infor. All rights reserved. 
    The word and design marks set forth herein are trademarks and/or registered trademarks 
    of Infor and/or related affiliates and subsidiaries. All rights reserved. All other 
    trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request MP6296_SyncAlert_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6296_001"
	xmlns="http://schemas.datastream.net/MP_functions/MP6296_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-Alert="http://schemas.datastream.net/MP_entities/Alert_001"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">

	<xs:import namespace="http://schemas.datastream.net/MP_entities/Alert_001" schemaLocation="Alert_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!--===============================================================================-->
	<!--====  Begining of MP6296_SyncAlert_001 ===================================-->
	<xs:element name="MP6296_SyncAlert_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-Alert:Alert"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="Alert"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
			<xs:attribute name="confirm_invalid_mappings" type="dsf:CONFIRMATION_Type" default="prompt"/>
			<xs:attribute name="confirm_empty_parameters" type="dsf:CONFIRMATION_Type" default="prompt"/>
		</xs:complexType>
	</xs:element>
</xs:schema>