Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP6218_ImportEntityData_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP6218_ImportEntityData_001 
================================================================================== -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6218_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP6218_001" 
	xmlns:dse-EntityData="http://schemas.datastream.net/MP_entities/EntityData_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces =========== -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_entities/EntityData_001" schemaLocation="EntityData_001.xsd"/>
	<!-- ========Begining of MP6218_ImportEntityData_001 ============ -->
	<xs:element name="MP6218_ImportEntityData_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-EntityData:EntityData"/>
				<xs:element ref="dsf:UPDATE"/>
				<xs:element ref="dsf:DBSESSIONID"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Import"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EntityData"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>