Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/MP6259_ActivateOrDeactivateEMailDriver_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
	This schema defines MP business function request MP6259_ActivateOrDeactivateEMailDriver_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6259_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.datastream.net/MP_functions/MP6259_001" 
	elementFormDefault="qualified">
<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
<!--===============================================================================-->

<!--===============  Begining of MP6259_ActivateOrDeactivateEMailDriver_001 ===================-->
	<xs:element name="MP6259_ActivateOrDeactivateEMailDriver_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:JOBSETUPID"/>
				<xs:element ref="dsf:JOBACTIVE"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="ActivateOrDeactivate"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="EMailDriver"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
