Infor EAM APIs for On Premise/Version 11.4/Schemas/Administration/MP6398_AddFieldFilterSetupClass_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2012 Infor. All rights reserved.
    The word and design marks set forth herein are trademarks and/or registered
    trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.

    This schema defines MP business function request MP6398_AddFieldFilterSetupClass_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6398_001" 
    xmlns="http://schemas.datastream.net/MP_functions/MP6398_001" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:dse-FieldFilterSetupClass="http://schemas.datastream.net/MP_entities/FieldFilterSetupClass_001" 
    xmlns:dsf="http://schemas.datastream.net/MP_fields" 
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_entities/FieldFilterSetupClass_001" 
    schemaLocation="FieldFilterSetupClass_001.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--================================================================================================-->
    <!--====  Beginning of MP6398_AddFieldFilterSetupClass_001 ======================================-->
    <xs:element name="MP6398_AddFieldFilterSetupClass_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dse-FieldFilterSetupClass:FieldFilterSetupClass"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="FieldFilterSetupClass"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
</xs:schema>