Infor EAM APIs for On Premise/Version 11.4/schemas/Administration/WSPromptTransaction_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2003, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP entity - Transactions
======================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/WSPromptTransaction_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.datastream.net/MP_entities/WSPromptTransaction_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--======================  Begining of WSPromptTransaction_001======= ===================-->
	<xs:element name="WSPromptTransaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WSProcessGroup" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WSProcessGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:WSPROMPTGROUPID"/>
				<xs:element ref="WSPROMPTFIELD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WSPROMPTFIELD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:LINE"/>
				<xs:element ref="dsf:WSPROMPTFIELDVALUE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
