Infor EAM APIs for Saas/Version 11.4.1/schemas/ContactCenter/CaseManagementTask_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
   Copyright (c) 2015 Infor. All rights reserved.
   The word and design marks set forth herein are trademarks and/or registered
   trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
   All other trademarks listed herein are the property of their respective owners. www.infor.com.

   This schema defines MP entity CaseManagementTask
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/CaseManagementTask_001" 
    xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://schemas.datastream.net/MP_entities/CaseManagementTask_001" 
    xmlns:dse-caseMang="http://schemas.datastream.net/MP_entities/CaseManagement_001" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_entities/CaseManagement_001" schemaLocation="CaseManagement_001.xsd"/>
    <!--===============================================================================-->
    <xs:element name="CaseManagementTask">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:CASEMANAGEMENTTASKID"/>
                <xs:element ref="dsf:CASEID"/>
				<xs:element	ref="dsf:SEQUENCE"/>
				<xs:element	ref="dsf:STEP" minOccurs="0"/>
				<xs:element	ref="dsf:CASETASKNOTE" minOccurs="0"/>
				<xs:element	ref="dsf:PRIORITY" minOccurs="0"/>
				<xs:element	ref="dsf:CHECKLISTTASKPLANID" minOccurs="0"/>
				<xs:element	ref="dsf:ESTIMATEDCOSTS" minOccurs="0"/>
				<xs:element	ref="dsf:TOTALCOST" minOccurs="0"/>
				<xs:element ref="dsf:COSTREFRESHREQUIRED" minOccurs="0"/>
				<xs:element ref="dsf:FROMSERVICECODE" minOccurs="0"/>				
                <xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
                <xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
                <xs:element ref="dsf:UPDATEDBY" minOccurs="0"/>
				<xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
				<xs:element	ref="dsf:CURRENCYCODE" minOccurs="0"/>
				<xs:element ref="TrackingDetails" minOccurs="0"/>
				<xs:element ref="FollowupWODetails" minOccurs="0"/>
                <xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
                <xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
                <xs:element ref="dse-caseMang:CaseManagement" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="recordid" type="xs:long"/>
            <xs:attribute name="is_enhancedplanning_task" type="dsf:FLAG_Type"/>
            <xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="TrackingDetails">
        <xs:complexType>
            <xs:sequence>
            <xs:element ref="dsf:RESPONSIBLEROLE" minOccurs="0"/>
            <xs:element ref="dsf:PERSONRESPONSIBLE" minOccurs="0"/>
            <xs:element ref="dsf:EMAIL" minOccurs="0"/>
			<xs:element	ref="dsf:ASSIGNEDTOROLE" minOccurs="0"/>
            <xs:element ref="dsf:ASSIGNEDTO" minOccurs="0"/>
            <xs:element ref="dsf:ASSIGNEDTOEMAIL" minOccurs="0"/>
			<xs:element	ref="dsf:PLANNEDDURATION" minOccurs="0"/>            
            <xs:element ref="dsf:SCHEDULEDSTARTDATE" minOccurs="0"/>
            <xs:element ref="dsf:SCHEDULEDENDDATE" minOccurs="0"/>
            <xs:element ref="dsf:REQUESTEDSTART" minOccurs="0"/>
            <xs:element ref="dsf:REQUESTEDEND" minOccurs="0"/>
			<xs:element	ref="dsf:FIRMDATES"	minOccurs="0"/>
			<xs:element	ref="dsf:READYTOSTART"	minOccurs="0"/>
			<xs:element	ref="dsf:STARTED"	minOccurs="0"/>
	        <xs:element ref="dsf:STARTDATE" minOccurs="0"/>
			<xs:element	ref="dsf:COMPLETED"	minOccurs="0"/>
			<xs:element	ref="dsf:PERCENTCOMPLETED"	minOccurs="0"/>
	        <xs:element ref="dsf:COMPLETEDDATE" minOccurs="0"/>
			<xs:element	ref="dsf:NOTIFYCOMPLETE" minOccurs="0"/>
			<xs:element	ref="dsf:NOTIFYREADYTOSTART" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FollowupWODetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element	ref="dsf:WODESCRIPTION" minOccurs="0"/>
                <xs:element	ref="dsf:STANDARDWO" minOccurs="0"/>
                <xs:element	ref="dsf:WORKORDERTYPE"	minOccurs="0"/>
				<xs:element	ref="dsf:WORKORDERCLASSID" minOccurs="0"/>
				<xs:element	ref="dsf:WORKORDERSTATUS" minOccurs="0"/>
				<xs:element	ref="dsf:WOPRIORITY" minOccurs="0"/>
				<xs:element	ref="dsf:TASKSID" minOccurs="0"/>
				<xs:element	ref="dsf:CASETASKJOBPLANID"	minOccurs="0"/>
				<xs:element	ref="dsf:TRADEID" minOccurs="0"/>
				<xs:element	ref="dsf:ESTIMATEDHOURS" minOccurs="0"/>
				<xs:element	ref="dsf:PERSONS" minOccurs="0"/>
				<xs:element	ref="dsf:FOLLOWUPWORKORDER" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>