Infor EAM APIs for Saas/Version 11.4.1/schemas/ContactCenter/CaseManagementEventLog_001.xsd

<?xml version="1.0"?>
<!--	================================================================================
	Copyright(c)2015 Infor.	All	rights reserved. The word and design marks set forth herein	are	trademarks	
	and/or registered trademarks of	Infor and/or related affiliates	and	subsidiaries. All rights reserved.
	All	other trademarks listed	herein are the property	of their respective	owners.	www.infor.com.

	This schema	defines	MP entity CaseManagementEventLog
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/CaseManagementEventLog_001"	
	xmlns:dsf="http://schemas.datastream.net/MP_fields"	
	xmlns:xs="http://www.w3.org/2001/XMLSchema"	
	xmlns="http://schemas.datastream.net/MP_entities/CaseManagementEventLog_001" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<xs:element	name="CaseManagementEventLog">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CASEEVENTLOGCODE"/>
                <xs:element ref="dsf:CASEID"/>
				<xs:element	ref="dsf:TYPE"/>
				<xs:element	ref="dsf:DATEANDTIME"/>
				<xs:element	ref="dsf:FROMSTATUS" minOccurs="0"/>
				<xs:element	ref="dsf:TOSTATUS" minOccurs="0"/>
				<xs:element ref="dsf:USERID" minOccurs="0"/>
				<xs:element ref="dsf:SIGNATURETYPE" minOccurs="0"/>
				<xs:element	ref="dsf:EVENTLOGNOTES" minOccurs="0"/>
				<xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
				<xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>				
				<xs:element ref="dsf:UPDATEDBY" minOccurs="0"/>
				<xs:element ref="dsf:DATEUPDATED" minOccurs="0"/>
				<xs:element	ref="dsf:StandardUserDefinedFields"	minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>			
			<xs:attribute name="has_department_security" type="dsf:FLAG_Type"/>
		</xs:complexType>
	</xs:element>
</xs:schema>