Infor EAM APIs for Saas/Version 11.4.1/schemas/ContactCenter/MP3500_GetServiceProblem_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function result for function request MP3500_GetServiceProblem_001_Result.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP3500_001" 
	xmlns="http://schemas.datastream.net/MP_results/MP3500_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-ServiceProblem="http://schemas.datastream.net/MP_entities/ServiceProblem_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/ServiceProblem_001" schemaLocation="ServiceProblem_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====================================================================================-->
	<!--==============Begining of MP3500_GetServiceProblem_001_Result================-->
	<xs:element name="MP3500_GetServiceProblem_001_Result">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-ServiceProblem:ServiceProblem"/>
				<xs:element name="GROUP" type="dsf:CODE12_Type" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
