Infor EAM APIs for Saas/Version 11.4.1/Wsdl/Material/MP1221_RefreshInventoryTransaction_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP1221_RefreshInventoryTransaction_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP1221_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP1221_RefreshInventoryTransaction_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP1221_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP1221_001" schemaLocation="../../schemas/Material/MP1221_RefreshInventoryTransaction_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP1221_001" schemaLocation="../../schemas/Material/MP1221_RefreshInventoryTransaction_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="RefreshInventoryTransactionRequestMsg">
    <part name="RefreshInventoryTransactionRequestMsg" element="rqst0:MP1221_RefreshInventoryTransaction_001"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="RefreshInventoryTransactionResponseMsg">
    <part name="RefreshInventoryTransactionResponseMsg" element="resp0:MP1221_RefreshInventoryTransaction_001_Result"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <portType name="RefreshInventoryTransactionPT">
    <operation name="RefreshInventoryTransactionOp">
      <input name="RefreshInventoryTransactionRequestMsg" message="tns:RefreshInventoryTransactionRequestMsg"/>
      <output name="RefreshInventoryTransactionResponseMsg" message="tns:RefreshInventoryTransactionResponseMsg"/>
    </operation>
  </portType>
  <binding name="RefreshInventoryTransactionSoapBinding" type="tns:RefreshInventoryTransactionPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RefreshInventoryTransactionOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="RefreshInventoryTransactionRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="RefreshInventoryTransactionRequestMsg" use="literal"/>
      </input>
      <output name="RefreshInventoryTransactionResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="RefreshInventoryTransactionResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RefreshInventoryTransactionService">
    <port name="RefreshInventoryTransactionSoapBinding" binding="tns:RefreshInventoryTransactionSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
