Infor EAM APIs for Saas/Version 11.4.1/wsdl/Material/MP2194_SyncCommodityFuel_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP2194_SyncCommodityFuel_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP2194_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP2194_SyncCommodityFuel_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP2194_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP2194_001" schemaLocation="../../schemas/Material/MP2194_SyncCommodityFuel_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP2194_001" schemaLocation="../../schemas/Material/MP2194_SyncCommodityFuel_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="SyncCommodityFuelRequestMsg">
    <part name="SyncCommodityFuelRequestMsg" element="rqst0:MP2194_SyncCommodityFuel_001"/>
  </message>
  <message name="SyncCommodityFuelResponseMsg">
    <part name="SyncCommodityFuelResponseMsg" element="resp0:MP2194_SyncCommodityFuel_001_Result"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <portType name="SyncCommodityFuelPT">
    <operation name="SyncCommodityFuelOp">
      <input name="SyncCommodityFuelRequestMsg" message="tns:SyncCommodityFuelRequestMsg"/>
      <output name="SyncCommodityFuelResponseMsg" message="tns:SyncCommodityFuelResponseMsg"/>
    </operation>
  </portType>
  <binding name="SyncCommodityFuelSoapBinding" type="tns:SyncCommodityFuelPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SyncCommodityFuelOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="SyncCommodityFuelRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="SyncCommodityFuelRequestMsg" use="literal"/>
      </input>
      <output name="SyncCommodityFuelResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="SyncCommodityFuelResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SyncCommodityFuelService">
    <port name="SyncCommodityFuelSoapBinding" binding="tns:SyncCommodityFuelSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
