Infor EAM APIs for On Premise/Version 11.4/schemas/Base/DocumentAssociation_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
	
    This schema defines MP entity DocumentAssociation
==================================================================================-->  
 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/DocumentAssociation_001" xmlns="http://schemas.datastream.net/MP_entities/DocumentAssociation_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====  Begining of DocumentAssociation_001 ======================================-->
	<xs:element name="DocumentAssociation" type="DocumentAssociation_Type"/>
	<xs:complexType name="DocumentAssociation_Type">
		<xs:sequence>
			<xs:element ref="dsf:DOCUMENTENTITY"/>
			<xs:element ref="DOCUMENTINFO"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="DOCUMENTINFO" type="DOCUMENTINFO_Type"/>
	<xs:complexType name="DOCUMENTINFO_Type">
		<xs:attribute name="documentDescription" type="dsf:CODE80_Type"/>
		<xs:attribute name="documentFileName" type="dsf:CODE255_Type"/>
		<xs:attribute name="documentFileType" type="dsf:CODE50_Type"/>
		<xs:attribute name="documentType" type="dsf:CODE4_Type"/>
		<xs:attribute name="documentOrganizationCode" type="dsf:CODE15_Type"/>
	</xs:complexType>
</xs:schema>

