Infor EAM APIs for On Premise/Version 11.4/Schemas/Base/MP0123_ConnectorRequest_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.	
    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0123_002" xmlns:mp0123="http://schemas.datastream.net/MP_functions/MP0123_002" xmlns:mpl="http://schemas.datastream.net/BaseLib" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cr="http://schemas.datastream.net/MP_functions/MP0110_001" xmlns:mpf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/BaseLib" schemaLocation="BaseLib_001.xsd"/>
	<!-- 
	++++ Definition of the body of the "lock-for-operation" request ++++
	-->
	<xs:complexType name="lock-for-operation-type">
		<xs:sequence>
			<xs:element name="operation-name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- 
	++++ Definition of the body of the "unlock-for-operation" request ++++
	-->
	<xs:complexType name="unlock-for-operation-type">
		<xs:sequence>
			<xs:element name="operation-name" type="xs:string"/>
			<xs:element name="session-id" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- 
	++++ definition of the data request type ++++
	-->
	<xs:complexType name="data-request-type">
		<xs:sequence>
			<xs:element name="request">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="action" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="daoClass" type="xs:string"/>
									<xs:element name="data" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="datafield" type="mpl:fieldType" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="where" minOccurs="0">
										<xs:complexType>
											<xs:choice>
												<xs:element name="whereByExample">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="datafield" type="mpl:fieldType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="whereByWhere" type="xs:string"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="type" type="mpl:actionType" use="required"/>
								<xs:attribute name="aid" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
						<!-- defines the type of the action to be performed on the object -->
						<!-- end of 'data' -->
					</xs:sequence>
					<xs:attribute name="transaction" type="xs:boolean" default="false"/>
					<xs:attribute name="deliverByFile" type="xs:boolean" default="false"/>
					<xs:attribute name="pageSize" type="xs:integer" default="0"/>
					<xs:attribute name="session-id" type="xs:string" default="__none__"/>
					<xs:attribute name="operation-id" type="xs:string" default="__none__"/>
					<!--
					++++ Following two attributes for locking synchronization, they allow to lock certain tables for long-living transactions ++++
					-->
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--
	++++++ Definition of the request type ++++++
	-->
	<xs:element name="MP0123_ConnectorRequest_002">
		<xs:annotation>
			<xs:documentation>Schema for database synchronization request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="data-request" type="mp0123:data-request-type"/>
				<xs:element name="lock-for-operation" type="mp0123:lock-for-operation-type"/>
				<xs:element name="unlock-for-operation" type="mp0123:unlock-for-operation-type"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
