Infor EAM APIs for On Premise/Version 11.4/Schemas/Base/MP0123_ConnectorRequest_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.	
    
==================================================================================--> 

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP0123_001" xmlns:mpl="http://schemas.datastream.net/BaseLib" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cr="http://schemas.datastream.net/MP_functions/MP0110_001" xmlns:mpf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/BaseLib" schemaLocation="BaseLib_001.xsd"/>
	<!--
	++++++ Definition of the request type ++++++
	-->
	<xs:element name="MP0123_ConnectorRequest_001">
		<xs:annotation>
			<xs:documentation>Schema for database synchronization request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="request">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="action" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="daoClass" type="xs:string"/>
										<xs:element name="data" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="datafield" type="mpl:fieldType" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="where" minOccurs="0">
											<xs:complexType>
												<xs:choice>
													<xs:element name="whereByExample">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="datafield" type="mpl:fieldType" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="whereByWhere" type="xs:string"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" type="mpl:actionType" use="required"/>
									<xs:attribute name="aid" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<!-- defines the type of the action to be performed on the object -->
							<!-- end of 'data' -->
						</xs:sequence>
						<xs:attribute name="transaction" type="xs:boolean" default="false"/>
						<xs:attribute name="deliverByFile" type="xs:boolean" default="false"/>
						<xs:attribute name="pageSize" type="xs:integer" default="0"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
