Infor EAM APIs for On Premise/Version 11.4/schemas/Base/MP6428_AddGISEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2010 Infor.All rights reserved.The word and design marks set
    forth herein are trademarks and/or registered trademarks of Infor and/or
    related affiliates and subsidiaries.All rights reserved.All other trademarks
    listed herein are the property of their respective owners.www.infor.com.

    This schema defines MP business function request MP6428_AddGISEquipment_001
 ================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP6428_001"
    xmlns="http://schemas.datastream.net/MP_functions/MP6428_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    xmlns:dse-AssetEquipment="http://schemas.datastream.net/MP_entities/AssetEquipment_001"
    xmlns:mp6423="http://schemas.datastream.net/MP_functions/MP6423_001"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_entities/AssetEquipment_001" schemaLocation="../Asset/AssetEquipment_001.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_functions/MP6423_001" schemaLocation="../Base/MP6423_SyncGISEquipment_001.xsd"/>
    <!--===========================================================================-->
    <!--====  Beginning of MP6428_AddGISEquipment_001 ====================================-->
    <xs:element name="MP6428_AddGISEquipment_001">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GISEquipments"/>
            </xs:sequence>
            <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
            <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="GISEquipment"/>
            <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GISEquipments">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GISEquipment" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GISEquipment">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dse-AssetEquipment:AssetEquipment"/>
                <xs:element ref="dsf:ESIGNATURE" minOccurs="0"/>
                <xs:element ref="dsf:COMMENT" minOccurs="0"/>
                <xs:element ref="mp6423:AssetParentDetails" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>