Infor EAM APIs for On Premise/Version 11.4/schemas/Base/MP6423_SyncGISEquipment_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2014 Infor.All rights reserved.The word and design marks set
    forth herein are trademarks and/or registered trademarks of Infor and/or
    related affiliates and subsidiaries.All rights reserved.All other trademarks
    listed herein are the property of their respective owners.www.infor.com.

    This schema defines MP business function request MP6423_SyncGISEquipment_001_Result
 ================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP6423_001"
    xmlns="http://schemas.datastream.net/MP_results/MP6423_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===============================================================================-->
    <!--====  Begining of MP6423_SyncGISEquipment_001_Result =================================-->
    <xs:element name="MP6423_SyncGISEquipment_001_Result">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ResultData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResultData">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GISEQUIPMENTID" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GISEQUIPMENTID">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:EQUIPMENTID"/>
                <xs:element ref="dsf:ERRORMESSAGE" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
