Infor EAM APIs for On Premise/Version 11.4/schemas/Base/MP9563_SyncTelephoneInterface_001_Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2010 Infor.All rights reserved.The word and design marks set
    forth herein are trademarks and/or registered trademarks of Infor and/or
    related affiliates and subsidiaries.All rights reserved.All other trademarks
    listed herein are the property of their respective owners.www.infor.com.

    This schema defines MP business function request MP9563_SyncTelephoneInterface_001_Result
 ================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_results/MP9563_001"
    xmlns="http://schemas.datastream.net/MP_results/MP9563_001"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:dsf="http://schemas.datastream.net/MP_fields"
    elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
    <!--===========================================================================-->
    <!--====================  Beginning of MP9563_SyncTelephoneInterface_001_Result============-->
    <xs:element name="MP9563_SyncTelephoneInterface_001_Result">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ResultData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ResultData">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Success"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="CreateWorkOrderResult" minOccurs="0"/>
                    <xs:element ref="ValidateWorkOrderResult" minOccurs="0"/>
                    <xs:element ref="ValidateEmployeeResult" minOccurs="0"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ValidateWorkOrderResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="IsWorkOrderCompleted" minOccurs="0"/>
                <xs:element ref="WorkoderActivityNumber" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ValidateEmployeeResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EmployeeNotFound" minOccurs="0"/>
                <xs:element ref="InvalidEmployeeForWO" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>    
    <xs:element name="CreateWorkOrderResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dsf:JOBNUM" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>    
    <xs:element name="Success" type="xs:boolean"/>
    <xs:element name="IsWorkOrderCompleted" type="xs:boolean"/>
    <xs:element name="WorkoderActivityNumber" type="xs:long"/>    
    <xs:element name="EmployeeNotFound" type="xs:boolean"/>
    <xs:element name="InvalidEmployeeForWO" type="xs:boolean"/>
</xs:schema>