Infor EAM APIs for On Premise/Version 11.4/wsdl/Inspection/MP1044_AddInspectionEquipmentDetail_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP1044_AddInspectionEquipmentDetail_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP1044_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP1044_AddInspectionEquipmentDetail_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP1044_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP1044_001" schemaLocation="../../schemas/Inspection/MP1044_AddInspectionEquipmentDetail_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP1044_001" schemaLocation="../../schemas/Inspection/MP1044_AddInspectionEquipmentDetail_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="AddInspectionEquipmentDetailRequestMsg">
    <part name="AddInspectionEquipmentDetailRequestMsg" element="rqst0:MP1044_AddInspectionEquipmentDetail_001"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="AddInspectionEquipmentDetailResponseMsg">
    <part name="AddInspectionEquipmentDetailResponseMsg" element="resp0:MP1044_AddInspectionEquipmentDetail_001_Result"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <portType name="AddInspectionEquipmentDetailPT">
    <operation name="AddInspectionEquipmentDetailOp">
      <input name="AddInspectionEquipmentDetailRequestMsg" message="tns:AddInspectionEquipmentDetailRequestMsg"/>
      <output name="AddInspectionEquipmentDetailResponseMsg" message="tns:AddInspectionEquipmentDetailResponseMsg"/>
    </operation>
  </portType>
  <binding name="AddInspectionEquipmentDetailSoapBinding" type="tns:AddInspectionEquipmentDetailPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AddInspectionEquipmentDetailOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="AddInspectionEquipmentDetailRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddInspectionEquipmentDetailRequestMsg" use="literal"/>
      </input>
      <output name="AddInspectionEquipmentDetailResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="AddInspectionEquipmentDetailResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AddInspectionEquipmentDetailService">
    <port name="AddInspectionEquipmentDetailSoapBinding" binding="tns:AddInspectionEquipmentDetailSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
