Infor EAM APIs for On Premise/Version 11.4/schemas/Budget/BudgetTerm_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity  BudgetTerm_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/BudgetTerm_001" 
	xmlns="http://schemas.datastream.net/MP_entities/BudgetTerm_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of BudgetTerm_001 ======================================-->
	<xs:element name="BudgetTerm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BudgetTermDetails"/>					
				<xs:element ref="dsf:NUMBEROFPERIOD"/>					
			</xs:sequence>			
		</xs:complexType>
	</xs:element>
	<xs:element name="BudgetTermDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:BUDGETTERMID"/>
				<xs:element ref="dsf:BUDGETCALENDARTYPEID"/>
				<xs:element ref="dsf:STARTDATE"/>
				<xs:element ref="dsf:ENDDATE"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>		
	</xs:element>	
</xs:schema>
