Infor EAM APIs for Saas/Version 11.4.1/wsdl/Purchase/MP0490_GetInvoiceVoucherDefault_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP0490_GetInvoiceVoucherDefault_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP0490_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP0490_GetInvoiceVoucherDefault_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP0490_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP0490_001" schemaLocation="../../schemas/Purchase/MP0490_GetInvoiceVoucherDefault_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP0490_001" schemaLocation="../../schemas/Purchase/MP0490_GetInvoiceVoucherDefault_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="GetInvoiceVoucherDefaultRequestMsg">
    <part name="GetInvoiceVoucherDefaultRequestMsg" element="rqst0:MP0490_GetInvoiceVoucherDefault_001"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="GetInvoiceVoucherDefaultResponseMsg">
    <part name="GetInvoiceVoucherDefaultResponseMsg" element="resp0:MP0490_GetInvoiceVoucherDefault_001_Result"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <portType name="GetInvoiceVoucherDefaultPT">
    <operation name="GetInvoiceVoucherDefaultOp">
      <input name="GetInvoiceVoucherDefaultRequestMsg" message="tns:GetInvoiceVoucherDefaultRequestMsg"/>
      <output name="GetInvoiceVoucherDefaultResponseMsg" message="tns:GetInvoiceVoucherDefaultResponseMsg"/>
    </operation>
  </portType>
  <binding name="GetInvoiceVoucherDefaultSoapBinding" type="tns:GetInvoiceVoucherDefaultPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInvoiceVoucherDefaultOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="GetInvoiceVoucherDefaultRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetInvoiceVoucherDefaultRequestMsg" use="literal"/>
      </input>
      <output name="GetInvoiceVoucherDefaultResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="GetInvoiceVoucherDefaultResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="GetInvoiceVoucherDefaultService">
    <port name="GetInvoiceVoucherDefaultSoapBinding" binding="tns:GetInvoiceVoucherDefaultSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
