Infor EAM APIs for Saas/Version 11.4.1/Wsdl/Purchase/MP0411_DeleteAccountDetail_001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
     Copyright (c) 2018 Infor.  All rights reserved. 
==================================================================================-->
<definitions targetNamespace="http://wsdls.datastream.net/MP0411_DeleteAccountDetail_001" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wssi="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:resp0="http://schemas.datastream.net/MP_results/MP0411_001" xmlns:hdr="http://schemas.datastream.net/MP_functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdls.datastream.net/MP0411_DeleteAccountDetail_001" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst0="http://schemas.datastream.net/MP_functions/MP0411_001">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="http://schemas.datastream.net/MP_functions" schemaLocation="../../schemas/headers.xsd"/><xsd:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext" schemaLocation="../../schemas/secext.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_functions/MP0411_001" schemaLocation="../../schemas/Purchase/MP0411_DeleteAccountDetail_001.xsd"/><xsd:import namespace="http://schemas.datastream.net/MP_results/MP0411_001" schemaLocation="../../schemas/Purchase/MP0411_DeleteAccountDetail_001_Result.xsd"/></xsd:schema>
  </types>
  <message name="sessionHeader">
    <part name="sessionHeader" element="hdr:Session"/>
  </message>
  <message name="messageConfigHeader">
    <part name="messageConfigHeader" element="hdr:MessageConfig"/>
  </message>
  <message name="organizationHeader">
    <part name="organizationHeader" element="hdr:Organization"/>
  </message>
  <message name="tenantHeader">
    <part name="tenantHeader" element="hdr:Tenant"/>
  </message>
  <message name="DeleteAccountDetailResponseMsg">
    <part name="DeleteAccountDetailResponseMsg" element="resp0:MP0411_DeleteAccountDetail_001_Result"/>
  </message>
  <message name="sessionScenarioHeader">
    <part name="sessionScenarioHeader" element="hdr:SessionScenario"/>
  </message>
  <message name="securityHeader">
    <part name="securityHeader" element="wssi:Security"/>
  </message>
  <message name="DeleteAccountDetailRequestMsg">
    <part name="DeleteAccountDetailRequestMsg" element="rqst0:MP0411_DeleteAccountDetail_001"/>
  </message>
  <portType name="DeleteAccountDetailPT">
    <operation name="DeleteAccountDetailOp">
      <input name="DeleteAccountDetailRequestMsg" message="tns:DeleteAccountDetailRequestMsg"/>
      <output name="DeleteAccountDetailResponseMsg" message="tns:DeleteAccountDetailResponseMsg"/>
    </operation>
  </portType>
  <binding name="DeleteAccountDetailSoapBinding" type="tns:DeleteAccountDetailPT">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteAccountDetailOp">
      <wsdlsoap:operation soapAction="processMessage"/>
      <input name="DeleteAccountDetailRequestMsg">
        <wsdlsoap:header message="tns:organizationHeader" part="organizationHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:securityHeader" part="securityHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionScenarioHeader" part="sessionScenarioHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:messageConfigHeader" part="messageConfigHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:header message="tns:tenantHeader" part="tenantHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="DeleteAccountDetailRequestMsg" use="literal"/>
      </input>
      <output name="DeleteAccountDetailResponseMsg">
        <wsdlsoap:header message="tns:sessionHeader" part="sessionHeader" use="literal">
        </wsdlsoap:header>
        <wsdlsoap:body parts="DeleteAccountDetailResponseMsg" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DeleteAccountDetailService">
    <port name="DeleteAccountDetailSoapBinding" binding="tns:DeleteAccountDetailSoapBinding">
      <wsdlsoap:address location="http://localhost/axis/services/EWSConnector"/>
    </port>
  </service>
</definitions>
