Infor EAM APIs for Saas/Version 11.4.1/schemas/Budget/MP1538_CopyBudgetDetail_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP1538_CopyBudgetDetail_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1538_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP1538_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--====================================================================================-->
	<!--================Begining of MP1538_CopyBudgetDetail_001=====================-->
	<xs:element name="MP1538_CopyBudgetDetail_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CopyBudgetDetail"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Copy"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="BudgetDetail"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CopyBudgetDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:FROMBUDGETDETAILID"/>
				<xs:element ref="dsf:TOBUDGETENTITYOPTIONS"/>
				<xs:element ref="dsf:BUDGETSTRUCTUREORGANIZATIONID"/>
				<xs:element ref="dsf:BUDGETAMOUNTOPTIONS"/>
				<xs:element ref="dsf:BUDGETAMOUNTPERCENTAGE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="confirm_deleteAndOverWriteDetails" type="dsf:CONFIRMATION_Type" default="not_needed"/>
		</xs:complexType>
	</xs:element>		
</xs:schema>
