Infor EAM APIs for Saas/Version 11.4.1/Schemas/Budget/MP1505_AddBudgetTerm_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP1505_AddBudgetTerm_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP1505_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP1505_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-BudgetTerm="http://schemas.datastream.net/MP_entities/BudgetTerm_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/BudgetTerm_001" schemaLocation="BudgetTerm_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--================================================================================================-->
	<!--====  Beginning of MP1505_AddBudgetTerm_001 ======================================-->
	<xs:element name="MP1505_AddBudgetTerm_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-BudgetTerm:BudgetTermDetails"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="BudgetTerm"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
