Infor EAM APIs for On Premise/Version 11.4/Schemas/ContactCenter/BulletinBoardNotice_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA. 
	All rights reserved. 

	This schema defines MP entity BulletinBoardNotice
================================================================================== --> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/BulletinBoardNotice_001" 
	xmlns="http://schemas.datastream.net/MP_entities/BulletinBoardNotice_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of BulletinBoardNotice_001 ======= -->
	<xs:element name="BulletinBoardNotice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BulletinBoardNoticeDetails"/>
				<xs:element ref="dsf:CREATEDBY" minOccurs="0"/>
				<xs:element ref="dsf:CREATEDDATE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BulletinBoardNoticeDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:BULLETINBOARDNOTICEID"/>
				<xs:element ref="dsf:LANGUAGEID" />
				<xs:element ref="dsf:IMPORTANCE" />
				<xs:element ref="dsf:KBARTICLEID" minOccurs="0"/>
				<xs:element ref="dsf:BULLETINBOARDNOTICETEXT" minOccurs="0"/>
				<xs:element ref="dsf:STARTDATE" minOccurs="0"/>
				<xs:element ref="dsf:ENDDATE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>