Infor EAM APIs for On Premise/Version 11.4/schemas/ContactCenter/ContactInfoEquipment_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity for Equipment for Contact Information.
================================================================================= -->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ContactInfoEquipment_001"
	xmlns="http://schemas.datastream.net/MP_entities/ContactInfoEquipment_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields"
	elementFormDefault="qualified">
	<!-- =========== Imported namespaces ============ -->
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ======= Beginning of ContactInfoEquipment_001 ======= -->
	<xs:element name="MultipleContactInfoEquipmentData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MultipleContactInfoEquipment" maxOccurs="unbounded"/>
				<xs:element ref="dsf:CONTACTINFOID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MultipleContactInfoEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:EQUIPMENTID"/>
				<xs:element ref="dsf:TYPECODE" minOccurs="0"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:PROPERTYDEFINITION" minOccurs="0"/>
				<xs:element ref="dsf:DEFAULTEQUIPMENT" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactInfoEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CONTACTINFOEQUIPMENTID"/>
				<xs:element ref="dsf:TYPECODE" minOccurs="0"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:PROPERTYDEFINITION" minOccurs="0"/>
				<xs:element ref="dsf:DEFAULTEQUIPMENT" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>