Infor EAM APIs for On Premise/Version 11.4/Schemas/ContactCenter/ContactInfo_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.
    
    This schema defines MP entity ContactInfo    
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ContactInfo_001" xmlns="http://schemas.datastream.net/MP_entities/ContactInfo_001" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===========================================================================================-->
	<!--====  Begining of ContactInfo_001 ===========================================-->
	<xs:element name="ContactInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CONTACTINFOID"/>
				<xs:element ref="dsf:EMPLOYEE" minOccurs="0"/>
				<xs:element ref="dsf:FIRSTNAME" minOccurs="0"/>
				<xs:element ref="dsf:MIDDLENAME" minOccurs="0"/>
				<xs:element ref="dsf:LASTNAME" minOccurs="0"/>
				<xs:element ref="dsf:ALIAS" minOccurs="0"/>
				<xs:element ref="dsf:STREETADDRESS1" minOccurs="0"/>
				<xs:element ref="dsf:STREETADDRESS2" minOccurs="0"/>
				<xs:element ref="dsf:CITY" minOccurs="0"/>
				<xs:element ref="dsf:STATE" minOccurs="0"/>
				<xs:element ref="dsf:ZIP" minOccurs="0"/>
				<xs:element ref="dsf:PRIMARYPHONE" minOccurs="0"/>
				<xs:element ref="dsf:SECONDARYPHONE" minOccurs="0"/>
				<xs:element ref="dsf:TERTIARYPHONE" minOccurs="0"/>
				<xs:element ref="dsf:PRIMARYFAX" minOccurs="0"/>
				<xs:element ref="dsf:SECONDARYFAX" minOccurs="0"/>
				<xs:element ref="dsf:PRIMARYEMAIL" minOccurs="0"/>
				<xs:element ref="dsf:SECONDARYEMAIL" minOccurs="0"/>
				<xs:element ref="dsf:NOTES" minOccurs="0"/>
				<xs:element ref="dsf:COMPANYNAME" minOccurs="0"/>
				<xs:element ref="dsf:EMAILFAX" minOccurs="0"/>
				<xs:element ref="dsf:USERDEFINEDAREA" minOccurs="0"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:CUSTOMERID" minOccurs="0"/>
				<xs:element ref="dsf:PORTALID" minOccurs="0"/>
				<xs:element ref="dsf:VIPSTATUSID" minOccurs="0"/>
				<xs:element ref="dsf:LANGUAGEID" minOccurs="0"/>
				<xs:element ref="dsf:CAMPUSID" minOccurs="0"/>
				<xs:element ref="dsf:BUILDINGEQUIPID" minOccurs="0"/>
				<xs:element ref="dsf:FLOORID" minOccurs="0"/>
				<xs:element ref="dsf:ROOMUNITID" minOccurs="0"/>
				<xs:element ref="dsf:EXTERNALCONTACTID" minOccurs="0"/>
				<xs:element ref="dsf:StandardUserDefinedFields" minOccurs="0"/>
				<xs:element ref="dsf:OUTOFSERVICE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="checkupdatecount" type="dsf:FLAG_Type"/>
			<xs:attribute name="recordid" type="xs:long"/>
			<xs:attribute name="isrecordrevoked" type="dsf:FLAG_Type" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>