Infor EAM APIs for On Premise/Version 11.4/schemas/ContactCenter/KBSearchResult_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--====================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP entity KBSearchResult_001.
====================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/KBSearchResult_001" xmlns="http://schemas.datastream.net/MP_entities/KBSearchResult_001" xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Begining of KBSearchResult_001 ======================================-->
	<xs:element name="KBSearchResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:KBSEARCHTOTALCOUNT"/>
				<xs:element ref="dsf:KBSEARCHTOTALWITHSPC"/>
				<xs:element ref="MatchKBArticles" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MatchKBArticles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="KBARTICLEDETAIL" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="KBARTICLEDETAIL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:KBSEARCHSCORE"/>
				<xs:element ref="dsf:STATUS"/>
				<xs:element ref="dsf:KBARTICLEID"/>
				<xs:element ref="dsf:DEPARTMENTID" minOccurs="0"/>
				<xs:element ref="dsf:SERVICEPROBLEMID" minOccurs="0"/>
				<xs:element ref="dsf:PROVIDERID" minOccurs="0"/>
				<xs:element ref="dsf:SUPPLIERID" minOccurs="0"/>
				<xs:element ref="dsf:SERVICECATEGORYID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
