Infor EAM APIs for On Premise/Version 11.4/schemas/ContactCenter/MP3550_AddContactCenterMap_001.xsd

<?xml version="1.0"?>
<!-- ================================================================================
    Copyright 2005, Datastream Systems, Inc.
    50 Datastream Plaza, Greenville, SC 29605, USA.
    All rights reserved.

    This schema defines MP business function request MP3550_AddContactCenterMap_001
 ============================================================================= -->

<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3550_001" 
	         xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	         xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	         xmlns="http://schemas.datastream.net/MP_functions/MP3550_001" 
	         elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>

	<!--===============================================================================-->
	<!--====  Begining of MP3550_AddContactCenterMap_001 ==================================-->
	<xs:element name="MP3550_AddContactCenterMap_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:CONTACTRECORDID"/>
				<xs:element ref="dsf:URL"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="ContactCenterMap"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
