Infor EAM APIs for On Premise/Version 11.4/Schemas/ContactCenter/MP3537_AddLayerAttribute_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright 2003, Datastream Systems, Inc.
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP3537_AddLayerAttribute_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3537_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP3537_001" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:dse-LayerAttribute="http://schemas.datastream.net/MP_entities/LayerAttribute_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_entities/LayerAttribute_001" schemaLocation="LayerAttribute_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--================================================================================================-->
	<!--====  Beginning of MP3537_AddLayerAttribute_001 ======================================-->
	<xs:element name="MP3537_AddLayerAttribute_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-LayerAttribute:LayerAttribute"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="LayerAttribute"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
