Infor EAM APIs for On Premise/Version 11.4/schemas/ContactCenter/MP3523_AddBulletinBoardNotice_001.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!-- ================================================================================ 
	Copyright 2003, Datastream Systems, Inc. 
	50 Datastream Plaza, Greenville, SC 29605, USA.
	All rights reserved.

	This schema defines MP business function request MP3523_AddBulletinBoardNotice_001
==================================================================================--> 
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3523_001" 
	xmlns:dsf="http://schemas.datastream.net/MP_fields" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dse-BulletinBoardNotice="http://schemas.datastream.net/MP_entities/BulletinBoardNotice_001" 
	xmlns="http://schemas.datastream.net/MP_functions/MP3523_001" 
	elementFormDefault="qualified">
	<!-- ============================= Imported schemas ======================================= -->
	<xs:import namespace="http://schemas.datastream.net/MP_entities/BulletinBoardNotice_001" schemaLocation="BulletinBoardNotice_001.xsd"/>
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!-- ====================================================================================== -->
	<!-- =============  Begining of MP3523_AddBulletinBoardNotice_001 ============================= -->
	<xs:element name="MP3523_AddBulletinBoardNotice_001">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dse-BulletinBoardNotice:BulletinBoardNoticeDetails"/>
			</xs:sequence>
			<xs:attribute name="verb" type="dsf:VERB_Type" fixed="Add"/>
			<xs:attribute name="noun" type="dsf:NOUN_Type" fixed="BulletinBoardNotice"/>
			<xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
		</xs:complexType>
	</xs:element>
</xs:schema>