Infor EAM APIs for On Premise/Version 11.4/schemas/ContactCenter/MP3641_SyncCaseManagement_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
    Copyright (c) 2015 Infor. All rights reserved. The word and design marks set forth herein are trademarks
    and/or registered trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
    All other trademarks listed herein are the property of their respective owners. www.infor.com.
    
    This schema defines MP business function request MP3641_SyncCaseManagement_001
==========================================================================================-->  
<xs:schema targetNamespace="http://schemas.datastream.net/MP_functions/MP3641_001" 
    xmlns:dse-case="http://schemas.datastream.net/MP_entities/CaseManagement_001" 
    xmlns:dsf="http://schemas.datastream.net/MP_fields" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://schemas.datastream.net/MP_functions/MP3641_001" elementFormDefault="qualified">
    <xs:import namespace="http://schemas.datastream.net/MP_fields"  schemaLocation="../MP_fields.xsd"/>
    <xs:import namespace="http://schemas.datastream.net/MP_entities/CaseManagement_001" 
        schemaLocation="CaseManagement_001.xsd"/>
    <!--==================================================================-->
    <xs:element name="MP3641_SyncCaseManagement_001">
        <xs:complexType>
            <xs:complexContent>
				<xs:extension base="dsf:BaseSchemaRequestElement">
                    <xs:sequence>
                        <xs:element ref="dse-case:CaseManagement"/>
                    </xs:sequence>
                    <xs:attribute name="verb" type="dsf:VERB_Type" fixed="Sync"/>
                    <xs:attribute name="noun" type="dsf:NOUN_Type" fixed="CaseManagement"/>
                    <xs:attribute name="version" type="dsf:VERSION" fixed="001"/>
                    <xs:attribute name="confirmdeletetask" type="dsf:CONFIRMATION_Type"/>
                    <xs:attribute name="confirmcasecloseforopenchklst" type="dsf:CONFIRMATION_Type"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>