Infor EAM APIs for On Premise/Version 11.4/schemas/ContactCenter/ServiceCodeEquipmentClass_001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================================
	Copyright (c) 2015 Infor. All rights reserved.
	The word and design marks set forth herein are trademarks and/or registered
	trademarks of Infor and/or related affiliates and subsidiaries. All rights reserved.
	All other trademarks listed herein are the property of their respective owners. www.infor.com.

	This schema defines MP entity ServiceCodeEquipmentClass_001
==================================================================================-->
<xs:schema targetNamespace="http://schemas.datastream.net/MP_entities/ServiceCodeEquipmentClass_001"
	xmlns="http://schemas.datastream.net/MP_entities/ServiceCodeEquipmentClass_001"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dsf="http://schemas.datastream.net/MP_fields" elementFormDefault="qualified">
	<xs:import namespace="http://schemas.datastream.net/MP_fields" schemaLocation="../MP_fields.xsd"/>
	<!--===============================================================================-->
	<!--====  Beginning of ServiceCodeEquipmentClass_001 ======================================-->
	<xs:element name="ServiceCodeEquipmentClasses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServiceCodeEquipmentClass" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceCodeEquipmentClass">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:SERVICECODEEQUIPMENTCLASSID"/>
				<xs:element ref="dsf:SERVICEPROBLEMID"/>
				<xs:element ref="dsf:CLASSID" minOccurs="0"/>
				<xs:element ref="dsf:CATEGORYID" minOccurs="0"/>
				<xs:element ref="dsf:EQUIPMENTID" minOccurs="0"/>
				<xs:element ref="UserDefinedFields" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="recordid" type="xs:long"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserDefinedFields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dsf:UDFCHAR01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR06" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR07" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR08" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR09" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHAR10" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM01" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM02" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM03" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM04" minOccurs="0"/>
				<xs:element ref="dsf:UDFNUM05" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE01" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE02" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE03" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE04" minOccurs="0"/>
				<xs:element ref="dsf:UDFDATE05" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX01" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX02" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX03" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX04" minOccurs="0"/>
				<xs:element ref="dsf:UDFCHKBOX05" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>